openapi: 3.0.3
info:
  title: "动态 IPFS API"
  description: |
    为 CLMM 头寸重新生成动态 NFT 元数据和图像。供 dApps 获取实时头寸视觉效果和估值数据，包括流动性池详情、数额、费用和奖励。

    该服务在 IPFS 中缓存头寸元数据，并按头寸 ID 提供计算后的头寸状态（USD 价值、TVL 占比、未领取费用）。支持 CLMM 和 CPMM 池类型的已解锁和锁定头寸。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "获取 Concentrated Liquidity Market Maker 头寸的动态元数据"
  - name: Locked Positions
    description: "获取锁定头寸数据（CLMM 和 CPMM）"
paths:
  /clmm/position:
    get:
      summary: "获取 CLMM 头寸元数据"
      description: |
        获取完整头寸元数据，包括流动性池详情、流动性数额、未领取费用和 USD 估值。返回适合渲染头寸视觉效果的动态 NFT 接口对象。
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "头寸账户公钥（base58）"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "无效的头寸 ID"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "未找到头寸"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "服务器错误"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "获取锁定 CLMM 头寸元数据"
      description: |
        获取锁定 CLMM 头寸的元数据。返回头寸数据，包括锁定期限、累计费用和当前估值。
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "锁定头寸 PDA 公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "无效的头寸 ID 或所有者不匹配"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "未找到头寸"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "服务器错误"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "获取锁定 CPMM 头寸元数据"
      description: |
        获取锁定 Constant Product Market Maker 头寸的元数据。返回 LP 代币数额、流动性池份额百分比和锁定期间的可领取费用。
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "锁定 CPMM 头寸 PDA 公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "无效的头寸 ID 或所有者不匹配"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "未找到头寸"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "服务器错误"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "包含流动性池详情和估值的完整 CLMM 头寸"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "包含流动性池详情和估值的完整 CPMM 锁定头寸"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker 流动性池信息"
      properties:
        id:
          type: string
          description: "流动性池 ID"
        programId:
          type: string
          description: "拥有该流动性池的程序 ID"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "USD 总锁定价值"
        rewardDefaultInfos:
          type: array
          description: "该流动性池的奖励代币"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker 流动性池信息"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "LP 代币的 USD 价格"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "代币铸造地址"
        decimals:
          type: integer
          description: "代币精度"
        symbol:
          type: string
          description: "代币符号"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM 头寸状态"
      properties:
        tvlPercentage:
          type: number
          description: "头寸 TVL 占流动性池的百分比（0-100）"
        usdValue:
          type: number
          description: "头寸的 USD 价值"
        amountA:
          type: number
          description: "头寸中的代币 A 数额"
        amountB:
          type: number
          description: "头寸中的代币 B 数额"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "CPMM 锁定头寸状态"
      properties:
        tvlPercentage:
          type: number
          description: "流动性池份额百分比（0-100）"
        usdValue:
          type: number
          description: "锁定的 LP 价值（美元）"
        amountA:
          type: number
          description: "代币 A 的底层数量"
        amountB:
          type: number
          description: "代币 B 的底层数量"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "CLMM 头寸中累计但未领取的手续费"
      properties:
        amountA:
          type: number
          description: "未领取的代币 A 手续费"
        amountB:
          type: number
          description: "未领取的代币 B 手续费"
        usdFeeValue:
          type: number
          description: "交易手续费的美元价值"
        reward:
          type: array
          items:
            type: number
          description: "每个奖励代币的未领取奖励数量"
        usdRewardValue:
          type: number
          description: "奖励的美元价值"
        usdValue:
          type: number
          description: "未领取总价值（美元）"

    CPUnclaimedFeeInfo:
      type: object
      description: "从锁定的 CPMM 头寸中可领取的 LP 和手续费"
      properties:
        lp:
          type: number
          description: "可领取的 LP 数量"
        amountA:
          type: number
          description: "可领取的代币 A"
        amountB:
          type: number
          description: "可领取的代币 B"
        usdValue:
          type: number
          description: "可领取价值（美元）"
