openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "管理 LaunchLab 和 Forum API 的钱包身份验证。在验证 ed25519 钱包签名后颁发 JWT 令牌。在 Forum API 上发表评论和管理内容需要令牌。"
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "请求并验证身份验证令牌"
  - name: Utilities
    description: "健康检查端点"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "使用签名请求身份验证令牌"
      description: '使用格式为 `{signText}{time}` 的消息签名，其中 signText 为「Sign in to raydium.io: 」，time 为当前 Unix 时间戳（秒）。钱包必须签署此消息并提交签名以获得 JWT 令牌。'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "签署消息时的当前 Unix 时间戳（秒）"
                  example: 1704067200
                signature:
                  type: string
                  description: "消息的 Ed25519 签名（base58 编码）"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Solana 钱包公钥"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "令牌颁发成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "请求参数无效"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "使用 Ledger 交易请求令牌"
      description: "Ledger 签署交易的替代令牌请求方式。使用格式为 `{signText}{time}` 的消息在交易中签名。"
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix 时间戳（秒）"
                  example: 1704067200
                transaction:
                  type: string
                  description: "包含已签名消息的 Solana 交易（base64 编码）"
                wallet:
                  type: string
                  description: "Solana 钱包公钥"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "令牌颁发成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "验证身份验证令牌"
      description: "验证令牌是否仍然有效。如果令牌即将过期，还会延长其生命周期。"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "令牌有效"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "令牌无效或已过期"
  /del-token:
    get:
      operationId: getDelToken
      summary: "撤销身份验证令牌"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "令牌已撤销"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
