openapi: 3.0.3
info:
  title: "Raydium LaunchLab 历史数据 API"
  description: "提供 LaunchLab 池的历史交易数据。包括 1 分钟、5 分钟和 15 分钟的 kline（蜡烛图）数据，以及单笔交易历史。"
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "OHLC 蜡烛图数据"
  - name: Trades
    description: "单笔交易历史"
  - name: Utilities
    description: "健康检查"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "获取 kline（蜡烛图）数据"
      tags:
        - Candle Data
      description: '检索 OHLC 蜡烛图数据。限制范围：1-500（默认 300）。'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "池 ID（代币铸造地址）"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "分页令牌"
      responses:
        '200':
          description: "带分页的 kline 数据"
  /trade:
    get:
      operationId: getTrade
      summary: "获取交易历史"
      tags:
        - Trades
      description: '检索单笔交易。限制范围：1-100（默认 50）。'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "按交易者钱包筛选"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "带分页的交易历史"
