openapi: 3.0.3
info:
  title: "Raydium 启动论坛 API"
  description: "LaunchLab 池讨论 API。发布和检索关于 mint 代币的评论。写入操作需要 `ray-token` 请求头（来自 Auth API 的 JWT）。"
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "发布和检索池评论"
  - name: Utilities
    description: "健康检查"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "在池上发布评论"
      tags:
        - Comments
      description: "发布新评论。需要 ray-token 请求头。"
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "来自 Auth API 的 JWT 令牌"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "池/Mint ID"
                wallet:
                  type: string
                  description: "评论者钱包"
                text:
                  type: string
                  description: "评论文本（最多 2000 字符）"
                file:
                  type: string
                  format: binary
                  description: "可选图片（最多 5MB）"
      responses:
        '200':
          description: "评论发布成功"
        '400':
          description: "请求无效或内容违规"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "获取池的评论"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "池/Mint ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "分页令牌"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "包含 NSFW 内容"
      responses:
        '200':
          description: "池评论"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "按 ID 获取特定评论"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "评论 ID"
      responses:
        '200':
          description: "评论详情"
        '500':
          description: "评论未找到或已删除"
