openapi: 3.0.3
info:
  title: "Raydium Launch Mint API"
  description: "提供 LaunchLab 代币的铸造创建、排行榜、搜索和历史数据访问。支持按名称、符号、钱包创建者和各种筛选选项进行搜索。"
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "搜索和浏览铸造"
  - name: Details
    description: "获取铸造信息"
  - name: User Activity
    description: "获取用户创建和交易统计"
  - name: Vesting
    description: "查询释放时间表数据"
  - name: Configuration
    description: "平台配置和元数据"
  - name: Creation
    description: "创建新铸造并提交交易"
  - name: Utilities
    description: "健康检查和状态"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "搜索铸造"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "搜索结果"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "获取热门铸造"
      tags:
        - Discovery
      responses:
        '200':
          description: "热门铸造"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "获取最近热门铸造"
      tags:
        - Discovery
      responses:
        '200':
          description: "最近铸造"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "获取铸造详情"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "铸造详情"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "获取用户铸造"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "用户铸造"
  /get/list:
    get:
      operationId: getGetList
      summary: "列出带排序的铸造"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "铸造列表"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "列出 Bonk 铸造"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk 铸造"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "获取用户交易量统计"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "交易量统计"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "获取用户创建统计"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "创建统计"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "获取平台配置"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "获取平台"
      deprecated: true
      description: "**已弃用端点。** 返回 v1 平台列表。已由 `/campaign/platforms-v2` 取代，后者包含前端现在依赖的其他字段。新的集成应该调用 v2 端点。"
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "获取平台 v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "平台 v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "提交铸造创建"
      description: |
        在链上创建交易发送之前，为新的 LaunchLab 铸造注册离链元数据。平台存储提供的名称/符号/URI/社交链接，以铸造为键，以便 UI 在 bonding curve 活跃期间显示它们。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "链上创建的铸造公钥（base58）。"
                name:
                  type: string
                  description: "LaunchLab UI 中显示的名称。"
                  example: My Memecoin
                symbol:
                  type: string
                  description: "代码符号。"
                  example: MEME
                description:
                  type: string
                  description: "长格式描述。"
                imageUri:
                  type: string
                  description: "代币图标的 HTTPS URL 或 IPFS URI。"
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "托管此启动的平台公钥。"
                wallet:
                  type: string
                  description: "创建者钱包（base58）— 必须与链上创建者匹配。"
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "获取随机 mint"
      description: |
        为调用者返回一个新的未使用的 mint 密钥对。可选过滤器
        允许平台预生成具有特定
        前缀/后缀的虚构地址。
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "可选的 base58 前缀，返回的 mint 必须以此开头。"
                suffix:
                  type: string
                  description: "可选的 base58 后缀，返回的 mint 必须以此结尾。"
                wallet:
                  type: string
                  description: "可选的创建者钱包，用于速率限制。"
      responses:
        '200':
          description: "随机 mint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58 mint 地址。"
                  privateKey:
                    type: string
                    description: |
                      mint 的 Base58 密钥。必须在
                      创建交易中签署一次，然后丢弃。
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "提交交易"
      description: |
        代表调用者转发一个完全签名的 Solana 交易（base64 编码）。由 UI 用于通过平台的 RPC 中继创建/购买/销售
        交易，以实现优先费用提升和
        重试处理。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64 编码的完全签名 VersionedTransaction。"
                wallet:
                  type: string
                  description: "调用者钱包（base58）。必须与交易的手续费支付者匹配。"
                priorityFee:
                  type: integer
                  description: |
                    可选的优先费用覆盖值（微兰波）。如果
                    省略，平台应用其默认策略。
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58 交易签名。"
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "按 ID 获取归属期"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "归属期计划"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "获取池归属期"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "池归属期"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "获取所有者归属期"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "所有者归属期"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "获取推荐者奖励"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "推荐者信息"
