openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    检索跨 Raydium 流动性池的单钱包余额、头寸和可领取奖励。
    为钱包和投资组合仪表板设计，可在单个请求中获取钱包范围的数据。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "检索单钱包的头寸余额和状态"
  - name: Pool Creation
    description: "检索钱包创建的池"
  - name: IDO
    description: "检索 IDO 参与数据"
  - name: Admin
    description: "管理端点（内部使用）"
paths:
  /position/stake/{owner}:
    get:
      summary: "获取钱包的质押头寸"
      description: |
        检索该钱包拥有的所有质押（标准 AMM 或 CPMM）头寸。
        返回缓存的头寸数据，包括金额和奖励。
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "头寸数据结构（见 OwnerAPI 响应）"
        '404':
          description: "钱包没有质押头寸"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "获取钱包的锁定 CLMM 头寸"
      description: |
        检索该钱包拥有的所有锁定 Concentrated Liquidity Market Maker 头寸。
        返回头寸状态，包括锁定金额、锁定结束时间和可领取费用。
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "锁定头寸数据结构"
        '404':
          description: "钱包没有锁定 CLMM 头寸"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "获取钱包创建的池"
      description: |
        检索该钱包创建（启动）的所有 CPMM 池。
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "已创建的池数据"
        '404':
          description: "钱包尚未创建任何池"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "获取钱包的 IDO 参与信息"
      description: |
        检索 IDO 参与数据，包括投入金额和领取状态。
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO 参与数据"
        '404':
          description: "钱包没有 IDO 参与"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "标准错误响应"
      properties:
        id:
          type: string
          description: "请求 ID（UUID）"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
