openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Raydium 永续期货的配置和元数据服务。此 API 提供前端配置、资产可用性、地区限制和 RPC 端点。订单下单委托给 Orderly Network 的 API。

    所有端点均返回标准信封：
    - **成功**: `{ id: string, success: true, data: {...} }`
    - **错误**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "核心服务信息（版本、RPC、统计、地区检查）。"
  - name: Pool
    description: "期货市场池配置。"
  - name: Campaign
    description: "活动和排行榜数据。"
  - name: Share
    description: "仓位和收益分享端点。"

paths:
  /main/info:
    get:
      summary: "获取期货市场统计"
      description: "返回 24h/7d/30d 交易量和未平仓头寸（多头/空头/总计）。"
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "市场信息已获取。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "获取默认期货池列表"
      description: "返回默认永续交易池列表，包含交易量和统计数据。"
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "池列表已获取。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "当前稳定 UI 版本。"
              example: "1.2.0"
            least:
              type: string
              description: "最低需要的 UI 版本。"
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "可用 RPC URL 列表。"
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "24 小时交易量。"
                "7d":
                  type: number
                  description: "7 天交易量。"
                "30d":
                  type: number
                  description: "30 天交易量。"
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "总多头未平仓头寸。"
                short:
                  type: number
                  description: "总空头未平仓头寸。"
                all:
                  type: number
                  description: "合并未平仓头寸。"

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "用户所在地区是否允许期货交易。"
            country:
              type: string
              description: "检测到的国家代码（来自 cf-ipcountry 标头）。"

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Ed25519 公钥，格式为 \"ed25519:<base58-编码的密钥>\"。"
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "池代号（例如 BTC/USDC）。"
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "24 小时交易量。"
              volume7d:
                type: string
                description: "7 天交易量。"
              volume30d:
                type: string
                description: "30 天交易量。"

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "包含规则和参数的活动配置对象。"

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "用户排名或排行榜位置。"
                walletAddress:
                  type: string
                  description: "隐藏的钱包地址。"
                volume:
                  type: number
                  description: "活动总交易量。"
                pnl:
                  type: number
                  description: "已实现的收益/损失。"
                pnlW:
                  type: number
                  description: "用于计分的加权收益。"
                score:
                  type: number
                  description: "活动分数。"
                rewards:
                  type: array
                  description: "赚取的奖励列表。"
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "排行榜最后更新时间戳（毫秒）。"
            rows:
              type: array
              description: "该排行榜页面的顶级用户。"
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "当前仓位截图生成的载荷。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "平仓仓位截图生成的载荷。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "生成的图像文件 ID。"
            msg:
              type: string
              description: "状态消息。"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "错误消息或代码。"
