openapi: 3.0.3
info:
  title: "Raydium Transaction API（Route V2）"
  version: 1.0.0
  description: |
    服务端 swap 交易构建器，适用于 Solana。此 API 生成序列化的 swap 交易，无需客户端运行 RPC 连接或完整的 Raydium SDK。

    响应遵循标准信封格式：
    - **成功**：`{ id: string, success: true, data: {...} }`
    - **错误**：`{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "用于 swap 报价计算的只读端点（不构建交易）。"
  - name: Transaction
    description: "构建序列化的 swap 交易，可直接签名并广播。"

paths:
  /compute/swap-base-in:
    get:
      summary: "计算 swap 报价（固定输入）"
      description: |
        计算固定输入数量时的预期输出数量。
        适用于在构建交易前显示预览。
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "输入代币的 mint 地址（base58 编码的公钥）。"
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "输出代币的 mint 地址（base58 编码的公钥）。"
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "以 lamports 为单位的输入数量（SPL 代币最小单位），必须为非负整数字符串。"
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "最大滑点容忍度，以基点表示（0–10000）。1 bps = 0.01%。"
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "可选的推荐人费用，以基点表示（0–10000）。仅在拥有推荐人权限时生效。"
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 交易版本。V0 使用地址查找表；LEGACY 为传统格式。"
          example: V0
      responses:
        "200":
          description: "Swap 报价计算成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "输入参数无效。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "计算 swap 报价（固定输出）"
      description: |
        计算达到目标输出数量所需的输入数量。
        适用于已知目标输出数量的 swap 场景。
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "输入代币的 mint 地址。"
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "输出代币的 mint 地址。"
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "期望的输出数量，以最小单位（lamports）表示。"
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "最大滑点容忍度，以基点表示（0–10000）。"
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 交易版本。"
          example: V0
      responses:
        "200":
          description: "Swap 报价计算成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "输入参数无效。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "构建 swap 交易（固定输入）"
      description: |
        为固定输入数量生成序列化的 swap 交易。
        需要先从 `/compute/swap-base-in` 获取成功的计算结果。
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "序列化交易构建成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "请求体无效或计算状态异常。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "构建 swap 交易（固定输出）"
      description: |
        为期望输出数量生成序列化的 swap 交易。
        需要先从 `/compute/swap-base-out` 获取成功的计算结果。
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "序列化交易构建成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "请求体无效或计算状态异常。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "唯一请求标识符（UUID）。"
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "计算是否成功。"
          example: true
        version:
          type: string
          description: "API 响应版本。"
          example: "V1"
        data:
          type: object
          description: "Swap 计算结果。"
          properties:
            inputAmount:
              type: string
              description: "以最小单位表示的输入数量。"
            outputAmount:
              type: string
              description: "预期输出数量（已考虑滑点）。"
            priceImpact:
              type: string
              description: "价格影响百分比（例如，\"0.5\" 表示 0.5%）。"
            routes:
              type: array
              description: "所使用的 swap 路由和流动性池数组。"
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "唯一请求标识符。"
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "交易构建是否成功。"
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "交易数据。"
          properties:
            transaction:
              type: string
              description: "Base64 编码的版本化交易（可直接签名）。"
            addressLookupTableAddresses:
              type: array
              description: "地址查找表地址（当 txVersion=V0 时）。"
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "签名者钱包地址（base58）。"
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "来自 compute 端点的完整响应对象。"
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Solana 交易版本。"
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "计算单元价格，单位为 micro-lamports（用于优先费用）。"
          example: "1000"
        wrapSol:
          type: boolean
          description: "若输入为原生 SOL，是否自动 wrap SOL。"
          example: false
        unwrapSol:
          type: boolean
          description: "是否将输出中的 WSOL 解包为 SOL。"
          example: false
        inputAccount:
          type: string
          description: "输入代币账户地址（可选）。若不 wrap SOL 则必填。"
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "输出代币账户地址（可选）。"
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "用于 MEV 保护的 Jito bundle 参数（可选）。"
          properties:
            address:
              type: string
              description: "Jito bundle 提交地址。"
            amount:
              type: string
              description: "Bundle 小费金额，单位为 lamports。"
        referrerWallet:
          type: string
          description: "用于手续费归集的推荐人钱包地址（可选）。"
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "请求的唯一标识符。"
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "错误信息码（例如 REQ_SLIPPAGE_BPS_ERROR、REQ_WALLET_ERROR）。"
