openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    用于存放在 Raydium 主 API 中尚无固定归属的短期端点。
    此服务中的端点可能随时变更、弃用或迁移，恕不另行通知。

    **稳定性警告：** 本服务以快速迭代为优先，不提供 API 稳定性保证。
    仅建议用于非关键路径、内部工具或正在开发中的功能。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "临时端点（不稳定）"
paths:
  /limit-order/order/list:
    get:
      summary: "列出钱包当前挂单中的 CLMM 限价订单"
      description: |
        返回 `wallet` 拥有的仍在链上的 CLMM 限价订单——未成交和部分成交的订单将一并返回。每条记录包含解码后的链上 `LimitOrderState`、对应的 pool keys，以及由索引器根据最新 tick 状态计算得出的 `pendingSettle` 金额。

        数据来自索引器的 Redis 缓存，可能比链上状态延迟数秒。
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            如果存在该参数，响应中还会包含一个 `e` 数组，记录来自索引器的软性失败消息（例如缺少 pool 或 tick-array 缓存条目导致某条记录被跳过）。
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "请求无效"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "服务器错误"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "列出钱包的历史 CLMM 限价订单"
      description: |
        返回 `wallet` 拥有的已关闭 CLMM 限价订单。每条记录为该订单退出活跃集时的状态摘要，通过 `nextPageId` 进行游标分页。
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            设为 `true` 时，排除从未成交即关闭（即已取消）的订单，默认为 `false`。
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "可选的 CLMM pool 过滤条件，与 `mint1` / `mint2` 互斥。"
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "可选的 mint 过滤条件（token A 或 B），与 `poolId` 互斥。"
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "可选的第二个 mint 过滤条件，与 `poolId` 互斥。"
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "由上一页返回的不透明分页游标（TTL 约 1 小时）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "每页数量（1–100，默认 20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "请求无效"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "服务器错误"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "获取一个或多个限价订单 PDA 的链上事件日志"
      description: |
        返回一个或多个限价订单 PDA 的事件日志（`open`、`increase`、`decrease`、`settle`、`close`），适用于渲染单个订单的时间线，通过 `nextPageId` 进行游标分页。
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            一个或多个限价订单 PDA 公钥，以逗号分隔，每个必须是有效的 base58 公钥。
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "由上一页返回的不透明分页游标（TTL 约 1 小时）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "每页数量（1–100，默认 20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "请求无效"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "服务器错误"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "获取钱包的累计创建者手续费"
      description: |
        查询该钱包作为创建者的所有 CPMM pool，以及每个 pool 中已累计但尚未提取的创建者手续费。若该钱包没有缓存的创建者手续费，则返回空数组。

        **注意：** 本端点会定期缓存用户数据，最近的创建者手续费活动可能不会立即显示。
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "钱包公钥（base58）"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "钱包地址无效"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "服务器错误"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "包含累计创建者手续费的 pool 数组"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "单个 CPMM pool 及其累计创建者手续费"
      properties:
        poolInfo:
          type: object
          description: "Pool 元数据（结构各异，具体 schema 请参见 pools API）"
        poolKey:
          type: object
          description: "Pool 配置键"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "以原始 token 单位表示的累计手续费金额"
      properties:
        amountA:
          type: string
          description: "token A 的创建者手续费金额（最小单位）"
        amountB:
          type: string
          description: "token B 的创建者手续费金额（最小单位）"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "`/limit-order/order/list` 的请求体。"
      properties:
        id:
          type: string
          description: "请求 ID（UUID）"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                可选。仅在请求时携带 `showErr` 参数时出现。每条记录
                是来自索引器的软失败消息（例如，某个缺失的 pool 或 tick-array
                缓存条目导致该行被跳过）。
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "单条当前挂单中的限价订单。"
      properties:
        pda:
          type: string
          description: "LimitOrderState 账户公钥"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "该订单所在的量化 tick。"
        price:
          type: number
          description: "基于 `tick` 的可读价格，已按 mint 精度换算。"
        zeroForOne:
          type: boolean
          description: "true = 卖出 token_0，买入 token_1；false = 反方向。"
        orderPhase:
          type: string
          description: "u64 字符串 —— 该订单在其 tick 处的 FIFO 批次阶段。"
        totalAmount:
          type: string
          description: "u64 字符串 —— 订单委托的输入总量。"
        filledAmount:
          type: string
          description: "u64 字符串 —— 至今已被 swap 消耗的累计输入量。"
        openTime:
          type: string
          description: "u64 字符串 —— 订单创建时的 Unix 时间戳。"
        pendingSettle:
          type: string
          description: "u64 字符串 —— 当前已归属于所有者、等待 `SettleLimitOrder` 提取的输出金额。"
        filledAmountUpdate:
          type: string
          description: "u64 字符串 —— 与 `filledAmount` 相同的镜像值，供客户端使用。"
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "可读的当前 pool 价格（token_1 / token_0）。"
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "`/limit-order/history/order/list-by-user` 的响应数据。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "下一页的不透明游标；若为最后一页则不存在。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "单条已关闭限价订单的摘要信息。"
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "订单创建时的 Unix 时间戳。"
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            订单关闭前的最终成交情况：
            `NONE`（以零成交取消）、`PARTIAL` 或 `FULL`。
        orderInputAmountUi:
          type: number
          description: "原始委托输入金额，以可读单位表示（已应用精度）。"
        orderOutputAmountUi:
          type: number
          description: "订单在其 tick 价格处应支付的输出金额，以可读单位表示。"
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "`/limit-order/history/event/list-by-pda` 的响应数据。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "下一页的不透明游标；若为最后一页则不存在。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "针对某个限价订单 PDA 观察到的单条链上变更事件。"
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "true 表示该事件由 `limit_order_admin` keeper 执行；false 表示由所有者签名执行。"
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "订单输入余额的净变动量，以可读单位表示（带符号）。"
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "订单累计输出的净变动量，以可读单位表示（带符号）。"
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "错误信息"
      required:
        - success
        - msg
