zh/**         linguist-generated=true
zh-Hant/**    linguist-generated=true
ja/**         linguist-generated=true
ko/**         linguist-generated=true
ru/**         linguist-generated=true
es/**         linguist-generated=true
de/**         linguist-generated=true
fr/**         linguist-generated=true