openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3 提供 REST 端點，用於查詢 Solana 區塊鏈上的流動性池、mint 資訊、Farm 詳情、IDO 池及鏈上元資料。適用於錢包、聚合器與交易者取得價格資訊、池資料及路由資訊。"

servers:
  - url: "https://api-v3.raydium.io"
    description: "正式環境（Mainnet）"
  - url: "https://api-v3-devnet.raydium.io"
    description: "開發環境（Devnet）"

tags:
  - name: "Main"
    description: "鏈上資訊、TVL 及設定的核心 API 端點"
  - name: "Mint"
    description: "Token mint 資訊與定價"
  - name: "Pools"
    description: "流動性池資訊、金鑰及歷史資料"
  - name: "Farms"
    description: "Farm 池資訊與金鑰"
  - name: "IDO"
    description: "IDO 池資訊與金鑰"

components:
  schemas:
    ApiResponse:
      type: object
      description: "通用回應封裝。`data` 欄位由各端點的回應 schema 透過 `allOf` 提供，因此不在基礎封裝中宣告。"
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "請求 ID（UUID）"
        success:
          type: boolean
          description: "請求是否成功"
        msg:
          type: string
          description: "失敗時的錯誤訊息"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "取得主要統計資料"
      description: "取得所有 Raydium 池的 TVL 及 24 小時交易量。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "取得鏈上時間偏移"
      description: "取得本地 UTC 時間與 Solana 鏈上時間的偏移量。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "取得預估交易費用"
      description: "取得預估的鏈上費用（lamports）。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "取得 RAY 質押池"
      description: "取得 RAY token 質押池資訊。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "取得 CLMM 池設定"
      description: "取得集中流動性池的允許設定。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "取得 CPMM 池設定"
      description: "取得恆定乘積池的允許設定。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "取得 CLMM 動態費用設定"
      description: |
        取得新 CLMM 池在傳入 `enableDynamicFee=true` 給 `CreateCustomizablePool` 時可選用的校準 `DynamicFeeConfig` 級別。每個條目包含各級別的參數（過濾週期、衰減週期、縮減因子、動態費用控制、最大波動累積器），用於控制波動率追蹤附加費。快取 60 秒。
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "DynamicFeeConfig PDA"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "秒；波動率在此時間窗口後衰減至零"
                            decayPeriod:
                              type: integer
                              description: "秒；累積器衰減的完整半衰期"
                            reductionFactor:
                              type: integer
                              description: "每步衰減分子（分母 = 10000）"
                            maxFeeRateNumerator:
                              type: integer
                              description: "動態費用附加費上限（分母 = 1_000_000）"
                            dynamicFeeControl:
                              type: integer
                              description: "Tick 距離縮放分子（分母 = 100_000）"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "取得 CLMM 限價單設定"
      description: |
        取得支援限價單的池的每池限價單設定（包含是否啟用限價單、最小訂單規模及 keeper 公鑰）。在呼叫 `OpenLimitOrder` 前供 SDK 及 UI 使用。快取 60 秒。
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 字串化——池接受的最小輸入金額"
                            limitOrderAdmin:
                              type: string
                              description: "授權代表擁有者結算／關閉訂單的鏈下運營 keeper"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "取得預設 mint 清單"
      description: "取得 UI 預設 mint 清單，含元資料與圖示。快取 60 秒。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "依 ID 取得 mint 資訊"
      description: "取得特定 mint 地址的元資料。快取 20 秒。"
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "以逗號分隔的 mint 地址"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "取得 mint 價格"
      description: "取得 mint 代幣的當前美元價格。快取 5 秒。"
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "以逗號分隔的 mint 地址"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "依 ID 取得流動性池資訊"
      description: "依流動性池 ID 取得詳細資訊。快取 60 秒。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "以逗號分隔的流動性池 ID"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "依 LP mint 取得流動性池"
      description: "依 LP 代幣地址取得流動性池資訊。快取 60 秒。"
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "以逗號分隔的 LP mint 地址"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "分頁列出流動性池"
      deprecated: true
      description: "**舊版端點。** 以分頁方式取得流動性池清單，支援篩選與排序。快取 60 秒。pageSize 上限為 1000。為相容現有整合而保留；新整合請改用其他 `/pools/info/*` 端點依 ID、mint 對或 LP mint 查詢，或透過 Transaction API 的索引器路由介面操作。"
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "依代幣 mint 取得流動性池"
      description: "依一或兩個代幣 mint 篩選流動性池，mint 順序由內部統一處理。快取 60 秒。"
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "進階篩選列出流動性池（v2）"
      description: "支援游標式分頁的進階流動性池清單。快取 60–90 秒。"
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "取得流動性池鏈上金鑰"
      description: "取得流動性池的鏈上帳戶金鑰。快取 60 秒。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "取得流動性池流動性歷史"
      description: "取得流動性池的歷史 TVL 資料（最多 30 天）。快取 300 秒。"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "取得 CLMM 倉位歷史"
      description: "取得 CLMM 流動性池的歷史價格與流動性資料。快取 30 秒。"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "依 ID 取得農場資訊"
      description: "依農場 ID 取得農場流動性池詳細資料。快取 60 秒。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "依 LP mint 取得農場"
      description: "依 LP 代幣質押地址搜尋農場，支援分頁。快取 60 秒。"
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "取得農場鏈上金鑰"
      description: "取得農場的鏈上帳戶金鑰。快取 60 秒。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "取得 IDO 流動性池金鑰"
      description: "取得 IDO 流動性池的鏈上結構。快取 20 秒。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
