openapi: 3.0.3
info:
  title: "動態 IPFS API"
  description: |-
    為 CLMM 部位重新生成動態 NFT 元資料和圖像。供 dApps 使用以獲取即時部位視覺效果和估值資料，包括流動性池詳情、數量、費用和獎勵。

    此服務在 IPFS 中快取部位元資料，並按部位 ID 提供計算的部位狀態（USD 價值、TVL 百分比、未領取費用）。支援 CLMM 和 CPMM 流動性池類型的未鎖定和已鎖定部位。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "取得 Concentrated Liquidity Market Maker 部位的動態元資料"
  - name: Locked Positions
    description: "取得已鎖定部位資料（CLMM 和 CPMM）"
paths:
  /clmm/position:
    get:
      summary: "取得 CLMM 部位元資料"
      description: |-
        取得完整部位元資料，包括流動性池詳情、流動性數量、未領取費用和 USD 估值。返回適合呈現部位視覺效果的動態 NFT 介面物件。
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "部位帳戶公鑰（base58 格式）"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "無效的部位 ID"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "找不到部位"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "伺服器錯誤"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "取得已鎖定 CLMM 部位元資料"
      description: |-
        取得已鎖定 CLMM 部位的元資料。返回部位資料，包括鎖定期間、累積費用和目前估值。
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "已鎖定部位 PDA 公鑰（base58 格式）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "無效的部位 ID 或所有者不符"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "找不到部位"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "伺服器錯誤"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "取得已鎖定 CPMM 部位元資料"
      description: |-
        取得已鎖定 Constant Product Market Maker 部位的元資料。返回 LP 代幣數量、流動性池份額百分比和鎖定產生的可領取費用。
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "已鎖定 CPMM 部位 PDA 公鑰（base58 格式）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "無效的部位 ID 或所有者不符"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "找不到部位"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "伺服器錯誤"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "包含流動性池詳情和估值的完整 CLMM 部位"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "包含流動性池詳情和估值的完整 CPMM 已鎖定部位"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker 流動性池資訊"
      properties:
        id:
          type: string
          description: "流動性池 ID"
        programId:
          type: string
          description: "擁有該流動性池的程式 ID"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "以 USD 計算的總鎖定價值"
        rewardDefaultInfos:
          type: array
          description: "此流動性池的獎勵代幣"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker 流動性池資訊"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "LP 代幣的 USD 價格"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "代幣 Mint 地址"
        decimals:
          type: integer
          description: "代幣小數位數"
        symbol:
          type: string
          description: "代幣符號"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM 部位狀態"
      properties:
        tvlPercentage:
          type: number
          description: "部位 TVL 佔流動性池的百分比（0-100）"
        usdValue:
          type: number
          description: "部位在 USD 中的價值"
        amountA:
          type: number
          description: "部位中代幣 A 的數量"
        amountB:
          type: number
          description: "部位中代幣 B 的數量"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "CPMM 已鎖定部位狀態"
      properties:
        tvlPercentage:
          type: number
          description: "以百分比形式表示的池份額（0-100）"
        usdValue:
          type: number
          description: "已鎖定 LP 價值（USD）"
        amountA:
          type: number
          description: "Token A 的基礎金額"
        amountB:
          type: number
          description: "Token B 的基礎金額"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "CLMM 部位累積但未領取的費用"
      properties:
        amountA:
          type: number
          description: "未領取的 Token A 費用"
        amountB:
          type: number
          description: "未領取的 Token B 費用"
        usdFeeValue:
          type: number
          description: "交易費用 USD 價值"
        reward:
          type: array
          items:
            type: number
          description: "每個獎勵代幣的未領取獎勵金額"
        usdRewardValue:
          type: number
          description: "獎勵 USD 價值"
        usdValue:
          type: number
          description: "未領取總價值（USD）"

    CPUnclaimedFeeInfo:
      type: object
      description: "從已鎖定 CPMM 部位可領取的 LP 和費用"
      properties:
        lp:
          type: number
          description: "可領取的 LP 金額"
        amountA:
          type: number
          description: "可領取的 Token A"
        amountB:
          type: number
          description: "可領取的 Token B"
        usdValue:
          type: number
          description: "可領取價值（USD）"
