openapi: 3.0.3
info:
  title: "Raydium 啟動論壇 API"
  description: "LaunchLab 池的討論 API。發佈及檢索代幣鑄造的評論。寫入操作需要 `ray-token` 標頭（來自 Auth API 的 JWT）。"
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "發佈和檢索池評論"
  - name: Utilities
    description: "健康檢查"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "在池上發佈評論"
      tags:
        - Comments
      description: "發佈新評論。需要 ray-token 標頭。"
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "來自 Auth API 的 JWT 令牌"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "池/鑄造 ID"
                wallet:
                  type: string
                  description: "評論者錢包"
                text:
                  type: string
                  description: "評論文本（最多 2000 字元）"
                file:
                  type: string
                  format: binary
                  description: "可選圖像（最多 5MB）"
      responses:
        '200':
          description: "評論發佈成功"
        '400':
          description: "無效請求或內容違規"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "取得池的評論"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "池/鑄造 ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "分頁令牌"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "包含 NSFW 內容"
      responses:
        '200':
          description: "池評論"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "按 ID 取得特定評論"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "評論 ID"
      responses:
        '200':
          description: "評論詳情"
        '500':
          description: "評論未找到或已刪除"
