openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "管理 LaunchLab 和 Forum API 的錢包身份驗證。在驗證 ed25519 錢包簽名後發出 JWT 令牌。在 Forum API 上發表評論和管理內容需要令牌。"
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "請求和驗證身份驗證令牌"
  - name: Utilities
    description: "健康檢查端點"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "使用簽名請求身份驗證令牌"
      description: '使用格式 `{signText}{time}` 簽署訊息，其中 signText 為 "Sign in to raydium.io: "，time 為當前 Unix 時間戳（秒）。錢包必須簽署此訊息並提交簽名以接收 JWT 令牌。'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "簽署訊息時的 Unix 時間戳（秒）"
                  example: 1704067200
                signature:
                  type: string
                  description: "訊息的 Ed25519 簽名（base58 編碼）"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Solana 錢包公鑰"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "令牌發出成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "請求參數無效"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "使用 Ledger 交易請求令牌"
      description: "Ledger 簽署交易的替代令牌請求方式。在交易內使用格式 `{signText}{time}` 簽署訊息。"
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix 時間戳（秒）"
                  example: 1704067200
                transaction:
                  type: string
                  description: "包含已簽署訊息的 Solana 交易（base64 編碼）"
                wallet:
                  type: string
                  description: "Solana 錢包公鑰"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "令牌發出成功"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "驗證身份驗證令牌"
      description: "驗證令牌是否仍然有效。如果令牌即將過期，也會延長其生命週期。"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "令牌有效"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "令牌無效或已過期"
  /del-token:
    get:
      operationId: getDelToken
      summary: "撤銷身份驗證令牌"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "令牌已撤銷"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
