openapi: 3.0.3
info:
  title: "Raydium LaunchLab 鑄幣 API"
  description: "提供 LaunchLab 代幣的鑄幣建立、排行榜、搜尋與歷史資料存取。支援按名稱、代號、錢包建立者和各種篩選條件搜尋。"
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "搜尋與瀏覽鑄幣"
  - name: Details
    description: "取得鑄幣資訊"
  - name: User Activity
    description: "取得使用者建立與交易統計"
  - name: Vesting
    description: "查詢歸屬排程資料"
  - name: Configuration
    description: "平台設定與中繼資料"
  - name: Creation
    description: "建立新鑄幣並提交交易"
  - name: Utilities
    description: "健康檢查與狀態"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "搜尋鑄幣"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "搜尋結果"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "取得精選熱門鑄幣"
      tags:
        - Discovery
      responses:
        '200':
          description: "熱門鑄幣"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "取得精選最新鑄幣"
      tags:
        - Discovery
      responses:
        '200':
          description: "最新鑄幣"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "取得鑄幣詳情"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "鑄幣詳情"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "取得使用者鑄幣"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "使用者鑄幣"
  /get/list:
    get:
      operationId: getGetList
      summary: "列出鑄幣並排序"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "鑄幣列表"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "列出 Bonk 鑄幣"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk 鑄幣"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "取得使用者交易量統計"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "交易量統計"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "取得使用者建立統計"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "建立統計"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "取得平台設定"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "取得平台"
      deprecated: true
      description: "**舊版端點。** 傳回 v1 平台列表。已被 `/campaign/platforms-v2` 取代，該版本包含前端現在依賴的其他欄位。新整合應呼叫 v2 端點。"
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "取得平台 v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "平台 v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "提交鑄幣建立"
      description: |
        在鑄幣的鏈上建立交易送出之前，先登記新 LaunchLab 鑄幣的鏈下中繼資料。平台會按鑄幣金鑰儲存所提供的名稱／代號／URI／社群連結，讓 UI 能在 bonding curve 執行期間顯示它們。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "鑄幣公鑰（Base58 編碼）已在鏈上建立。"
                name:
                  type: string
                  description: "在 LaunchLab UI 顯示的名稱。"
                  example: My Memecoin
                symbol:
                  type: string
                  description: "代號。"
                  example: MEME
                description:
                  type: string
                  description: "詳細說明。"
                imageUri:
                  type: string
                  description: "HTTPS URL 或 IPFS URI，用於代幣圖示。"
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "託管此發行的平台公鑰。"
                wallet:
                  type: string
                  description: "建立者錢包（base58 格式）— 必須與鏈上建立者相符。"
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "取得隨機 mint"
      description: |
        為呼叫者傳回新鮮、未使用的 mint 金鑰對。選用篩選器
        可讓平台預先產生具有特定
        前綴/後綴的虛擬位址。
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "選用的 base58 前綴，傳回的 mint 必須以此開頭。"
                suffix:
                  type: string
                  description: "選用的 base58 後綴，傳回的 mint 必須以此結尾。"
                wallet:
                  type: string
                  description: "選用的建立者錢包，用於速率限制。"
      responses:
        '200':
          description: "隨機 mint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58 格式的 mint 位址。"
                  privateKey:
                    type: string
                    description: |
                      Mint 的 base58 格式秘密金鑰。必須在
                      建立交易中簽署一次，然後丟棄。
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "提交交易"
      description: |
        轉發完全簽署的 Solana 交易（base64 編碼），代表
        呼叫者執行。UI 用此方法透過平台的 RPC 轉送建立/買入/賣出
        交易，以提升優先費用並
        處理重試。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64 編碼的完全簽署 VersionedTransaction。"
                wallet:
                  type: string
                  description: "呼叫者錢包（base58 格式）。必須與交易的手續費支付者相符。"
                priorityFee:
                  type: integer
                  description: |
                    選用的優先費用覆蓋值，單位為 micro-lamports。若
                    未提供，平台會套用預設政策。
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58 格式的交易簽章。"
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "按 ID 取得 Vesting"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting 時程表"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "取得池 Vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "池 Vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "取得所有者 Vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "所有者 Vesting"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "取得推薦者獎勵"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "推薦者資訊"
