openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    檢索跨 Raydium 流動性池的每個錢包餘額、持倉和可領取獎勵。
    專為錢包和投資組合儀表板設計，可在單次請求中取得錢包範圍內的資料。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "檢索每個錢包的持倉餘額和狀態"
  - name: Pool Creation
    description: "檢索錢包建立的池"
  - name: IDO
    description: "檢索 IDO 參與資料"
  - name: Admin
    description: "管理端點（內部使用）"
paths:
  /position/stake/{owner}:
    get:
      summary: "取得錢包的質押持倉"
      description: |
        檢索此錢包擁有的所有質押（標準 AMM 或 CPMM）持倉。
        傳回快取的持倉資料，包括金額和獎勵。
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "持倉資料結構（參見 OwnerAPI 回應）"
        '404':
          description: "錢包沒有質押持倉"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "取得錢包的已鎖定 CLMM 持倉"
      description: |
        檢索此錢包擁有的所有已鎖定集中流動性做市商持倉。
        傳回持倉狀態，包括已鎖定金額、鎖定結束時間和可領取費用。
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "已鎖定持倉資料結構"
        '404':
          description: "錢包沒有已鎖定 CLMM 持倉"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "取得錢包建立的池"
      description: |
        檢索此錢包建立（啟動）的所有 CPMM 池。
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "已建立池資料"
        '404':
          description: "錢包未建立任何池"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "取得錢包的 IDO 參與資訊"
      description: |
        檢索 IDO 參與資料，包括投資金額和領取狀態。
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO 參與資料"
        '404':
          description: "錢包沒有 IDO 參與"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "標準錯誤回應"
      properties:
        id:
          type: string
          description: "請求 ID（UUID）"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
