openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Raydium 永續期貨的設定與中繼資料服務。此 API 提供前端設定、資產可用性、區域限制與 RPC 端點。訂單下單已委派給 Orderly Network 的 API。

    所有端點均返回標準信封：
    - **成功**：`{ id: string, success: true, data: {...} }`
    - **錯誤**：`{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "核心服務資訊（版本、RPC、統計、區域檢查）。"
  - name: Pool
    description: "永續期貨市場池設定。"
  - name: Campaign
    description: "活動與排行榜資料。"
  - name: Share
    description: "部位與損益分享端點。"

paths:
  /main/info:
    get:
      summary: "取得永續期貨市場統計"
      description: "返回 24 小時/7 天/30 天的交易量與未平倉利息（多頭/空頭/總計）。"
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "市場資訊已取得。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "取得預設永續期貨池列表"
      description: "返回預設永續交易池列表及交易量與統計資料。"
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "池列表已取得。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "目前穩定的 UI 版本。"
              example: "1.2.0"
            least:
              type: string
              description: "最低所需 UI 版本。"
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "可用 RPC URL 列表。"
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "24 小時交易量。"
                "7d":
                  type: number
                  description: "7 天交易量。"
                "30d":
                  type: number
                  description: "30 天交易量。"
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "多頭總未平倉利息。"
                short:
                  type: number
                  description: "空頭總未平倉利息。"
                all:
                  type: number
                  description: "合計未平倉利息。"

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "使用者區域是否允許永續期貨交易。"
            country:
              type: string
              description: "偵測到的國家代碼（來自 cf-ipcountry 標頭）。"

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Ed25519 公鑰，格式為「ed25519:<base58-編碼金鑰>」。"
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "池符號（例如 BTC/USDC）。"
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "24 小時交易量。"
              volume7d:
                type: string
                description: "7 天交易量。"
              volume30d:
                type: string
                description: "30 天交易量。"

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "活動設定物件，包含規則與參數。"

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "使用者的排名或排行榜位置。"
                walletAddress:
                  type: string
                  description: "隱藏錢包地址。"
                volume:
                  type: number
                  description: "總活動交易量。"
                pnl:
                  type: number
                  description: "已實現損益。"
                pnlW:
                  type: number
                  description: "用於計分的加權損益。"
                score:
                  type: number
                  description: "活動分數。"
                rewards:
                  type: array
                  description: "已獲得獎勵列表。"
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "排行榜上次更新時間戳（毫秒）。"
            rows:
              type: array
              description: "此排行榜頁面的頂級使用者。"
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "目前部位截圖生成的裝載資料。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "已平倉部位截圖生成的裝載資料。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "產生的圖像檔案 ID。"
            msg:
              type: string
              description: "狀態訊息。"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "錯誤訊息或代碼。"
