openapi: 3.0.3
info:
  title: "Raydium 交易 API（Route V2）"
  version: 1.0.0
  description: |
    Solana 伺服器端交換交易建構工具。此 API 生成序列化的交換交易，無需客戶端運行 RPC 連接或完整的 Raydium SDK。

    回應遵循標準信封格式：
    - **成功**：`{ id: string, success: true, data: {...} }`
    - **錯誤**：`{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "用於交換報價計算的唯讀端點（無交易建構）。"
  - name: Transaction
    description: "構建已序列化的交換交易，準備簽署和廣播。"

paths:
  /compute/swap-base-in:
    get:
      summary: "計算交換報價（固定輸入）"
      description: |
        計算當交換固定輸入金額時的預期輸出金額。
        適用於在構建交易前顯示預覽。
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "輸入代幣的 Mint 地址（base58 編碼的公鑰）。"
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "輸出代幣的 Mint 地址（base58 編碼的公鑰）。"
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "輸入金額（以 lamport 為單位，即 SPL 代幣的最小單位）。必須為非負整數字符串。"
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "最大滑點容差，以基點計（0–10000）。1 bps = 0.01%。"
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "可選的推薦人費用（基點計，0–10000）。僅在你有推薦人權限時使用。"
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 交易版本。V0 使用地址查找表；LEGACY 為傳統格式。"
          example: V0
      responses:
        "200":
          description: "交換報價計算成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "無效的輸入參數。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "計算交換報價（固定輸出）"
      description: |
        計算達到所需輸出金額所需的輸入金額。
        適用於你知道目標輸出的交換。
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "輸入代幣的 Mint 地址。"
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "輸出代幣的 Mint 地址。"
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "所需的輸出金額（以最小單位計）。"
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "最大滑點容差，以基點計（0–10000）。"
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 交易版本。"
          example: V0
      responses:
        "200":
          description: "交換報價計算成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "無效的輸入參數。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "構建交換交易（固定輸入）"
      description: |
        為固定輸入金額生成序列化的交換交易。
        需要從 `/compute/swap-base-in` 獲得成功的計算回應。
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "序列化交易構建成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "無效的請求主體或計算狀態。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "構建交換交易（固定輸出）"
      description: |
        為所需輸出金額生成序列化的交換交易。
        需要從 `/compute/swap-base-out` 獲得成功的計算回應。
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "序列化交易構建成功。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "無效的請求主體或計算狀態。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "唯一的請求識別碼（UUID）。"
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "計算是否成功。"
          example: true
        version:
          type: string
          description: "API 回應版本。"
          example: "V1"
        data:
          type: object
          description: "交換計算結果。"
          properties:
            inputAmount:
              type: string
              description: "輸入金額（以最小單位計）。"
            outputAmount:
              type: string
              description: "預期輸出金額（考慮滑點）。"
            priceImpact:
              type: string
              description: "價格影響百分比（例如「0.5」表示 0.5%）。"
            routes:
              type: array
              description: "使用的交換路線和流動性池的陣列。"
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "唯一的請求識別碼。"
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "交易建構是否成功。"
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "交易資料。"
          properties:
            transaction:
              type: string
              description: "Base64 編碼的版本化交易（準備簽署）。"
            addressLookupTableAddresses:
              type: array
              description: "位址查詢表位址（如果 txVersion=V0）。"
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "簽署者錢包位址 (base58)。"
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "來自計算端點的完整回應物件。"
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Solana 交易版本。"
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "微 lamports 計算單位價格（用於優先費用）。"
          example: "1000"
        wrapSol:
          type: boolean
          description: "如果輸入為原生 SOL，是否包裝 SOL。"
          example: false
        unwrapSol:
          type: boolean
          description: "輸出是否解除包裝 WSOL 為 SOL。"
          example: false
        inputAccount:
          type: string
          description: "輸入的選用代幣帳戶位址。如果不包裝 SOL 則為必填。"
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "輸出的選用代幣帳戶位址。"
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Jito bundle 的選用參數（用於 MEV 保護）。"
          properties:
            address:
              type: string
              description: "Jito bundle 提交位址。"
            amount:
              type: string
              description: "Bundle 小費金額（lamports）。"
        referrerWallet:
          type: string
          description: "用於費用收集的選用推薦人錢包位址。"
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "唯一請求識別碼。"
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "錯誤訊息代碼（例如 REQ_SLIPPAGE_BPS_ERROR、REQ_WALLET_ERROR）。"
