openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    此為短期端點的暫存區，這些端點尚未在 Raydium 主 API 中取得固定位置。
    此服務中的端點可能隨時變更、被棄用或遷移，恕不另行通知。

    **穩定性警告：** 本服務以快速迭代為優先，不提供最低 API 穩定性保證。
    請僅用於非關鍵路徑、內部工具或正在開發中的功能。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "臨時端點（不穩定）"
paths:
  /limit-order/order/list:
    get:
      summary: "列出錢包目前掛單中的 CLMM 限價單"
      description: |
        回傳 `wallet` 所擁有且仍在鏈上的 CLMM 限價單——完全未成交與部分成交的訂單皆會包含在單一回應中。每筆資料為解碼後的鏈上 `LimitOrderState`，附帶池的金鑰及索引器根據最新 tick 狀態計算出的 `pendingSettle` 金額。

        資料從索引器的 Redis 快取提供，可能與鏈上狀態有數秒延遲。
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            若帶有此參數，回應中將額外包含一個 `e` 陣列，內含索引器的軟性錯誤訊息（例如：因找不到池或 tick-array 快取項目而導致某筆資料被跳過）。
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "無效的請求"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "伺服器錯誤"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "列出錢包的 CLMM 限價單歷史紀錄"
      description: |
        回傳 `wallet` 所擁有的已關閉 CLMM 限價單。每筆資料彙整訂單離開活躍集合時的狀態，透過 `nextPageId` 進行游標分頁。
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            設為 `true` 時，排除從未成交即關閉的訂單（即已取消的訂單），預設為 `false`。
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "可選的 CLMM pool 篩選條件，與 `mint1` / `mint2` 互斥。"
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "可選的 mint 篩選條件（Token A 或 B），與 `poolId` 互斥。"
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "可選的第二個 mint 篩選條件，與 `poolId` 互斥。"
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "由前一頁回傳的不透明分頁游標（TTL 約 1 小時）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "每頁筆數（1–100，預設 20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "無效的請求"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "伺服器錯誤"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "列出一個或多個限價單 PDA 的鏈上事件紀錄"
      description: |
        回傳一個或多個限價單 PDA 的事件紀錄（`open`、`increase`、`decrease`、`settle`、`close`），適合用於呈現單一訂單的時間軸。透過 `nextPageId` 進行游標分頁。
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            一個或多個限價單 PDA 公鑰，以逗號分隔，每個必須為有效的 base58 公鑰。
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "由前一頁回傳的不透明分頁游標（TTL 約 1 小時）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "每頁筆數（1–100，預設 20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "無效的請求"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "伺服器錯誤"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "取得錢包累積的創建者手續費"
      description: |
        查詢此錢包為創建者的所有 CPMM 池，以及每個池中累積但尚未領取的創建者手續費。若該錢包沒有已快取的創建者手續費，則回傳空陣列。

        **注意：** 此端點會定期快取使用者資料，近期的創建者手續費活動可能不會立即反映。
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "錢包公鑰（base58）"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "無效的錢包地址"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "伺服器錯誤"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "包含累積創建者手續費的池陣列"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "單一 CPMM 池及其累積的創建者手續費"
      properties:
        poolInfo:
          type: object
          description: "池的元數據（結構因池而異，請參閱 pools API 的 schema）"
        poolKey:
          type: object
          description: "池的設定金鑰"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "以原始 token 單位表示的累積手續費金額"
      properties:
        amountA:
          type: string
          description: "Token A 的創建者手續費金額（以最小單位表示）"
        amountB:
          type: string
          description: "Token B 的創建者手續費金額（以最小單位表示）"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "`/limit-order/order/list` 的回應資料。"
      properties:
        id:
          type: string
          description: "請求 ID（UUID）"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                可選。僅在請求中帶有 `showErr` 時出現。每筆記錄
                為索引器回報的非致命性錯誤訊息（例如找不到 pool 或 tick-array
                快取項目，導致該行被略過）。
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "單筆目前掛單中的 limit order。"
      properties:
        pda:
          type: string
          description: "LimitOrderState 帳戶公鑰"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "此訂單所在的量化 tick。"
        price:
          type: number
          description: "以 `tick` 對應的人類可讀價格，已依 mint 小數位數縮放。"
        zeroForOne:
          type: boolean
          description: "true = 賣出 token_0、買入 token_1；false = 反方向。"
        orderPhase:
          type: string
          description: "u64 字串 — 此訂單在其 tick 的 FIFO 批次階段。"
        totalAmount:
          type: string
          description: "u64 字串 — 訂單投入的輸入總量。"
        filledAmount:
          type: string
          description: "u64 字串 — 已被 swap 消耗的累計輸入量。"
        openTime:
          type: string
          description: "u64 字串 — 訂單開立的 Unix 時間戳。"
        pendingSettle:
          type: string
          description: "u64 字串 — 目前待 `SettleLimitOrder` 結算、應付給擁有者的輸出金額。"
        filledAmountUpdate:
          type: string
          description: "u64 字串 — 與 `filledAmount` 對應的鏡像值，提供給客戶端方便使用。"
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "人類可讀的當前 pool 價格（token_1 / token_0）。"
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "`/limit-order/history/order/list-by-user` 的回應資料。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "下一頁的不透明游標；若為最後一頁則不存在。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "單筆已關閉的 limit order 摘要。"
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "訂單開立的 Unix 時間戳。"
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            訂單關閉前最終成交比例：
            `NONE`（取消時零成交）、`PARTIAL` 或 `FULL`。
        orderInputAmountUi:
          type: number
          description: "原始輸入金額，以人類可讀單位表示（已套用小數位數）。"
        orderOutputAmountUi:
          type: number
          description: "訂單在其 tick 應支付的輸出金額，以人類可讀單位表示。"
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "`/limit-order/history/event/list-by-pda` 的回應資料。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "下一頁的不透明游標；若為最後一頁則不存在。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "針對某 limit order PDA 觀察到的單筆鏈上變更事件。"
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "若為 true，表示此事件由 `limit_order_admin` keeper 執行；false 則表示由擁有者簽署。"
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "訂單輸入餘額的淨變化量，以人類可讀單位表示（帶正負號）。"
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "訂單累計輸出的淨變化量，以人類可讀單位表示（帶正負號）。"
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "錯誤訊息"
      required:
        - success
        - msg
