openapi: 3.0.3
info:
  title: Api V1 V2 (Legacy)
  description: |
    Legacy Raydium API serving pool info, prices, SDKs data, and farm details.
    Primarily used for backwards compatibility and SDK clients.

    **Migrate to API v3:** Most endpoints here have newer equivalents in [API v3](/en/api-reference/api-v3).
    For new integrations, prefer the v3 endpoints which offer better performance and stability.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: Mainnet only
tags:
  - name: Ray Token
    description: RAY token supply endpoints
paths:
  /ray/totalcoins:
    get:
      summary: Get RAY total supply
      description: Fetch RAY token total coin supply.
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: Total supply as plain text number
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: Get RAY circulating supply
      description: Fetch RAY token circulating supply.
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: Circulating supply as plain text number
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: Request ID
        success:
          type: boolean
          example: false
