openapi: 3.0.3
info:
  title: Raydium Launch Mint API
  description: Provides access to mint creation, leaderboards, search, and historical
    data for LaunchLab tokens. Supports searching by name, symbol, wallet creator,
    and various filtering options.
  version: 1.0.0
servers:
- url: https://launch-mint-v1.raydium.io
  description: Mainnet
- url: https://launch-mint-v1-devnet.raydium.io
  description: Devnet
tags:
- name: Discovery
  description: Search and browse mints
- name: Details
  description: Retrieve mint information
- name: User Activity
  description: Get user creation and trading statistics
- name: Vesting
  description: Query vesting schedule data
- name: Configuration
  description: Platform configuration and metadata
- name: Creation
  description: Create new mints and submit transactions
- name: Utilities
  description: Health checks and status
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: Search mints
      tags:
      - Discovery
      parameters:
      - name: text
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Search results
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: Get featured top mint
      tags:
      - Discovery
      responses:
        '200':
          description: Top mint
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: Get featured recent mints
      tags:
      - Discovery
      responses:
        '200':
          description: Recent mints
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: Get mint details
      tags:
      - Details
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Mint details
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: Get user mints
      tags:
      - Details
      parameters:
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User mints
  /get/list:
    get:
      operationId: getGetList
      summary: List mints with sorting
      tags:
      - Discovery
      parameters:
      - name: sort
        in: query
        required: true
        schema:
          type: string
          enum:
          - marketCap
          - new
          - lastTrade
          - hotToken
      responses:
        '200':
          description: Mints list
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: List Bonk mints
      tags:
      - Discovery
      responses:
        '200':
          description: Bonk mints
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: Get user volume stats
      tags:
      - User Activity
      parameters:
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Volume stats
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: Get user creation stats
      tags:
      - User Activity
      parameters:
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creation stats
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: Get platform config
      tags:
      - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: Get platforms
      deprecated: true
      description: "**Legacy endpoint.** Returns the v1 platform list. Superseded by `/campaign/platforms-v2`, which carries the additional fields the front end now relies on. New integrations should call the v2 endpoint."
      tags:
      - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: Get platforms v2
      tags:
      - Configuration
      responses:
        '200':
          description: Platforms v2
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: Submit mint creation
      description: |
        Register the off-chain metadata for a new LaunchLab mint before its
        on-chain create transaction is sent. The platform stores the supplied
        name/symbol/uri/social-links keyed by mint, so the UI can display
        them while the bonding curve is live.
      tags:
      - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - mint
              - name
              - symbol
              - wallet
              properties:
                mint:
                  type: string
                  description: Mint pubkey (base58) created on-chain.
                name:
                  type: string
                  description: Display name shown in the LaunchLab UI.
                  example: My Memecoin
                symbol:
                  type: string
                  description: Ticker symbol.
                  example: MEME
                description:
                  type: string
                  description: Long-form description.
                imageUri:
                  type: string
                  description: HTTPS URL or IPFS URI for the token icon.
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: Platform pubkey that hosts this launch.
                wallet:
                  type: string
                  description: Creator wallet (base58) — must match the on-chain creator.
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: Get random mint
      description: |
        Return a fresh, unused mint keypair for the caller. Optional filters
        let the platform pre-generate vanity addresses with a specific
        prefix/suffix.
      tags:
      - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: Optional base58 prefix the returned mint must start with.
                suffix:
                  type: string
                  description: Optional base58 suffix the returned mint must end with.
                wallet:
                  type: string
                  description: Optional creator wallet, used for rate-limiting.
      responses:
        '200':
          description: Random mint
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: Base58 mint address.
                  privateKey:
                    type: string
                    description: |
                      Base58 secret key for the mint. Must be signed into the
                      create transaction once and then discarded.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: Submit transaction
      description: |
        Forward a fully signed Solana transaction (base64-encoded) on behalf
        of the caller. Used by the UI to relay the create / buy / sell
        transactions through the platform's RPC for priority-fee uplift and
        retry handling.
      tags:
      - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - transaction
              - wallet
              properties:
                transaction:
                  type: string
                  description: Base64-encoded fully-signed VersionedTransaction.
                wallet:
                  type: string
                  description: Caller wallet (base58). Must match the transaction's fee payer.
                priorityFee:
                  type: integer
                  description: |
                    Optional priority-fee override in micro-lamports. If
                    omitted the platform applies its default policy.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: Base58 transaction signature.
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: Get vesting by IDs
      tags:
      - Vesting
      parameters:
      - name: ids
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Vesting schedules
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: Get pool vesting
      tags:
      - Vesting
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Pool vesting
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: Get owner vesting
      tags:
      - Vesting
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Owner vesting
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: Get referrer rewards
      tags:
      - User Activity
      parameters:
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Referrer info
