openapi: 3.0.3
info:
  title: Raydium Launch History API
  description: Provides historical trading data for LaunchLab pools. Includes kline
    (candle) data at 1-minute, 5-minute, and 15-minute intervals, plus individual
    trade history.
  version: 1.0.0
servers:
- url: https://launch-history-v1.raydium.io
  description: Mainnet
- url: https://launch-history-v1-devnet.raydium.io
  description: Devnet
tags:
- name: Candle Data
  description: OHLC candlestick data
- name: Trades
  description: Individual trade history
- name: Utilities
  description: Health checks
paths:
  /kline:
    get:
      operationId: getKline
      summary: Get kline (candlestick) data
      tags:
      - Candle Data
      description: 'Retrieve OHLC candle data. Limit range: 1-500 (default 300).'
      parameters:
      - name: poolId
        in: query
        required: true
        schema:
          type: string
        description: Pool ID (mint address)
      - name: interval
        in: query
        required: true
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 15m
      - name: limit
        in: query
        schema:
          type: integer
          default: 300
          minimum: 1
          maximum: 500
      - name: nextPageKey
        in: query
        schema:
          type: string
        description: Pagination token
      responses:
        '200':
          description: Kline data with pagination
  /trade:
    get:
      operationId: getTrade
      summary: Get trade history
      tags:
      - Trades
      description: 'Retrieve individual trades. Limit range: 1-100 (default 50).'
      parameters:
      - name: poolId
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      - name: nextPageKey
        in: query
        schema:
          type: string
      - name: owner
        in: query
        schema:
          type: string
        description: Filter by trader wallet
      - name: minAmount
        in: query
        schema:
          type: number
      - name: maxAmount
        in: query
        schema:
          type: number
      responses:
        '200':
          description: Trade history with pagination
