openapi: 3.0.3
info:
  title: Raydium Launch Auth API
  description: Manages wallet authentication for LaunchLab and Forum APIs. Issues
    JWT tokens after verifying ed25519 wallet signatures. Tokens are required to post
    comments and manage content on the Forum API.
  version: 1.0.0
servers:
- url: https://launch-auth-v1.raydium.io
  description: Mainnet
- url: https://launch-auth-v1-devnet.raydium.io
  description: Devnet
tags:
- name: Token Management
  description: Request and validate authentication tokens
- name: Utilities
  description: Health check endpoints
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: Request authentication token with signature
      description: 'Signs a message with format `{signText}{time}` where signText
        is "Sign in to raydium.io: " and time is the current Unix timestamp in seconds.
        The wallet must sign this message and submit the signature to receive a JWT
        token.'
      tags:
      - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - time
              - signature
              - wallet
              properties:
                time:
                  type: integer
                  description: Current Unix timestamp in seconds when message was
                    signed
                  example: 1704067200
                signature:
                  type: string
                  description: Ed25519 signature of the message (base58 encoded)
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: Solana wallet public key
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: Request token using Ledger transaction
      description: Alternative token request for Ledger-signed transactions. Signs
        a message with format `{signText}{time}` within a transaction.
      tags:
      - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - time
              - transaction
              - wallet
              properties:
                time:
                  type: integer
                  description: Unix timestamp in seconds
                  example: 1704067200
                transaction:
                  type: string
                  description: Solana transaction containing signed message (base64
                    encoded)
                wallet:
                  type: string
                  description: Solana wallet public key
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: Validate authentication token
      description: Verify that a token is still valid. Also extends token lifetime
        if near expiry.
      tags:
      - Token Management
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: Token invalid or expired
  /del-token:
    get:
      operationId: getDelToken
      summary: Revoke authentication token
      tags:
      - Token Management
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Token revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
