openapi: 3.0.3
info:
  title: Raydium Transaction API (Route V2)
  version: 1.0.0
  description: |
    Server-side swap transaction builder for Solana. This API generates serialized swap transactions without requiring clients to run an RPC connection or the full Raydium SDK.

    Responses follow a standard envelope format:
    - **Success**: `{ id: string, success: true, data: {...} }`
    - **Error**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: Read-only endpoints for swap quote computation (no transaction building).
  - name: Transaction
    description: Build serialized swap transactions ready to sign and broadcast.

paths:
  /compute/swap-base-in:
    get:
      summary: Compute swap quote (base input)
      description: |
        Calculate the expected output amount when swapping a fixed input amount.
        Useful for displaying a preview before transaction building.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: Mint address of the input token (base58-encoded public key).
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: Mint address of the output token (base58-encoded public key).
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: Input amount in lamports (smallest unit of SPL tokens). Must be a non-negative integer string.
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: Maximum slippage tolerance in basis points (0–10000). 1 bps = 0.01%.
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: Optional referrer fee in basis points (0–10000). Only used if you have a referrer authority.
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: Solana transaction version. V0 uses address lookup tables; LEGACY is the traditional format.
          example: V0
      responses:
        "200":
          description: Swap quote computed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: Invalid input parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: Compute swap quote (base output)
      description: |
        Calculate the required input amount to achieve a desired output amount.
        Useful for swaps where you know the target output.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: Mint address of the input token.
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: Mint address of the output token.
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: Desired output amount in the smallest unit (lamports).
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: Maximum slippage tolerance in basis points (0–10000).
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: Solana transaction version.
          example: V0
      responses:
        "200":
          description: Swap quote computed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: Invalid input parameters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: Build swap transaction (base input)
      description: |
        Generate a serialized swap transaction for a fixed input amount.
        Requires a successful compute response from `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: Serialized transaction built successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: Invalid request body or computation state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: Build swap transaction (base output)
      description: |
        Generate a serialized swap transaction for a desired output amount.
        Requires a successful compute response from `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: Serialized transaction built successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: Invalid request body or computation state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique request identifier (UUID).
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: Whether the compute succeeded.
          example: true
        version:
          type: string
          description: API response version.
          example: "V1"
        data:
          type: object
          description: Swap computation result.
          properties:
            inputAmount:
              type: string
              description: Input amount in the smallest unit.
            outputAmount:
              type: string
              description: Expected output amount (considering slippage).
            priceImpact:
              type: string
              description: Price impact percentage (e.g., "0.5" for 0.5%).
            routes:
              type: array
              description: Array of swap routes and pools used.
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique request identifier.
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: Whether transaction building succeeded.
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: Transaction data.
          properties:
            transaction:
              type: string
              description: Base64-encoded versioned transaction (ready to sign).
            addressLookupTableAddresses:
              type: array
              description: Address lookup table addresses (if txVersion=V0).
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: Signer wallet address (base58).
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: The complete response object from the compute endpoint.
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: Solana transaction version.
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: Compute unit price in micro-lamports (for priority fees).
          example: "1000"
        wrapSol:
          type: boolean
          description: Whether to wrap SOL if the input is native SOL.
          example: false
        unwrapSol:
          type: boolean
          description: Whether to unwrap WSOL to SOL in the output.
          example: false
        inputAccount:
          type: string
          description: Optional token account address for input. Required if not wrapping SOL.
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: Optional token account address for output.
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: Optional Jito bundle params for MEV protection.
          properties:
            address:
              type: string
              description: Jito bundle submission address.
            amount:
              type: string
              description: Bundle tip amount in lamports.
        referrerWallet:
          type: string
          description: Optional referrer wallet address for fee collection.
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique request identifier.
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: Error message code (e.g., REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR).
