openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Die Raydium API v3 stellt REST-Endpunkte bereit zum Abfragen von Liquiditätspools, Mint-Informationen, Farm-Details, IDO-Pools und Chain-Metadaten für die Solana-Blockchain. Wird von Wallets, Aggregatoren und Tradern genutzt, um Preisfeeds, Pooldaten und Routing-Informationen abzurufen."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Produktion (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Entwicklung (Devnet)"

tags:
  - name: "Main"
    description: "Kern-API-Endpunkte für Chain-Informationen, TVL und Konfiguration"
  - name: "Mint"
    description: "Token-Mint-Informationen und Preise"
  - name: "Pools"
    description: "Liquiditätspool-Informationen, Schlüssel und historische Daten"
  - name: "Farms"
    description: "Farm-Pool-Informationen und Schlüssel"
  - name: "IDO"
    description: "IDO-Pool-Informationen und Schlüssel"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Allgemeiner Antwort-Envelope. Das Feld `data` wird von jedem Endpunkt über `allOf` bereitgestellt und ist daher nicht im Basis-Envelope deklariert."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "Anfrage-ID (UUID)"
        success:
          type: boolean
          description: "Gibt an, ob die Anfrage erfolgreich war"
        msg:
          type: string
          description: "Fehlermeldung, falls `success` den Wert `false` hat"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Hauptstatistiken abrufen"
      description: "TVL und 24-Stunden-Volumen für alle Raydium-Pools abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Chain-Zeitversatz abrufen"
      description: "Versatz zwischen lokaler UTC-Zeit und Solana-Chain-Zeit abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Geschätzte Transaktionsgebühren abrufen"
      description: "Geschätzte On-Chain-Kosten (Lamports) abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "RAY-Stake-Pools abrufen"
      description: "RAY-Token-Staking-Pools abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "CLMM-Pool-Konfigurationen abrufen"
      description: "Zulässige Konfigurationen für Concentrated-Liquidity-Pools abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "CPMM-Pool-Konfigurationen abrufen"
      description: "Zulässige Konfigurationen für Constant-Product-Pools abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "CLMM Dynamic-Fee-Konfigurationen abrufen"
      description: |
        Die kalibrierten `DynamicFeeConfig`-Stufen abrufen, die ein neuer CLMM-Pool wählen kann, wenn
        `enableDynamicFee=true` an `CreateCustomizablePool` übergeben wird. Jeder Eintrag enthält die
        stufenspezifischen Parameter (Filterperiode, Zerfallsperiode, Reduktionsfaktor, Dynamic-Fee-
        Steuerung, maximaler Volatilitätsakkumulator), die den volatilitätsbasierten Aufschlag regeln.
        Zwischengespeichert für 60 Sekunden.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "DynamicFeeConfig PDA"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Sekunden; Volatilität klingt nach diesem Zeitfenster auf null ab"
                            decayPeriod:
                              type: integer
                              description: "Sekunden; vollständige Halbwertszeit des Akkumulator-Zerfalls"
                            reductionFactor:
                              type: integer
                              description: "Zerfalls-Zähler pro Schritt (Nenner = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Obergrenze des Dynamic-Fee-Aufschlags (Nenner = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Tick-Abstands-Skalierungszähler (Nenner = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "CLMM Limit-Order-Konfigurationen abrufen"
      description: |
        Die poolbezogene Limit-Order-Konfiguration abrufen (ob Limit-Orders aktiviert sind,
        die Mindestordergröße und den öffentlichen Schlüssel des Keepers) für Pools, die Limit-
        Orders unterstützen. Wird von SDKs und UIs vor dem Aufruf von `OpenLimitOrder` verwendet. Zwischengespeichert für 60 Sekunden.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 als String — minimaler Input, den der Pool akzeptiert"
                            limitOrderAdmin:
                              type: string
                              description: "Off-Chain-Betriebskeeper, der berechtigt ist, Orders im Namen von Inhabern abzuwickeln und zu schließen"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Standard-Mint-Liste abrufen"
      description: "Standard-Mint-Liste der Benutzeroberfläche mit Metadaten und Logos abrufen. Zwischengespeichert für 60 Sekunden."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Mint-Informationen per ID abrufen"
      description: "Metadaten für bestimmte Mint-Adressen abrufen. 20 Sekunden gecacht."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Kommagetrennte Mint-Adressen"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Mint-Preise abrufen"
      description: "Aktuelle USD-Preise für Mint-Tokens abrufen. 5 Sekunden gecacht."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Kommagetrennte Mint-Adressen"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Pool-Informationen anhand von IDs abrufen"
      description: "Detaillierte Pool-Informationen anhand von Pool-IDs abrufen. 60 Sekunden gecacht."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "Kommagetrennte Pool-IDs"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Pools nach LP-Mint abrufen"
      description: "Pool-Informationen anhand von LP-Token-Adressen abrufen. 60 Sekunden gecacht."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Kommagetrennte LP-Mint-Adressen"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Pools mit Paginierung auflisten"
      deprecated: true
      description: "**Legacy-Endpunkt.** Paginierte Poolliste mit Filterung und Sortierung abrufen. 60 Sekunden gecacht. pageSize auf 1000 begrenzt. Bleibt für bestehende Integrationen aktiv; neue Integrationen sollten Pools per ID, Tokenpaar oder LP-Mint über die anderen `/pools/info/*`-Endpunkte abfragen oder die indexergestützte Routing-Oberfläche der Transaction API nutzen."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Pools nach Token-Mint abrufen"
      description: "Pools nach einem oder zwei Token-Mints filtern. Mint-Reihenfolge wird intern normalisiert. 60 Sekunden gecacht."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Pools mit erweiterten Filtern auflisten (v2)"
      description: "Erweiterte Poolauflistung mit cursorbasierter Paginierung. 60–90 Sekunden gecacht."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "On-Chain-Schlüssel für Pools abrufen"
      description: "On-Chain-Kontoschlüssel für Pools abrufen. 60 Sekunden gecacht."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Pool-Liquiditätsverlauf abrufen"
      description: "Historische TVL-Daten für einen Pool abrufen (bis zu 30 Tage). 300 Sekunden gecacht."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "CLMM-Positionsverlauf abrufen"
      description: "Historische Preis- und Liquiditätsdaten für CLMM-Pools abrufen. 30 Sekunden gecacht."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Farm-Informationen anhand von IDs abrufen"
      description: "Farm-Pool-Details anhand von Farm-IDs abrufen. 60 Sekunden gecacht."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Farms nach LP-Mint abrufen"
      description: "Farms anhand der LP-Token-Stake-Adresse suchen. Paginiert. 60 Sekunden gecacht."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "On-Chain-Schlüssel für Farms abrufen"
      description: "On-Chain-Kontoschlüssel für Farms abrufen. 60 Sekunden gecacht."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "IDO-Pool-Schlüssel abrufen"
      description: "On-Chain-Struktur für IDO-Pools abrufen. 20 Sekunden gecacht."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
