openapi: 3.0.3
info:
  title: "Api V1 V2 (Legacy)"
  description: |-
    Legacy Raydium API für Pool-Informationen, Preise, SDK-Daten und Farm-Details.
    Primär für Rückwärtskompatibilität und SDK-Clients verwendet.

    **Migrieren Sie zu API v3:** Die meisten Endpunkte hier haben neuere Entsprechungen in [API v3](/en/api-reference/api-v3).
    Für neue Integrationen verwenden Sie vorzugsweise die v3-Endpunkte, die bessere Leistung und Stabilität bieten.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Nur Mainnet"
tags:
  - name: Ray Token
    description: "RAY-Token-Angebots-Endpunkte"
paths:
  /ray/totalcoins:
    get:
      summary: "RAY-Gesamtangebot abrufen"
      description: "RAY-Token-Gesamtmünzangebot abrufen."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Gesamtangebot als reines Text-Nummernformat"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "RAY-Zirkulationsangebot abrufen"
      description: "RAY-Token-Zirkulationsangebot abrufen."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Zirkulationsangebot als reines Text-Nummernformat"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Anfrage-ID"
        success:
          type: boolean
          example: false
