openapi: 3.0.3
info:
  title: "Dynamic-IPFS-API"
  description: |
    Regeneriert dynamische NFT-Metadaten und Bilder für CLMM-Positionen. Wird von dApps verwendet, um Echtzeit-
    Positionsvisuals und Bewertungsdaten abzurufen, einschließlich Pool-Details, Beträge, Gebühren und Rewards.

    Dieser Service speichert Positions-Metadaten in IPFS zwischen und liefert berechnete Positionszustände (USD-Wert,
    TVL-Prozentsatz, nicht eingeförderte Gebühren) nach Position-ID. Unterstützt sowohl freigegebene als auch gesperrte Positionen
    über CLMM- und CPMM-Pool-Typen hinweg.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Dynamische Metadaten für Concentrated Liquidity Market Maker-Positionen abrufen"
  - name: Locked Positions
    description: "Gesperrte Positionsdaten abrufen (CLMM und CPMM)"
paths:
  /clmm/position:
    get:
      summary: "CLMM-Positions-Metadaten abrufen"
      description: |
        Vollständige Positions-Metadaten abrufen, einschließlich Pool-Details, Liquiditätsbeträge, nicht eingeförderte Gebühren
        und USD-Bewertung. Gibt ein dynamisches NFT-Interface-Objekt zurück, das sich für die Darstellung von Positionsvisuals eignet.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Öffentlicher Schlüssel des Positionskontos (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Ungültige Position-ID"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Position nicht gefunden"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Serverfehler"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Gesperrte CLMM-Positions-Metadaten abrufen"
      description: |
        Metadaten für eine gesperrte CLMM-Position abrufen. Gibt Positionsdaten zurück, einschließlich Sperrdauer,
        gesammelte Gebühren und aktuelle Bewertung.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Öffentlicher Schlüssel der gesperrten Positions-PDA (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Ungültige Position-ID oder Owner-Nichtübereinstimmung"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Position nicht gefunden"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Serverfehler"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Gesperrte CPMM-Positions-Metadaten abrufen"
      description: |
        Metadaten für eine gesperrte Constant Product Market Maker-Position abrufen. Gibt LP-Token-Beträge,
        Pool-Anteil in Prozent und einfordbare Gebühren aus der Sperrung zurück.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Öffentlicher Schlüssel der gesperrten CPMM-Positions-PDA (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "Ungültige Position-ID oder Owner-Nichtübereinstimmung"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Position nicht gefunden"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Serverfehler"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Vollständige CLMM-Position mit Pool-Details und Bewertung"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Vollständige gesperrte CPMM-Position mit Pool-Details und Bewertung"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker-Pool-Informationen"
      properties:
        id:
          type: string
          description: "Pool-ID"
        programId:
          type: string
          description: "Programm-ID des Pool-Eigentümers"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Total Value Locked in USD"
        rewardDefaultInfos:
          type: array
          description: "Reward-Tokens für diesen Pool"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker-Pool-Informationen"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "LP-Token-Preis in USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Token-Mint-Adresse"
        decimals:
          type: integer
          description: "Token-Dezimalzahlen"
        symbol:
          type: string
          description: "Token-Symbol"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM-Positionszustand"
      properties:
        tvlPercentage:
          type: number
          description: "Position TVL als Prozentsatz des Pools (0-100)"
        usdValue:
          type: number
          description: "Positionswert in USD"
        amountA:
          type: number
          description: "Token-A-Betrag in der Position"
        amountB:
          type: number
          description: "Token-B-Betrag in der Position"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "Gesperrter CPMM-Positionszustand"
      properties:
        tvlPercentage:
          type: number
          description: "Poolanteil als Prozentsatz (0-100)"
        usdValue:
          type: number
          description: "Gesperrter LP-Wert in USD"
        amountA:
          type: number
          description: "Zugrunde liegende Token-A-Menge"
        amountB:
          type: number
          description: "Zugrunde liegende Token-B-Menge"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Angesammelte, aber nicht beanspruchte Gebühren in CLMM-Position"
      properties:
        amountA:
          type: number
          description: "Nicht beanspruchte Token-A-Gebühren"
        amountB:
          type: number
          description: "Nicht beanspruchte Token-B-Gebühren"
        usdFeeValue:
          type: number
          description: "Handelsggebühren-USD-Wert"
        reward:
          type: array
          items:
            type: number
          description: "Nicht beanspruchte Belohnungsbeträge pro Belohnungstoken"
        usdRewardValue:
          type: number
          description: "Belohnungs-USD-Wert"
        usdValue:
          type: number
          description: "Gesamter nicht beanspruchter Wert in USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "Beanspruchbare LP und Gebühren aus gesperrter CPMM-Position"
      properties:
        lp:
          type: number
          description: "Beanspruchbarer LP-Betrag"
        amountA:
          type: number
          description: "Beanspruchbares Token A"
        amountB:
          type: number
          description: "Beanspruchbares Token B"
        usdValue:
          type: number
          description: "Beanspruchbarer Wert in USD"
