openapi: 3.0.3
info:
  title: "Raydium Launch History API"
  description: "Stellt historische Handelsdaten für LaunchLab-Pools bereit. Umfasst Kline-Daten (Kerzen) in 1-Minuten-, 5-Minuten- und 15-Minuten-Intervallen sowie einzelne Handelshistorie."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "OHLC-Candlestick-Daten"
  - name: Trades
    description: "Einzelne Handelshistorie"
  - name: Utilities
    description: "Zustandsprüfungen"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Kline-Daten (Candlesticks) abrufen"
      tags:
        - Candle Data
      description: 'Ruft OHLC-Candledaten ab. Limit-Bereich: 1–500 (Standard: 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool-ID (Mint-Adresse)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Paginierungstoken"
      responses:
        '200':
          description: "Kline-Daten mit Paginierung"
  /trade:
    get:
      operationId: getTrade
      summary: "Handelshistorie abrufen"
      tags:
        - Trades
      description: 'Ruft einzelne Trades ab. Limit-Bereich: 1–100 (Standard: 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Nach Trader-Wallet filtern"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Handelshistorie mit Paginierung"
