openapi: 3.0.3
info:
  title: "Raydium Launch Mint API"
  description: "Bietet Zugriff auf Mint-Erstellung, Leaderboards, Suche und historische Daten für LaunchLab-Token. Unterstützt Suche nach Name, Symbol, Wallet-Creator und verschiedene Filteroptionen."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Mints durchsuchen und anzeigen"
  - name: Details
    description: "Mint-Informationen abrufen"
  - name: User Activity
    description: "Benutzerstatistiken für Erstellung und Trading abrufen"
  - name: Vesting
    description: "Vesting-Schedule-Daten abfragen"
  - name: Configuration
    description: "Plattformkonfiguration und Metadaten"
  - name: Creation
    description: "Neue Mints erstellen und Transaktionen einreichen"
  - name: Utilities
    description: "Integritätsprüfungen und Status"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Mints durchsuchen"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Suchergebnisse"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Top-Mint abrufen"
      tags:
        - Discovery
      responses:
        '200':
          description: "Top-Mint"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Aktuelle Top-Mints abrufen"
      tags:
        - Discovery
      responses:
        '200':
          description: "Aktuelle Mints"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Mint-Details abrufen"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mint-Details"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Benutzer-Mints abrufen"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Benutzer-Mints"
  /get/list:
    get:
      operationId: getGetList
      summary: "Mints mit Sortierung auflisten"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Mints-Liste"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Bonk-Mints auflisten"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk-Mints"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Benutzer-Volumenstatistiken abrufen"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Volumenstatistiken"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Benutzer-Erstellungsstatistiken abrufen"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Erstellungsstatistiken"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Plattformkonfiguration abrufen"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Plattformen abrufen"
      deprecated: true
      description: "**Legacy-Endpoint.** Gibt die v1-Plattformliste zurück. Ersetzt durch `/campaign/platforms-v2`, das die zusätzlichen Felder enthält, auf die das Frontend jetzt angewiesen ist. Neue Integrationen sollten den v2-Endpoint aufrufen."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Plattformen v2 abrufen"
      tags:
        - Configuration
      responses:
        '200':
          description: "Plattformen v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Mint-Erstellung einreichen"
      description: |
        Registrieren Sie die Off-Chain-Metadaten für einen neuen LaunchLab-Mint, bevor die
        On-Chain-Create-Transaktion gesendet wird. Die Plattform speichert die angegebenen
        Name-/Symbol-/URI-/Social-Links mit dem Mint als Schlüssel, sodass die UI diese
        anzeigen kann, während die Bonding-Curve aktiv ist.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Mint-Pubkey (base58) auf der Blockchain erstellt."
                name:
                  type: string
                  description: "Anzeigename, der in der LaunchLab-UI angezeigt wird."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Tickersymbol."
                  example: MEME
                description:
                  type: string
                  description: "Ausführliche Beschreibung."
                imageUri:
                  type: string
                  description: "HTTPS-URL oder IPFS-URI für das Token-Icon."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Plattform-Pubkey, die diesen Launch hostet."
                wallet:
                  type: string
                  description: "Creator-Wallet (base58) – muss dem On-Chain-Creator entsprechen."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Zufällige Mint abrufen"
      description: |
        Gibt ein neues, ungenutztes Mint-Keypair für den Aufrufer zurück. Optionale Filter ermöglichen es der Plattform, Vanity-Adressen mit einem bestimmten Präfix/Suffix vorzugenerieren.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Optionales base58-Präfix, mit dem die zurückgegebene Mint beginnen muss."
                suffix:
                  type: string
                  description: "Optionales base58-Suffix, mit dem die zurückgegebene Mint enden muss."
                wallet:
                  type: string
                  description: "Optionale Creator-Wallet für Rate-Limiting."
      responses:
        '200':
          description: "Zufällige Mint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58-Mint-Adresse."
                  privateKey:
                    type: string
                    description: |
                      Base58-Secret-Key für die Mint. Muss einmalig in die Create-Transaktion signiert und dann verworfen werden.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Transaktion einreichen"
      description: |
        Eine vollständig signierte Solana-Transaktion (base64-kodiert) im Namen des Aufrufers weiterleiten. Wird von der UI verwendet, um die Create-/Buy-/Sell-Transaktionen über den RPC der Plattform für Priority-Fee-Uplift und Retry-Handling zu vermitteln.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64-kodierte vollständig signierte VersionedTransaction."
                wallet:
                  type: string
                  description: "Aufrufer-Wallet (base58). Muss dem Fee Payer der Transaktion entsprechen."
                priorityFee:
                  type: integer
                  description: |
                    Optionale Priority-Fee-Überschreibung in Micro-Lamports. Wenn nicht angegeben, wendet die Plattform ihre Standard-Richtlinie an.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58-Transaktionssignatur."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Vesting nach IDs abrufen"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting-Zeitpläne"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Pool-Vesting abrufen"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Pool-Vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Owner-Vesting abrufen"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Owner-Vesting"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Referrer-Rewards abrufen"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Referrer-Informationen"
