openapi: 3.0.3
info:
  title: "Raydium Launch Forum API"
  description: "Diskussions-API für LaunchLab Pools. Kommentare zu Mint-Token posten und abrufen. Erfordert `ray-token` Header (JWT von Auth API) für Schreibvorgänge."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Pool-Kommentare posten und abrufen"
  - name: Utilities
    description: "Systemzustandsprüfungen"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Kommentar zu einem Pool posten"
      tags:
        - Comments
      description: "Neuen Kommentar posten. Erfordert ray-token Header."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "JWT-Token von Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "Pool-/Mint-ID"
                wallet:
                  type: string
                  description: "Wallet des Kommentators"
                text:
                  type: string
                  description: "Kommentartext (max. 2000 Zeichen)"
                file:
                  type: string
                  format: binary
                  description: "Optionales Bild (max. 5 MB)"
      responses:
        '200':
          description: "Kommentar erfolgreich gepostet"
        '400':
          description: "Ungültige Anfrage oder Verstoß gegen Richtlinien"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Kommentare für einen Pool abrufen"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool-/Mint-ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Paginierungs-Token"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "NSFW-Inhalte einschließen"
      responses:
        '200':
          description: "Pool-Kommentare"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Spezifischen Kommentar nach ID abrufen"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "Kommentar-ID"
      responses:
        '200':
          description: "Kommentardetails"
        '500':
          description: "Kommentar nicht gefunden oder gelöscht"
