openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "Verwaltet die Wallet-Authentifizierung für LaunchLab und Forum APIs. Gibt JWT-Token nach Überprüfung von ed25519-Wallet-Signaturen aus. Token sind erforderlich, um Kommentare zu posten und Inhalte in der Forum API zu verwalten."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Token-Anforderung und Validierung"
  - name: Utilities
    description: "Health-Check-Endpoints"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Authentifizierungstoken mit Signatur anfordern"
      description: 'Signiert eine Nachricht im Format `{signText}{time}`, wobei signText "Sign in to raydium.io: " ist und time der aktuelle Unix-Zeitstempel in Sekunden ist. Die Wallet muss diese Nachricht signieren und die Signatur einreichen, um einen JWT-Token zu erhalten.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Aktueller Unix-Zeitstempel in Sekunden, als die Nachricht signiert wurde"
                  example: 1704067200
                signature:
                  type: string
                  description: "Ed25519-Signatur der Nachricht (base58-codiert)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Öffentlicher Schlüssel der Solana-Wallet"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token erfolgreich ausgestellt"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Ungültige Anfrageparameter"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Token mithilfe von Ledger-Transaktion anfordern"
      description: "Alternative Token-Anforderung für Ledger-signierte Transaktionen. Signiert eine Nachricht im Format `{signText}{time}` innerhalb einer Transaktion."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix-Zeitstempel in Sekunden"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Solana-Transaktion mit signierter Nachricht (base64-codiert)"
                wallet:
                  type: string
                  description: "Öffentlicher Schlüssel der Solana-Wallet"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token erfolgreich ausgestellt"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Authentifizierungstoken validieren"
      description: "Überprüfen Sie, ob ein Token noch gültig ist. Verlängert auch die Token-Lebensdauer, falls nähert sich zum Ablauf."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token ist gültig"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token ungültig oder abgelaufen"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Authentifizierungstoken widerrufen"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token widerrufen"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
