openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    Rufen Sie Pro-Wallet-Bilanzen, Positionen und abrufbare Rewards über Raydium-Liquiditätspools ab.
    Entwickelt für Wallets und Portfolio-Dashboards, um Wallet-spezifische Daten in einer einzelnen Anfrage abzurufen.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Positionsbilanzen und Status pro Wallet abrufen"
  - name: Pool Creation
    description: "Von einer Wallet erstellte Pools abrufen"
  - name: IDO
    description: "IDO-Beteiligungsdaten abrufen"
  - name: Admin
    description: "Verwaltungs-Endpunkte (interne Verwendung)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Stake-Positionen für eine Wallet abrufen"
      description: |
        Alle Stake-Positionen (Standard-AMM oder CPMM) dieser Wallet abrufen.
        Gibt gecachte Positionsdaten einschließlich Beträge und Rewards zurück.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Positionsdatenstruktur (siehe Owner-API-Antworten)"
        '404':
          description: "Wallet hat keine Stake-Positionen"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Gesperrte CLMM-Positionen für eine Wallet abrufen"
      description: |
        Alle gesperrten Concentrated Liquidity Market Maker-Positionen dieser Wallet abrufen.
        Gibt Positionsstatus einschließlich gesperrter Beträge, Sperrablaufdatum und abrufbarer Gebühren zurück.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Gesperrte Positionsdatenstruktur"
        '404':
          description: "Wallet hat keine gesperrten CLMM-Positionen"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Von einer Wallet erstellte Pools abrufen"
      description: |
        Alle CPMM-Pools abrufen, die von dieser Wallet erstellt (gestartet) wurden.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Daten erstellter Pools"
        '404':
          description: "Wallet hat noch keine Pools erstellt"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "IDO-Beteiligungsinformationen für eine Wallet abrufen"
      description: |
        IDO-Beteiligungsdaten abrufen, einschließlich investierter Beträge und Anspruchsstatus.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO-Beteiligungsdaten"
        '404':
          description: "Wallet hat keine IDO-Beteiligung"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Standardfehlerantwort"
      properties:
        id:
          type: string
          description: "Anfrage-ID (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
