openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Konfigurations- und Metadaten-Service für Raydium Perpetual Futures. Diese API stellt Frontend-Konfigurationen, Asset-Verfügbarkeit, regionale Einschränkungen und RPC-Endpunkte bereit. Die Orderausführung wird an die API von Orderly Network delegiert.

    Alle Endpunkte geben einen Standard-Envelope zurück:
    - **Erfolg**: `{ id: string, success: true, data: {...} }`
    - **Fehler**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Grundlegende Service-Informationen (Version, RPCs, Statistiken, Regionsprüfung)."
  - name: Pool
    description: "Pool-Konfiguration für den Perp-Markt."
  - name: Campaign
    description: "Kampagnen- und Ranglisten-Daten."
  - name: Share
    description: "Endpunkte für Positionsfreigabe und P&L."

paths:
  /main/info:
    get:
      summary: "Perp-Marktstatistiken abrufen"
      description: "Gibt das Handelsvolumen der letzten 24h/7d/30d sowie das Open Interest (Long/Short/gesamt) zurück."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Marktinformationen erfolgreich abgerufen."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Standard-Perp-Pool-Liste abrufen"
      description: "Gibt die Liste der Standard-Perpetual-Trading-Pools mit Volumen und Statistiken zurück."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Pool-Liste erfolgreich abgerufen."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Aktuelle stabile UI-Version."
              example: "1.2.0"
            least:
              type: string
              description: "Mindestens erforderliche UI-Version."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Liste der verfügbaren RPC-URLs."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "Handelsvolumen der letzten 24 Stunden."
                "7d":
                  type: number
                  description: "Handelsvolumen der letzten 7 Tage."
                "30d":
                  type: number
                  description: "Handelsvolumen der letzten 30 Tage."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Gesamtes Long-Open-Interest."
                short:
                  type: number
                  description: "Gesamtes Short-Open-Interest."
                all:
                  type: number
                  description: "Kombiniertes Open Interest."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Gibt an, ob Perp-Trading in der Region des Nutzers erlaubt ist."
            country:
              type: string
              description: "Erkannter Ländercode (aus dem Header `cf-ipcountry`)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Ed25519-Public-Key im Format \"ed25519:<base58-encoded-key>\"."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Pool-Symbol (z. B. BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "Handelsvolumen der letzten 24 Stunden."
              volume7d:
                type: string
                description: "Handelsvolumen der letzten 7 Tage."
              volume30d:
                type: string
                description: "Handelsvolumen der letzten 30 Tage."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Kampagnen-Konfigurationsobjekt mit Regeln und Parametern."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Rang oder Platzierung des Nutzers in der Rangliste."
                walletAddress:
                  type: string
                  description: "Maskierte Wallet-Adresse."
                volume:
                  type: number
                  description: "Gesamtes Handelsvolumen der Kampagne."
                pnl:
                  type: number
                  description: "Realisierter Gewinn/Verlust."
                pnlW:
                  type: number
                  description: "Gewichteter P&L für die Bewertung."
                score:
                  type: number
                  description: "Kampagnenpunktzahl."
                rewards:
                  type: array
                  description: "Liste der erhaltenen Belohnungen."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Zeitstempel der letzten Ranglisten-Aktualisierung (ms)."
            rows:
              type: array
              description: "Top-Nutzer auf dieser Ranglisten-Seite."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Payload für die Screenshot-Generierung der aktuellen Position."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Payload für die Screenshot-Generierung einer geschlossenen Position."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "Generierte Bilddatei-ID."
            msg:
              type: string
              description: "Statusmeldung."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Fehlermeldung oder Fehlercode."
