openapi: 3.0.3
info:
  title: "Raydium Transaction API (Route V2)"
  version: 1.0.0
  description: |
    Serverseitiger Builder für Swap-Transaktionen auf Solana. Diese API erzeugt serialisierte Swap-Transaktionen, ohne dass Clients eine eigene RPC-Verbindung oder das vollständige Raydium SDK betreiben müssen.

    Antworten folgen einem einheitlichen Envelope-Format:
    - **Erfolg**: `{ id: string, success: true, data: {...} }`
    - **Fehler**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Read-only-Endpunkte zur Berechnung von Swap-Quotes (ohne Transaktionsaufbau)."
  - name: Transaction
    description: "Erstellt serialisierte Swap-Transaktionen, die bereit zum Signieren und Broadcasten sind."

paths:
  /compute/swap-base-in:
    get:
      summary: "Swap-Quote berechnen (Base-Input)"
      description: |
        Berechnet den erwarteten Ausgabebetrag beim Swap eines festen Eingabebetrags.
        Nützlich für eine Vorschau vor dem Erstellen der Transaktion.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Mint-Adresse des Eingabetokens (Public Key in Base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Mint-Adresse des Ausgabetokens (Public Key in Base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Eingabebetrag in Lamports (kleinste Einheit von SPL-Tokens). Muss ein nicht-negativer Integer-String sein."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Maximale Slippage-Toleranz in Basispunkten (0–10000). 1 bps = 0,01 %."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "Optionale Referrer-Gebühr in Basispunkten (0–10000). Wird nur verwendet, wenn Sie über eine Referrer-Authority verfügen."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana-Transaktionsversion. V0 verwendet Address Lookup Tables; LEGACY ist das herkömmliche Format."
          example: V0
      responses:
        "200":
          description: "Swap-Quote erfolgreich berechnet."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Ungültige Eingabeparameter."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Swap-Quote berechnen (Base-Output)"
      description: |
        Berechnet den erforderlichen Eingabebetrag, um einen gewünschten Ausgabebetrag zu erhalten.
        Nützlich für Swaps, bei denen die Zielausgabe bekannt ist.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Mint-Adresse des Eingabetokens."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Mint-Adresse des Ausgabetokens."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Gewünschter Ausgabebetrag in der kleinsten Einheit (Lamports)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Maximale Slippage-Toleranz in Basispunkten (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana-Transaktionsversion."
          example: V0
      responses:
        "200":
          description: "Swap-Quote erfolgreich berechnet."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Ungültige Eingabeparameter."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Swap-Transaktion erstellen (Base-Input)"
      description: |
        Erzeugt eine serialisierte Swap-Transaktion für einen festen Eingabebetrag.
        Erfordert eine erfolgreiche Compute-Antwort von `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Serialisierte Transaktion erfolgreich erstellt."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Ungültiger Request-Body oder Compute-Zustand."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Swap-Transaktion erstellen (Base-Output)"
      description: |
        Erzeugt eine serialisierte Swap-Transaktion für einen gewünschten Ausgabebetrag.
        Erfordert eine erfolgreiche Compute-Antwort von `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Serialisierte Transaktion erfolgreich erstellt."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Ungültiger Request-Body oder Compute-Zustand."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Eindeutiger Request-Identifier (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Gibt an, ob die Berechnung erfolgreich war."
          example: true
        version:
          type: string
          description: "Version der API-Antwort."
          example: "V1"
        data:
          type: object
          description: "Ergebnis der Swap-Berechnung."
          properties:
            inputAmount:
              type: string
              description: "Eingabebetrag in der kleinsten Einheit."
            outputAmount:
              type: string
              description: "Erwarteter Ausgabebetrag (unter Berücksichtigung der Slippage)."
            priceImpact:
              type: string
              description: "Price-Impact in Prozent (z. B. \"0.5\" für 0,5 %)."
            routes:
              type: array
              description: "Array der verwendeten Swap-Routen und Pools."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Eindeutiger Request-Identifier."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Gibt an, ob der Transaktionsaufbau erfolgreich war."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "Transaktionsdaten."
          properties:
            transaction:
              type: string
              description: "Base64-kodierte versionierte Transaktion (signierbereit)."
            addressLookupTableAddresses:
              type: array
              description: "Adressen der Address Lookup Tables (falls txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "Wallet-Adresse des Signers (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "Das vollständige Antwortobjekt des compute-Endpunkts."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Solana-Transaktionsversion."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Compute-Unit-Preis in Mikro-Lamports (für Priority Fees)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Gibt an, ob SOL gewrappt werden soll, falls die Eingabe natives SOL ist."
          example: false
        unwrapSol:
          type: boolean
          description: "Gibt an, ob WSOL in der Ausgabe zu SOL entwrappt werden soll."
          example: false
        inputAccount:
          type: string
          description: "Optionale Token-Account-Adresse für die Eingabe. Erforderlich, wenn SOL nicht gewrappt wird."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Optionale Token-Account-Adresse für die Ausgabe."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Optionale Jito-Bundle-Parameter für MEV-Schutz."
          properties:
            address:
              type: string
              description: "Adresse zur Einreichung des Jito-Bundles."
            amount:
              type: string
              description: "Bundle-Tip-Betrag in Lamports."
        referrerWallet:
          type: string
          description: "Optionale Referrer-Wallet-Adresse für die Gebührenerfassung."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Eindeutige Request-ID."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Fehlermeldungs-Code (z. B. REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
