openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Ein Sammelbecken für kurzlebige Endpunkte, die noch keinen festen Platz in der Haupt-Raydium-API haben.
    Endpunkte in diesem Dienst können sich ändern, veralten oder ohne Vorankündigung verschoben werden.

    **Stabilitätshinweis:** Dieser Dienst priorisiert schnelle Iteration und bietet minimale API-Stabilitätsgarantien.
    Nur für unkritische Pfade, interne Tools oder aktiv in der Entwicklung befindliche Features verwenden.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Temporäre Endpunkte (instabil)"
paths:
  /limit-order/order/list:
    get:
      summary: "Aktive CLMM-Limit-Orders einer Wallet auflisten"
      description: |
        Gibt CLMM-Limit-Orders zurück, die `wallet` gehören und sich noch on-chain befinden — sowohl vollständig unerfüllte als auch teilweise erfüllte Orders werden in einer einzelnen Antwort zurückgegeben. Jede Zeile enthält den dekodiertenon-chain-`LimitOrderState` zusammen mit den Pool-Keys und einem `pendingSettle`-Betrag, den der Indexer anhand des aktuellen Tick-Zustands berechnet hat.

        Die Daten werden aus dem Redis-Cache des Indexers bereitgestellt und können der Chain um wenige Sekunden hinterherhinken.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Wenn vorhanden, enthält die Antwort zusätzlich ein `e`-Array mit Soft-Failure-Meldungen des Indexers (z. B. ein fehlender Pool- oder Tick-Array-Cache-Eintrag, der dazu geführt hat, dass eine Zeile übersprungen wurde).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Ungültige Anfrage"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Serverfehler"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Historische CLMM-Limit-Orders einer Wallet auflisten"
      description: |
        Gibt geschlossene CLMM-Limit-Orders zurück, die `wallet` gehören. Jede Zeile fasst die Order zum Zeitpunkt ihres Ausscheidens aus dem aktiven Set zusammen. Cursor-paginiert über `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Wenn auf `true` gesetzt, werden Orders ausgeschlossen, die geschlossen wurden, ohne jemals erfüllt worden zu sein (d. h. stornierte Orders). Standard: `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Optionaler CLMM-Pool zum Filtern. Schließt sich gegenseitig mit `mint1` / `mint2` aus."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Optionaler Mint-Filter (Token A oder B). Schließt sich gegenseitig mit `poolId` aus."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Optionaler zweiter Mint-Filter. Schließt sich gegenseitig mit `poolId` aus."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Undurchsichtiger Paginierungs-Cursor, der von der vorherigen Seite zurückgegeben wurde (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Seitengröße (1–100, Standard 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Ungültige Anfrage"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Serverfehler"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "On-Chain-Ereignisprotokoll für eine oder mehrere Limit-Order-PDAs abrufen"
      description: |
        Gibt das Ereignisprotokoll (`open`, `increase`, `decrease`, `settle`, `close`) für eine oder mehrere Limit-Order-PDAs zurück. Nützlich zur Darstellung einer order-spezifischen Zeitleiste. Cursor-paginiert über `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Ein oder mehrere öffentliche Schlüssel von Limit-Order-PDAs, kommagetrennt. Jeder muss ein gültiger base58-Pubkey sein.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Undurchsichtiger Paginierungs-Cursor, der von der vorherigen Seite zurückgegeben wurde (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Seitengröße (1–100, Standard 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Ungültige Anfrage"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Serverfehler"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Angesammelte Creator-Gebühren für eine Wallet abrufen"
      description: |
        Ruft alle CPMM-Pools ab, bei denen diese Wallet der Ersteller ist, zusammen mit angesammelten, aber noch nicht abgerufenen Creator-Gebühren pro Pool. Gibt ein leeres Array zurück, wenn für die Wallet keine Creator-Gebühren im Cache vorhanden sind.

        **Hinweis:** Dieser Endpunkt speichert Benutzerdaten periodisch im Cache. Sehr aktuelle Creator-Gebühren-Aktivitäten werden möglicherweise nicht sofort angezeigt.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Öffentlicher Schlüssel der Wallet (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Ungültige Wallet-Adresse"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Serverfehler"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Array von Pools mit angesammelten Creator-Gebühren"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Ein einzelner CPMM-Pool mit angesammelten Creator-Gebühren"
      properties:
        poolInfo:
          type: object
          description: "Pool-Metadaten (Struktur variiert; siehe Pools-API für das Schema)"
        poolKey:
          type: object
          description: "Pool-Konfigurationsschlüssel"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Angesammelte Gebührenbeträge in rohen Token-Einheiten"
      properties:
        amountA:
          type: string
          description: "Creator-Gebührenbetrag für Token A (in kleinsten Einheiten)"
        amountB:
          type: string
          description: "Creator-Gebührenbetrag für Token B (in kleinsten Einheiten)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload für `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "Anfrage-ID (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Optional. Nur vorhanden, wenn die Anfrage mit `showErr` gestellt wurde. Jeder Eintrag
                ist eine Soft-Fehler-Meldung des Indexers (z. B. ein fehlender Pool oder ein Tick-Array-
                Cache-Eintrag, der dazu führte, dass eine Zeile übersprungen wurde).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Eine einzelne aktuell parkende Limit-Order."
      properties:
        pda:
          type: string
          description: "Öffentlicher Schlüssel des LimitOrderState-Kontos"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Quantisierter Tick, an dem diese Order liegt."
        price:
          type: number
          description: "Menschenlesbarer Preis bei `tick`, skaliert nach Mint-Dezimalstellen."
        zeroForOne:
          type: boolean
          description: "true = token_0 verkaufen, token_1 kaufen; false = umgekehrte Richtung."
        orderPhase:
          type: string
          description: "u64 als String — FIFO-Kohortenphase dieser Order an ihrem Tick."
        totalAmount:
          type: string
          description: "u64 als String — gesamter durch die Order eingesetzter Input."
        filledAmount:
          type: string
          description: "u64 als String — bisher durch Swaps verbrauchter kumulierter Input."
        openTime:
          type: string
          description: "u64 als String — Unix-Zeitstempel der Order-Eröffnung."
        pendingSettle:
          type: string
          description: "u64 als String — aktuell dem Eigentümer geschuldeter Output-Betrag, der auf `SettleLimitOrder` wartet."
        filledAmountUpdate:
          type: string
          description: "u64 als String — Spiegelung von `filledAmount`, zur Vereinfachung für den Client zurückgegeben."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Menschenlesbarer aktueller Pool-Preis (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Payload für `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Undurchsichtiger Cursor für die nächste Seite; fehlt, wenn dies die letzte Seite ist."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Eine einzelne geschlossene Limit-Order, zusammengefasst."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Unix-Zeitstempel der Order-Eröffnung."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Wie viel der Order letztendlich vor dem Schließen ausgeführt wurde:
            `NONE` (storniert ohne Ausführung), `PARTIAL` oder `FULL`.
        orderInputAmountUi:
          type: number
          description: "Ursprünglicher Input-Betrag in menschenlesbaren Einheiten (Dezimalstellen angewendet)."
        orderOutputAmountUi:
          type: number
          description: "Output-Betrag, den die Order an ihrem Tick ausgezahlt hätte, in menschenlesbaren Einheiten."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Payload für `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Undurchsichtiger Cursor für die nächste Seite; fehlt, wenn dies die letzte Seite ist."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Eine einzelne on-chain beobachtete Mutation an einer Limit-Order-PDA."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True, wenn das Ereignis vom `limit_order_admin`-Keeper durchgeführt wurde; false, wenn vom Eigentümer signiert."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Nettoveränderung des Input-Guthabens der Order in menschenlesbaren Einheiten (vorzeichenbehaftet)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Nettoveränderung des kumulierten Outputs der Order in menschenlesbaren Einheiten (vorzeichenbehaftet)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Fehlermeldung"
      required:
        - success
        - msg
