openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "A Raydium API v3 disponibiliza endpoints REST para consulta de pools de liquidez, informações de mint, detalhes de farms, pools de IDO e metadados da blockchain Solana. Utilizada por carteiras, agregadores e traders para obter feeds de preços, dados de pools e informações de roteamento."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Produção (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Desenvolvimento (Devnet)"

tags:
  - name: "Main"
    description: "Endpoints principais da API para informações de chain, TVL e configurações"
  - name: "Mint"
    description: "Informações de mint de tokens e preços"
  - name: "Pools"
    description: "Informações de pool de liquidez, chaves e dados históricos"
  - name: "Farms"
    description: "Informações de farm pool e chaves"
  - name: "IDO"
    description: "Informações de pool de IDO e chaves"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Envelope de resposta comum. O campo `data` é fornecido pelo schema de resposta de cada endpoint via `allOf` e, portanto, não é declarado no envelope base."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "ID da requisição (UUID)"
        success:
          type: boolean
          description: "Indica se a requisição foi bem-sucedida"
        msg:
          type: string
          description: "Mensagem de erro caso `success` seja false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Obter estatísticas gerais"
      description: "Retorna o TVL e o volume das últimas 24 horas de todos os pools Raydium. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Obter offset de tempo da chain"
      description: "Retorna o offset entre o horário UTC local e o horário da chain Solana. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Obter taxas de transação estimadas"
      description: "Retorna os custos estimados on-chain (em lamports). Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Obter pools de stake do RAY"
      description: "Retorna os pools de staking do token RAY. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Obter configurações de pools CLMM"
      description: "Retorna as configurações permitidas para pools de liquidez concentrada. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Obter configurações de pools CPMM"
      description: "Retorna as configurações permitidas para pools de produto constante. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Obter configurações de taxa dinâmica do CLMM"
      description: |
        Retorna os tiers `DynamicFeeConfig` calibrados que um novo pool CLMM pode adotar quando
        `enableDynamicFee=true` é passado para `CreateCustomizablePool`. Cada entrada expõe os
        parâmetros por tier (período de filtro, período de decaimento, fator de redução, controle de
        taxa dinâmica, acumulador máximo de volatilidade) que governam o acréscimo de taxa baseado em volatilidade.
        Armazenado em cache por 60 segundos.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA do DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Segundos; a volatilidade decai a zero após esta janela"
                            decayPeriod:
                              type: integer
                              description: "Segundos; meia-vida completa do decaimento do acumulador"
                            reductionFactor:
                              type: integer
                              description: "Numerador de decaimento por passo (denominador = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Limite máximo do acréscimo de taxa dinâmica (denominador = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Numerador de escalonamento por distância de tick (denominador = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Obter configurações de limit order do CLMM"
      description: |
        Retorna a configuração de limit order por pool (se limit orders estão habilitadas,
        o tamanho mínimo do pedido e a chave pública do keeper) para pools que suportam limit
        orders. Utilizado por SDKs e UIs antes de chamar `OpenLimitOrder`. Armazenado em cache por 60 segundos.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 em string — entrada mínima que o pool aceita"
                            limitOrderAdmin:
                              type: string
                              description: "Keeper operacional off-chain autorizado a liquidar/fechar ordens em nome dos proprietários"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Obter lista de mints padrão"
      description: "Retorna a lista de mints padrão da interface com metadados e logotipos. Armazenado em cache por 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Obter informações de mint por IDs"
      description: "Recupere metadados para endereços de mint específicos. Cache de 20 segundos."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Endereços de mint separados por vírgula"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Obter preços de mint"
      description: "Recupere os preços atuais em USD para tokens de mint. Cache de 5 segundos."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Endereços de mint separados por vírgula"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Obter informações de pool por IDs"
      description: "Recupere informações detalhadas de pool por IDs de pool. Cache de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "IDs de pool separados por vírgula"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Obter pools por LP mint"
      description: "Recupere informações de pool por endereços de token LP. Cache de 60 segundos."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Endereços de LP mint separados por vírgula"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Listar pools com paginação"
      deprecated: true
      description: "**Endpoint legado.** Recupere lista paginada de pools com filtragem e ordenação. Cache de 60 segundos. `pageSize` limitado a 1000. Mantido ativo para integrações existentes; novas integrações devem consultar pools por ID, par de mint ou LP mint através dos outros endpoints `/pools/info/*`, ou utilizar a superfície de roteamento baseada em indexador na Transaction API."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Obter pools por token mint"
      description: "Filtre pools por um ou dois token mints. A ordenação dos mints é normalizada internamente. Cache de 60 segundos."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Listar pools com filtros avançados (v2)"
      description: "Listagem avançada de pools com paginação baseada em cursor. Cache de 60–90 segundos."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Obter chaves on-chain do pool"
      description: "Recupere as chaves de conta on-chain dos pools. Cache de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Obter histórico de liquidez do pool"
      description: "Recupere dados históricos de TVL de um pool (até 30 dias). Cache de 300 segundos."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Obter histórico de posição CLMM"
      description: "Recupere dados históricos de preço e liquidez para pools CLMM. Cache de 30 segundos."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Obter informações de farm por IDs"
      description: "Recupere detalhes de farm pools por IDs de farm. Cache de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Obter farms por LP mint"
      description: "Pesquise farms pelo endereço de stake do token LP. Paginado. Cache de 60 segundos."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Obter chaves on-chain de farm"
      description: "Recupere as chaves de conta on-chain dos farms. Cache de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Obter chaves de pool IDO"
      description: "Recupere a estrutura on-chain dos pools IDO. Cache de 20 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
