openapi: 3.0.3
info:
  title: "API V1 V2 (Legado)"
  description: |
    API Raydium legada fornecendo informações de pools, preços, dados de SDKs e detalhes de farms.
    Principalmente usada para compatibilidade retroativa e clientes SDK.

    **Migre para API v3:** A maioria dos endpoints aqui possui equivalentes mais novos em [API v3](/en/api-reference/api-v3).
    Para novas integrações, prefira os endpoints v3 que oferecem melhor desempenho e estabilidade.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Apenas Mainnet"
tags:
  - name: Ray Token
    description: "Endpoints de fornecimento de token RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "Obter fornecimento total de RAY"
      description: "Buscar fornecimento total de moedas do token RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Fornecimento total como número em texto simples"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Obter fornecimento circulante de RAY"
      description: "Buscar fornecimento circulante do token RAY."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Fornecimento circulante como número em texto simples"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID da solicitação"
        success:
          type: boolean
          example: false
