openapi: 3.0.3
info:
  title: "API IPFS Dinâmica"
  description: |
    Regenera metadados e imagens dinâmicas de NFT para posições CLMM. Utilizado por dApps para buscar visuais de posições em tempo real e dados de avaliação, incluindo detalhes do pool, quantidades, taxas e recompensas.

    Este serviço armazena metadados de posições em IPFS e fornece estado de posição computado (valor em USD, percentual de TVL, taxas não reivindicadas) por ID de posição. Suporta posições desbloqueadas e bloqueadas em ambos os tipos de pool CLMM e CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Recuperar metadados dinâmicos para posições de Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Recuperar dados de posição bloqueada (CLMM e CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Obter metadados de posição CLMM"
      description: |
        Buscar metadados completos da posição, incluindo detalhes do pool, quantidades de liquidez, taxas não reivindicadas e avaliação em USD. Retorna um objeto de interface NFT dinâmica adequado para renderizar visuais de posição.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Chave pública da conta de posição (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de posição inválido"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Posição não encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erro no servidor"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Obter metadados de posição CLMM bloqueada"
      description: |
        Buscar metadados para uma posição CLMM bloqueada. Retorna dados de posição, incluindo duração do bloqueio, taxas acumuladas e avaliação atual.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Chave pública PDA de posição bloqueada (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de posição inválido ou correspondência de proprietário falha"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posição não encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erro no servidor"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Obter metadados de posição CPMM bloqueada"
      description: |
        Buscar metadados para uma posição Constant Product Market Maker bloqueada. Retorna quantidades de token LP, percentual de participação no pool e taxas reivindicáveis do bloqueio.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Chave pública PDA de posição CPMM bloqueada (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "ID de posição inválido ou correspondência de proprietário falha"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posição não encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erro no servidor"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Posição CLMM completa com detalhes do pool e avaliação"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Posição CPMM bloqueada completa com detalhes do pool e avaliação"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Informações do pool Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID do pool"
        programId:
          type: string
          description: "ID do programa proprietário do pool"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Valor Total Bloqueado em USD"
        rewardDefaultInfos:
          type: array
          description: "Tokens de recompensa para este pool"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Informações do pool Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Preço do token LP em USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Endereço mint do token"
        decimals:
          type: integer
          description: "Decimais do token"
        symbol:
          type: string
          description: "Símbolo do token"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "Estado da posição CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL da posição como percentual do pool (0-100)"
        usdValue:
          type: number
          description: "Valor da posição em USD"
        amountA:
          type: number
          description: "Quantidade do Token A na posição"
        amountB:
          type: number
          description: "Quantidade do Token B na posição"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "Estado da posição CPMM bloqueada"
      properties:
        tvlPercentage:
          type: number
          description: "Participação no pool em percentual (0-100)"
        usdValue:
          type: number
          description: "Valor de LP bloqueado em USD"
        amountA:
          type: number
          description: "Quantidade subjacente do Token A"
        amountB:
          type: number
          description: "Quantidade subjacente do Token B"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Taxas acumuladas mas não reclamadas na posição CLMM"
      properties:
        amountA:
          type: number
          description: "Taxas não reclamadas do Token A"
        amountB:
          type: number
          description: "Taxas não reclamadas do Token B"
        usdFeeValue:
          type: number
          description: "Valor em USD da taxa de negociação"
        reward:
          type: array
          items:
            type: number
          description: "Quantidades de recompensa não reclamadas por token de recompensa"
        usdRewardValue:
          type: number
          description: "Valor em USD da recompensa"
        usdValue:
          type: number
          description: "Valor total não reclamado em USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP e taxas reclamáveis da posição CPMM bloqueada"
      properties:
        lp:
          type: number
          description: "Quantidade de LP reclamável"
        amountA:
          type: number
          description: "Token A reclamável"
        amountB:
          type: number
          description: "Token B reclamável"
        usdValue:
          type: number
          description: "Valor reclamável em USD"
