openapi: 3.0.3
info:
  title: "API de Autenticação Raydium Launch"
  description: "Gerencia autenticação de carteira para as APIs LaunchLab e Forum. Emite tokens JWT após verificar assinaturas de carteira ed25519. Os tokens são necessários para postar comentários e gerenciar conteúdo na API Forum."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Solicitar e validar tokens de autenticação"
  - name: Utilities
    description: "Endpoints de verificação de saúde"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Solicitar token de autenticação com assinatura"
      description: 'Assina uma mensagem com o formato `{signText}{time}`, onde signText é "Sign in to raydium.io: " e time é o timestamp Unix atual em segundos. A carteira deve assinar esta mensagem e enviar a assinatura para receber um token JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Timestamp Unix atual em segundos quando a mensagem foi assinada"
                  example: 1704067200
                signature:
                  type: string
                  description: "Assinatura Ed25519 da mensagem (codificada em base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Chave pública da carteira Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token emitido com sucesso"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Parâmetros de solicitação inválidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Solicitar token usando transação Ledger"
      description: "Solicitação alternativa de token para transações assinadas por Ledger. Assina uma mensagem com o formato `{signText}{time}` dentro de uma transação."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Timestamp Unix em segundos"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Transação Solana contendo mensagem assinada (codificada em base64)"
                wallet:
                  type: string
                  description: "Chave pública da carteira Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token emitido com sucesso"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Validar token de autenticação"
      description: "Verifica se um token ainda é válido. Também estende a vida útil do token se estiver próximo do vencimento."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token é válido"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token inválido ou expirado"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Revogar token de autenticação"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token revogado"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
