openapi: 3.0.3
info:
  title: "API de Histórico de Lançamentos do Raydium"
  description: "Fornece dados históricos de negociação para pools do LaunchLab. Inclui dados de kline (vela) em intervalos de 1 minuto, 5 minutos e 15 minutos, além do histórico de negociações individuais."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Dados de vela OHLC"
  - name: Trades
    description: "Histórico de negociações individuais"
  - name: Utilities
    description: "Verificações de saúde"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Obter dados de kline (vela)"
      tags:
        - Candle Data
      description: 'Recupera dados de vela OHLC. Intervalo de limite: 1-500 (padrão 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID do pool (endereço de mint)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Token de paginação"
      responses:
        '200':
          description: "Dados de kline com paginação"
  /trade:
    get:
      operationId: getTrade
      summary: "Obter histórico de negociações"
      tags:
        - Trades
      description: 'Recupera negociações individuais. Intervalo de limite: 1-100 (padrão 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Filtrar por carteira do operador"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Histórico de negociações com paginação"
