openapi: 3.0.3
info:
  title: "API do Fórum de Lançamento do Raydium"
  description: "API de Discussão para pools LaunchLab. Poste e recupere comentários sobre tokens mint. Requer cabeçalho `ray-token` (JWT da API de Autenticação) para operações de escrita."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Poste e recupere comentários de pool"
  - name: Utilities
    description: "Verificações de saúde"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Poste um comentário em um pool"
      tags:
        - Comments
      description: "Poste um novo comentário. Requer cabeçalho ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Token JWT da API de Autenticação"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "Pool/ID do Mint"
                wallet:
                  type: string
                  description: "Carteira do comentarista"
                text:
                  type: string
                  description: "Texto do comentário (máx. 2000 caracteres)"
                file:
                  type: string
                  format: binary
                  description: "Imagem opcional (máx. 5MB)"
      responses:
        '200':
          description: "Comentário postado com sucesso"
        '400':
          description: "Requisição inválida ou violação de conteúdo"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Obtenha comentários para um pool"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool/ID do Mint"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Token de paginação"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Incluir conteúdo NSFW"
      responses:
        '200':
          description: "Comentários do pool"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Obtenha um comentário específico pelo ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "ID do comentário"
      responses:
        '200':
          description: "Detalhes do comentário"
        '500':
          description: "Comentário não encontrado ou deletado"
