openapi: 3.0.3
info:
  title: "API de Mint de Lançamento Raydium"
  description: "Fornece acesso à criação de mints, placar, busca e dados históricos de tokens do LaunchLab. Suporta busca por nome, símbolo, criador da carteira e várias opções de filtro."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Buscar e navegar mints"
  - name: Details
    description: "Obter informações do mint"
  - name: User Activity
    description: "Obter estatísticas de criação e negociação do usuário"
  - name: Vesting
    description: "Consultar dados de agenda de vesting"
  - name: Configuration
    description: "Configuração e metadados da plataforma"
  - name: Creation
    description: "Criar novos mints e enviar transações"
  - name: Utilities
    description: "Verificações de saúde e status"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Buscar mints"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Resultados da busca"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Obter mint destacado principal"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint principal"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Obter mints recentes destacados"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints recentes"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Obter detalhes do mint"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Detalhes do mint"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Obter mints do usuário"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mints do usuário"
  /get/list:
    get:
      operationId: getGetList
      summary: "Listar mints com ordenação"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Lista de mints"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Listar mints Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Obter estatísticas de volume do usuário"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Estatísticas de volume"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Obter estatísticas de criação do usuário"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Estatísticas de criação"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Obter configuração da plataforma"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Obter plataformas"
      deprecated: true
      description: "**Endpoint legado.** Retorna a lista de plataformas v1. Substituído por `/campaign/platforms-v2`, que contém os campos adicionais dos quais o front-end agora depende. Novas integrações devem chamar o endpoint v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Obter plataformas v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Plataformas v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Enviar criação de mint"
      description: |
        Registre os metadados off-chain para um novo mint do LaunchLab antes de sua transação de criação on-chain ser enviada. A plataforma armazena o nome/símbolo/uri/links-sociais fornecidos indexados por mint, para que a interface possa exibi-los enquanto a curva de ligação estiver ativa.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Chave pública do mint (base58) criada on-chain."
                name:
                  type: string
                  description: "Nome para exibição mostrado na interface do LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Símbolo do ticker."
                  example: MEME
                description:
                  type: string
                  description: "Descrição em formato longo."
                imageUri:
                  type: string
                  description: "URL HTTPS ou URI IPFS para o ícone do token."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Chave pública da plataforma que hospeda este lançamento."
                wallet:
                  type: string
                  description: "Carteira do criador (base58) — deve corresponder ao criador em cadeia."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Obter mint aleatório"
      description: |
        Retorna um novo keypair de mint não utilizado para o chamador. Filtros opcionais
        permitem que a plataforma pré-gere endereços vanity com um prefixo/sufixo
        específico.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Prefixo base58 opcional que o mint retornado deve começar."
                suffix:
                  type: string
                  description: "Sufixo base58 opcional que o mint retornado deve terminar."
                wallet:
                  type: string
                  description: "Carteira do criador opcional, usada para rate-limiting."
      responses:
        '200':
          description: "Mint aleatório"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Endereço de mint em base58."
                  privateKey:
                    type: string
                    description: |
                      Chave secreta em base58 para o mint. Deve ser assinada na transação de criação
                      once e então descartada.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Enviar transação"
      description: |
        Encaminha uma transação Solana totalmente assinada (codificada em base64) em nome
        do chamador. Usada pela UI para retransmitir as transações de criar/comprar/vender
        atraés do RPC da plataforma para elevação de taxa de prioridade e tratamento de
        retentativas.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction totalmente assinada, codificada em base64."
                wallet:
                  type: string
                  description: "Carteira do chamador (base58). Deve corresponder ao pagador de taxa da transação."
                priorityFee:
                  type: integer
                  description: |
                    Sobrescrita opcional de taxa de prioridade em micro-lamports. Se omitida,
                    a plataforma aplica sua política padrão.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Assinatura da transação em base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Obter vesting por IDs"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Cronogramas de vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Obter vesting do pool"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting do pool"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Obter vesting do proprietário"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting do proprietário"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Obter recompensas do referenciador"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Informações do referenciador"
