openapi: 3.0.3
info:
  title: "API do Proprietário"
  description: |
    Recupere saldos por carteira, posições e recompensas resgatáveis em pools de liquidez do Raydium.
    Projetado para carteiras e painéis de portfólio a fim de buscar dados com escopo de proprietário em uma única requisição.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Recupere saldos e estado das posições por carteira"
  - name: Pool Creation
    description: "Recupere pools criados por uma carteira"
  - name: IDO
    description: "Recupere dados de participação em IDO"
  - name: Admin
    description: "Endpoints administrativos (uso interno)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Obtenha posições de stake para uma carteira"
      description: |
        Recupere todas as posições de stake (AMM padrão ou CPMM) possuídas por esta carteira.
        Retorna dados de posição em cache incluindo quantidades e recompensas.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Estrutura de dados de posição (veja respostas do OwnerAPI)"
        '404':
          description: "A carteira não tem posições de stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Obtenha posições CLMM bloqueadas para uma carteira"
      description: |
        Recupere todas as posições Concentrated Liquidity Market Maker bloqueadas possuídas por esta carteira.
        Retorna estado da posição incluindo quantidades bloqueadas, tempo de desbloqueio e taxas resgatáveis.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Estrutura de dados de posição bloqueada"
        '404':
          description: "A carteira não tem posições CLMM bloqueadas"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Obtenha pools criados por uma carteira"
      description: |
        Recupere todos os pools CPMM criados (lançados) por esta carteira.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Dados de pools criados"
        '404':
          description: "A carteira não criou nenhum pool"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Obtenha informações de participação em IDO para uma carteira"
      description: |
        Recupere dados de participação em IDO, incluindo quantidades investidas e status de resgate.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Dados de participação em IDO"
        '404':
          description: "A carteira não tem participação em IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Resposta de erro padrão"
      properties:
        id:
          type: string
          description: "ID da requisição (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
