openapi: 3.0.3
info:
  title: "API Temporária"
  description: |
    Um repositório para endpoints de curta duração que não possuem um local permanente na API principal da Raydium.
    Os endpoints neste serviço podem ser alterados, descontinuados ou movidos sem aviso prévio.

    **Aviso de estabilidade:** Este serviço prioriza iteração rápida e oferece garantias mínimas de estabilidade de API.
    Use apenas em caminhos não críticos, ferramentas internas ou funcionalidades em desenvolvimento ativo.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Endpoints temporários (instáveis)"
paths:
  /limit-order/order/list:
    get:
      summary: "Listar as limit orders CLMM ativas de uma carteira"
      description: |
        Retorna as limit orders CLMM pertencentes à `wallet` que ainda estão on-chain — tanto as ordens totalmente não preenchidas quanto as parcialmente preenchidas são retornadas em um único payload. Cada linha corresponde ao `LimitOrderState` decodificado on-chain, acrescido das chaves do pool e de um valor `pendingSettle` calculado pelo indexador a partir do estado mais recente do tick.

        Os dados são servidos a partir do cache Redis do indexador e podem estar alguns segundos atrasados em relação à chain.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Quando presente, a resposta também inclui um array `e` com mensagens de falha não críticas do indexador (por exemplo, um pool ausente ou uma entrada de cache de tick-array que fez com que uma linha fosse ignorada).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Requisição inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erro no servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Listar o histórico de limit orders CLMM de uma carteira"
      description: |
        Retorna as limit orders CLMM encerradas pertencentes à `wallet`. Cada linha resume o estado da ordem no momento em que saiu do conjunto ativo. Paginação por cursor via `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Quando definido como `true`, exclui as ordens encerradas sem nunca terem sido preenchidas (ou seja, canceladas). Padrão: `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Pool CLMM opcional para filtrar. Mutuamente exclusivo com `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Filtro de mint opcional (token A ou B). Mutuamente exclusivo com `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Segundo filtro de mint opcional. Mutuamente exclusivo com `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Cursor de paginação opaco retornado pela página anterior (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Tamanho da página (1–100, padrão 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Requisição inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erro no servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Listar o log de eventos on-chain de um ou mais PDAs de limit order"
      description: |
        Retorna o log de eventos (`open`, `increase`, `decrease`, `settle`, `close`) de um ou mais PDAs de limit order. Útil para renderizar uma linha do tempo por ordem. Paginação por cursor via `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Uma ou mais chaves públicas de PDA de limit order, separadas por vírgula. Cada uma deve ser um pubkey base58 válido.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Cursor de paginação opaco retornado pela página anterior (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Tamanho da página (1–100, padrão 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Requisição inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erro no servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Obter taxas de criador acumuladas de uma carteira"
      description: |
        Recupera todos os pools CPMM em que esta carteira é a criadora, juntamente com as taxas de criador acumuladas e não resgatadas por pool. Retorna um array vazio caso a carteira não possua taxas de criador em cache.

        **Nota:** Este endpoint armazena os dados do usuário em cache periodicamente. Atividades muito recentes relacionadas a taxas de criador podem não aparecer imediatamente.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Chave pública da carteira (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Endereço de carteira inválido"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erro no servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Array de pools com taxas de criador acumuladas"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Um único pool CPMM com taxas de criador acumuladas"
      properties:
        poolInfo:
          type: object
          description: "Metadados do pool (estrutura variável; consulte a API de pools para o schema)"
        poolKey:
          type: object
          description: "Chave de configuração do pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Valores de taxas acumuladas em unidades brutas do token"
      properties:
        amountA:
          type: string
          description: "Valor da taxa de criador para o token A (na menor unidade)"
        amountB:
          type: string
          description: "Valor da taxa de criador para o token B (na menor unidade)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload para `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "ID da requisição (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Opcional. Presente apenas quando a requisição foi feita com `showErr`. Cada entrada
                é uma mensagem de falha não-crítica do indexador (ex.: um pool ausente ou entrada de
                cache de tick-array que causou a omissão de uma linha).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Um único limit order atualmente em espera."
      properties:
        pda:
          type: string
          description: "Chave pública da conta LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Tick quantizado no qual este order está posicionado."
        price:
          type: number
          description: "Preço legível por humanos no `tick`, escalado pelos decimais do mint."
        zeroForOne:
          type: boolean
          description: "true = vender token_0, comprar token_1; false = direção oposta."
        orderPhase:
          type: string
          description: "u64 em string — fase de coorte FIFO deste order no seu tick."
        totalAmount:
          type: string
          description: "u64 em string — total de entrada comprometido pelo order."
        filledAmount:
          type: string
          description: "u64 em string — total de entrada consumido por swaps até o momento."
        openTime:
          type: string
          description: "u64 em string — timestamp Unix de abertura do order."
        pendingSettle:
          type: string
          description: "u64 em string — valor de saída atualmente devido ao proprietário, aguardando `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 em string — espelho de `filledAmount`, retornado por conveniência ao cliente."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Preço atual legível do pool (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Payload para `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Cursor opaco para a próxima página; ausente quando esta é a última página."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Um único limit order encerrado, resumido."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Timestamp Unix de abertura do order."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Quanto do order foi preenchido antes de ser encerrado:
            `NONE` (cancelado sem preenchimento), `PARTIAL` ou `FULL`.
        orderInputAmountUi:
          type: number
          description: "Valor de entrada original, em unidades legíveis (decimais aplicados)."
        orderOutputAmountUi:
          type: number
          description: "Valor de saída que o order teria gerado no seu tick, em unidades legíveis."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Payload para `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Cursor opaco para a próxima página; ausente quando esta é a última página."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Uma única mutação on-chain observada em um PDA de limit order."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True quando o evento foi executado pelo keeper `limit_order_admin`; false quando assinado pelo proprietário."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Variação líquida no saldo de entrada do order, em unidades legíveis (com sinal)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Variação líquida na saída acumulada do order, em unidades legíveis (com sinal)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Mensagem de erro"
      required:
        - success
        - msg
