openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "La Raydium API v3 proporciona endpoints REST para consultar pools de liquidez, información de mint, detalles de farms, pools IDO y metadatos de cadena para la blockchain de Solana. Utilizada por wallets, agregadores y traders para obtener feeds de precios, datos de pools e información de enrutamiento."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Producción (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Desarrollo (Devnet)"

tags:
  - name: "Main"
    description: "Endpoints principales de la API para información de cadena, TVL y configuración"
  - name: "Mint"
    description: "Información de mint de tokens y precios"
  - name: "Pools"
    description: "Información de pools de liquidez, claves y datos históricos"
  - name: "Farms"
    description: "Información de farm pools y claves"
  - name: "IDO"
    description: "Información de pools IDO y claves"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Envelope de respuesta común. El campo `data` es suministrado por el esquema de respuesta de cada endpoint mediante `allOf` y, por tanto, no se declara en el envelope base."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "ID de solicitud (UUID)"
        success:
          type: boolean
          description: "Indica si la solicitud fue exitosa"
        msg:
          type: string
          description: "Mensaje de error si `success` es false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Obtener estadísticas principales"
      description: "Recupera el TVL y el volumen en 24 horas de todos los pools de Raydium. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Obtener desfase de tiempo de cadena"
      description: "Obtiene el desfase entre la hora UTC local y el tiempo de la cadena Solana. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Obtener tarifas de transacción estimadas"
      description: "Recupera los costos estimados on-chain (lamports). Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Obtener pools de staking de RAY"
      description: "Recupera los pools de staking del token RAY. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Obtener configuraciones de pools CLMM"
      description: "Recupera las configuraciones permitidas para pools de liquidez concentrada. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Obtener configuraciones de pools CPMM"
      description: "Recupera las configuraciones permitidas para pools de producto constante. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Obtener configuraciones de tarifa dinámica CLMM"
      description: |
        Recupera los niveles de `DynamicFeeConfig` calibrados a los que un nuevo pool CLMM puede suscribirse cuando
        se pasa `enableDynamicFee=true` a `CreateCustomizablePool`. Cada entrada expone los
        parámetros por nivel (periodo de filtro, periodo de decaimiento, factor de reducción, control de
        tarifa dinámica, acumulador máximo de volatilidad) que rigen el recargo de seguimiento de volatilidad.
        Caché de 60 segundos.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA de DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Segundos; la volatilidad decae hacia cero tras esta ventana"
                            decayPeriod:
                              type: integer
                              description: "Segundos; semivida completa del decaimiento del acumulador"
                            reductionFactor:
                              type: integer
                              description: "Numerador de decaimiento por paso (denominador = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Límite máximo del recargo de tarifa dinámica (denominador = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Numerador de escala por distancia de tick (denominador = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Obtener configuraciones de limit orders CLMM"
      description: |
        Recupera la configuración de limit orders por pool (si los limit orders están habilitados,
        el tamaño mínimo de orden y la clave pública del keeper) para los pools que los soportan.
        Utilizado por SDKs e interfaces antes de llamar a `OpenLimitOrder`. Caché de 60 segundos.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 en formato string — entrada mínima que el pool aceptará"
                            limitOrderAdmin:
                              type: string
                              description: "Keeper operativo fuera de cadena autorizado para liquidar/cerrar órdenes en nombre de los propietarios"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Obtener lista de mints predeterminada"
      description: "Recupera la lista de mints predeterminada de la UI con metadatos y logos. Caché de 60 segundos."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Obtener información de mint por IDs"
      description: "Obtén metadatos de direcciones de mint específicas. Caché de 20 segundos."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Direcciones de mint separadas por comas"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Obtén precios de mint"
      description: "Obtén los precios actuales en USD para tokens de mint. Caché de 5 segundos."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Direcciones de mint separadas por comas"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Obtén información de pools por IDs"
      description: "Obtén información detallada de pools por sus IDs. Caché de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "IDs de pool separados por comas"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Obtén pools por LP mint"
      description: "Obtén información de pools por dirección de token LP. Caché de 60 segundos."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Direcciones de LP mint separadas por comas"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Lista pools con paginación"
      deprecated: true
      description: "**Endpoint heredado.** Obtén una lista paginada de pools con filtrado y ordenamiento. Caché de 60 segundos. El parámetro `pageSize` está limitado a 1000. Se mantiene activo para integraciones existentes; las nuevas integraciones deben consultar pools por ID, par de mint o LP mint a través de los demás endpoints `/pools/info/*`, o usar la interfaz de enrutamiento basada en indexador de la API de transacciones."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Obtén pools por token mint"
      description: "Filtra pools por uno o dos tokens mint. El orden de los mint se normaliza internamente. Caché de 60 segundos."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Lista pools con filtros avanzados (v2)"
      description: "Listado avanzado de pools con paginación basada en cursor. Caché de 60–90 segundos."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Obtén claves on-chain de pools"
      description: "Obtén las claves de cuentas on-chain para pools. Caché de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Obtén historial de liquidez de un pool"
      description: "Obtén datos históricos de TVL para un pool (hasta 30 días). Caché de 300 segundos."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Obtén historial de posiciones CLMM"
      description: "Obtén datos históricos de precio y liquidez para pools CLMM. Caché de 30 segundos."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Obtén información de farms por IDs"
      description: "Obtén detalles de pools de farm por sus IDs. Caché de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Obtén farms por LP mint"
      description: "Busca farms por dirección de stake del token LP. Paginado. Caché de 60 segundos."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Obtén claves on-chain de farms"
      description: "Obtén las claves de cuentas on-chain para farms. Caché de 60 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Obtén claves del pool IDO"
      description: "Obtén la estructura on-chain para pools IDO. Caché de 20 segundos."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
