openapi: 3.0.3
info:
  title: "Api V1 V2 (Heredado)"
  description: |
    API Raydium heredada que proporciona información de pools, precios, datos de SDKs y detalles de granjas.
    Utilizada principalmente para compatibilidad retroactiva y clientes SDK.

    **Migra a API v3:** La mayoría de los endpoints aquí tienen equivalentes más nuevos en [API v3](/en/api-reference/api-v3).
    Para integraciones nuevas, prefiere los endpoints v3 que ofrecen mejor rendimiento y estabilidad.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Solo Mainnet"
tags:
  - name: Ray Token
    description: "Endpoints de suministro del token RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "Obtener suministro total de RAY"
      description: "Obtiene el suministro total de monedas del token RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Suministro total como número en texto plano"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Obtener suministro circulante de RAY"
      description: "Obtiene el suministro circulante del token RAY."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Suministro circulante como número en texto plano"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID de solicitud"
        success:
          type: boolean
          example: false
