openapi: 3.0.3
info:
  title: "API de IPFS Dinámica"
  description: |-
    Regenera metadatos e imágenes NFT dinámicas para posiciones CLMM. Utilizado por dApps para obtener datos visuales y de valoración en tiempo real de posiciones, incluyendo detalles del pool, cantidades, comisiones y recompensas.

    Este servicio cachea metadatos de posiciones en IPFS y sirve el estado de posición calculado (valor en USD, porcentaje de TVL, comisiones no reclamadas) por ID de posición. Soporta posiciones desbloqueadas y bloqueadas en tipos de pools CLMM y CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Obtener metadatos dinámicos para posiciones del Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Obtener datos de posiciones bloqueadas (CLMM y CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Obtener metadatos de posición CLMM"
      description: |-
        Obtiene metadatos completos de posición incluyendo detalles del pool, cantidades de liquidez, comisiones no reclamadas y valoración en USD. Retorna un objeto interfaz NFT dinámico apto para renderizar visuals de posición.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Clave pública de la cuenta de posición (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de posición inválido"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Posición no encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Error del servidor"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Obtener metadatos de posición CLMM bloqueada"
      description: |-
        Obtiene metadatos para una posición CLMM bloqueada. Retorna datos de posición incluyendo duración del bloqueo, comisiones acumuladas y valoración actual.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Clave pública PDA de posición bloqueada (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de posición inválido o desajuste de propietario"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posición no encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Error del servidor"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Obtener metadatos de posición CPMM bloqueada"
      description: |-
        Obtiene metadatos para una posición de Constant Product Market Maker bloqueada. Retorna cantidades de token LP, porcentaje de participación en el pool y comisiones reclamables del bloqueo.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Clave pública PDA de posición CPMM bloqueada (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "ID de posición inválido o desajuste de propietario"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posición no encontrada"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Error del servidor"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Posición CLMM completa con detalles del pool y valoración"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Posición CPMM bloqueada completa con detalles del pool y valoración"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Información del pool Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID del pool"
        programId:
          type: string
          description: "ID del programa propietario del pool"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Valor Total Bloqueado en USD"
        rewardDefaultInfos:
          type: array
          description: "Tokens de recompensa para este pool"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Información del pool Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Precio del token LP en USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Dirección de mint del token"
        decimals:
          type: integer
          description: "Decimales del token"
        symbol:
          type: string
          description: "Símbolo del token"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "Estado de posición CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL de posición como porcentaje del pool (0-100)"
        usdValue:
          type: number
          description: "Valor de posición en USD"
        amountA:
          type: number
          description: "Cantidad de Token A en la posición"
        amountB:
          type: number
          description: "Cantidad de Token B en la posición"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "Estado de posición CPMM bloqueada"
      properties:
        tvlPercentage:
          type: number
          description: "Participación en el pool en porcentaje (0-100)"
        usdValue:
          type: number
          description: "Valor de LP bloqueado en USD"
        amountA:
          type: number
          description: "Cantidad subyacente del Token A"
        amountB:
          type: number
          description: "Cantidad subyacente del Token B"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Comisiones acumuladas pero sin reclamar en la posición CLMM"
      properties:
        amountA:
          type: number
          description: "Comisiones no reclamadas del Token A"
        amountB:
          type: number
          description: "Comisiones no reclamadas del Token B"
        usdFeeValue:
          type: number
          description: "Valor de comisión de trading en USD"
        reward:
          type: array
          items:
            type: number
          description: "Cantidades de recompensa no reclamadas por cada token de recompensa"
        usdRewardValue:
          type: number
          description: "Valor de recompensa en USD"
        usdValue:
          type: number
          description: "Valor total no reclamado en USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP y comisiones reclamables de la posición CPMM bloqueada"
      properties:
        lp:
          type: number
          description: "Cantidad de LP reclamable"
        amountA:
          type: number
          description: "Token A reclamable"
        amountB:
          type: number
          description: "Token B reclamable"
        usdValue:
          type: number
          description: "Valor reclamable en USD"
