openapi: 3.0.3
info:
  title: "API de Foro de Lanzamiento de Raydium"
  description: "API de Discusión para pools de LaunchLab. Publica y recupera comentarios sobre tokens de mint. Requiere encabezado `ray-token` (JWT de Auth API) para operaciones de escritura."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Publica y recupera comentarios de pools"
  - name: Utilities
    description: "Verificaciones de salud"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Publica un comentario en un pool"
      tags:
        - Comments
      description: "Publica un nuevo comentario. Requiere encabezado ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Token JWT de Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "ID de Pool/Mint"
                wallet:
                  type: string
                  description: "Billetera del comentarista"
                text:
                  type: string
                  description: "Texto del comentario (máx. 2000 caracteres)"
                file:
                  type: string
                  format: binary
                  description: "Imagen opcional (máx. 5 MB)"
      responses:
        '200':
          description: "Comentario publicado exitosamente"
        '400':
          description: "Solicitud inválida o violación de contenido"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Obtén comentarios de un pool"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID de Pool/Mint"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Token de paginación"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Incluir contenido NSFW"
      responses:
        '200':
          description: "Comentarios del pool"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Obtén un comentario específico por ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "ID del comentario"
      responses:
        '200':
          description: "Detalles del comentario"
        '500':
          description: "Comentario no encontrado o eliminado"
