openapi: 3.0.3
info:
  title: "API de Historial de Lanzamiento de Raydium"
  description: "Proporciona datos históricos de trading para pools de LaunchLab. Incluye datos de velas (kline) en intervalos de 1 minuto, 5 minutos y 15 minutos, además del historial de operaciones individuales."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Datos de velas OHLC"
  - name: Trades
    description: "Historial de operaciones individuales"
  - name: Utilities
    description: "Verificaciones de salud"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Obtener datos de velas (candlestick)"
      tags:
        - Candle Data
      description: 'Recupera datos de velas OHLC. Rango de límite: 1-500 (predeterminado 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID del pool (dirección de mint)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Token de paginación"
      responses:
        '200':
          description: "Datos de velas con paginación"
  /trade:
    get:
      operationId: getTrade
      summary: "Obtener historial de operaciones"
      tags:
        - Trades
      description: 'Recupera operaciones individuales. Rango de límite: 1-100 (predeterminado 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Filtrar por billetera de trader"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Historial de operaciones con paginación"
