openapi: 3.0.3
info:
  title: "API de autenticación de Raydium Launch"
  description: "Gestiona la autenticación de carteras para las APIs de LaunchLab y Forum. Emite tokens JWT después de verificar firmas de carteras ed25519. Los tokens son necesarios para publicar comentarios y gestionar contenido en la API de Forum."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Solicitar y validar tokens de autenticación"
  - name: Utilities
    description: "Endpoints de verificación de estado"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Solicitar token de autenticación con firma"
      description: 'Firma un mensaje con el formato `{signText}{time}`, donde signText es "Sign in to raydium.io: " y time es la marca de tiempo Unix actual en segundos. La cartera debe firmar este mensaje y enviar la firma para recibir un token JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Marca de tiempo Unix actual en segundos cuando se firmó el mensaje"
                  example: 1704067200
                signature:
                  type: string
                  description: "Firma Ed25519 del mensaje (codificada en base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Clave pública de la cartera Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token emitido correctamente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Parámetros de solicitud inválidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Solicitar token usando transacción de Ledger"
      description: "Solicitud de token alternativa para transacciones firmadas con Ledger. Firma un mensaje con el formato `{signText}{time}` dentro de una transacción."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Marca de tiempo Unix en segundos"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Transacción de Solana con mensaje firmado (codificada en base64)"
                wallet:
                  type: string
                  description: "Clave pública de la cartera Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token emitido correctamente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Validar token de autenticación"
      description: "Verifica que un token sigue siendo válido. También extiende la duración del token si está próximo a expirar."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "El token es válido"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token inválido o expirado"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Revocar token de autenticación"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token revocado"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
