openapi: 3.0.3
info:
  title: "API de Mint Launch de Raydium"
  description: "Proporciona acceso a la creación de mints, clasificaciones, búsqueda y datos históricos para tokens de LaunchLab. Permite buscar por nombre, símbolo, cartera del creador y varias opciones de filtrado."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Buscar y explorar mints"
  - name: Details
    description: "Obtener información de mint"
  - name: User Activity
    description: "Obtener estadísticas de creación y operaciones del usuario"
  - name: Vesting
    description: "Consultar datos de calendario de vesting"
  - name: Configuration
    description: "Configuración y metadatos de plataforma"
  - name: Creation
    description: "Crear nuevos mints y enviar transacciones"
  - name: Utilities
    description: "Verificaciones de salud y estado"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Buscar mints"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Resultados de búsqueda"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Obtener mint destacado principal"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint principal"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Obtener mints recientes destacados"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints recientes"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Obtener detalles del mint"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Detalles del mint"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Obtener mints del usuario"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mints del usuario"
  /get/list:
    get:
      operationId: getGetList
      summary: "Listar mints con ordenamiento"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Lista de mints"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Listar mints de Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints de Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Obtener estadísticas de volumen del usuario"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Estadísticas de volumen"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Obtener estadísticas de creación del usuario"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Estadísticas de creación"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Obtener configuración de plataforma"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Obtener plataformas"
      deprecated: true
      description: "**Endpoint heredado.** Devuelve la lista de plataformas v1. Supersedido por `/campaign/platforms-v2`, que incluye los campos adicionales en los que la interfaz ahora se basa. Las nuevas integraciones deben llamar al endpoint v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Obtener plataformas v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Plataformas v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Enviar creación de mint"
      description: |
        Registra los metadatos fuera de cadena para un nuevo mint de LaunchLab antes de que se envíe su transacción de creación en cadena. La plataforma almacena el nombre/símbolo/uri/enlaces sociales suministrados indexados por mint, de modo que la interfaz pueda mostrarlos mientras la curva de vinculación está activa.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Clave pública del mint (base58) creada en cadena."
                name:
                  type: string
                  description: "Nombre para mostrar en la interfaz de LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Símbolo de ticker."
                  example: MEME
                description:
                  type: string
                  description: "Descripción detallada."
                imageUri:
                  type: string
                  description: "URL HTTPS o URI IPFS para el icono del token."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Clave pública de plataforma que aloja este lanzamiento."
                wallet:
                  type: string
                  description: "Billetera creadora (base58) — debe coincidir con la creadora en cadena."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Obtener mint aleatorio"
      description: |
        Devuelve un keypair de mint fresco y sin usar para la persona que llama. Los filtros opcionales
        permiten que la plataforma pre-genere direcciones vanity con un
        prefijo/sufijo específico.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Prefijo base58 opcional que debe iniciar el mint devuelto."
                suffix:
                  type: string
                  description: "Sufijo base58 opcional que debe terminar el mint devuelto."
                wallet:
                  type: string
                  description: "Billetera creadora opcional, utilizada para rate-limiting."
      responses:
        '200':
          description: "Mint aleatorio"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Dirección mint en base58."
                  privateKey:
                    type: string
                    description: |
                      Clave secreta en base58 para el mint. Debe firmarse en la
                      transacción de creación una sola vez y luego descartarse.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Enviar transacción"
      description: |
        Reenvía una transacción Solana completamente firmada (codificada en base64) en nombre
        del usuario. La interfaz la utiliza para retransmitir las transacciones de creación / compra / venta
        a través del RPC de la plataforma para aumentar las tarifas prioritarias y
        manejar reintentos.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction completamente firmada codificada en base64."
                wallet:
                  type: string
                  description: "Billetera del usuario (base58). Debe coincidir con el pagador de tarifas de la transacción."
                priorityFee:
                  type: integer
                  description: |
                    Anulación de tarifa de prioridad opcional en micro-lamports. Si
                    se omite, la plataforma aplica su política predeterminada.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Firma de la transacción en base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Obtener vesting por IDs"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Cronogramas de vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Obtener vesting del pool"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting del pool"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Obtener vesting del propietario"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting del propietario"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Obtener recompensas de referidor"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Información del referidor"
