openapi: 3.0.3
info:
  title: "API del Propietario"
  description: |
    Obtén saldos por billetera, posiciones y recompensas reclamables en todos los pools de liquidez de Raydium.
    Diseñado para billeteras y dashboards de portafolio, permite obtener datos de ámbito de propietario en una única solicitud.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Obtén saldos de posiciones y estado por billetera"
  - name: Pool Creation
    description: "Obtén pools creados por una billetera"
  - name: IDO
    description: "Obtén datos de participación en IDO"
  - name: Admin
    description: "Endpoints administrativos (uso interno)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Obtén posiciones de stake para una billetera"
      description: |
        Obtén todas las posiciones de stake (AMM estándar o CPMM) propiedad de esta billetera.
        Devuelve datos de posiciones en caché incluyendo montos y recompensas.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clave pública de la billetera (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Estructura de datos de posición (ver respuestas OwnerAPI)"
        '404':
          description: "La billetera no tiene posiciones de stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Obtén posiciones CLMM bloqueadas para una billetera"
      description: |
        Obtén todas las posiciones de Concentrated Liquidity Market Maker bloqueadas propiedad de esta billetera.
        Devuelve el estado de la posición incluyendo montos bloqueados, tiempo de fin del bloqueo y comisiones reclamables.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clave pública de la billetera (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Estructura de datos de posición bloqueada"
        '404':
          description: "La billetera no tiene posiciones CLMM bloqueadas"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Obtén pools creados por una billetera"
      description: |
        Obtén todos los pools CPMM creados (lanzados) por esta billetera.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clave pública de la billetera (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Datos de pools creados"
        '404':
          description: "La billetera no ha creado ningún pool"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Obtén información de participación en IDO para una billetera"
      description: |
        Obtén datos de participación en IDO, incluyendo montos invertidos y estado de reclamación.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clave pública de la billetera (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Datos de participación en IDO"
        '404':
          description: "La billetera no tiene participación en IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Respuesta de error estándar"
      properties:
        id:
          type: string
          description: "ID de solicitud (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
