openapi: 3.0.3
info:
  title: "API de Raydium Perps V1"
  version: 1.0.0
  description: |
    Servicio de configuración y metadatos para Raydium Perpetual Futures. Esta API proporciona configuración de frontend, disponibilidad de activos, restricciones regionales y endpoints RPC. La colocación de órdenes se delega a la API de Orderly Network.

    Todos los endpoints devuelven un envelope estándar:
    - **Éxito**: `{ id: string, success: true, data: {...} }`
    - **Error**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Información del servicio principal (versión, RPCs, estadísticas, verificación de región)."
  - name: Pool
    description: "Configuración del pool de mercado de perps."
  - name: Campaign
    description: "Datos de campañas y tablas de posiciones."
  - name: Share
    description: "Endpoints para compartir posiciones y P&L."

paths:
  /main/info:
    get:
      summary: "Obtener estadísticas del mercado de perps"
      description: "Devuelve volumen de trading de 24h/7d/30d e interés abierto (long/short/total)."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Información del mercado recuperada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Obtener lista de pools de perps predeterminados"
      description: "Devuelve lista de pools de trading perpetuo predeterminados con volumen y estadísticas."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Lista de pools recuperada."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Versión actual estable de UI."
              example: "1.2.0"
            least:
              type: string
              description: "Versión mínima requerida de UI."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Lista de URLs de RPC disponibles."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "Volumen de trading de 24 horas."
                "7d":
                  type: number
                  description: "Volumen de trading de 7 días."
                "30d":
                  type: number
                  description: "Volumen de trading de 30 días."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Interés abierto total en long."
                short:
                  type: number
                  description: "Interés abierto total en short."
                all:
                  type: number
                  description: "Interés abierto combinado."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Si el trading de perps está permitido en la región del usuario."
            country:
              type: string
              description: "Código de país detectado (del header cf-ipcountry)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Clave pública Ed25519 en formato \"ed25519:<clave-codificada-en-base58>\"."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Símbolo del pool (p. ej., BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "Volumen de trading de 24 horas."
              volume7d:
                type: string
                description: "Volumen de trading de 7 días."
              volume30d:
                type: string
                description: "Volumen de trading de 30 días."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Objeto de configuración de campaña con reglas y parámetros."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Rango o posición del usuario en la tabla de posiciones."
                walletAddress:
                  type: string
                  description: "Dirección de wallet enmascarada."
                volume:
                  type: number
                  description: "Volumen total de trading de campaña."
                pnl:
                  type: number
                  description: "Ganancia/pérdida realizada."
                pnlW:
                  type: number
                  description: "P&L ponderado para puntuación."
                score:
                  type: number
                  description: "Puntuación de campaña."
                rewards:
                  type: array
                  description: "Lista de recompensas obtenidas."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Timestamp de última actualización de tabla de posiciones (ms)."
            rows:
              type: array
              description: "Usuarios principales en esta página de tabla de posiciones."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Payload para generación de captura de pantalla de posición actual."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Payload para generación de captura de pantalla de posición cerrada."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "ID del archivo de imagen generado."
            msg:
              type: string
              description: "Mensaje de estado."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Mensaje de error o código."
