openapi: 3.0.3
info:
  title: "API de Transacciones de Raydium (Route V2)"
  version: 1.0.0
  description: |
    Constructor de transacciones de swap del lado del servidor para Solana. Esta API genera transacciones de swap serializadas sin requerir que los clientes ejecuten una conexión RPC o el SDK completo de Raydium.

    Las respuestas siguen un formato de envoltorio estándar:
    - **Éxito**: `{ id: string, success: true, data: {...} }`
    - **Error**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Puntos finales de solo lectura para el cálculo de cotizaciones de swap (sin construcción de transacciones)."
  - name: Transaction
    description: "Construye transacciones de swap serializadas listas para firmar y transmitir."

paths:
  /compute/swap-base-in:
    get:
      summary: "Calcular cotización de swap (entrada base)"
      description: |
        Calcula el monto de salida esperado al hacer swap de un monto de entrada fijo.
        Útil para mostrar una vista previa antes de construir la transacción.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Dirección mint del token de entrada (clave pública codificada en base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Dirección mint del token de salida (clave pública codificada en base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Monto de entrada en lamports (unidad más pequeña de tokens SPL). Debe ser una cadena de entero no negativo."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Tolerancia de slippage máxima en puntos básicos (0–10000). 1 bps = 0,01%."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "Comisión de referidor opcional en puntos básicos (0–10000). Solo se utiliza si tienes una autoridad de referidor."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Versión de transacción de Solana. V0 utiliza tablas de búsqueda de direcciones; LEGACY es el formato tradicional."
          example: V0
      responses:
        "200":
          description: "Cotización de swap calculada correctamente."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Parámetros de entrada inválidos."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Calcular cotización de swap (salida base)"
      description: |
        Calcula el monto de entrada requerido para lograr el monto de salida deseado.
        Útil para swaps donde conoces la salida objetivo.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Dirección mint del token de entrada."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Dirección mint del token de salida."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Monto de salida deseado en la unidad más pequeña (lamports)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Tolerancia de slippage máxima en puntos básicos (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Versión de transacción de Solana."
          example: V0
      responses:
        "200":
          description: "Cotización de swap calculada correctamente."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Parámetros de entrada inválidos."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Construir transacción de swap (entrada base)"
      description: |
        Genera una transacción de swap serializada para un monto de entrada fijo.
        Requiere una respuesta exitosa de `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transacción serializada construida correctamente."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Cuerpo de solicitud inválido o estado de cálculo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Construir transacción de swap (salida base)"
      description: |
        Genera una transacción de swap serializada para un monto de salida deseado.
        Requiere una respuesta exitosa de `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transacción serializada construida correctamente."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Cuerpo de solicitud inválido o estado de cálculo."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identificador único de solicitud (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Si el cálculo fue exitoso."
          example: true
        version:
          type: string
          description: "Versión de respuesta de la API."
          example: "V1"
        data:
          type: object
          description: "Resultado del cálculo de swap."
          properties:
            inputAmount:
              type: string
              description: "Monto de entrada en la unidad más pequeña."
            outputAmount:
              type: string
              description: "Monto de salida esperado (considerando slippage)."
            priceImpact:
              type: string
              description: "Porcentaje de impacto en el precio (p. ej., «0,5» para 0,5%)."
            routes:
              type: array
              description: "Matriz de rutas de swap y pools utilizados."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identificador único de solicitud."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Si la construcción de la transacción fue exitosa."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "Datos de la transacción."
          properties:
            transaction:
              type: string
              description: "Transacción versionada codificada en Base64 (lista para firmar)."
            addressLookupTableAddresses:
              type: array
              description: "Direcciones de la tabla de búsqueda de direcciones (si txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "Dirección de la billetera firmante (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "El objeto de respuesta completo del endpoint de cálculo."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Versión de transacción de Solana."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Precio de unidad de cálculo en micro-lamports (para tarifas de prioridad)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Si se debe envolver SOL si la entrada es SOL nativo."
          example: false
        unwrapSol:
          type: boolean
          description: "Si se debe desenvuelva WSOL a SOL en la salida."
          example: false
        inputAccount:
          type: string
          description: "Dirección de cuenta de token opcional para la entrada. Requerida si no se envuelve SOL."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Dirección de cuenta de token opcional para la salida."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Parámetros opcionales de bundle de Jito para protección contra MEV."
          properties:
            address:
              type: string
              description: "Dirección de envío de bundle de Jito."
            amount:
              type: string
              description: "Cantidad de propina del bundle en lamports."
        referrerWallet:
          type: string
          description: "Dirección de billetera de referidor opcional para recopilación de tarifas."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identificador único de solicitud."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Código de mensaje de error (p. ej., REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
