openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Espacio temporal para endpoints de corta duración que aún no tienen un lugar permanente en la API principal de Raydium.
    Los endpoints de este servicio pueden cambiar, quedar obsoletos o moverse sin previo aviso.

    **Advertencia de estabilidad:** Este servicio prioriza la iteración rápida y ofrece garantías mínimas de estabilidad de API.
    Úsalo solo para rutas no críticas, herramientas internas o funcionalidades en desarrollo activo.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Endpoints temporales (inestables)"
paths:
  /limit-order/order/list:
    get:
      summary: "Lista las órdenes límite CLMM actualmente en espera de una wallet"
      description: |
        Devuelve las órdenes límite CLMM que pertenecen a `wallet` y aún están en cadena — tanto las órdenes completamente sin ejecutar como las parcialmente ejecutadas se devuelven en un único payload. Cada fila es el `LimitOrderState` decodificado en cadena junto con las claves del pool y un importe `pendingSettle` calculado por el indexador a partir del estado del tick más reciente.

        Los datos se sirven desde la caché Redis del indexador y pueden tener un retraso de pocos segundos respecto a la cadena.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clave pública de la wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Cuando está presente, la respuesta también incluye un array `e` con mensajes de fallo no crítico del indexador (p. ej., un pool no encontrado o una entrada de caché de tick-array que provocó que se omitiera una fila).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Solicitud inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Lista las órdenes límite CLMM históricas de una wallet"
      description: |
        Devuelve las órdenes límite CLMM cerradas que pertenecen a `wallet`. Cada fila resume la orden en el momento en que salió del conjunto activo. Paginación por cursor mediante `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clave pública de la wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Cuando se establece en `true`, excluye las órdenes que se cerraron sin haberse ejecutado nunca (es decir, canceladas). Por defecto `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Pool CLMM opcional por el que filtrar. Mutuamente exclusivo con `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Filtro de mint opcional (token A o B). Mutuamente exclusivo con `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Segundo filtro de mint opcional. Mutuamente exclusivo con `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Cursor de paginación opaco devuelto por la página anterior (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Tamaño de página (1–100, por defecto 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Solicitud inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Lista el registro de eventos en cadena para uno o más PDAs de órdenes límite"
      description: |
        Devuelve el registro de eventos (`open`, `increase`, `decrease`, `settle`, `close`) para uno o más PDAs de órdenes límite. Útil para renderizar una línea de tiempo por orden. Paginación por cursor mediante `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Una o más claves públicas PDA de órdenes límite, separadas por comas. Cada una debe ser una pubkey base58 válida.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Cursor de paginación opaco devuelto por la página anterior (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Tamaño de página (1–100, por defecto 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Solicitud inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Obtiene las comisiones acumuladas del creador para una wallet"
      description: |
        Recupera todos los pools CPMM donde esta wallet es el creador, junto con las comisiones de creador acumuladas y no reclamadas por pool. Devuelve un array vacío si la wallet no tiene comisiones de creador en caché.

        **Nota:** Este endpoint almacena en caché los datos del usuario de forma periódica. La actividad de comisiones de creador muy reciente puede no aparecer de inmediato.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clave pública de la wallet (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Dirección de wallet inválida"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Error del servidor"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Array de pools con comisiones de creador acumuladas"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Un único pool CPMM con comisiones de creador acumuladas"
      properties:
        poolInfo:
          type: object
          description: "Metadatos del pool (la estructura varía; consulta la API de pools para el esquema)"
        poolKey:
          type: object
          description: "Clave de configuración del pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Importes de comisiones acumuladas en unidades brutas de token"
      properties:
        amountA:
          type: string
          description: "Importe de comisión del creador para el token A (en unidades mínimas)"
        amountB:
          type: string
          description: "Importe de comisión del creador para el token B (en unidades mínimas)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload para `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "ID de la solicitud (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Opcional. Solo está presente cuando la solicitud se realizó con `showErr`. Cada entrada
                es un mensaje de fallo parcial del indexador (por ejemplo, un pool o entrada de caché de tick-array
                faltante que provocó que se omitiera una fila).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Una única orden limitada actualmente en espera."
      properties:
        pda:
          type: string
          description: "Clave pública de la cuenta LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Tick cuantificado en el que reposa esta orden."
        price:
          type: number
          description: "Precio legible para humanos en `tick`, escalado por los decimales del mint."
        zeroForOne:
          type: boolean
          description: "true = vender token_0, comprar token_1; false = la dirección contraria."
        orderPhase:
          type: string
          description: "u64 en cadena — fase de cohorte FIFO de esta orden en su tick."
        totalAmount:
          type: string
          description: "u64 en cadena — total de input comprometido por la orden."
        filledAmount:
          type: string
          description: "u64 en cadena — input acumulado consumido por swaps hasta el momento."
        openTime:
          type: string
          description: "u64 en cadena — timestamp Unix en que se abrió la orden."
        pendingSettle:
          type: string
          description: "u64 en cadena — cantidad de output actualmente pendiente de entrega al propietario, a la espera de `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 en cadena — réplica de `filledAmount`, devuelta por comodidad del cliente."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Precio actual del pool legible para humanos (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Payload para `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Cursor opaco para la siguiente página; ausente cuando esta es la última página."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Una única orden limitada cerrada, resumida."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Timestamp Unix en que se abrió la orden."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Qué proporción de la orden fue ejecutada antes de cerrarse:
            `NONE` (cancelada sin ejecución), `PARTIAL` o `FULL`.
        orderInputAmountUi:
          type: number
          description: "Cantidad de input original, en unidades legibles (decimales aplicados)."
        orderOutputAmountUi:
          type: number
          description: "Cantidad de output que la orden habría entregado a su tick, en unidades legibles."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Payload para `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Cursor opaco para la siguiente página; ausente cuando esta es la última página."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Una única mutación on-chain observada sobre un PDA de orden limitada."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True si el evento fue ejecutado por el keeper `limit_order_admin`; false si fue firmado por el propietario."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Cambio neto en el balance de input de la orden, en unidades legibles (con signo)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Cambio neto en el output acumulado de la orden, en unidades legibles (con signo)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Mensaje de error"
      required:
        - success
        - msg
