openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3 は、Solana ブロックチェーン上のリクイディティプール・ミント情報・ファーム詳細・IDO プール・チェーンメタデータを照会するための REST エンドポイントを提供します。ウォレット・アグリゲーター・トレーダーが価格フィード・プールデータ・ルーティング情報を取得する際に使用します。"

servers:
  - url: "https://api-v3.raydium.io"
    description: "本番環境（Mainnet）"
  - url: "https://api-v3-devnet.raydium.io"
    description: "開発環境（Devnet）"

tags:
  - name: "Main"
    description: "チェーン情報・TVL・設定に関するコア API エンドポイント"
  - name: "Mint"
    description: "トークンのミント情報と価格"
  - name: "Pools"
    description: "リクイディティプールの情報・キー・履歴データ"
  - name: "Farms"
    description: "ファームプールの情報とキー"
  - name: "IDO"
    description: "IDO プールの情報とキー"

components:
  schemas:
    ApiResponse:
      type: object
      description: "共通レスポンスエンベロープ。`data` フィールドは各エンドポイントのレスポーススキーマが `allOf` を通じて提供するため、ベースエンベロープ上では宣言されません。"
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "リクエスト ID（UUID）"
        success:
          type: boolean
          description: "リクエストが成功したかどうか"
        msg:
          type: string
          description: "success が false の場合のエラーメッセージ"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "メイン統計情報を取得"
      description: "全 Raydium プールの TVL と 24 時間取引量を取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "チェーン時刻オフセットを取得"
      description: "ローカル UTC 時刻と Solana チェーン時刻のオフセットを取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "推定トランザクション手数料を取得"
      description: "オンチェーンコストの推定値（lamports）を取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "RAY ステークプールを取得"
      description: "RAY トークンのステーキングプールを取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "CLMM プール設定を取得"
      description: "集中流動性プールで使用できる設定一覧を取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "CPMM プール設定を取得"
      description: "定積プールで使用できる設定一覧を取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "CLMM ダイナミックフィー設定を取得"
      description: |
        `enableDynamicFee=true` を `CreateCustomizablePool` に渡した際に新規 CLMM プールが選択できる、調整済み `DynamicFeeConfig` ティアの一覧を取得します。各エントリには、ボラティリティ追跡サーチャージを制御するティアごとのパラメーター（フィルター期間・減衰期間・減衰係数・ダイナミックフィー制御・最大ボラティリティアキュムレーター）が含まれます。60 秒キャッシュ。
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "DynamicFeeConfig PDA"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "秒単位。ボラティリティはこのウィンドウ経過後にゼロへ減衰します"
                            decayPeriod:
                              type: integer
                              description: "秒単位。アキュムレーター減衰の実効半減期"
                            reductionFactor:
                              type: integer
                              description: "ステップごとの減衰分子（分母 = 10000）"
                            maxFeeRateNumerator:
                              type: integer
                              description: "ダイナミックフィーサーチャージの上限（分母 = 1_000_000）"
                            dynamicFeeControl:
                              type: integer
                              description: "ティック距離スケーリングの分子（分母 = 100_000）"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "CLMM 指値注文設定を取得"
      description: |
        指値注文をサポートするプールの設定（指値注文の有効・無効、最小注文サイズ、キーパー公開鍵）を取得します。`OpenLimitOrder` を呼び出す前に SDK や UI が使用します。60 秒キャッシュ。
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 文字列形式 — プールが受け付ける最小入力量"
                            limitOrderAdmin:
                              type: string
                              description: "オーナーに代わって注文の決済・クローズを行うことが許可されたオフチェーンの運用キーパー"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "デフォルトミントリストを取得"
      description: "UI のデフォルトミントリスト（メタデータおよびロゴ付き）を取得します。60 秒キャッシュ。"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "ID でミント情報を取得"
      description: "特定のミントアドレスのメタデータを取得します。20秒キャッシュ。"
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "カンマ区切りのミントアドレス"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "ミントの価格を取得"
      description: "ミントトークンの現在のUSD価格を取得します。5秒キャッシュ。"
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "カンマ区切りのミントアドレス"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "IDでプール情報を取得"
      description: "プールIDで詳細なプール情報を取得します。60秒キャッシュ。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "カンマ区切りのプールID"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "LP mintでプールを取得"
      description: "LPトークンアドレスでプール情報を取得します。60秒キャッシュ。"
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "カンマ区切りのLP mintアドレス"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "ページネーション付きでプールを一覧表示"
      deprecated: true
      description: "**レガシーエンドポイント。** フィルタリングおよびソート付きのページネーション対応プール一覧を取得します。60秒キャッシュ。pageSize は1000までに制限されています。既存の連携のために維持されていますが、新規の連携では他の `/pools/info/*` エンドポイントを使用してID・ミントペア・LP mintでプールを検索するか、Transaction APIのインデクサーベースのルーティング機能をご利用ください。"
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "トークンのmintでプールを取得"
      description: "1つまたは2つのトークンのmintでプールをフィルタリングします。mint の順序は内部で正規化されます。60秒キャッシュ。"
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "高度なフィルター付きでプールを一覧表示 (v2)"
      description: "カーソルベースのページネーションによる高度なプール一覧表示。60〜90秒キャッシュ。"
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "プールのオンチェーンキーを取得"
      description: "プールのオンチェーンアカウントキーを取得します。60秒キャッシュ。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "プールのリクイディティ履歴を取得"
      description: "プールの過去のTVLデータを取得します（最大30日間）。300秒キャッシュ。"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "CLMMポジション履歴を取得"
      description: "CLMMプールの過去の価格およびリクイディティデータを取得します。30秒キャッシュ。"
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "IDでファーム情報を取得"
      description: "ファームIDでファームプールの詳細を取得します。60秒キャッシュ。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "LP mintでファームを取得"
      description: "LPトークンのステークアドレスでファームを検索します。ページネーション対応。60秒キャッシュ。"
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "ファームのオンチェーンキーを取得"
      description: "ファームのオンチェーンアカウントキーを取得します。60秒キャッシュ。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "IDOプールキーを取得"
      description: "IDOプールのオンチェーン構造を取得します。20秒キャッシュ。"
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
