openapi: 3.0.3
info:
  title: "Dynamic IPFS API"
  description: |-
    CLMM ポジションの動的 NFT メタデータと画像を再生成します。dApp が リアルタイムのポジションビジュアルと評価データ（プール詳細、金額、手数料、報酬を含む）を取得するために使用されます。

    このサービスは IPFS にポジションメタデータをキャッシュし、ポジション ID による計算済みポジション状態（USD 値、TVL パーセンテージ、未請求手数料）を提供します。CLMM および CPMM プールタイプの両方をサポートしています。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Concentrated Liquidity Market Maker ポジションの動的メタデータを取得"
  - name: Locked Positions
    description: "ロック済みポジションデータを取得（CLMM および CPMM）"
paths:
  /clmm/position:
    get:
      summary: "CLMM ポジションメタデータを取得"
      description: |-
        プール詳細、リクイディティ金額、未請求手数料、USD 評価を含む完全なポジションメタデータを取得します。ポジションビジュアル描画に適した動的 NFT インターフェイスオブジェクトを返します。
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "ポジションアカウント公開鍵（base58）"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "無効なポジション ID"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "ポジションが見つかりません"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "サーバーエラー"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "ロック済み CLMM ポジションメタデータを取得"
      description: |-
        ロック済み CLMM ポジションのメタデータを取得します。ロック期間、累積手数料、現在の評価を含むポジションデータを返します。
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "ロック済みポジション PDA 公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "無効なポジション ID またはオーナー不一致"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "ポジションが見つかりません"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "サーバーエラー"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "ロック済み CPMM ポジションメタデータを取得"
      description: |-
        Constant Product Market Maker ロック済みポジションのメタデータを取得します。LP トークン金額、プール シェア パーセンテージ、ロックからの請求可能手数料を返します。
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "ロック済み CPMM ポジション PDA 公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "無効なポジション ID またはオーナー不一致"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "ポジションが見つかりません"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "サーバーエラー"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "プール詳細と評価を含む完全な CLMM ポジション"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "プール詳細と評価を含む完全な CPMM ロック済みポジション"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker プール情報"
      properties:
        id:
          type: string
          description: "プール ID"
        programId:
          type: string
          description: "プールを所有するプログラム ID"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "USD での Total Value Locked"
        rewardDefaultInfos:
          type: array
          description: "このプールの報酬トークン"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker プール情報"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "USD でのLP トークン価格"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "トークンミントアドレス"
        decimals:
          type: integer
          description: "トークンデシマル"
        symbol:
          type: string
          description: "トークンシンボル"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM ポジション状態"
      properties:
        tvlPercentage:
          type: number
          description: "プールに占めるポジション TVL のパーセンテージ（0-100）"
        usdValue:
          type: number
          description: "USD でのポジション値"
        amountA:
          type: number
          description: "ポジション内のトークン A 金額"
        amountB:
          type: number
          description: "ポジション内のトークン B 金額"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "CPMM ロック済みポジション状態"
      properties:
        tvlPercentage:
          type: number
          description: "プール シェアの割合（0～100）"
        usdValue:
          type: number
          description: "ロックされた LP の USD 価値"
        amountA:
          type: number
          description: "トークン A の基礎となる金額"
        amountB:
          type: number
          description: "トークン B の基礎となる金額"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "CLMM ポジションで累積された未請求フィー"
      properties:
        amountA:
          type: number
          description: "未請求のトークン A フィー"
        amountB:
          type: number
          description: "未請求のトークン B フィー"
        usdFeeValue:
          type: number
          description: "トレーディング フィーの USD 価値"
        reward:
          type: array
          items:
            type: number
          description: "リワード トークンごとの未請求リワード額"
        usdRewardValue:
          type: number
          description: "リワードの USD 価値"
        usdValue:
          type: number
          description: "未請求価値の合計（USD）"

    CPUnclaimedFeeInfo:
      type: object
      description: "ロックされた CPMM ポジションから請求可能な LP およびフィー"
      properties:
        lp:
          type: number
          description: "請求可能な LP 額"
        amountA:
          type: number
          description: "請求可能なトークン A"
        amountB:
          type: number
          description: "請求可能なトークン B"
        usdValue:
          type: number
          description: "請求可能な価値（USD）"
