openapi: 3.0.3
info:
  title: "Raydium Launch Mint API"
  description: "LaunchLab トークンのミント作成、リーダーボード、検索、および履歴データへのアクセスを提供します。名前、シンボル、ウォレットクリエーター、および様々なフィルターオプションによる検索をサポートしています。"
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "ミントの検索と閲覧"
  - name: Details
    description: "ミント情報の取得"
  - name: User Activity
    description: "ユーザー作成およびトレード統計の取得"
  - name: Vesting
    description: "ベスティングスケジュールデータのクエリ"
  - name: Configuration
    description: "プラットフォーム設定とメタデータ"
  - name: Creation
    description: "新しいミントを作成してトランザクションを送信"
  - name: Utilities
    description: "ヘルスチェックとステータス"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "ミントの検索"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "検索結果"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "注目度の高いミントを取得"
      tags:
        - Discovery
      responses:
        '200':
          description: "注目度の高いミント"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "最近の注目ミントを取得"
      tags:
        - Discovery
      responses:
        '200':
          description: "最近のミント"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "ミント詳細を取得"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "ミント詳細"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "ユーザーミントを取得"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "ユーザーミント"
  /get/list:
    get:
      operationId: getGetList
      summary: "ミントをソート付きで一覧表示"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "ミント一覧"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Bonk ミントを一覧表示"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk ミント"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "ユーザーボリューム統計を取得"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "ボリューム統計"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "ユーザー作成統計を取得"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "作成統計"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "プラットフォーム設定を取得"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "プラットフォームを取得"
      deprecated: true
      description: "**レガシーエンドポイント。** v1 プラットフォーム一覧を返します。フロントエンドが現在依存する追加フィールドを持つ `/campaign/platforms-v2` に置き換えられています。新しい統合は v2 エンドポイントを呼び出す必要があります。"
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "プラットフォーム v2 を取得"
      tags:
        - Configuration
      responses:
        '200':
          description: "プラットフォーム v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "ミント作成を送信"
      description: |
        オンチェーンの作成トランザクションが送信される前に、新しい LaunchLab ミントのオフチェーンメタデータを登録します。プラットフォームは提供されたname/symbol/uri/social-linksをミントをキーとして保存し、ボンディングカーブがライブ中に UI に表示できるようにします。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "オンチェーンで作成されたミント公開鍵（base58）。"
                name:
                  type: string
                  description: "LaunchLab UI に表示される表示名。"
                  example: My Memecoin
                symbol:
                  type: string
                  description: "ティッカーシンボル。"
                  example: MEME
                description:
                  type: string
                  description: "長形式の説明。"
                imageUri:
                  type: string
                  description: "トークンアイコンの HTTPS URL または IPFS URI。"
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "このローンチをホストするプラットフォーム公開鍵。"
                wallet:
                  type: string
                  description: "クリエーターウォレット（base58）— オンチェーンのクリエーターと一致する必要があります。"
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "ランダムミントを取得"
      description: |-
        呼び出し元に対して新しい未使用のミントキーペアを返します。オプションのフィルターを使用することで、プラットフォームが特定のプレフィックス・サフィックスを持つバニティアドレスを事前生成できます。
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "返されるミントが開始する必要があるオプションのbase58プレフィックス。"
                suffix:
                  type: string
                  description: "返されるミントが終了する必要があるオプションのbase58サフィックス。"
                wallet:
                  type: string
                  description: "レート制限に使用するオプションのクリエーターウォレット。"
      responses:
        '200':
          description: "ランダムミント"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58ミントアドレス。"
                  privateKey:
                    type: string
                    description: |-
                      ミントのBase58秘密鍵。作成トランザクションに1回署名した後、破棄する必要があります。
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "トランザクションを送信"
      description: |-
        呼び出し元の代わりに、完全に署名されたSolanaトランザクション（base64エンコード）を転送します。UIがプラットフォームのRPCを通じて作成・購入・売却トランザクションを中継し、優先度手数料の上乗せと再試行処理を行うために使用されます。
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64エンコードされた完全に署名されたVersionedTransaction。"
                wallet:
                  type: string
                  description: "呼び出し元ウォレット（base58）。トランザクションの手数料支払者と一致する必要があります。"
                priorityFee:
                  type: integer
                  description: |-
                    マイクロランポート単位のオプションの優先度手数料オーバーライド。省略された場合、プラットフォームはデフォルトのポリシーを適用します。
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58トランザクション署名。"
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "IDでベスティングスケジュールを取得"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "ベスティングスケジュール"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "プールベスティングを取得"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "プールベスティング"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "オーナーベスティングを取得"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "オーナーベスティング"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "リファラー報酬を取得"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "リファラー情報"
