openapi: 3.0.3
info:
  title: "Raydium Launch Forum API"
  description: "LaunchLab プール向けの Discussion API。ミントトークンへのコメント投稿・取得が可能です。書き込み操作には `ray-token` ヘッダー（Auth API から取得した JWT）が必要です。"
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "プールのコメント投稿・取得"
  - name: Utilities
    description: "ヘルスチェック"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "プールへのコメント投稿"
      tags:
        - Comments
      description: "新しいコメントを投稿します。ray-token ヘッダーが必要です。"
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Auth API から取得した JWT トークン"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "プール・ミント ID"
                wallet:
                  type: string
                  description: "コメント者のウォレット"
                text:
                  type: string
                  description: "コメントテキスト（最大 2000 文字）"
                file:
                  type: string
                  format: binary
                  description: "オプション画像（最大 5MB）"
      responses:
        '200':
          description: "コメントが正常に投稿されました"
        '400':
          description: "無効なリクエストまたはコンテンツ違反"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "プールのコメント取得"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "プール・ミント ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "ページネーショントークン"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "NSFW コンテンツを含める"
      responses:
        '200':
          description: "プールのコメント"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "ID でコメント取得"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "コメント ID"
      responses:
        '200':
          description: "コメント詳細"
        '500':
          description: "コメントが見つからないか削除されています"
