openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "LaunchLabおよびForum APIのウォレット認証を管理します。ed25519ウォレット署名を検証した後、JWTトークンを発行します。トークンはForum APIにコメントを投稿したりコンテンツを管理したりするために必須です。"
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "認証トークンのリクエストと検証"
  - name: Utilities
    description: "ヘルスチェックエンドポイント"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "署名を使用して認証トークンをリクエストする"
      description: '`{signText}{time}`形式でメッセージに署名します。ここでsignTextは「Sign in to raydium.io: 」でtimeは現在のUnixタイムスタンプ（秒単位）です。ウォレットはこのメッセージに署名し、JWTトークンを受け取るための署名をサブミットする必要があります。'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "メッセージに署名した時刻のUnixタイムスタンプ（秒単位）"
                  example: 1704067200
                signature:
                  type: string
                  description: "メッセージのEd25519署名（base58エンコード）"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Solanaウォレットの公開鍵"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "トークンが正常に発行されました"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "無効なリクエストパラメータ"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Ledgerトランザクションを使用してトークンをリクエストする"
      description: "Ledger署名済みトランザクション向けの代替トークンリクエスト。トランザクション内で`{signText}{time}`形式のメッセージに署名します。"
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unixタイムスタンプ（秒単位）"
                  example: 1704067200
                transaction:
                  type: string
                  description: "署名済みメッセージを含むSolanaトランザクション（base64エンコード）"
                wallet:
                  type: string
                  description: "Solanaウォレットの公開鍵"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "トークンが正常に発行されました"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "認証トークンを検証する"
      description: "トークンがまだ有効であることを確認します。有効期限が近い場合はトークンの有効期間を延長します。"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "トークンは有効です"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "トークンが無効または有効期限切れです"
  /del-token:
    get:
      operationId: getDelToken
      summary: "認証トークンを無効化する"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "トークンが無効化されました"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
