openapi: 3.0.3
info:
  title: "Raydium Launch History API"
  description: "LaunchLabプールの過去トレーディングデータを提供します。1分・5分・15分間隔のキャンドルデータと個別トレード履歴が含まれます。"
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "OHLCキャンドルスティックデータ"
  - name: Trades
    description: "個別トレード履歴"
  - name: Utilities
    description: "ヘルスチェック"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "キャンドル（OHLC）データを取得"
      tags:
        - Candle Data
      description: 'OHLC キャンドルデータを取得します。リミット範囲：1～500（デフォルト300）。'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "プール ID（ミント アドレス）"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "ページネーション トークン"
      responses:
        '200':
          description: "ページネーション付きキャンドルデータ"
  /trade:
    get:
      operationId: getTrade
      summary: "トレード履歴を取得"
      tags:
        - Trades
      description: '個別トレードを取得します。リミット範囲：1～100（デフォルト50）。'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "トレーダー ウォレットでフィルター"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "ページネーション付きトレード履歴"
