openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    Raydiumのリクイディティプール全体で、ウォレット単位のバランス、ポジション、クレーム可能なリワードを取得します。
    ウォレットとポートフォリオダッシュボード向けに設計されており、オーナースコープのデータを単一リクエストで取得できます。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "ウォレット単位のポジションバランスとステートを取得"
  - name: Pool Creation
    description: "ウォレットが作成したプールを取得"
  - name: IDO
    description: "IDO参加データを取得"
  - name: Admin
    description: "管理用エンドポイント（内部使用）"
paths:
  /position/stake/{owner}:
    get:
      summary: "ウォレットのステークポジションを取得"
      description: |
        このウォレットが所有するすべてのステーク（標準AMM、またはCPMM）ポジションを取得します。
        金額とリワードを含むキャッシュされたポジションデータを返します。
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "ウォレット公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "ポジションデータ構造（Owner APIレスポンスを参照）"
        '404':
          description: "ウォレットにステークポジションがありません"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "ロック済みCLMMポジションをウォレットから取得"
      description: |
        このウォレットが所有するすべてのロック済みConcentrated Liquidity Market Makerポジションを取得します。
        ロック済み金額、ロック解除時間、クレーム可能フィーを含むポジション状態を返します。
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "ウォレット公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "ロック済みポジションデータ構造"
        '404':
          description: "ウォレットにロック済みCLMMポジションがありません"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "ウォレットが作成したプールを取得"
      description: |
        このウォレットが作成（ローンチ）したすべてのCPMMプールを取得します。
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "ウォレット公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "作成済みプールデータ"
        '404':
          description: "ウォレットは作成したプールがありません"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "ウォレットのIDO参加情報を取得"
      description: |
        投資金額とクレームステータスを含むIDO参加データを取得します。
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "ウォレット公開鍵（base58）"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO参加データ"
        '404':
          description: "ウォレットはIDO参加がありません"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "標準エラーレスポンス"
      properties:
        id:
          type: string
          description: "リクエストID（UUID）"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
