openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Raydium 永続先物のコンフィギュレーションおよびメタデータサービス。このAPIはフロントエンドコンフィギュレーション、アセット可用性、地域制限、およびRPCエンドポイントを提供します。オーダー配置はOrderly NetworkのAPIに委譲されます。

    すべてのエンドポイントは標準的なエンベロープを返します：
    - **成功**: `{ id: string, success: true, data: {...} }`
    - **エラー**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "コアサービス情報（バージョン、RPC、統計、地域チェック）。"
  - name: Pool
    description: "Perp マーケットプールのコンフィギュレーション。"
  - name: Campaign
    description: "キャンペーンおよびリーダーボードデータ。"
  - name: Share
    description: "ポジションおよび P&L シェアリングエンドポイント。"

paths:
  /main/info:
    get:
      summary: "Perp マーケット統計を取得"
      description: "24時間・7日・30日の取引高とオープン利息（ロング・ショート・合計）を返します。"
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "マーケット情報を取得しました。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "デフォルト Perp プールリストを取得"
      description: "取引高および統計を含むデフォルト永続取引プールのリストを返します。"
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "プールリストを取得しました。"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "現在の安定した UI バージョン。"
              example: "1.2.0"
            least:
              type: string
              description: "最小必須 UI バージョン。"
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "利用可能な RPC URL のリスト。"
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "24時間取引高。"
                "7d":
                  type: number
                  description: "7日間取引高。"
                "30d":
                  type: number
                  description: "30日間取引高。"
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "合計ロングオープン利息。"
                short:
                  type: number
                  description: "合計ショートオープン利息。"
                all:
                  type: number
                  description: "統合オープン利息。"

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "ユーザーの地域で Perp 取引が許可されているかどうか。"
            country:
              type: string
              description: "検出された国コード（cf-ipcountry ヘッダーから）。"

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "形式「ed25519:<base58-encoded-key>」の Ed25519 公開鍵。"
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "プールシンボル（例：BTC/USDC）。"
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "24時間取引高。"
              volume7d:
                type: string
                description: "7日間取引高。"
              volume30d:
                type: string
                description: "30日間取引高。"

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "ルールおよびパラメータを含むキャンペーンコンフィギュレーションオブジェクト。"

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "ユーザーのランクまたはリーダーボード順位。"
                walletAddress:
                  type: string
                  description: "マスクされたウォレットアドレス。"
                volume:
                  type: number
                  description: "合計キャンペーン取引高。"
                pnl:
                  type: number
                  description: "実現利益・損失。"
                pnlW:
                  type: number
                  description: "スコアリング用の加重 P&L。"
                score:
                  type: number
                  description: "キャンペーンスコア。"
                rewards:
                  type: array
                  description: "獲得したリワードのリスト。"
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "リーダーボード最終更新タイムスタンプ（ミリ秒）。"
            rows:
              type: array
              description: "このリーダーボードページのトップユーザー。"
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "現在のポジションスクリーンショット生成用のペイロード。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "クローズされたポジションスクリーンショット生成用のペイロード。"
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "生成された画像ファイルID。"
            msg:
              type: string
              description: "ステータスメッセージ。"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "エラーメッセージまたはコード。"
