openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Raydium APIのメインカテゴリに属さない短命エンドポイントの一時置き場です。
    このサービス内のエンドポイントは予告なく変更・非推奨化・移動される場合があります。

    **安定性に関する警告:** このサービスは迅速なイテレーションを優先しており、API安定性の保証は最小限です。
    非クリティカルなパス・内部ツール・開発中の機能にのみ使用してください。
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "一時エンドポイント（不安定）"
paths:
  /limit-order/order/list:
    get:
      summary: "ウォレットの現在のCLMMリミットオーダー一覧を取得"
      description: |
        `wallet` が所有するオンチェーンに存在するCLMMリミットオーダーを返します。未約定・一部約定のオーダーをまとめて1つのペイロードで返します。各行はデコード済みオンチェーン `LimitOrderState` にプールキーと、インデクサーが最新のティック状態から算出した `pendingSettle` 金額を加えたものです。

        データはインデクサーのRedisキャッシュから提供されるため、チェーンより数秒遅延する場合があります。
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "ウォレットの公開鍵（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            このパラメータが指定されると、レスポンスにインデクサーのソフトエラーメッセージ（例：プールやティック配列のキャッシュエントリが見つからずスキップされた行など）を含む `e` 配列も含まれます。
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "リクエストが無効です"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "サーバーエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "ウォレットの過去のCLMMリミットオーダー履歴を取得"
      description: |
        `wallet` が所有するクローズ済みCLMMリミットオーダーを返します。各行はオーダーがアクティブセットから外れた時点の情報を要約したものです。`nextPageId` によるカーソルページネーションに対応しています。
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "ウォレットの公開鍵（base58）"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            `true` に設定すると、一度も約定せずにクローズされたオーダー（キャンセル済み）を除外します。デフォルトは `false` です。
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "絞り込み対象のCLMM プール（任意）。`mint1` / `mint2` とは同時に使用できません。"
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "ミントフィルター（トークンAまたはB）（任意）。`poolId` とは同時に使用できません。"
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "2つ目のミントフィルター（任意）。`poolId` とは同時に使用できません。"
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "前のページが返した不透明なページネーションカーソル（TTL 約1時間）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "ページサイズ（1〜100、デフォルト20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "リクエストが無効です"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "サーバーエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "1つ以上のリミットオーダーPDAのオンチェーンイベントログを取得"
      description: |
        1つ以上のリミットオーダーPDAのイベントログ（`open`・`increase`・`decrease`・`settle`・`close`）を返します。オーダーごとのタイムラインを表示する際に有用です。`nextPageId` によるカーソルページネーションに対応しています。
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            カンマ区切りの1つ以上のリミットオーダーPDA公開鍵。各値は有効なbase58形式の公開鍵である必要があります。
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "前のページが返した不透明なページネーションカーソル（TTL 約1時間）。"
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "ページサイズ（1〜100、デフォルト20）。"
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "リクエストが無効です"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "サーバーエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "ウォレットの累積クリエイターフィーを取得"
      description: |
        このウォレットがクリエイターであるすべてのCPMMプールと、各プールの未請求の累積クリエイターフィーを取得します。クリエイターフィーのキャッシュがない場合は空配列を返します。

        **注意:** このエンドポイントはユーザーデータを定期的にキャッシュします。直近のクリエイターフィーのアクティビティはすぐに反映されない場合があります。
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "ウォレットの公開鍵（base58）"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "ウォレットアドレスが無効です"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "サーバーエラー"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "累積クリエイターフィーを持つプールの配列"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "累積クリエイターフィーを持つ1つのCPMMプール"
      properties:
        poolInfo:
          type: object
          description: "プールのメタデータ（構造は可変。スキーマはpools APIを参照）"
        poolKey:
          type: object
          description: "プールのコンフィグキー"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "生のトークン単位での累積フィー金額"
      properties:
        amountA:
          type: string
          description: "トークンAのクリエイターフィー金額（最小単位）"
        amountB:
          type: string
          description: "トークンBのクリエイターフィー金額（最小単位）"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "`/limit-order/order/list` のペイロード。"
      properties:
        id:
          type: string
          description: "リクエストID（UUID）"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                任意。`showErr` を指定したリクエストの場合のみ存在します。インデクサーからのソフトエラーメッセージ（例：存在しないプールやティック配列のキャッシュエントリにより行がスキップされた場合など）の一覧です。
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "現在保留中の単一の指値注文。"
      properties:
        pda:
          type: string
          description: "LimitOrderState アカウントの公開鍵"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "この注文が存在するティック（量子化済み）。"
        price:
          type: number
          description: "`tick` における人間が読める価格（ミントのデシマルでスケーリング済み）。"
        zeroForOne:
          type: boolean
          description: "true = token_0 を売り token_1 を買う、false = その逆方向。"
        orderPhase:
          type: string
          description: "u64 文字列 — このティックにおける注文の FIFO コホートフェーズ。"
        totalAmount:
          type: string
          description: "u64 文字列 — 注文によってコミットされた合計入力量。"
        filledAmount:
          type: string
          description: "u64 文字列 — スワップによって消費された累積入力量。"
        openTime:
          type: string
          description: "u64 文字列 — 注文が作成された unix タイムスタンプ。"
        pendingSettle:
          type: string
          description: "u64 文字列 — `SettleLimitOrder` 待ちの、オーナーに支払われるべき現在の出力量。"
        filledAmountUpdate:
          type: string
          description: "u64 文字列 — `filledAmount` のミラー値。クライアントの利便性のために返されます。"
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "人間が読める現在のプール価格（token_1 / token_0）。"
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "`/limit-order/history/order/list-by-user` のペイロード。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "次ページ用の不透明なカーソル。最終ページの場合は含まれません。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "クローズ済みの単一の指値注文の概要。"
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "注文が作成された unix タイムスタンプ。"
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            クローズ前に最終的に約定した割合：
            `NONE`（約定ゼロでキャンセル）、`PARTIAL`、または `FULL`。
        orderInputAmountUi:
          type: number
          description: "元の入力量（デシマル適用済みの人間が読める単位）。"
        orderOutputAmountUi:
          type: number
          description: "ティックにおいて注文が支払うはずだった出力量（デシマル適用済みの人間が読める単位）。"
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "`/limit-order/history/event/list-by-pda` のペイロード。"
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "次ページ用の不透明なカーソル。最終ページの場合は含まれません。"
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "指値注文 PDA に対してオンチェーンで観測された単一のミューテーションイベント。"
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "true = `limit_order_admin` キーパーによって実行されたイベント、false = オーナーによって署名されたイベント。"
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "注文の入力残高への正味変化量（人間が読める単位、符号付き）。"
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "注文の累積出力への正味変化量（人間が読める単位、符号付き）。"
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "エラーメッセージ"
      required:
        - success
        - msg
