openapi: 3.0.3
info:
  title: "API V1 V2 (Cũ)"
  description: |-
    API Raydium cũ phục vụ thông tin pool, giá cả, dữ liệu SDK và chi tiết farm.
    Chủ yếu dùng để đảm bảo tương thích ngược và cho các SDK client.

    **Chuyển sang API v3:** Hầu hết các endpoint ở đây có phiên bản mới hơn trong [API v3](/en/api-reference/api-v3).
    Đối với các tích hợp mới, hãy ưu tiên các endpoint v3 mang lại hiệu năng và độ ổn định tốt hơn.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Chỉ Mainnet"
tags:
  - name: Ray Token
    description: "Các endpoint cấp phát RAY token"
paths:
  /ray/totalcoins:
    get:
      summary: "Lấy tổng cấp phát RAY"
      description: "Tìm nạp tổng cấp phát coin token RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Tổng cấp phát dưới dạng số văn bản thuần"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Lấy lượng RAY lưu thông"
      description: "Tìm nạp lượng token RAY lưu thông."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Lượng lưu thông dưới dạng số văn bản thuần"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID yêu cầu"
        success:
          type: boolean
          example: false
