openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3 cung cấp các REST endpoint để truy vấn liquidity pool, thông tin mint, chi tiết farm, IDO pool và metadata chuỗi cho blockchain Solana. Được sử dụng bởi ví, aggregator và trader để lấy nguồn cấp giá, dữ liệu pool và thông tin định tuyến."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Môi trường Production (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Môi trường Development (Devnet)"

tags:
  - name: "Main"
    description: "Các API endpoint cốt lõi cho thông tin chuỗi, TVL và cấu hình"
  - name: "Mint"
    description: "Thông tin token mint và giá"
  - name: "Pools"
    description: "Thông tin liquidity pool, khóa và dữ liệu lịch sử"
  - name: "Farms"
    description: "Thông tin farm pool và khóa"
  - name: "IDO"
    description: "Thông tin IDO pool và khóa"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Phong bì phản hồi chung. Trường `data` được cung cấp bởi schema phản hồi của từng endpoint thông qua `allOf` và do đó không được khai báo trên phong bì cơ sở."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "ID yêu cầu (UUID)"
        success:
          type: boolean
          description: "Cho biết yêu cầu có thành công hay không"
        msg:
          type: string
          description: "Thông báo lỗi nếu success là false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Lấy thống kê chính"
      description: "Truy xuất TVL và khối lượng giao dịch 24 giờ cho tất cả các pool của Raydium. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Lấy độ lệch thời gian chuỗi"
      description: "Lấy độ lệch giữa thời gian UTC cục bộ và thời gian chuỗi Solana. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Lấy phí giao dịch ước tính"
      description: "Truy xuất chi phí on-chain ước tính (lamports). Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Lấy danh sách RAY stake pool"
      description: "Truy xuất các pool staking token RAY. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Lấy cấu hình CLMM pool"
      description: "Truy xuất các cấu hình được phép cho concentrated liquidity pool. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Lấy cấu hình CPMM pool"
      description: "Truy xuất các cấu hình được phép cho constant-product pool. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Lấy cấu hình phí động CLMM"
      description: |
        Truy xuất các bậc `DynamicFeeConfig` đã được hiệu chỉnh mà một CLMM pool mới có thể chọn khi
        `enableDynamicFee=true` được truyền vào `CreateCustomizablePool`. Mỗi mục hiển thị các tham số theo từng bậc (filter period, decay period, reduction factor, kiểm soát phí động, max volatility accumulator) điều chỉnh phụ phí theo dõi biến động.
        Được cache trong 60 giây.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA của DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Giây; độ biến động giảm dần về 0 sau khoảng thời gian này"
                            decayPeriod:
                              type: integer
                              description: "Giây; chu kỳ bán rã đầy đủ của accumulator decay"
                            reductionFactor:
                              type: integer
                              description: "Tử số decay theo từng bước (mẫu số = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Giới hạn phụ phí động (mẫu số = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Tử số co giãn theo khoảng tick (mẫu số = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Lấy cấu hình limit order CLMM"
      description: |
        Truy xuất cấu hình limit order theo từng pool (cho biết limit order có được bật hay không, kích thước lệnh tối thiểu và public key của keeper) cho các pool hỗ trợ limit order. Được sử dụng bởi SDK và UI trước khi gọi `OpenLimitOrder`. Được cache trong 60 giây.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 dạng chuỗi — đầu vào tối thiểu mà pool chấp nhận"
                            limitOrderAdmin:
                              type: string
                              description: "Keeper vận hành off-chain được ủy quyền để thanh toán/đóng lệnh thay mặt chủ sở hữu"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Lấy danh sách mint mặc định"
      description: "Truy xuất danh sách mint mặc định của UI kèm metadata và logo. Được cache trong 60 giây."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Lấy thông tin mint theo ID"
      description: "Lấy metadata cho các địa chỉ mint cụ thể. Được cache 20 giây."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Các địa chỉ mint phân cách bằng dấu phẩy"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Lấy giá mint"
      description: "Lấy giá USD hiện tại cho các token mint. Được cache 5 giây."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Các địa chỉ mint phân cách bằng dấu phẩy"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Lấy thông tin pool theo ID"
      description: "Lấy thông tin chi tiết của pool theo pool ID. Được cache 60 giây."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "Các pool ID phân cách bằng dấu phẩy"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Lấy pool theo LP mint"
      description: "Lấy thông tin pool theo địa chỉ token LP. Được cache 60 giây."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Các địa chỉ LP mint phân cách bằng dấu phẩy"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Liệt kê pool theo trang"
      deprecated: true
      description: "**Endpoint cũ.** Lấy danh sách pool theo trang với bộ lọc và sắp xếp. Được cache 60 giây. pageSize giới hạn 1000. Được giữ lại để tương thích với các tích hợp hiện có; các tích hợp mới nên truy vấn pool theo ID, cặp mint hoặc LP mint thông qua các endpoint `/pools/info/*` khác, hoặc sử dụng Transaction API."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Lấy pool theo token mint"
      description: "Lọc pool theo một hoặc hai token mint. Thứ tự mint được chuẩn hóa nội bộ. Được cache 60 giây."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Liệt kê pool với bộ lọc nâng cao (v2)"
      description: "Liệt kê pool nâng cao với phân trang dựa trên con trỏ. Được cache 60–90 giây."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Lấy khóa on-chain của pool"
      description: "Lấy các khóa tài khoản on-chain của pool. Được cache 60 giây."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Lấy lịch sử thanh khoản của pool"
      description: "Lấy dữ liệu TVL lịch sử của pool (tối đa 30 ngày). Được cache 300 giây."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Lấy lịch sử vị thế CLMM"
      description: "Lấy dữ liệu giá và thanh khoản lịch sử cho các pool CLMM. Được cache 30 giây."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Lấy thông tin farm theo ID"
      description: "Lấy thông tin chi tiết farm pool theo farm ID. Được cache 60 giây."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Lấy farm theo LP mint"
      description: "Tìm kiếm farm theo địa chỉ stake token LP. Hỗ trợ phân trang. Được cache 60 giây."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Lấy khóa on-chain của farm"
      description: "Lấy các khóa tài khoản on-chain của farm. Được cache 60 giây."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Lấy khóa pool IDO"
      description: "Lấy cấu trúc on-chain của pool IDO. Được cache 20 giây."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
