openapi: 3.0.3
info:
  title: "API IPFS Động"
  description: |
    Tái tạo siêu dữ liệu và hình ảnh NFT động cho các vị trí CLMM. Được sử dụng bởi các dApps để lấy dữ liệu hình ảnh vị trí và định giá theo thời gian thực, bao gồm chi tiết pool, số tiền, phí và phần thưởng.

    Dịch vụ này lưu trữ siêu dữ liệu vị trí trong IPFS và cung cấp trạng thái vị trí được tính toán (giá trị USD, phần trăm TVL, phí chưa yêu cầu) theo ID vị trí. Hỗ trợ cả các vị trí mở khóa và bị khóa trên các loại pool CLMM và CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Lấy siêu dữ liệu động cho các vị trí Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Lấy dữ liệu vị trí bị khóa (CLMM và CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Lấy siêu dữ liệu vị trí CLMM"
      description: |
        Lấy đầy đủ siêu dữ liệu vị trí bao gồm chi tiết pool, số lượng thanh khoản, phí chưa yêu cầu và định giá USD. Trả về đối tượng giao diện NFT động phù hợp để hiển thị hình ảnh vị trí.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Khóa công khai tài khoản vị trí (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID vị trí không hợp lệ"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Không tìm thấy vị trí"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Lỗi máy chủ"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Lấy siêu dữ liệu vị trí CLMM bị khóa"
      description: |
        Lấy siêu dữ liệu cho một vị trí CLMM bị khóa. Trả về dữ liệu vị trí bao gồm thời gian khóa, phí tích lũy và định giá hiện tại.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Khóa công khai PDA vị trí bị khóa (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID vị trí không hợp lệ hoặc chủ sở hữu không khớp"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Không tìm thấy vị trí"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Lỗi máy chủ"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Lấy siêu dữ liệu vị trí CPMM bị khóa"
      description: |
        Lấy siêu dữ liệu cho một vị trí Constant Product Market Maker bị khóa. Trả về số lượng token LP, phần trăm chia sẻ pool và phí có thể yêu cầu từ khóa.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Khóa công khai PDA vị trí CPMM bị khóa (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "ID vị trí không hợp lệ hoặc chủ sở hữu không khớp"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Không tìm thấy vị trí"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Lỗi máy chủ"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Vị trí CLMM hoàn chỉnh với chi tiết pool và định giá"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Vị trí CPMM bị khóa hoàn chỉnh với chi tiết pool và định giá"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Thông tin pool Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID Pool"
        programId:
          type: string
          description: "ID chương trình sở hữu pool"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Tổng Giá Trị Khóa tính bằng USD"
        rewardDefaultInfos:
          type: array
          description: "Token thưởng cho pool này"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Thông tin pool Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Giá token LP tính bằng USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Địa chỉ mint token"
        decimals:
          type: integer
          description: "Số thập phân token"
        symbol:
          type: string
          description: "Ký hiệu token"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "Trạng thái vị trí CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL vị trí dưới dạng phần trăm của pool (0-100)"
        usdValue:
          type: number
          description: "Giá trị vị trí tính bằng USD"
        amountA:
          type: number
          description: "Số lượng Token A trong vị trí"
        amountB:
          type: number
          description: "Số lượng Token B trong vị trí"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "Trạng thái vị trí CPMM bị khóa"
      properties:
        tvlPercentage:
          type: number
          description: "Cổ phần pool dưới dạng phần trăm (0-100)"
        usdValue:
          type: number
          description: "Giá trị LP bị khóa tính bằng USD"
        amountA:
          type: number
          description: "Số lượng Token A cơ bản"
        amountB:
          type: number
          description: "Số lượng Token B cơ bản"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Phí đã tích lũy nhưng chưa được yêu cầu rút trong vị trí CLMM"
      properties:
        amountA:
          type: number
          description: "Phí Token A chưa được yêu cầu rút"
        amountB:
          type: number
          description: "Phí Token B chưa được yêu cầu rút"
        usdFeeValue:
          type: number
          description: "Giá trị phí giao dịch tính bằng USD"
        reward:
          type: array
          items:
            type: number
          description: "Số lượng reward chưa được yêu cầu rút cho mỗi token reward"
        usdRewardValue:
          type: number
          description: "Giá trị reward tính bằng USD"
        usdValue:
          type: number
          description: "Tổng giá trị chưa được yêu cầu rút tính bằng USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP và phí có thể yêu cầu rút từ vị trí CPMM bị khóa"
      properties:
        lp:
          type: number
          description: "Số lượng LP có thể yêu cầu rút"
        amountA:
          type: number
          description: "Token A có thể yêu cầu rút"
        amountB:
          type: number
          description: "Token B có thể yêu cầu rút"
        usdValue:
          type: number
          description: "Giá trị có thể yêu cầu rút tính bằng USD"
