openapi: 3.0.3
info:
  title: "API Mint LaunchLab của Raydium"
  description: "Cung cấp quyền truy cập để tạo mint, bảng xếp hạng, tìm kiếm và dữ liệu lịch sử cho các token LaunchLab. Hỗ trợ tìm kiếm theo tên, ký hiệu, ví người tạo và các tùy chọn lọc khác nhau."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Tìm kiếm và duyệt mint"
  - name: Details
    description: "Lấy thông tin mint"
  - name: User Activity
    description: "Nhận thống kê tạo mint và giao dịch của người dùng"
  - name: Vesting
    description: "Truy vấn dữ liệu lịch phát hành"
  - name: Configuration
    description: "Cấu hình nền tảng và siêu dữ liệu"
  - name: Creation
    description: "Tạo mint mới và gửi giao dịch"
  - name: Utilities
    description: "Kiểm tra sức khỏe và trạng thái"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Tìm kiếm mint"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Kết quả tìm kiếm"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Lấy mint hàng đầu nổi bật"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint hàng đầu"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Lấy mint gần đây nổi bật"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint gần đây"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Lấy chi tiết mint"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Chi tiết mint"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Lấy mint của người dùng"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mint của người dùng"
  /get/list:
    get:
      operationId: getGetList
      summary: "Liệt kê mint với sắp xếp"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Danh sách mint"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Liệt kê mint Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Nhận thống kê khối lượng người dùng"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Thống kê khối lượng"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Nhận thống kê tạo người dùng"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Thống kê tạo"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Nhận cấu hình nền tảng"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Lấy nền tảng"
      deprecated: true
      description: "**Endpoint cũ.** Trả về danh sách nền tảng v1. Được thay thế bằng `/campaign/platforms-v2`, mang theo các trường bổ sung mà giao diện người dùng hiện phụ thuộc vào. Các tích hợp mới nên gọi endpoint v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Lấy nền tảng v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Nền tảng v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Gửi tạo mint"
      description: |
        Đăng ký siêu dữ liệu ngoài chuỗi cho một mint LaunchLab mới trước khi
        giao dịch tạo on-chain của nó được gửi. Nền tảng lưu trữ tên/ký hiệu/uri/liên kết
        xã hội được cung cấp được khóa bằng mint, để giao diện người dùng có thể hiển thị
        chúng trong khi đường cong bonding hoạt động.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Công khai mint (base58) được tạo on-chain."
                name:
                  type: string
                  description: "Tên hiển thị trong giao diện LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Ký hiệu thị trường."
                  example: MEME
                description:
                  type: string
                  description: "Mô tả dạng dài."
                imageUri:
                  type: string
                  description: "URL HTTPS hoặc URI IPFS cho biểu tượng token."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Công khai nền tảng lưu trữ lần phát hành này."
                wallet:
                  type: string
                  description: "Ví người tạo (base58) — phải khớp với người tạo trên chuỗi."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Lấy mint ngẫu nhiên"
      description: |
        Trả về một keypair mint mới, chưa sử dụng cho người gọi. Các bộ lọc tùy chọn cho phép nền tảng tạo trước các địa chỉ vanity với tiền tố/hậu tố cụ thể.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Tiền tố base58 tùy chọn mà mint được trả về phải bắt đầu bằng."
                suffix:
                  type: string
                  description: "Hậu tố base58 tùy chọn mà mint được trả về phải kết thúc bằng."
                wallet:
                  type: string
                  description: "Ví người tạo tùy chọn, dùng để giới hạn tốc độ."
      responses:
        '200':
          description: "Mint ngẫu nhiên"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Địa chỉ mint base58."
                  privateKey:
                    type: string
                    description: |
                      Khóa bí mật base58 cho mint. Phải được ký vào giao dịch tạo một lần rồi bị hủy.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Gửi giao dịch"
      description: |
        Chuyển tiếp một giao dịch Solana đã ký đầy đủ (mã hóa base64) thay cho người gọi. Được UI sử dụng để chuyển tiếp các giao dịch tạo/mua/bán qua RPC của nền tảng để nâng cao phí ưu tiên và xử lý thử lại.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction đã ký đầy đủ, mã hóa base64."
                wallet:
                  type: string
                  description: "Ví người gọi (base58). Phải khớp với người trả phí của giao dịch."
                priorityFee:
                  type: integer
                  description: |
                    Ghi đè phí ưu tiên tùy chọn tính bằng micro-lamports. Nếu bỏ qua, nền tảng áp dụng chính sách mặc định của nó.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Chữ ký giao dịch base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Lấy vesting theo ID"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Lịch biểu vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Lấy pool vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Pool vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Lấy owner vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Owner vesting"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Lấy phần thưởng referrer"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Thông tin referrer"
