openapi: 3.0.3
info:
  title: "API Xác Thực Raydium Launch"
  description: "Quản lý xác thực ví cho các API LaunchLab và Forum. Cấp các token JWT sau khi xác minh chữ ký ví ed25519. Token là bắt buộc để đăng bình luận và quản lý nội dung trên API Forum."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Yêu cầu và xác thực token xác thực"
  - name: Utilities
    description: "Các endpoint kiểm tra tình trạng"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Yêu cầu token xác thực với chữ ký"
      description: 'Ký một thông điệp với định dạng `{signText}{time}`, trong đó signText là "Sign in to raydium.io: " và time là dấu thời gian Unix hiện tại tính bằng giây. Ví phải ký thông điệp này và gửi chữ ký để nhận token JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Dấu thời gian Unix hiện tại tính bằng giây khi thông điệp được ký"
                  example: 1704067200
                signature:
                  type: string
                  description: "Chữ ký ed25519 của thông điệp (mã hóa base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Khóa công khai ví Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token được cấp thành công"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Các tham số yêu cầu không hợp lệ"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Yêu cầu token bằng giao dịch Ledger"
      description: "Phương pháp yêu cầu token thay thế cho các giao dịch được ký bởi Ledger. Ký một thông điệp với định dạng `{signText}{time}` trong một giao dịch."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Dấu thời gian Unix tính bằng giây"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Giao dịch Solana chứa thông điệp được ký (mã hóa base64)"
                wallet:
                  type: string
                  description: "Khóa công khai ví Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token được cấp thành công"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Xác thực token xác thực"
      description: "Xác minh rằng token vẫn còn hợp lệ. Cũng kéo dài thời gian sống của token nếu sắp hết hạn."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token hợp lệ"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token không hợp lệ hoặc đã hết hạn"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Thu hồi token xác thực"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token đã được thu hồi"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
