openapi: 3.0.3
info:
  title: "API Lịch sử Raydium Launch"
  description: "Cung cấp dữ liệu giao dịch lịch sử cho các pool LaunchLab. Bao gồm dữ liệu kline (nến) với các khoảng 1 phút, 5 phút và 15 phút, cùng với lịch sử giao dịch riêng lẻ."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Dữ liệu nến OHLC"
  - name: Trades
    description: "Lịch sử giao dịch riêng lẻ"
  - name: Utilities
    description: "Kiểm tra sức khỏe"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Lấy dữ liệu kline (nến)"
      tags:
        - Candle Data
      description: 'Truy xuất dữ liệu nến OHLC. Phạm vi giới hạn: 1-500 (mặc định 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID pool (địa chỉ mint)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Token phân trang"
      responses:
        '200':
          description: "Dữ liệu kline với phân trang"
  /trade:
    get:
      operationId: getTrade
      summary: "Lấy lịch sử giao dịch"
      tags:
        - Trades
      description: 'Truy xuất các giao dịch riêng lẻ. Phạm vi giới hạn: 1-100 (mặc định 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Lọc theo ví trader"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Lịch sử giao dịch với phân trang"
