openapi: 3.0.3
info:
  title: "API Diễn đàn Khởi chạy Raydium"
  description: "API Thảo luận cho các pool LaunchLab. Đăng và lấy lại các bình luận về token mint. Yêu cầu header `ray-token` (JWT từ Auth API) cho các thao tác ghi."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Đăng và lấy lại bình luận pool"
  - name: Utilities
    description: "Kiểm tra tình trạng"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Đăng bình luận trên một pool"
      tags:
        - Comments
      description: "Đăng bình luận mới. Yêu cầu header ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "JWT token từ Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "Pool/Mint ID"
                wallet:
                  type: string
                  description: "Ví của người bình luận"
                text:
                  type: string
                  description: "Nội dung bình luận (tối đa 2000 ký tự)"
                file:
                  type: string
                  format: binary
                  description: "Hình ảnh tùy chọn (tối đa 5MB)"
      responses:
        '200':
          description: "Bình luận đã được đăng thành công"
        '400':
          description: "Yêu cầu không hợp lệ hoặc vi phạm nội dung"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Lấy bình luận cho một pool"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool/Mint ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Token phân trang"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Bao gồm nội dung NSFW"
      responses:
        '200':
          description: "Bình luận pool"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Lấy một bình luận cụ thể theo ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "Comment ID"
      responses:
        '200':
          description: "Chi tiết bình luận"
        '500':
          description: "Bình luận không được tìm thấy hoặc đã bị xóa"
