openapi: 3.0.3
info:
  title: "API Chủ Sở Hữu"
  description: |
    Lấy số dư trên mỗi ví, vị trí, và phần thưởng có thể nhận được trên các liquidity pool của Raydium.
    Tiện ích cho các ví và bảng điều khiển danh mục đầu tư để lấy dữ liệu theo phạm vi chủ sở hữu trong một yêu cầu duy nhất.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Lấy số dư vị trí và trạng thái cho mỗi ví"
  - name: Pool Creation
    description: "Lấy các pool do ví tạo"
  - name: IDO
    description: "Lấy dữ liệu tham gia IDO"
  - name: Admin
    description: "Các endpoint hành chính (sử dụng nội bộ)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Lấy vị trí stake của một ví"
      description: |
        Lấy tất cả vị trí stake (AMM tiêu chuẩn hoặc CPMM) được sở hữu bởi ví này.
        Trả về dữ liệu vị trí được lưu vào bộ nhớ đệm bao gồm số lượng và phần thưởng.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Khóa công khai ví (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Cấu trúc dữ liệu vị trí (xem các phản hồi OwnerAPI)"
        '404':
          description: "Ví không có vị trí stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Lấy vị trí CLMM bị khóa của một ví"
      description: |
        Lấy tất cả vị trí Concentrated Liquidity Market Maker (CLMM) bị khóa được sở hữu bởi ví này.
        Trả về trạng thái vị trí bao gồm số lượng bị khóa, thời gian kết thúc khóa, và phí có thể nhận được.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Khóa công khai ví (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Cấu trúc dữ liệu vị trí bị khóa"
        '404':
          description: "Ví không có vị trí CLMM bị khóa"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Lấy các pool do ví tạo"
      description: |
        Lấy tất cả pool CPMM được tạo (khởi chạy) bởi ví này.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Khóa công khai ví (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Dữ liệu các pool được tạo"
        '404':
          description: "Ví chưa tạo pool nào"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Lấy thông tin tham gia IDO của một ví"
      description: |
        Lấy dữ liệu tham gia IDO bao gồm số lượng đã đầu tư và trạng thái yêu cầu.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Khóa công khai ví (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Dữ liệu tham gia IDO"
        '404':
          description: "Ví không có tham gia IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Phản hồi lỗi tiêu chuẩn"
      properties:
        id:
          type: string
          description: "ID yêu cầu (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
