openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Nơi tạm chứa các endpoint ngắn hạn chưa có vị trí cố định trong Raydium API chính.
    Các endpoint trong dịch vụ này có thể thay đổi, bị deprecated hoặc di chuyển mà không báo trước.

    **Cảnh báo về độ ổn định:** Dịch vụ này ưu tiên phát triển nhanh và không đảm bảo tính ổn định của API.
    Chỉ sử dụng cho các luồng không quan trọng, công cụ nội bộ hoặc các tính năng đang trong quá trình phát triển.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Endpoint tạm thời (không ổn định)"
paths:
  /limit-order/order/list:
    get:
      summary: "Liệt kê các CLMM limit order đang chờ xử lý của một ví"
      description: |
        Trả về các CLMM limit order thuộc sở hữu của `wallet` vẫn còn trên chuỗi — cả các lệnh chưa được khớp hoàn toàn lẫn đã được khớp một phần đều được trả về trong một payload duy nhất. Mỗi dòng là dữ liệu `LimitOrderState` đã được giải mã từ on-chain kèm theo pool keys và giá trị `pendingSettle` do indexer tính toán từ trạng thái tick mới nhất.

        Dữ liệu được phục vụ từ Redis cache của indexer và có thể trễ so với chuỗi vài giây.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Khóa công khai của ví (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Khi có tham số này, response sẽ bao gồm thêm một mảng `e` chứa các thông báo lỗi mềm từ indexer (ví dụ: thiếu pool hoặc tick-array cache khiến một dòng bị bỏ qua).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Yêu cầu không hợp lệ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Lỗi máy chủ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Liệt kê lịch sử các CLMM limit order của một ví"
      description: |
        Trả về các CLMM limit order đã đóng thuộc sở hữu của `wallet`. Mỗi dòng tóm tắt trạng thái lệnh tại thời điểm nó rời khỏi tập hợp active. Phân trang theo cursor thông qua `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Khóa công khai của ví (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Khi đặt thành `true`, loại trừ các lệnh đã đóng mà chưa được khớp lần nào (tức là đã hủy). Mặc định là `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Lọc theo một CLMM pool cụ thể (tùy chọn). Không dùng đồng thời với `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Lọc theo mint (token A hoặc B) (tùy chọn). Không dùng đồng thời với `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Lọc theo mint thứ hai (tùy chọn). Không dùng đồng thời với `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Con trỏ phân trang không rõ ràng được trả về từ trang trước (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Kích thước trang (1–100, mặc định 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Yêu cầu không hợp lệ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Lỗi máy chủ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Liệt kê nhật ký sự kiện on-chain cho một hoặc nhiều limit-order PDA"
      description: |
        Trả về nhật ký sự kiện (`open`, `increase`, `decrease`, `settle`, `close`) cho một hoặc nhiều limit-order PDA. Hữu ích để hiển thị timeline theo từng lệnh. Phân trang theo cursor thông qua `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Một hoặc nhiều khóa công khai của limit-order PDA, phân cách bằng dấu phẩy. Mỗi giá trị phải là một pubkey base58 hợp lệ.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Con trỏ phân trang không rõ ràng được trả về từ trang trước (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Kích thước trang (1–100, mặc định 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Yêu cầu không hợp lệ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Lỗi máy chủ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Lấy phí creator tích lũy của một ví"
      description: |
        Truy xuất tất cả các CPMM pool mà ví này là creator, cùng với phí creator đã tích lũy nhưng chưa được nhận theo từng pool. Trả về mảng rỗng nếu ví không có phí creator nào được cache.

        **Lưu ý:** Endpoint này cache dữ liệu người dùng theo định kỳ. Các hoạt động phí creator rất gần đây có thể chưa xuất hiện ngay lập tức.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Khóa công khai của ví (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Địa chỉ ví không hợp lệ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Lỗi máy chủ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Mảng các pool kèm phí creator tích lũy"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Một CPMM pool đơn lẻ kèm phí creator tích lũy"
      properties:
        poolInfo:
          type: object
          description: "Metadata của pool (cấu trúc có thể thay đổi; xem API pools để biết schema)"
        poolKey:
          type: object
          description: "Khóa cấu hình pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Số tiền phí tích lũy tính theo đơn vị token thô"
      properties:
        amountA:
          type: string
          description: "Phí creator cho token A (tính theo đơn vị nhỏ nhất)"
        amountB:
          type: string
          description: "Phí creator cho token B (tính theo đơn vị nhỏ nhất)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload cho `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "ID yêu cầu (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Tùy chọn. Chỉ xuất hiện khi yêu cầu được thực hiện với `showErr`. Mỗi mục
                là một thông báo lỗi mềm từ indexer (ví dụ: pool bị thiếu hoặc mục cache tick-array
                không tồn tại khiến một hàng bị bỏ qua).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Một limit order đang chờ xử lý hiện tại."
      properties:
        pda:
          type: string
          description: "Khóa công khai của tài khoản LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Tick đã được lượng tử hóa mà lệnh này đang chờ tại đó."
        price:
          type: number
          description: "Giá có thể đọc được tại `tick`, được điều chỉnh theo số thập phân của mint."
        zeroForOne:
          type: boolean
          description: "true = bán token_0, mua token_1; false = chiều ngược lại."
        orderPhase:
          type: string
          description: "u64 dạng chuỗi — giai đoạn FIFO cohort của lệnh này tại tick của nó."
        totalAmount:
          type: string
          description: "u64 dạng chuỗi — tổng đầu vào đã cam kết bởi lệnh."
        filledAmount:
          type: string
          description: "u64 dạng chuỗi — tổng đầu vào đã được tiêu thụ bởi các swap tính đến nay."
        openTime:
          type: string
          description: "u64 dạng chuỗi — unix timestamp thời điểm lệnh được mở."
        pendingSettle:
          type: string
          description: "u64 dạng chuỗi — số lượng đầu ra hiện đang chờ được thanh toán cho chủ sở hữu qua `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 dạng chuỗi — phản chiếu của `filledAmount`, trả về để tiện cho phía client."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Giá pool hiện tại có thể đọc được (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Dữ liệu phản hồi cho `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Con trỏ mờ cho trang tiếp theo; vắng mặt khi đây là trang cuối cùng."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Một limit order đã đóng, được tóm tắt."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Unix timestamp thời điểm lệnh được mở."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Mức độ khớp lệnh trước khi đóng:
            `NONE` (đã hủy với khớp lệnh bằng 0), `PARTIAL`, hoặc `FULL`.
        orderInputAmountUi:
          type: number
          description: "Số lượng đầu vào ban đầu, theo đơn vị người dùng (đã áp dụng số thập phân)."
        orderOutputAmountUi:
          type: number
          description: "Số lượng đầu ra mà lệnh sẽ trả tại tick của nó, theo đơn vị người dùng."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Dữ liệu phản hồi cho `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Con trỏ mờ cho trang tiếp theo; vắng mặt khi đây là trang cuối cùng."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Một sự kiện thay đổi trạng thái on-chain được ghi nhận trên một limit-order PDA."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True khi sự kiện được thực hiện bởi keeper `limit_order_admin`; false khi được ký bởi chủ sở hữu."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Thay đổi ròng đối với số dư đầu vào của lệnh, theo đơn vị người dùng (có dấu)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Thay đổi ròng đối với tổng đầu ra tích lũy của lệnh, theo đơn vị người dùng (có dấu)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Thông báo lỗi"
      required:
        - success
        - msg
