openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "L'API Raydium v3 fournit des endpoints REST pour interroger les pools de liquidité, les informations sur les mints, les détails des farms, les pools IDO et les métadonnées de la blockchain Solana. Utilisée par les wallets, les agrégateurs et les traders pour obtenir des flux de prix, des données de pools et des informations de routage."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Production (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Développement (Devnet)"

tags:
  - name: "Main"
    description: "Endpoints principaux de l'API : informations sur la chaîne, TVL et configuration"
  - name: "Mint"
    description: "Informations sur les mints et prix des tokens"
  - name: "Pools"
    description: "Informations sur les pools de liquidité, clés et données historiques"
  - name: "Farms"
    description: "Informations sur les farm pools et clés associées"
  - name: "IDO"
    description: "Informations sur les pools IDO et clés associées"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Enveloppe de réponse commune. Le champ `data` est fourni par le schéma de réponse de chaque endpoint via `allOf` et n'est donc pas déclaré dans l'enveloppe de base."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "Identifiant de la requête (UUID)"
        success:
          type: boolean
          description: "Indique si la requête a réussi"
        msg:
          type: string
          description: "Message d'erreur si le succès est false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Obtenir les statistiques principales"
      description: "Récupère la TVL et le volume des dernières 24 heures pour l'ensemble des pools Raydium. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Obtenir le décalage temporel de la chaîne"
      description: "Récupère le décalage entre l'heure UTC locale et l'heure de la chaîne Solana. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Obtenir les frais de transaction estimés"
      description: "Récupère les coûts estimés on-chain (en lamports). Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Obtenir les pools de staking RAY"
      description: "Récupère les pools de staking du token RAY. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Obtenir les configurations de pools CLMM"
      description: "Récupère les configurations autorisées pour les pools de liquidité concentrée. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Obtenir les configurations de pools CPMM"
      description: "Récupère les configurations autorisées pour les pools à produit constant. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Obtenir les configurations de frais dynamiques CLMM"
      description: |
        Récupère les paliers `DynamicFeeConfig` calibrés auxquels un nouveau pool CLMM peut adhérer lorsque
        `enableDynamicFee=true` est transmis à `CreateCustomizablePool`. Chaque entrée expose les
        paramètres propres à chaque palier (période de filtre, période de décroissance, facteur de réduction,
        contrôle des frais dynamiques, accumulateur de volatilité maximal) qui régissent la surcharge de
        suivi de la volatilité. Mis en cache 60 secondes.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Secondes ; la volatilité décroît vers zéro après cette fenêtre"
                            decayPeriod:
                              type: integer
                              description: "Secondes ; demi-vie complète de la décroissance de l'accumulateur"
                            reductionFactor:
                              type: integer
                              description: "Numérateur de décroissance par pas (dénominateur = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Plafond de la surcharge de frais dynamiques (dénominateur = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Numérateur de mise à l'échelle par tick (dénominateur = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Obtenir les configurations des ordres limites CLMM"
      description: |
        Récupère la configuration des ordres limites par pool (activation des ordres limites,
        taille minimale de l'ordre et clé publique du keeper) pour les pools qui supportent les ordres
        limites. Utilisé par les SDK et les interfaces avant l'appel à `OpenLimitOrder`. Mis en cache 60 secondes.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 en chaîne de caractères — montant d'entrée minimal accepté par le pool"
                            limitOrderAdmin:
                              type: string
                              description: "Keeper opérationnel off-chain autorisé à régler et clôturer les ordres au nom des propriétaires"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Obtenir la liste de mints par défaut"
      description: "Récupère la liste de mints par défaut de l'interface, avec métadonnées et logos. Mis en cache 60 secondes."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Obtenir les informations de mint par identifiants"
      description: "Récupère les métadonnées pour des adresses mint spécifiques. Mis en cache 20 secondes."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Adresses mint séparées par des virgules"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Obtenir les prix des mints"
      description: "Récupère les prix USD actuels pour les tokens mint. Mis en cache 5 secondes."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Adresses mint séparées par des virgules"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Obtenir les informations de pool par IDs"
      description: "Récupère les informations détaillées d'un pool par ses IDs. Mis en cache 60 secondes."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "IDs de pool séparés par des virgules"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Obtenir les pools par LP mint"
      description: "Récupère les informations de pool par adresses de token LP. Mis en cache 60 secondes."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Adresses LP mint séparées par des virgules"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Lister les pools avec pagination"
      deprecated: true
      description: "**Endpoint legacy.** Récupère une liste paginée de pools avec filtrage et tri. Mis en cache 60 secondes. `pageSize` limité à 1000. Maintenu actif pour les intégrations existantes ; les nouvelles intégrations devraient interroger les pools par ID, paire de mints ou LP mint via les autres endpoints `/pools/info/*`, ou utiliser la surface de routage indexée dans l'API de transactions."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Obtenir les pools par token mint"
      description: "Filtre les pools par un ou deux tokens mint. L'ordre des mints est normalisé en interne. Mis en cache 60 secondes."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Lister les pools avec des filtres avancés (v2)"
      description: "Listage avancé de pools avec pagination par curseur. Mis en cache 60 à 90 secondes."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Obtenir les clés on-chain d'un pool"
      description: "Récupère les clés de comptes on-chain pour les pools. Mis en cache 60 secondes."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Obtenir l'historique de liquidité d'un pool"
      description: "Récupère les données TVL historiques d'un pool (jusqu'à 30 jours). Mis en cache 300 secondes."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Obtenir l'historique des positions CLMM"
      description: "Récupère les données historiques de prix et de liquidité pour les pools CLMM. Mis en cache 30 secondes."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Obtenir les informations de farm par IDs"
      description: "Récupère les détails des farms par leurs IDs. Mis en cache 60 secondes."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Obtenir les farms par LP mint"
      description: "Recherche des farms par adresse de stake du token LP. Paginé. Mis en cache 60 secondes."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Obtenir les clés on-chain d'une farm"
      description: "Récupère les clés de comptes on-chain pour les farms. Mis en cache 60 secondes."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Obtenir les clés de pool IDO"
      description: "Récupère la structure on-chain des pools IDO. Mis en cache 20 secondes."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
