openapi: 3.0.3
info:
  title: "Api V1 V2 (Legacy)"
  description: |
    API Raydium legacy servant les informations de pool, les prix, les données SDK et les détails des fermes.
    Principalement utilisé pour la compatibilité rétroactive et les clients SDK.

    **Migrer vers l'API v3 :** La plupart des points de terminaison ici ont des équivalents plus récents dans [l'API v3](/en/api-reference/api-v3).
    Pour les nouvelles intégrations, privilégiez les points de terminaison v3 qui offrent de meilleures performances et stabilité.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Mainnet uniquement"
tags:
  - name: Ray Token
    description: "Points de terminaison d'approvisionnement du token RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "Obtenir l'approvisionnement total de RAY"
      description: "Récupérez l'approvisionnement total en tokens RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Approvisionnement total en tant que nombre en texte brut"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Obtenir l'approvisionnement en circulation de RAY"
      description: "Récupérez l'approvisionnement en tokens RAY en circulation."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Approvisionnement en circulation en tant que nombre en texte brut"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID de la requête"
        success:
          type: boolean
          example: false
