openapi: 3.0.3
info:
  title: "API IPFS dynamique"
  description: |-
    Régénère les métadonnées et images NFT dynamiques pour les positions CLMM. Utilisée par les dApps pour récupérer les visuels de position en temps réel et les données d'évaluation, incluant les détails du pool, les montants, les frais et les récompenses.

    Ce service met en cache les métadonnées de position dans IPFS et sert l'état de position calculé (valeur en USD, pourcentage TVL, frais non réclamés) par ID de position. Supporte les positions déverrouillées et verrouillées sur les types de pool CLMM et CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Récupérer les métadonnées dynamiques pour les positions Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Récupérer les données de position verrouillée (CLMM et CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Obtenir les métadonnées de position CLMM"
      description: |-
        Récupérer les métadonnées complètes de la position, incluant les détails du pool, les montants de liquidité, les frais non réclamés et l'évaluation en USD. Retourne un objet d'interface NFT dynamique adapté au rendu des visuels de position.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Clé publique du compte de position (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de position invalide"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Position non trouvée"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erreur serveur"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Obtenir les métadonnées de position CLMM verrouillée"
      description: |-
        Récupérer les métadonnées d'une position CLMM verrouillée. Retourne les données de position incluant la durée de verrouillage, les frais accumulés et l'évaluation actuelle.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Clé publique PDA de position verrouillée (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID de position invalide ou discordance du propriétaire"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Position non trouvée"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erreur serveur"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Obtenir les métadonnées de position CPMM verrouillée"
      description: |-
        Récupérer les métadonnées d'une position Constant Product Market Maker verrouillée. Retourne les montants de token LP, le pourcentage de part du pool et les frais réclamables du verrouillage.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Clé publique PDA de position CPMM verrouillée (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "ID de position invalide ou discordance du propriétaire"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Position non trouvée"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Erreur serveur"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Position CLMM complète avec détails du pool et évaluation"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Position CPMM verrouillée complète avec détails du pool et évaluation"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Informations du pool Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID du pool"
        programId:
          type: string
          description: "ID du programme propriétaire du pool"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Valeur Totale Verrouillée en USD"
        rewardDefaultInfos:
          type: array
          description: "Tokens de récompense pour ce pool"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Informations du pool Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Prix du token LP en USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Adresse de mint du token"
        decimals:
          type: integer
          description: "Décimales du token"
        symbol:
          type: string
          description: "Symbole du token"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "État de la position CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL de la position en pourcentage du pool (0-100)"
        usdValue:
          type: number
          description: "Valeur de la position en USD"
        amountA:
          type: number
          description: "Montant du token A dans la position"
        amountB:
          type: number
          description: "Montant du token B dans la position"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "État de la position CPMM verrouillée"
      properties:
        tvlPercentage:
          type: number
          description: "Part du pool en pourcentage (0-100)"
        usdValue:
          type: number
          description: "Valeur du LP verrouillé en USD"
        amountA:
          type: number
          description: "Montant sous-jacent du Token A"
        amountB:
          type: number
          description: "Montant sous-jacent du Token B"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Frais accumulés mais non réclamés dans la position CLMM"
      properties:
        amountA:
          type: number
          description: "Frais non réclamés du Token A"
        amountB:
          type: number
          description: "Frais non réclamés du Token B"
        usdFeeValue:
          type: number
          description: "Valeur des frais de trading en USD"
        reward:
          type: array
          items:
            type: number
          description: "Montants de récompenses non réclamées par token de récompense"
        usdRewardValue:
          type: number
          description: "Valeur des récompenses en USD"
        usdValue:
          type: number
          description: "Valeur totale non réclamée en USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP et frais réclamables de la position CPMM verrouillée"
      properties:
        lp:
          type: number
          description: "Montant de LP réclamable"
        amountA:
          type: number
          description: "Token A réclamable"
        amountB:
          type: number
          description: "Token B réclamable"
        usdValue:
          type: number
          description: "Valeur réclamable en USD"
