openapi: 3.0.3
info:
  title: "API d'historique de lancement de Raydium"
  description: "Fournit les données de trading historiques pour les pools LaunchLab. Inclut les données kline (chandelier) à des intervalles de 1 minute, 5 minutes et 15 minutes, ainsi que l'historique des trades individuels."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Données de chandelier OHLC"
  - name: Trades
    description: "Historique des trades individuels"
  - name: Utilities
    description: "Contrôles de santé"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Obtenir les données kline (chandelier)"
      tags:
        - Candle Data
      description: 'Récupère les données de chandelier OHLC. Plage limite : 1-500 (par défaut 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID du pool (adresse du mint)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Jeton de pagination"
      responses:
        '200':
          description: "Données kline avec pagination"
  /trade:
    get:
      operationId: getTrade
      summary: "Obtenir l'historique des trades"
      tags:
        - Trades
      description: 'Récupère les trades individuels. Plage limite : 1-100 (par défaut 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Filtrer par portefeuille du trader"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Historique des trades avec pagination"
