openapi: 3.0.3
info:
  title: "API Forum de Lancement Raydium"
  description: "API de discussion pour les pools LaunchLab. Publiez et récupérez les commentaires sur les tokens mint. Nécessite l'en-tête `ray-token` (JWT de l'API Auth) pour les opérations d'écriture."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Publier et récupérer les commentaires de pool"
  - name: Utilities
    description: "Vérifications de santé"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Publier un commentaire sur un pool"
      tags:
        - Comments
      description: "Publier un nouveau commentaire. Nécessite l'en-tête ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Token JWT de l'API Auth"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "ID du Pool/Mint"
                wallet:
                  type: string
                  description: "Portefeuille du commentateur"
                text:
                  type: string
                  description: "Texte du commentaire (2000 caractères max)"
                file:
                  type: string
                  format: binary
                  description: "Image optionnelle (5 Mo max)"
      responses:
        '200':
          description: "Commentaire publié avec succès"
        '400':
          description: "Requête invalide ou violation de contenu"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Récupérer les commentaires d'un pool"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID du Pool/Mint"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Token de pagination"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Inclure le contenu NSFW"
      responses:
        '200':
          description: "Commentaires du pool"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Récupérer un commentaire spécifique par ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "ID du commentaire"
      responses:
        '200':
          description: "Détails du commentaire"
        '500':
          description: "Commentaire introuvable ou supprimé"
