openapi: 3.0.3
info:
  title: "API d'authentification Raydium Launch"
  description: "Gère l'authentification des portefeuilles pour les API LaunchLab et Forum. Émet des jetons JWT après vérification des signatures de portefeuille ed25519. Les jetons sont requis pour poster des commentaires et gérer le contenu sur l'API Forum."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Demander et valider les jetons d'authentification"
  - name: Utilities
    description: "Points de terminaison de vérification d'intégrité"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Demander un jeton d'authentification avec signature"
      description: 'Signe un message au format `{signText}{time}` où signText est « Sign in to raydium.io : » et time est le timestamp Unix actuel en secondes. Le portefeuille doit signer ce message et soumettre la signature pour recevoir un jeton JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Timestamp Unix actuel en secondes au moment de la signature du message"
                  example: 1704067200
                signature:
                  type: string
                  description: "Signature Ed25519 du message (encodée en base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Clé publique du portefeuille Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Jeton émis avec succès"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Paramètres de requête invalides"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Demander un jeton via une transaction Ledger"
      description: "Requête de jeton alternative pour les transactions signées par Ledger. Signe un message au format `{signText}{time}` dans une transaction."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Timestamp Unix en secondes"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Transaction Solana contenant le message signé (encodée en base64)"
                wallet:
                  type: string
                  description: "Clé publique du portefeuille Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Jeton émis avec succès"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Valider le jeton d'authentification"
      description: "Vérifiez qu'un jeton est toujours valide. Prolonge également la durée de vie du jeton s'il approche de l'expiration."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Le jeton est valide"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Jeton invalide ou expiré"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Révoquer le jeton d'authentification"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Jeton révoqué"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
