openapi: 3.0.3
info:
  title: "API Mint LaunchLab Raydium"
  description: "Fournit l'accès à la création de mints, aux classements, à la recherche et aux données historiques des tokens LaunchLab. Prend en charge la recherche par nom, symbole, portefeuille créateur et diverses options de filtrage."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Rechercher et parcourir les mints"
  - name: Details
    description: "Récupérer les informations d'un mint"
  - name: User Activity
    description: "Obtenir les statistiques de création et de trading d'un utilisateur"
  - name: Vesting
    description: "Interroger les données d'un calendrier de déblocage"
  - name: Configuration
    description: "Configuration et métadonnées de la plateforme"
  - name: Creation
    description: "Créer de nouveaux mints et soumettre les transactions"
  - name: Utilities
    description: "Vérifications d'état et statut"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Rechercher des mints"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Résultats de recherche"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Obtenir le mint principal vedette"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint principal"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Obtenir les mints récents vedettes"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints récents"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Obtenir les détails d'un mint"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Détails du mint"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Obtenir les mints d'un utilisateur"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mints d'un utilisateur"
  /get/list:
    get:
      operationId: getGetList
      summary: "Lister les mints avec tri"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Liste des mints"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Lister les mints Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mints Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Obtenir les statistiques de volume d'un utilisateur"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Statistiques de volume"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Obtenir les statistiques de création d'un utilisateur"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Statistiques de création"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Obtenir la configuration de la plateforme"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Obtenir les plateformes"
      deprecated: true
      description: "**Point de terminaison hérité.** Retourne la liste des plateformes v1. Remplacé par `/campaign/platforms-v2`, qui contient les champs supplémentaires sur lesquels l'interface utilisateur s'appuie maintenant. Les nouvelles intégrations doivent appeler le point de terminaison v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Obtenir les plateformes v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Plateformes v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Soumettre la création d'un mint"
      description: |
        Enregistrer les métadonnées hors chaîne pour un nouveau mint LaunchLab avant l'envoi de sa transaction de création on-chain. La plateforme stocke le nom/symbole/uri/liens sociaux fournis indexés par mint, afin que l'interface utilisateur puisse les afficher pendant que la courbe de liaison est active.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Clé publique du mint (base58) créée on-chain."
                name:
                  type: string
                  description: "Nom d'affichage montré dans l'interface utilisateur LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Symbole du ticker."
                  example: MEME
                description:
                  type: string
                  description: "Description longue."
                imageUri:
                  type: string
                  description: "URL HTTPS ou URI IPFS pour l'icône du token."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Clé publique de la plateforme qui héberge ce lancement."
                wallet:
                  type: string
                  description: "Portefeuille du créateur (base58) — doit correspondre au créateur enregistré sur la chaîne."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Obtenir un mint aléatoire"
      description: |
        Retourne une nouvelle paire de clés mint inutilisée pour l'appelant. Des filtres optionnels
        permet à la plateforme de pré-générer des adresses vanité avec un
        préfixe/suffixe spécifique.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Préfixe base58 optionnel que le mint retourné doit commencer par."
                suffix:
                  type: string
                  description: "Suffixe base58 optionnel que le mint retourné doit se terminer par."
                wallet:
                  type: string
                  description: "Portefeuille du créateur optionnel, utilisé pour la limitation de débit."
      responses:
        '200':
          description: "Mint aléatoire"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Adresse du mint en base58."
                  privateKey:
                    type: string
                    description: |
                      Clé secrète en base58 pour le mint. Doit être signée dans la
                      transaction de création une fois puis supprimée.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Soumettre une transaction"
      description: |
        Transmet une transaction Solana entièrement signée (codée en base64) au nom de
        l'appelant. Utilisé par l'interface utilisateur pour relayer les transactions
        de création / achat / vente via le RPC de la plateforme pour l'augmentation
        des frais de priorité et la gestion des retentatives.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction entièrement signée codée en base64."
                wallet:
                  type: string
                  description: "Portefeuille de l'appelant (base58). Doit correspondre au payeur de frais de la transaction."
                priorityFee:
                  type: integer
                  description: |
                    Remplacement optionnel des frais de priorité en micro-lamports. Si
                    omis, la plateforme applique sa politique par défaut.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Signature de la transaction en base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Obtenir les vestiges par IDs"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Calendriers de vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Obtenir le vesting du pool"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting du pool"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Obtenir le vesting du propriétaire"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting du propriétaire"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Obtenir les récompenses du parrain"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Informations du parrain"
