openapi: 3.0.3
info:
  title: "API Propriétaire"
  description: |
    Récupérez les soldes par portefeuille, les positions et les récompenses réclamables sur tous les pools de liquidité Raydium.
    Conçu pour les portefeuilles et les tableaux de bord de portefeuille pour récupérer les données limitées au propriétaire en une seule requête.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Récupérez les soldes de position et l'état par portefeuille"
  - name: Pool Creation
    description: "Récupérez les pools créés par un portefeuille"
  - name: IDO
    description: "Récupérez les données de participation à l'IDO"
  - name: Admin
    description: "Points de terminaison administratifs (usage interne)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Obtenez les positions de jalonnement pour un portefeuille"
      description: |
        Récupérez toutes les positions de jalonnement (AMM standard ou CPMM) appartenant à ce portefeuille.
        Retourne les données de position en cache, y compris les montants et les récompenses.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clé publique du portefeuille (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Structure de données de position (voir les réponses de l'API Propriétaire)"
        '404':
          description: "Le portefeuille n'a pas de positions de jalonnement"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Obtenez les positions CLMM verrouillées pour un portefeuille"
      description: |
        Récupérez toutes les positions du Concentrated Liquidity Market Maker verrouillées appartenant à ce portefeuille.
        Retourne l'état de la position, y compris les montants verrouillés, l'heure de fin du verrouillage et les frais réclamables.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clé publique du portefeuille (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Structure de données de position verrouillée"
        '404':
          description: "Le portefeuille n'a pas de positions CLMM verrouillées"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Obtenez les pools créés par un portefeuille"
      description: |
        Récupérez tous les pools CPMM créés (lancés) par ce portefeuille.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clé publique du portefeuille (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Données des pools créés"
        '404':
          description: "Le portefeuille n'a créé aucun pool"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Obtenez les informations de participation à l'IDO pour un portefeuille"
      description: |
        Récupérez les données de participation à l'IDO, y compris les montants investis et l'état de réclamation.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Clé publique du portefeuille (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Données de participation à l'IDO"
        '404':
          description: "Le portefeuille n'a pas de participation à l'IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Réponse d'erreur standard"
      properties:
        id:
          type: string
          description: "Identifiant de la requête (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
