openapi: 3.0.3
info:
  title: "API Perps Raydium V1"
  version: 1.0.0
  description: |
    Service de configuration et de métadonnées pour Raydium Perpetual Futures. Cette API fournit la configuration frontend, la disponibilité des actifs, les restrictions régionales et les points de terminaison RPC. Le placement des ordres est délégué à l'API du réseau Orderly.

    Tous les points de terminaison retournent une enveloppe standard :
    - **Succès** : `{ id: string, success: true, data: {...} }`
    - **Erreur** : `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Informations du service principal (version, RPC, statistiques, vérification régionale)."
  - name: Pool
    description: "Configuration du pool de marché perpétuel."
  - name: Campaign
    description: "Données de campagne et classement."
  - name: Share
    description: "Points de terminaison de partage de position et P&L."

paths:
  /main/info:
    get:
      summary: "Obtenir les statistiques du marché perpétuel"
      description: "Retourne le volume de trading et les intérêts ouverts sur 24h/7j/30j (long/court/total)."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Informations de marché récupérées."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Obtenir la liste de pools perpétuels par défaut"
      description: "Retourne une liste de pools de trading perpétuels par défaut avec volume et statistiques."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Liste de pools récupérée."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Version UI stable actuelle."
              example: "1.2.0"
            least:
              type: string
              description: "Version UI minimale requise."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Liste des URL RPC disponibles."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "Volume de trading sur 24 heures."
                "7d":
                  type: number
                  description: "Volume de trading sur 7 jours."
                "30d":
                  type: number
                  description: "Volume de trading sur 30 jours."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Intérêt ouvert long total."
                short:
                  type: number
                  description: "Intérêt ouvert short total."
                all:
                  type: number
                  description: "Intérêt ouvert combiné."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Si le trading perpétuel est autorisé dans la région de l'utilisateur."
            country:
              type: string
              description: "Code pays détecté (depuis l'en-tête cf-ipcountry)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Clé publique Ed25519 au format « ed25519:<clé-base58-encodée> »."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Symbole du pool (par ex., BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "Volume de trading sur 24 heures."
              volume7d:
                type: string
                description: "Volume de trading sur 7 jours."
              volume30d:
                type: string
                description: "Volume de trading sur 30 jours."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Objet de configuration de campagne avec règles et paramètres."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Classement ou position au classement de l'utilisateur."
                walletAddress:
                  type: string
                  description: "Adresse de portefeuille masquée."
                volume:
                  type: number
                  description: "Volume de trading de campagne total."
                pnl:
                  type: number
                  description: "Profit/perte réalisé."
                pnlW:
                  type: number
                  description: "P&L pondéré pour le scoring."
                score:
                  type: number
                  description: "Score de campagne."
                rewards:
                  type: array
                  description: "Liste des récompenses obtenues."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Horodatage de la dernière mise à jour du classement (ms)."
            rows:
              type: array
              description: "Utilisateurs principaux sur cette page du classement."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Charge utile pour la génération de capture d'écran de position actuelle."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Charge utile pour la génération de capture d'écran de position fermée."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "ID du fichier image généré."
            msg:
              type: string
              description: "Message de statut."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Message ou code d'erreur."
