openapi: 3.0.3
info:
  title: "API Transactions Raydium (Route V2)"
  version: 1.0.0
  description: |
    Générateur de transactions de swap côté serveur pour Solana. Cette API génère des transactions de swap sérialisées sans nécessiter que les clients exécutent une connexion RPC ou le SDK complet de Raydium.

    Les réponses suivent un format d'enveloppe standard :
    - **Succès** : `{ id: string, success: true, data: {...} }`
    - **Erreur** : `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Points de terminaison en lecture seule pour le calcul des devis de swap (sans construction de transactions)."
  - name: Transaction
    description: "Construisez des transactions de swap sérialisées prêtes à être signées et diffusées."

paths:
  /compute/swap-base-in:
    get:
      summary: "Calculer le devis de swap (entrée de base)"
      description: |
        Calculez le montant de sortie attendu lors de l'échange d'un montant d'entrée fixe.
        Utile pour afficher un aperçu avant la construction de la transaction.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Adresse de la monnaie du jeton d'entrée (clé publique encodée en base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Adresse de la monnaie du jeton de sortie (clé publique encodée en base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Montant d'entrée en lamports (plus petite unité des jetons SPL). Doit être une chaîne d'entier non négatif."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Tolérance de slippage maximale en basis points (0–10000). 1 bps = 0,01 %."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "Frais de parrainage optionnels en basis points (0–10000). Utilisé uniquement si vous disposez d'une autorité de parrainage."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Version de transaction Solana. V0 utilise des tables de consultation d'adresses ; LEGACY est le format traditionnel."
          example: V0
      responses:
        "200":
          description: "Devis de swap calculé avec succès."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Paramètres d'entrée invalides."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Calculer le devis de swap (sortie de base)"
      description: |
        Calculez le montant d'entrée requis pour atteindre un montant de sortie souhaité.
        Utile pour les swaps où vous connaissez la sortie cible.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Adresse de la monnaie du jeton d'entrée."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Adresse de la monnaie du jeton de sortie."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Montant de sortie souhaité dans la plus petite unité (lamports)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Tolérance de slippage maximale en basis points (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Version de transaction Solana."
          example: V0
      responses:
        "200":
          description: "Devis de swap calculé avec succès."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Paramètres d'entrée invalides."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Construire une transaction de swap (entrée de base)"
      description: |
        Générez une transaction de swap sérialisée pour un montant d'entrée fixe.
        Nécessite une réponse réussie de `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transaction sérialisée construite avec succès."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Corps de la requête invalide ou état de calcul invalide."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Construire une transaction de swap (sortie de base)"
      description: |
        Générez une transaction de swap sérialisée pour un montant de sortie souhaité.
        Nécessite une réponse réussie de `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transaction sérialisée construite avec succès."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Corps de la requête invalide ou état de calcul invalide."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identifiant de requête unique (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Indique si le calcul a réussi."
          example: true
        version:
          type: string
          description: "Version de la réponse de l'API."
          example: "V1"
        data:
          type: object
          description: "Résultat du calcul du swap."
          properties:
            inputAmount:
              type: string
              description: "Montant d'entrée dans la plus petite unité."
            outputAmount:
              type: string
              description: "Montant de sortie attendu (en considérant le slippage)."
            priceImpact:
              type: string
              description: "Pourcentage d'impact sur le prix (p. ex., « 0,5 » pour 0,5 %)."
            routes:
              type: array
              description: "Tableau des routes de swap et des pools utilisés."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identifiant de requête unique."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Si la construction de la transaction a réussi."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "Données de la transaction."
          properties:
            transaction:
              type: string
              description: "Transaction versionnée encodée en Base64 (prête à signer)."
            addressLookupTableAddresses:
              type: array
              description: "Adresses de la table de recherche d'adresses (si txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "Adresse du portefeuille signataire (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "L'objet de réponse complet du point de terminaison de calcul."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Version de la transaction Solana."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Prix de l'unité de calcul en micro-lamports (pour les frais de priorité)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Si la conversion de SOL natif doit être effectuée pour l'entrée."
          example: false
        unwrapSol:
          type: boolean
          description: "Si WSOL doit être converti en SOL dans la sortie."
          example: false
        inputAccount:
          type: string
          description: "Adresse de compte de token facultative pour l'entrée. Requise si SOL n'est pas converti."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Adresse de compte de token facultative pour la sortie."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Paramètres de bundle Jito facultatifs pour la protection MEV."
          properties:
            address:
              type: string
              description: "Adresse de soumission du bundle Jito."
            amount:
              type: string
              description: "Montant du pourboire du bundle en lamports."
        referrerWallet:
          type: string
          description: "Adresse de portefeuille référent facultative pour la collecte de frais."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Identifiant de requête unique."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Code de message d'erreur (par exemple, REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
