openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Un espace de transit pour les endpoints éphémères qui n'ont pas encore de place permanente dans l'API principale de Raydium.
    Les endpoints de ce service peuvent être modifiés, dépréciés ou déplacés sans préavis.

    **Avertissement de stabilité :** Ce service privilégie l'itération rapide et offre des garanties de stabilité minimales.
    À utiliser uniquement pour les chemins non critiques, les outils internes ou les fonctionnalités en cours de développement.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Endpoints temporaires (instables)"
paths:
  /limit-order/order/list:
    get:
      summary: "Lister les limit orders CLMM actuellement en attente d'un wallet"
      description: |
        Retourne les limit orders CLMM appartenant au `wallet` encore présents on-chain — les ordres entièrement non exécutés et partiellement exécutés sont renvoyés dans un seul payload. Chaque ligne correspond au `LimitOrderState` on-chain décodé, enrichi des clés du pool et d'un montant `pendingSettle` calculé par l'indexeur à partir du dernier état des ticks.

        Les données sont servies depuis le cache Redis de l'indexeur et peuvent accuser un léger retard par rapport à la chaîne.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clé publique du wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Lorsqu'il est présent, la réponse inclut également un tableau `e` de messages d'échec non bloquants provenant de l'indexeur (par exemple, un pool manquant ou une entrée de cache tick-array absente ayant entraîné l'omission d'une ligne).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Requête invalide"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erreur serveur"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Lister les limit orders CLMM historiques d'un wallet"
      description: |
        Retourne les limit orders CLMM fermés appartenant au `wallet`. Chaque ligne résume l'ordre au moment où il a quitté l'ensemble actif. Pagination par curseur via `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clé publique du wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Lorsque défini à `true`, exclut les ordres fermés sans avoir jamais été exécutés (c'est-à-dire annulés). Par défaut `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Pool CLMM optionnel pour filtrer les résultats. Mutuellement exclusif avec `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Filtre de mint optionnel (token A ou B). Mutuellement exclusif avec `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Second filtre de mint optionnel. Mutuellement exclusif avec `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Curseur de pagination opaque retourné par la page précédente (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Taille de page (1–100, défaut 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Requête invalide"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erreur serveur"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Lister le journal d'événements on-chain pour un ou plusieurs PDAs de limit orders"
      description: |
        Retourne le journal d'événements (`open`, `increase`, `decrease`, `settle`, `close`) pour un ou plusieurs PDAs de limit orders. Utile pour afficher une chronologie par ordre. Pagination par curseur via `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Une ou plusieurs clés publiques de PDAs de limit orders, séparées par des virgules. Chacune doit être une pubkey base58 valide.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Curseur de pagination opaque retourné par la page précédente (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Taille de page (1–100, défaut 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Requête invalide"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erreur serveur"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Obtenir les frais créateur accumulés pour un wallet"
      description: |
        Récupère tous les pools CPMM dont ce wallet est le créateur, ainsi que les frais créateur accumulés mais non réclamés par pool. Retourne un tableau vide si le wallet ne possède aucun frais créateur en cache.

        **Remarque :** Cet endpoint met en cache les données utilisateur périodiquement. Les activités de frais créateur très récentes peuvent ne pas apparaître immédiatement.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Clé publique du wallet (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Adresse de wallet invalide"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Erreur serveur"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Tableau de pools avec les frais créateur accumulés"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Un pool CPMM unique avec les frais créateur accumulés"
      properties:
        poolInfo:
          type: object
          description: "Métadonnées du pool (structure variable ; voir l'API des pools pour le schéma)"
        poolKey:
          type: object
          description: "Clé de configuration du pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Montants de frais accumulés en unités brutes de token"
      properties:
        amountA:
          type: string
          description: "Montant des frais créateur pour le token A (en plus petites unités)"
        amountB:
          type: string
          description: "Montant des frais créateur pour le token B (en plus petites unités)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload pour `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "Identifiant de la requête (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Optionnel. Présent uniquement si la requête a été effectuée avec `showErr`. Chaque entrée
                est un message d'échec non bloquant provenant de l'indexeur (par ex. un pool ou une entrée de cache tick-array
                manquante ayant entraîné l'omission d'une ligne).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Un ordre limite actuellement en attente."
      properties:
        pda:
          type: string
          description: "Clé publique du compte LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Tick quantifié auquel cet ordre est positionné."
        price:
          type: number
          description: "Prix lisible par l'humain au `tick`, mis à l'échelle selon les décimales du mint."
        zeroForOne:
          type: boolean
          description: "true = vendre token_0, acheter token_1 ; false = direction inverse."
        orderPhase:
          type: string
          description: "u64 en chaîne — phase de cohorte FIFO de cet ordre à son tick."
        totalAmount:
          type: string
          description: "u64 en chaîne — montant total d'entrée engagé par l'ordre."
        filledAmount:
          type: string
          description: "u64 en chaîne — montant d'entrée cumulé consommé par les swaps jusqu'à présent."
        openTime:
          type: string
          description: "u64 en chaîne — horodatage Unix d'ouverture de l'ordre."
        pendingSettle:
          type: string
          description: "u64 en chaîne — montant de sortie actuellement dû au propriétaire, en attente de `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 en chaîne — miroir de `filledAmount`, retourné pour la commodité du client."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Prix actuel du pool lisible par l'humain (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Payload pour `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Curseur opaque pour la page suivante ; absent s'il s'agit de la dernière page."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Un ordre limite clôturé, résumé."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Horodatage Unix d'ouverture de l'ordre."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Proportion de l'ordre finalement exécutée avant sa clôture :
            `NONE` (annulé sans exécution), `PARTIAL`, ou `FULL`.
        orderInputAmountUi:
          type: number
          description: "Montant d'entrée initial, en unités lisibles (décimales appliquées)."
        orderOutputAmountUi:
          type: number
          description: "Montant de sortie que l'ordre aurait versé à son tick, en unités lisibles."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Payload pour `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Curseur opaque pour la page suivante ; absent s'il s'agit de la dernière page."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Une mutation on-chain observée sur un PDA d'ordre limite."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True si l'événement a été effectué par le keeper `limit_order_admin` ; false s'il a été signé par le propriétaire."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Variation nette du solde d'entrée de l'ordre, en unités lisibles (signée)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Variation nette de la sortie cumulée de l'ordre, en unités lisibles (signée)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Message d'erreur"
      required:
        - success
        - msg
