openapi: 3.0.3
info:
  title: "Api V1 V2 (Legacy)"
  description: |-
    واجهة برمجية موروثة من Raydium توفر معلومات المجمعات والأسعار وبيانات SDKs وتفاصيل المزارع.
    مستخدمة بشكل أساسي لتوافق العودة والعملاء من نوع SDK.

    **الترحيل إلى API v3:** معظم نقاط النهاية هنا لها نظائر أحدث في [API v3](/en/api-reference/api-v3).
    للتكاملات الجديدة، استخدم نقاط نهاية v3 التي توفر أداءً واستقراراً أفضل.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Mainnet only"
tags:
  - name: Ray Token
    description: "نقاط نهاية إمدادات رمز RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "الحصول على الإمداد الإجمالي لـ RAY"
      description: "جلب إجمالي إمداد عملات رمز RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "الإمداد الإجمالي كرقم نص عادي"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "الحصول على الإمداد المتداول لـ RAY"
      description: "جلب الإمداد المتداول لرمز RAY."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "الإمداد المتداول كرقم نص عادي"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "معرّف الطلب"
        success:
          type: boolean
          example: false
