openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "توفر Raydium API v3 نقاط نهاية REST للاستعلام عن pools السيولة ومعلومات mint وتفاصيل المزارع وpools IDO وبيانات السلسلة الخاصة بـ Solana. تُستخدم من قِبل المحافظ والمجمِّعات والمتداولين للحصول على تغذيات الأسعار وبيانات Pool ومعلومات التوجيه."

servers:
  - url: "https://api-v3.raydium.io"
    description: "الإنتاج (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "التطوير (Devnet)"

tags:
  - name: "Main"
    description: "نقاط النهاية الأساسية لمعلومات السلسلة وTVL والإعدادات"
  - name: "Mint"
    description: "معلومات token mint والتسعير"
  - name: "Pools"
    description: "معلومات pool السيولة والمفاتيح والبيانات التاريخية"
  - name: "Farms"
    description: "معلومات farm pool والمفاتيح"
  - name: "IDO"
    description: "معلومات IDO pool والمفاتيح"

components:
  schemas:
    ApiResponse:
      type: object
      description: "غلاف الاستجابة المشترك. يُقدَّم حقل `data` من قِبل مخطط استجابة كل نقطة نهاية عبر `allOf` ولذلك لا يُصرَّح عنه في الغلاف الأساسي."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "معرّف الطلب (UUID)"
        success:
          type: boolean
          description: "ما إذا كان الطلب ناجحاً"
        msg:
          type: string
          description: "رسالة الخطأ في حال كانت قيمة success تساوي false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "الحصول على الإحصائيات الرئيسية"
      description: "استرجاع TVL وحجم التداول خلال 24 ساعة لجميع pools الخاصة بـ Raydium. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "الحصول على إزاحة وقت السلسلة"
      description: "الحصول على الفرق بين وقت UTC المحلي ووقت سلسلة Solana. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "الحصول على رسوم المعاملات التقديرية"
      description: "استرجاع التكاليف التقديرية على السلسلة (بالـ lamports). مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "الحصول على pools تخزين RAY"
      description: "استرجاع pools تخزين token الخاصة بـ RAY. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "الحصول على إعدادات CLMM pool"
      description: "استرجاع الإعدادات المسموح بها لـ pools السيولة المركّزة. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "الحصول على إعدادات CPMM pool"
      description: "استرجاع الإعدادات المسموح بها لـ pools ذات الناتج الثابت. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "الحصول على إعدادات الرسوم الديناميكية لـ CLMM"
      description: |
        استرجاع مستويات `DynamicFeeConfig` المعايَرة التي يمكن لـ CLMM pool الجديد الاشتراك فيها عند تمرير
        `enableDynamicFee=true` إلى `CreateCustomizablePool`. يكشف كل إدخال عن معاملات المستوى الخاص به (فترة التصفية، فترة الاضمحلال، معامل التخفيض، ضبط الرسوم الديناميكية، الحد الأقصى لمجمِّع التذبذب) التي تتحكم في رسوم التذبذب الإضافية.
        مخزَّن مؤقتاً لمدة 60 ثانية.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA الخاص بـ DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "بالثواني؛ يتلاشى التذبذب نحو الصفر بعد هذه الفترة"
                            decayPeriod:
                              type: integer
                              description: "بالثواني؛ النصف الزمني الكامل لاضمحلال المجمِّع"
                            reductionFactor:
                              type: integer
                              description: "بسط الاضمحلال لكل خطوة (المقام = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "الحد الأقصى لرسوم التذبذب الإضافية (المقام = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "بسط قياس مسافة Tick (المقام = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "الحصول على إعدادات الأوامر المحدودة لـ CLMM"
      description: |
        استرجاع إعدادات الأوامر المحدودة الخاصة بكل pool (ما إذا كانت الأوامر المحدودة مفعَّلة،
        والحد الأدنى لحجم الطلب والمفتاح العام للـ keeper) للـ pools التي تدعم الأوامر المحدودة. يُستخدم من قِبل SDKs وواجهات المستخدم قبل استدعاء `OpenLimitOrder`. مخزَّن مؤقتاً لمدة 60 ثانية.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 محوَّل إلى نص — الحد الأدنى للمدخلات التي يقبلها pool"
                            limitOrderAdmin:
                              type: string
                              description: "keeper تشغيلي خارج السلسلة مخوَّل بتسوية/إغلاق الأوامر نيابةً عن المالكين"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "الحصول على قائمة mint الافتراضية"
      description: "استرجاع قائمة mint الافتراضية لواجهة المستخدم مع البيانات الوصفية والشعارات. مخزَّن مؤقتاً لمدة 60 ثانية."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "الحصول على معلومات mint عبر المعرِّفات"
      description: "استرجاع البيانات الوصفية لعناوين mint محددة. مخزّن مؤقتاً لمدة 20 ثانية."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "عناوين mint مفصولة بفواصل"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "الحصول على أسعار mint"
      description: "استرجاع الأسعار الحالية بالدولار الأمريكي لرموز mint. مخزّن مؤقتاً لمدة 5 ثوانٍ."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "عناوين mint مفصولة بفواصل"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "الحصول على معلومات pool حسب المعرّفات"
      description: "استرجاع معلومات تفصيلية عن pool بواسطة معرّفات pool. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "معرّفات pool مفصولة بفواصل"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "الحصول على pools حسب LP mint"
      description: "استرجاع معلومات pool بواسطة عناوين رمز LP. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "عناوين LP mint مفصولة بفواصل"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "عرض قائمة pools مع ترقيم الصفحات"
      deprecated: true
      description: "**نقطة نهاية قديمة (Legacy).** استرجاع قائمة pool مقسّمة على صفحات مع إمكانية التصفية والفرز. مخزّن مؤقتاً لمدة 60 ثانية. الحدّ الأقصى لـ pageSize هو 1000. تبقى نشطة لدعم عمليات التكامل الحالية؛ يُنصح في التكاملات الجديدة بالاستعلام عن pools عبر المعرّف أو زوج الرموز أو LP mint باستخدام نقاط نهاية `/pools/info/*` الأخرى، أو استخدام واجهة التوجيه المدعومة بالـ indexer في Transaction API."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "الحصول على pools حسب رمز mint"
      description: "تصفية pools بواسطة رمز mint واحد أو اثنين. يتم توحيد ترتيب الرموز داخلياً. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "عرض قائمة pools بفلاتر متقدمة (v2)"
      description: "عرض متقدم لـ pools مع ترقيم صفحات قائم على المؤشر (cursor). مخزّن مؤقتاً لمدة 60–90 ثانية."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "الحصول على مفاتيح pool على السلسلة"
      description: "استرجاع مفاتيح الحسابات على السلسلة لـ pools. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "الحصول على سجل سيولة pool"
      description: "استرجاع البيانات التاريخية لـ TVL الخاصة بـ pool (حتى 30 يوماً). مخزّن مؤقتاً لمدة 300 ثانية."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "الحصول على سجل مراكز CLMM"
      description: "استرجاع بيانات السعر والسيولة التاريخية لـ pools الخاصة بـ CLMM. مخزّن مؤقتاً لمدة 30 ثانية."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "الحصول على معلومات farm حسب المعرّفات"
      description: "استرجاع تفاصيل farm pool بواسطة معرّفات farm. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "الحصول على farms حسب LP mint"
      description: "البحث عن farms بواسطة عنوان تخزين رمز LP. مقسّم على صفحات. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "الحصول على مفاتيح farm على السلسلة"
      description: "استرجاع مفاتيح الحسابات على السلسلة لـ farms. مخزّن مؤقتاً لمدة 60 ثانية."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "الحصول على مفاتيح IDO pool"
      description: "استرجاع البنية على السلسلة لـ IDO pools. مخزّن مؤقتاً لمدة 20 ثانية."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
