openapi: 3.0.3
info:
  title: "واجهة IPFS الديناميكية"
  description: |
    إعادة توليد بيانات ووصور NFT الديناميكية لمراكز CLMM. تُستخدم من قبل التطبيقات اللامركزية لجلب العروض البصرية الفورية للمركز وبيانات التقييم، بما في ذلك تفاصيل المجمع والكميات والرسوم والمكافآت.

    تخزن هذه الخدمة البيانات الوصفية للمركز في IPFS وتقدم حالة المركز المحسوبة (القيمة بالدولار الأمريكي، نسبة TVL، الرسوم غير المطالب بها) حسب معرّف المركز. تدعم المراكز المفتوحة والمقفلة عبر أنواع مجاميع CLMM و CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "استرجاع البيانات الوصفية الديناميكية لمراكز صانع السيولة المركزة"
  - name: Locked Positions
    description: "استرجاع بيانات المركز المقفل (CLMM و CPMM)"
paths:
  /clmm/position:
    get:
      summary: "الحصول على البيانات الوصفية لمركز CLMM"
      description: |
        جلب البيانات الوصفية الكاملة للمركز بما فيها تفاصيل المجمع وكميات السيولة والرسوم غير المطالب بها والتقييم بالدولار الأمريكي. يُرجع كائن واجهة NFT ديناميكية مناسب لتصيير العروض البصرية للمركز.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "المفتاح العام لحساب المركز (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "معرّف المركز غير صحيح"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "لم يتم العثور على المركز"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "خطأ في الخادم"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "الحصول على البيانات الوصفية لمركز CLMM المقفل"
      description: |
        جلب البيانات الوصفية لمركز CLMM مقفول. يُرجع بيانات المركز بما فيها مدة الحجز والرسوم المتراكمة والتقييم الحالي.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "المفتاح العام للـ PDA الخاص بالمركز المقفل (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "معرّف المركز غير صحيح أو عدم تطابق المالك"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "لم يتم العثور على المركز"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "خطأ في الخادم"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "الحصول على البيانات الوصفية لمركز CPMM المقفل"
      description: |
        جلب البيانات الوصفية لمركز صانع السوق ذي الناتج الثابت المقفل. يُرجع كميات رمز LP ونسبة حصة المجمع والرسوم القابلة للمطالبة من الحجز.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "المفتاح العام للـ PDA الخاص بمركز CPMM المقفل (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "معرّف المركز غير صحيح أو عدم تطابق المالك"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "لم يتم العثور على المركز"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "خطأ في الخادم"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "مركز CLMM كامل مع تفاصيل المجمع والتقييم"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "مركز CPMM المقفل كامل مع تفاصيل المجمع والتقييم"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "معلومات مجمع صانع السيولة المركزة"
      properties:
        id:
          type: string
          description: "معرّف المجمع"
        programId:
          type: string
          description: "معرّف البرنامج الذي يمتلك المجمع"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "إجمالي القيمة المقفلة بالدولار الأمريكي"
        rewardDefaultInfos:
          type: array
          description: "الرموز المكافآت لهذا المجمع"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "معلومات مجمع صانع السوق ذي الناتج الثابت"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "سعر رمز LP بالدولار الأمريكي"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "عنوان mint الخاص بالرمز"
        decimals:
          type: integer
          description: "عدد فئات الرمز"
        symbol:
          type: string
          description: "رمز الرمز"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "حالة مركز CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "نسبة TVL للمركز من إجمالي المجمع (0-100)"
        usdValue:
          type: number
          description: "قيمة المركز بالدولار الأمريكي"
        amountA:
          type: number
          description: "كمية الرمز A في المركز"
        amountB:
          type: number
          description: "كمية الرمز B في المركز"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "حالة مركز CPMM المقفل"
      properties:
        tvlPercentage:
          type: number
          description: "حصة المجموعة كنسبة مئوية (0-100)"
        usdValue:
          type: number
          description: "قيمة LP المقفولة بالدولار الأمريكي"
        amountA:
          type: number
          description: "المبلغ الأساسي للرمز A"
        amountB:
          type: number
          description: "المبلغ الأساسي للرمز B"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "الرسوم المتراكمة غير المطالب بها في مركز CLMM"
      properties:
        amountA:
          type: number
          description: "رسوم الرمز A غير المطالب بها"
        amountB:
          type: number
          description: "رسوم الرمز B غير المطالب بها"
        usdFeeValue:
          type: number
          description: "قيمة رسوم التداول بالدولار الأمريكي"
        reward:
          type: array
          items:
            type: number
          description: "مبالغ المكافآت غير المطالب بها لكل رمز مكافآت"
        usdRewardValue:
          type: number
          description: "قيمة المكافآت بالدولار الأمريكي"
        usdValue:
          type: number
          description: "إجمالي القيمة غير المطالب بها بالدولار الأمريكي"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP والرسوم القابلة للمطالبة من مركز CPMM المقفول"
      properties:
        lp:
          type: number
          description: "مبلغ LP القابل للمطالبة"
        amountA:
          type: number
          description: "الرمز A القابل للمطالبة"
        amountB:
          type: number
          description: "الرمز B القابل للمطالبة"
        usdValue:
          type: number
          description: "القيمة القابلة للمطالبة بالدولار الأمريكي"
