openapi: 3.0.3
info:
  title: "واجهة برمجية لمصادقة Raydium Launch"
  description: "تدير مصادقة المحفظة لواجهات برمجية LaunchLab و Forum. تصدر رموز JWT بعد التحقق من توقيعات محافظ ed25519. الرموز مطلوبة لنشر التعليقات وإدارة المحتوى على واجهة برمجية Forum."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "طلب والتحقق من رموز المصادقة"
  - name: Utilities
    description: "نقاط نهاية فحص الصحة"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "طلب رمز مصادقة مع التوقيع"
      description: 'يوقّع رسالة بالصيغة `{signText}{time}` حيث يكون signText هو "Sign in to raydium.io: " والوقت هو طابع Unix الحالي بالثواني. يجب على المحفظة التوقيع على هذه الرسالة وتقديم التوقيع للحصول على رمز JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "طابع Unix الحالي بالثواني عند التوقيع على الرسالة"
                  example: 1704067200
                signature:
                  type: string
                  description: "توقيع ed25519 للرسالة (مشفر بـ base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "مفتاح عام لمحفظة Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "تم إصدار الرمز بنجاح"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "معاملات طلب غير صحيحة"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "طلب رمز باستخدام معاملة Ledger"
      description: "خيار بديل لطلب الرمز لمعاملات موقعة بـ Ledger. يوقّع رسالة بالصيغة `{signText}{time}` داخل معاملة."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "طابع Unix بالثواني"
                  example: 1704067200
                transaction:
                  type: string
                  description: "معاملة Solana تحتوي على رسالة موقعة (مشفرة بـ base64)"
                wallet:
                  type: string
                  description: "مفتاح عام لمحفظة Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "تم إصدار الرمز بنجاح"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "التحقق من رمز المصادقة"
      description: "التحقق من أن الرمز لا يزال صالحاً. كما يمد عمر الرمز إذا اقترب من انتهائه."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "الرمز صالح"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "الرمز غير صالح أو منتهي الصلاحية"
  /del-token:
    get:
      operationId: getDelToken
      summary: "إلغاء رمز المصادقة"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "تم إلغاء الرمز"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
