openapi: 3.0.3
info:
  title: "واجهة برمجية لسجل إطلاق Raydium"
  description: "توفر بيانات التداول التاريخية لتجمعات LaunchLab. تتضمن بيانات kline (الشموع) بفترات 1 دقيقة و5 دقائق و15 دقيقة، بالإضافة إلى سجل التداولات الفردية."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "بيانات شموع OHLC"
  - name: Trades
    description: "سجل التداولات الفردية"
  - name: Utilities
    description: "فحوصات الصحة"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "الحصول على بيانات kline (الشموع)"
      tags:
        - Candle Data
      description: 'استرجاع بيانات شموع OHLC. نطاق الحد: 1-500 (الافتراضي 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "معرف التجمع (عنوان الإصدار)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "رمز الترقيم"
      responses:
        '200':
          description: "بيانات kline مع الترقيم"
  /trade:
    get:
      operationId: getTrade
      summary: "الحصول على سجل التداولات"
      tags:
        - Trades
      description: 'استرجاع التداولات الفردية. نطاق الحد: 1-100 (الافتراضي 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "التصفية حسب محفظة المتداول"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "سجل التداولات مع الترقيم"
