openapi: 3.0.3
info:
  title: "Raydium Launch Forum API"
  description: "Discussion API لمجموعات LaunchLab. انشر واسترجع التعليقات على رموز mint. يتطلب رأس `ray-token` (JWT من Auth API) لعمليات الكتابة."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "انشر واسترجع تعليقات المجموعة"
  - name: Utilities
    description: "فحوصات الصحة"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "انشر تعليقًا على مجموعة"
      tags:
        - Comments
      description: "انشر تعليقًا جديدًا. يتطلب رأس ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "رمز JWT من Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "معرّف المجموعة/Mint"
                wallet:
                  type: string
                  description: "محفظة المعلّق"
                text:
                  type: string
                  description: "نص التعليق (الحد الأقصى 2000 حرف)"
                file:
                  type: string
                  format: binary
                  description: "صورة اختيارية (الحد الأقصى 5MB)"
      responses:
        '200':
          description: "تم نشر التعليق بنجاح"
        '400':
          description: "طلب غير صحيح أو انتهاك المحتوى"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "احصل على تعليقات المجموعة"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "معرّف المجموعة/Mint"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "رمز المراجعة"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "تضمين محتوى NSFW"
      responses:
        '200':
          description: "تعليقات المجموعة"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "احصل على تعليق محدد من خلال المعرّف"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "معرّف التعليق"
      responses:
        '200':
          description: "تفاصيل التعليق"
        '500':
          description: "التعليق غير موجود أو تم حذفه"
