openapi: 3.0.3
info:
  title: "واجهة برمجية لإنشاء العملات من Raydium"
  description: "توفر الوصول إلى إنشاء العملات والقوائم الصدارة والبحث والبيانات التاريخية لرموز LaunchLab. تدعم البحث بالاسم والرمز المختصر ومحفظة المنشئ وخيارات تصفية متنوعة."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "البحث عن العملات والتصفح"
  - name: Details
    description: "استرجاع معلومات العملة"
  - name: User Activity
    description: "الحصول على إحصائيات الإنشاء والتداول للمستخدم"
  - name: Vesting
    description: "الاستعلام عن بيانات جدول الاستحقاق"
  - name: Configuration
    description: "إعدادات المنصة والبيانات الوصفية"
  - name: Creation
    description: "إنشاء عملات جديدة وإرسال المعاملات"
  - name: Utilities
    description: "فحوصات الصحة والحالة"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "البحث عن العملات"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "نتائج البحث"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "الحصول على أفضل عملة مميزة"
      tags:
        - Discovery
      responses:
        '200':
          description: "أفضل عملة"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "الحصول على أحدث عملات مميزة"
      tags:
        - Discovery
      responses:
        '200':
          description: "أحدث العملات"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "الحصول على تفاصيل العملة"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "تفاصيل العملة"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "الحصول على عملات المستخدم"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "عملات المستخدم"
  /get/list:
    get:
      operationId: getGetList
      summary: "قائمة العملات مع الترتيب"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "قائمة العملات"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "قائمة عملات Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "عملات Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "الحصول على إحصائيات حجم المستخدم"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "إحصائيات الحجم"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "الحصول على إحصائيات الإنشاء للمستخدم"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "إحصائيات الإنشاء"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "الحصول على إعدادات المنصة"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "الحصول على المنصات"
      deprecated: true
      description: "**نقطة نهاية قديمة.** تعيد قائمة المنصات v1. تم استبدالها بـ `/campaign/platforms-v2`، التي تتضمن الحقول الإضافية التي تعتمد عليها واجهة المستخدم الآن. يجب على التكاملات الجديدة استدعاء نقطة النهاية v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "الحصول على المنصات v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "المنصات v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "إرسال إنشاء العملة"
      description: |
        تسجيل البيانات الوصفية غير المخزنة على السلسلة لعملة LaunchLab جديدة قبل إرسال معاملة الإنشاء على السلسلة. تخزن المنصة الاسم والرمز المختصر والـ URI وروابط الوسائط الاجتماعية المرسلة مفهرسة حسب العملة، بحيث يمكن لواجهة المستخدم عرضها أثناء عمل منحنى الارتباط.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "مفتاح عام للعملة (base58) تم إنشاؤه على السلسلة."
                name:
                  type: string
                  description: "اسم العرض الموضح في واجهة LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "رمز مختصر."
                  example: MEME
                description:
                  type: string
                  description: "وصف تفصيلي."
                imageUri:
                  type: string
                  description: "عنوان URL HTTPS أو معرف URI على IPFS لأيقونة الرمز."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "مفتاح عام للمنصة التي تستضيف هذا الإطلاق."
                wallet:
                  type: string
                  description: "محفظة المُنشئ (base58) — يجب أن تطابق المُنشئ في السلسلة."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "الحصول على mint عشوائي"
      description: |
        إرجاع زوج مفاتيح mint جديد وغير مستخدم للمتصل. تتيح المُرشحات الاختيارية
        للمنصة توليد عناوين vanity مسبقاً ببادئة/لاحقة محددة.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "بادئة base58 اختيارية يجب أن يبدأ بها mint المُرجع."
                suffix:
                  type: string
                  description: "لاحقة base58 اختيارية يجب أن ينتهي بها mint المُرجع."
                wallet:
                  type: string
                  description: "محفظة المُنشئ اختيارية، تُستخدم لتحديد معدل الطلبات."
      responses:
        '200':
          description: "Mint عشوائي"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "عنوان mint بصيغة base58."
                  privateKey:
                    type: string
                    description: |
                      مفتاح سري لـ mint بصيغة base58. يجب توقيعه في معاملة الإنشاء
                      مرة واحدة فقط ثم حذفه.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "إرسال معاملة"
      description: |
        إعادة توجيه معاملة Solana موقّعة بالكامل (مشفرة بـ base64) نيابة عن
        المتصل. تُستخدم من قِبل الواجهة لنقل معاملات الإنشاء والشراء والبيع
        عبر RPC المنصة للحصول على رفع رسوم الأولوية والتعامل مع إعادة المحاولة.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction موقّع بالكامل مشفر بـ base64."
                wallet:
                  type: string
                  description: "محفظة المتصل (base58). يجب أن تطابق مدفوع الرسوم في المعاملة."
                priorityFee:
                  type: integer
                  description: |
                    تجاوز رسوم الأولوية اختياري بوحدات micro-lamports. إذا
                    تم حذفه، ستطبق المنصة سياستها الافتراضية.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "توقيع المعاملة بصيغة base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "الحصول على جداول الاستحقاق حسب المعرّفات"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "جداول الاستحقاق"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "الحصول على استحقاق المجمع"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "استحقاق المجمع"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "الحصول على استحقاق المالك"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "استحقاق المالك"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "الحصول على مكافآت المرجع"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "معلومات المرجع"
