openapi: 3.0.3
info:
  title: "واجهة مالك المحفظة"
  description: |
    استرجاع الأرصدة والمراكز والمكافآت القابلة للمطالبة لكل محفظة عبر مجمعات السيولة في Raydium.
    مصمّمة للمحافظ ولوحات معلومات المحفظات لجلب البيانات المحدودة بنطاق المالك في طلب واحد.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "استرجاع أرصدة المراكز والحالة لكل محفظة"
  - name: Pool Creation
    description: "استرجاع المجمعات التي أنشأتها محفظة"
  - name: IDO
    description: "استرجاع بيانات المشاركة في IDO"
  - name: Admin
    description: "نقاط نهاية إدارية (الاستخدام الداخلي)"
paths:
  /position/stake/{owner}:
    get:
      summary: "الحصول على مراكز الـ Stake لمحفظة"
      description: |
        استرجاع جميع مراكز الـ Stake (AMM قياسي أو CPMM) المملوكة لهذه المحفظة.
        يرجع بيانات المراكز المخزّنة مؤقتاً بما في ذلك الكميات والمكافآت.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "مفتاح المحفظة العمومي (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "هيكل بيانات المركز (انظر ردود OwnerAPI)"
        '404':
          description: "المحفظة ليس لديها مراكز stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "الحصول على مراكز CLMM المقفلة لمحفظة"
      description: |
        استرجاع جميع مراكز Concentrated Liquidity Market Maker المقفلة المملوكة لهذه المحفظة.
        يرجع حالة المركز بما في ذلك الكميات المقفلة ووقت انتهاء القفل والرسوم القابلة للمطالبة.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "مفتاح المحفظة العمومي (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "هيكل بيانات المركز المقفل"
        '404':
          description: "المحفظة ليس لديها مراكز CLMM مقفلة"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "الحصول على المجمعات التي أنشأتها محفظة"
      description: |
        استرجاع جميع مجمعات CPMM التي أنشأتها (أطلقتها) هذه المحفظة.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "مفتاح المحفظة العمومي (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "بيانات المجمعات المنشأة"
        '404':
          description: "المحفظة لم تنشئ أي مجمعات"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "الحصول على معلومات المشاركة في IDO لمحفظة"
      description: |
        استرجاع بيانات المشاركة في IDO، بما في ذلك الكميات المستثمرة وحالة المطالبة.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "مفتاح المحفظة العمومي (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "بيانات المشاركة في IDO"
        '404':
          description: "المحفظة ليس لديها مشاركة في IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "استجابة الخطأ القياسية"
      properties:
        id:
          type: string
          description: "معرّف الطلب (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
