openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    خدمة التكوين والبيانات الوصفية لعقود Raydium الدائمة. توفر هذه الواجهة تكوين الواجهة الأمامية، وتوفر الأصول، والقيود الإقليمية، ونقاط نهاية RPC. يتم تفويض وضع الطلبات إلى واجهة Orderly Network API.

    جميع نقاط النهاية تُرجع غلافاً قياسياً:
    - **النجاح**: `{ id: string, success: true, data: {...} }`
    - **الخطأ**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "معلومات الخدمة الأساسية (الإصدار، RPC، الإحصائيات، فحص المنطقة)."
  - name: Pool
    description: "تكوين مجمع سوق العقود الدائمة."
  - name: Campaign
    description: "بيانات الحملات ولوحات الترتيب."
  - name: Share
    description: "نقاط نهاية مشاركة المركز و P&L."

paths:
  /main/info:
    get:
      summary: "الحصول على إحصائيات سوق العقود الدائمة"
      description: "يُرجع حجم التداول مدى 24 ساعة و 7 أيام و 30 يوماً والفائدة المفتوحة (طويل/قصير/إجمالي)."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "تم استرجاع معلومات السوق."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "الحصول على قائمة مجمعات العقود الدائمة الافتراضية"
      description: "يُرجع قائمة بمجمعات التداول الدائمة الافتراضية مع الحجم والإحصائيات."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "تم استرجاع قائمة المجمعات."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "إصدار واجهة المستخدم الافتراضي الحالي."
              example: "1.2.0"
            least:
              type: string
              description: "الحد الأدنى لإصدار واجهة المستخدم المطلوب."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "قائمة عناوين RPC المتاحة."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "حجم التداول لمدة 24 ساعة."
                "7d":
                  type: number
                  description: "حجم التداول لمدة 7 أيام."
                "30d":
                  type: number
                  description: "حجم التداول لمدة 30 يوماً."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "إجمالي الفائدة المفتوحة الطويلة."
                short:
                  type: number
                  description: "إجمالي الفائدة المفتوحة القصيرة."
                all:
                  type: number
                  description: "إجمالي الفائدة المفتوحة."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "ما إذا كان تداول العقود الدائمة مسموحاً في المنطقة الجغرافية للمستخدم."
            country:
              type: string
              description: "رمز الدولة المكتشفة (من رأس cf-ipcountry)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "مفتاح عام Ed25519 بصيغة \"ed25519:<base58-encoded-key>\"."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "رمز المجمع (مثلاً، BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "حجم التداول لمدة 24 ساعة."
              volume7d:
                type: string
                description: "حجم التداول لمدة 7 أيام."
              volume30d:
                type: string
                description: "حجم التداول لمدة 30 يوماً."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "كائن تكوين الحملة مع القواعد والمعاملات."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "رتبة المستخدم أو موضعه في لوحة الترتيب."
                walletAddress:
                  type: string
                  description: "عنوان محفظة مقنع."
                volume:
                  type: number
                  description: "إجمالي حجم التداول في الحملة."
                pnl:
                  type: number
                  description: "الربح/الخسارة المحقق."
                pnlW:
                  type: number
                  description: "المكسب/الخسارة المرجح للتصنيف."
                score:
                  type: number
                  description: "نقاط الحملة."
                rewards:
                  type: array
                  description: "قائمة المكافآت المكتسبة."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "آخر وقت تحديث لوحة الترتيب (ملي ثانية)."
            rows:
              type: array
              description: "أفضل المستخدمين في هذه صفحة لوحة الترتيب."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "حمولة لإنشاء لقطة شاشة للمركز الحالي."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "حمولة لإنشاء لقطة شاشة للمركز المغلق."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "معرّف ملف الصورة المُنتَج."
            msg:
              type: string
              description: "رسالة الحالة."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "رسالة الخطأ أو الرمز."
