openapi: 3.0.3
info:
  title: "واجهة معاملات Raydium (Route V2)"
  version: 1.0.0
  description: |
    منشئ معاملات swap من جانب الخادم على Solana. تُنتج هذه الواجهة معاملات swap مسلسلة دون احتياج العملاء لتشغيل اتصال RPC أو Raydium SDK الكامل.

    تتبع الردود صيغة مغلفة معيارية:
    - **نجاح**: `{ id: string, success: true, data: {...} }`
    - **خطأ**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "نقاط نهاية للقراءة فقط لحساب عروض الأسعار (بدون بناء معاملات)."
  - name: Transaction
    description: "بناء معاملات swap مسلسلة جاهزة للتوقيع والبث."

paths:
  /compute/swap-base-in:
    get:
      summary: "حساب عرض السعر (إدخال أساسي)"
      description: |
        حساب مبلغ الإخراج المتوقع عند مبادلة مبلغ إدخال ثابت.
        مفيد لعرض معاينة قبل بناء المعاملة.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "عنوان mint لرمز الإدخال (مفتاح عام مشفر بـ base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "عنوان mint لرمز الإخراج (مفتاح عام مشفر بـ base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "مبلغ الإدخال بالـ lamports (أصغر وحدة رموز SPL). يجب أن يكون سلسلة نصية لعدد صحيح غير سالب."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "تفاوت الانزلاق الأقصى بالنقاط الأساسية (0–10000). 1 bps = 0.01%."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "رسم الإحالة الاختياري بالنقاط الأساسية (0–10000). يُستخدم فقط إذا كان لديك سلطة إحالة."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "إصدار معاملة Solana. V0 يستخدم جداول البحث عن العناوين؛ LEGACY هو الصيغة التقليدية."
          example: V0
      responses:
        "200":
          description: "تم حساب عرض السعر بنجاح."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "معاملات إدخال غير صحيحة."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "حساب عرض السعر (إخراج أساسي)"
      description: |
        حساب مبلغ الإدخال المطلوب لتحقيق مبلغ إخراج مرغوب.
        مفيد للمبادلات التي تعرف فيها الإخراج المستهدف.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "عنوان mint لرمز الإدخال."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "عنوان mint لرمز الإخراج."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "مبلغ الإخراج المرغوب بالوحدة الأصغر (lamports)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "تفاوت الانزلاق الأقصى بالنقاط الأساسية (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "إصدار معاملة Solana."
          example: V0
      responses:
        "200":
          description: "تم حساب عرض السعر بنجاح."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "معاملات إدخال غير صحيحة."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "بناء معاملة swap (إدخال أساسي)"
      description: |
        توليد معاملة swap مسلسلة لمبلغ إدخال ثابت.
        يتطلب رد ناجح من `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "تم بناء المعاملة المسلسلة بنجاح."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "نص طلب غير صحيح أو حالة حساب غير صحيحة."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "بناء معاملة swap (إخراج أساسي)"
      description: |
        توليد معاملة swap مسلسلة لمبلغ إخراج مرغوب.
        يتطلب رد ناجح من `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "تم بناء المعاملة المسلسلة بنجاح."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "نص طلب غير صحيح أو حالة حساب غير صحيحة."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "معرّف الطلب الفريد (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "ما إذا كان الحساب قد نجح."
          example: true
        version:
          type: string
          description: "إصدار استجابة الواجهة."
          example: "V1"
        data:
          type: object
          description: "نتيجة حساب swap."
          properties:
            inputAmount:
              type: string
              description: "مبلغ الإدخال بالوحدة الأصغر."
            outputAmount:
              type: string
              description: "مبلغ الإخراج المتوقع (مع مراعاة الانزلاق)."
            priceImpact:
              type: string
              description: "نسبة تأثير السعر (مثلاً، \"0.5\" لنسبة 0.5%)."
            routes:
              type: array
              description: "مصفوفة من مسارات swap والمجمعات المستخدمة."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "معرّف الطلب الفريد."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "سواء نجح بناء المعاملة."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "بيانات المعاملة."
          properties:
            transaction:
              type: string
              description: "معاملة مرمّزة بـ Base64 بإصدار محدّد (جاهزة للتوقيع)."
            addressLookupTableAddresses:
              type: array
              description: "عناوين جداول البحث عن العناوين (إن كان txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "عنوان محفظة الموقّع (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "كائن الاستجابة الكامل من نقطة النهاية الحسابية."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "إصدار معاملة Solana."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "سعر وحدة الحساب بالميكرو-لامبورت (رسوم الأولوية)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "ما إذا كان يجب تغليف SOL إذا كان الإدخال عملة SOL أصلية."
          example: false
        unwrapSol:
          type: boolean
          description: "ما إذا كان يجب فكّ تغليف WSOL إلى SOL في الإخراج."
          example: false
        inputAccount:
          type: string
          description: "عنوان حساب التوكن اختياري للإدخال. مطلوب إذا لم يتم تغليف SOL."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "عنوان حساب التوكن اختياري للإخراج."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "معاملات حزمة Jito اختيارية لحماية MEV."
          properties:
            address:
              type: string
              description: "عنوان تقديم حزمة Jito."
            amount:
              type: string
              description: "مبلغ نصيحة الحزمة بالـ lamports."
        referrerWallet:
          type: string
          description: "عنوان محفظة الحائل (referrer) اختياري لجمع الرسوم."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "معرّف طلب فريد."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "رمز رسالة خطأ (مثلاً: REQ_SLIPPAGE_BPS_ERROR أو REQ_WALLET_ERROR)."
