openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    مستودع مؤقت للنقاط النهائية قصيرة العمر التي ليس لها موضع دائم في واجهة Raydium API الرئيسية.
    قد تتغير النقاط النهائية في هذه الخدمة أو تُهمَل أو تنتقل دون إشعار مسبق.

    **تحذير بشأن الاستقرار:** تُعطي هذه الخدمة الأولوية للتكرار السريع مع ضمانات استقرار API محدودة.
    استخدمها فقط في المسارات غير الحرجة أو الأدوات الداخلية أو الميزات قيد التطوير النشط.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "نقاط نهائية مؤقتة (غير مستقرة)"
paths:
  /limit-order/order/list:
    get:
      summary: "استرداد قائمة أوامر الحد المعلّقة في CLMM لمحفظة معينة"
      description: |
        يُعيد أوامر الحد في CLMM المملوكة لـ `wallet` والموجودة على السلسلة — يُدرج كلٌّ من الأوامر غير المنفَّذة كليًا والأوامر المنفَّذة جزئيًا في استجابة واحدة. يمثّل كل صف حالة `LimitOrderState` المفككة من السلسلة مضافًا إليها مفاتيح pool ومبلغ `pendingSettle` الذي احتسبه المُفهرِس من أحدث حالة للتيك.

        تُقدَّم البيانات من ذاكرة التخزين المؤقت Redis للمُفهرِس وقد تتأخر عن السلسلة بضع ثوانٍ.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "المفتاح العام للمحفظة (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            عند توفّره، تتضمّن الاستجابة أيضًا مصفوفة `e` تحتوي على رسائل إخفاق خفيفة من المُفهرِس (مثل: إدخال pool مفقود أو إدخال tick-array في الذاكرة المؤقتة تسبّب في تخطّي صف).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "طلب غير صحيح"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "خطأ في الخادم"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "استرداد السجل التاريخي لأوامر الحد في CLMM لمحفظة معينة"
      description: |
        يُعيد أوامر الحد المغلقة في CLMM المملوكة لـ `wallet`. يلخّص كل صف حالة الأمر عند خروجه من المجموعة النشطة. يدعم التصفّح عبر المؤشر باستخدام `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "المفتاح العام للمحفظة (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            عند ضبطه على `true`، يُستثنى من النتائج الأوامر التي أُغلقت دون أن تُنفَّذ قط (أي الملغاة). القيمة الافتراضية `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "pool في CLMM اختياري للتصفية. لا يمكن استخدامه مع `mint1` / `mint2` في آن واحد."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "فلتر mint اختياري (الرمز A أو B). لا يمكن استخدامه مع `poolId` في آن واحد."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "فلتر mint اختياري ثانٍ. لا يمكن استخدامه مع `poolId` في آن واحد."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "مؤشر تصفّح معتم مُعاد من الصفحة السابقة (مدة الصلاحية ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "حجم الصفحة (1–100، الافتراضي 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "طلب غير صحيح"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "خطأ في الخادم"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "استرداد سجل الأحداث على السلسلة لعنوان PDA أمر حد واحد أو أكثر"
      description: |
        يُعيد سجل الأحداث (`open`، `increase`، `decrease`، `settle`، `close`) لعنوان PDA أمر حد واحد أو أكثر. مفيد لعرض الجدول الزمني لكل أمر على حدة. يدعم التصفّح عبر المؤشر باستخدام `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            مفتاح عام واحد أو أكثر لـ PDA أوامر الحد، مفصولة بفواصل. يجب أن يكون كل منها مفتاحًا عامًا صالحًا بترميز base58.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "مؤشر تصفّح معتم مُعاد من الصفحة السابقة (مدة الصلاحية ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "حجم الصفحة (1–100، الافتراضي 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "طلب غير صحيح"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "خطأ في الخادم"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "استرداد الرسوم المتراكمة للمنشئ لمحفظة معينة"
      description: |
        استرداد جميع pools في CPMM التي تكون هذه المحفظة منشئها، مع الرسوم المتراكمة غير المطالب بها لكل pool. يُعيد مصفوفة فارغة إذا لم تكن للمحفظة رسوم منشئ مخزّنة مؤقتًا.

        **ملاحظة:** تُخزّن هذه النقطة النهائية بيانات المستخدم بشكل دوري. قد لا تظهر أنشطة رسوم المنشئ الحديثة جدًا على الفور.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "المفتاح العام للمحفظة (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "عنوان محفظة غير صحيح"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "خطأ في الخادم"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "مصفوفة pools مع الرسوم المتراكمة للمنشئ"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "pool واحد في CPMM مع الرسوم المتراكمة للمنشئ"
      properties:
        poolInfo:
          type: object
          description: "بيانات وصفية للـ pool (يتفاوت الهيكل؛ راجع pools API للاطلاع على المخطط)"
        poolKey:
          type: object
          description: "مفتاح تهيئة الـ pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "مبالغ الرسوم المتراكمة بوحدات الرمز الخام"
      properties:
        amountA:
          type: string
          description: "مبلغ رسوم المنشئ للرمز A (بأصغر وحدة)"
        amountB:
          type: string
          description: "مبلغ رسوم المنشئ للرمز B (بأصغر وحدة)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "الحمولة الخاصة بـ `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "معرف الطلب (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                اختياري. يظهر فقط عند تقديم الطلب مع `showErr`. كل إدخال
                هو رسالة فشل غير حرجة من المُفهرِس (مثلاً: pool أو إدخال tick-array
                مفقود في الذاكرة المؤقتة أدى إلى تخطي صف).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "أمر شراء/بيع محدد السعر (limit order) واحد قيد الانتظار حالياً."
      properties:
        pda:
          type: string
          description: "المفتاح العام لحساب LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "الـ tick الكمّي الذي يرتكز عليه هذا الأمر."
        price:
          type: number
          description: "السعر المقروء للبشر عند `tick`، مُعدَّل وفق decimals الـ mint."
        zeroForOne:
          type: boolean
          description: "true = بيع token_0 وشراء token_1؛ false = الاتجاه المعاكس."
        orderPhase:
          type: string
          description: "u64 بصيغة نصية — مرحلة مجموعة FIFO لهذا الأمر عند الـ tick الخاص به."
        totalAmount:
          type: string
          description: "u64 بصيغة نصية — إجمالي المدخلات التي التزم بها الأمر."
        filledAmount:
          type: string
          description: "u64 بصيغة نصية — المدخلات المستهلكة بواسطة عمليات swap حتى الآن."
        openTime:
          type: string
          description: "u64 بصيغة نصية — الطابع الزمني Unix للحظة فتح الأمر."
        pendingSettle:
          type: string
          description: "u64 بصيغة نصية — مقدار الإخراج المستحق للمالك حالياً وفي انتظار `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 بصيغة نصية — نسخة مطابقة لـ `filledAmount`، تُعاد لراحة العميل."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "السعر الحالي المقروء للبشر للـ pool (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "الحمولة الخاصة بـ `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "مؤشر غير شفاف للصفحة التالية؛ غائب عندما تكون هذه آخر صفحة."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "أمر limit order مغلق واحد، ملخَّص."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "الطابع الزمني Unix للحظة فتح الأمر."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            نسبة تنفيذ الأمر قبل إغلاقه:
            `NONE` (ألغي دون أي تنفيذ)، `PARTIAL`، أو `FULL`.
        orderInputAmountUi:
          type: number
          description: "مقدار المدخلات الأصلي، بالوحدات المقروءة للبشر (مع تطبيق الـ decimals)."
        orderOutputAmountUi:
          type: number
          description: "مقدار الإخراج الذي كان سيُدفع عند الـ tick الخاص بالأمر، بالوحدات المقروءة للبشر."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "الحمولة الخاصة بـ `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "مؤشر غير شفاف للصفحة التالية؛ غائب عندما تكون هذه آخر صفحة."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "تعديل واحد مُلاحَظ على السلسلة بالنسبة لـ PDA خاص بـ limit order."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "true إذا نفّذ الحدث الـ keeper المعروف بـ `limit_order_admin`؛ false إذا وقّعه المالك."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "صافي التغيير في رصيد مدخلات الأمر، بالوحدات المقروءة للبشر (قيمة موقّعة)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "صافي التغيير في المخرجات المتراكمة للأمر، بالوحدات المقروءة للبشر (قيمة موقّعة)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "رسالة الخطأ"
      required:
        - success
        - msg
