openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3, Solana blok zinciri için likidite havuzlarını, mint bilgilerini, farm detaylarını, IDO havuzlarını ve zincir meta verilerini sorgulamaya yönelik REST uç noktaları sunar. Cüzdanlar, toplayıcılar ve traderlar tarafından fiyat akışları, havuz verileri ve yönlendirme bilgilerine erişmek için kullanılır."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Üretim (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Geliştirme (Devnet)"

tags:
  - name: "Main"
    description: "Zincir bilgisi, TVL ve yapılandırma için temel API uç noktaları"
  - name: "Mint"
    description: "Token mint bilgisi ve fiyatlandırma"
  - name: "Pools"
    description: "Likidite havuzu bilgisi, anahtarlar ve geçmiş veriler"
  - name: "Farms"
    description: "Farm havuzu bilgisi ve anahtarlar"
  - name: "IDO"
    description: "IDO havuzu bilgisi ve anahtarlar"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Ortak yanıt zarfı. `data` alanı, `allOf` aracılığıyla her uç noktanın yanıt şeması tarafından sağlanır ve bu nedenle temel zarfta tanımlanmaz."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "İstek kimliği (UUID)"
        success:
          type: boolean
          description: "İsteğin başarılı olup olmadığı"
        msg:
          type: string
          description: "Başarısız durumlarda hata mesajı"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Ana istatistikleri getir"
      description: "Tüm Raydium havuzları için TVL ve 24 saatlik hacmi döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Zincir zaman ofsetini getir"
      description: "Yerel UTC zamanı ile Solana zincir zamanı arasındaki farkı döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Tahmini işlem ücretlerini getir"
      description: "Tahmini zincir üstü maliyetleri (lamports) döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "RAY stake havuzlarını getir"
      description: "RAY token staking havuzlarını döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "CLMM havuz yapılandırmalarını getir"
      description: "Konsantre likidite havuzları için izin verilen yapılandırmaları döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "CPMM havuz yapılandırmalarını getir"
      description: "Sabit çarpım havuzları için izin verilen yapılandırmaları döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "CLMM dinamik ücret yapılandırmalarını getir"
      description: |
        Yeni bir CLMM havuzuna `CreateCustomizablePool` çağrısında `enableDynamicFee=true` geçildiğinde seçilebilecek kalibre edilmiş `DynamicFeeConfig` kademelerini döndürür. Her girdi; volatilite takip ek ücretini yöneten kademe başına parametreleri (filtre periyodu, bozunma periyodu, azaltma faktörü, dinamik ücret kontrolü, maksimum volatilite akümülatörü) içerir. 60 saniye önbelleğe alınır.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "DynamicFeeConfig PDA'sı"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Saniye; volatilite bu pencere sonunda sıfıra doğru bozunur"
                            decayPeriod:
                              type: integer
                              description: "Saniye; akümülatör bozunmasının tam yarı ömrü"
                            reductionFactor:
                              type: integer
                              description: "Adım başına bozunma payı (payda = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Dinamik ücret ek yüküne üst sınır (payda = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Tick mesafesi ölçekleme payı (payda = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "CLMM limit emir yapılandırmalarını getir"
      description: |
        Limit emirleri destekleyen havuzlar için havuz başına limit emir yapılandırmasını (limit emirlerin etkin olup olmadığı, minimum emir boyutu ve keeper açık anahtarı) döndürür. `OpenLimitOrder` çağrısından önce SDK'lar ve arayüzler tarafından kullanılır. 60 saniye önbelleğe alınır.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 stringified — havuzun kabul edeceği minimum girdi miktarı"
                            limitOrderAdmin:
                              type: string
                              description: "Sahipler adına emirleri kapatmaya/teslim etmeye yetkili zincir dışı operasyonel keeper"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Varsayılan mint listesini getir"
      description: "Arayüzün varsayılan mint listesini meta veriler ve logolarla birlikte döndürür. 60 saniye önbelleğe alınır."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Mint bilgilerini ID'ye göre getir"
      description: "Belirli mint adresleri için meta veri getirir. 20 saniye önbelleğe alınır."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Virgülle ayrılmış mint adresleri"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Mint fiyatlarını getir"
      description: "Mint token'ları için güncel USD fiyatlarını getirir. 5 saniye önbelleğe alınır."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Virgülle ayrılmış mint adresleri"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "ID'ye göre pool bilgisi getir"
      description: "Pool ID'lerine göre ayrıntılı pool bilgisini getirir. 60 saniye önbelleğe alınır."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "Virgülle ayrılmış pool ID'leri"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "LP mint'e göre pool'ları getir"
      description: "LP token adreslerine göre pool bilgisini getirir. 60 saniye önbelleğe alınır."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Virgülle ayrılmış LP mint adresleri"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Pool'ları sayfalı listele"
      deprecated: true
      description: "**Eski uç nokta.** Filtreleme ve sıralama destekli sayfalı pool listesi getirir. 60 saniye önbelleğe alınır. pageSize en fazla 1000 olabilir. Mevcut entegrasyonlar için aktif tutulmaktadır; yeni entegrasyonlar için pool'ları ID, mint çifti veya LP mint üzerinden diğer `/pools/info/*` uç noktaları aracılığıyla sorgulayın ya da Transaction API'deki indeksleyici tabanlı yönlendirme yüzeyini kullanın."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Token mint'e göre pool'ları getir"
      description: "Bir veya iki token mint'e göre pool'ları filtreler. Mint sırası dahili olarak normalleştirilir. 60 saniye önbelleğe alınır."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Gelişmiş filtrelerle pool listele (v2)"
      description: "İmleç tabanlı sayfalama ile gelişmiş pool listeleme. 60–90 saniye önbelleğe alınır."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Pool'ların zincir üstü anahtarlarını getir"
      description: "Pool'lar için zincir üstü hesap anahtarlarını getirir. 60 saniye önbelleğe alınır."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Pool likidite geçmişini getir"
      description: "Bir pool için geçmiş TVL verilerini getirir (en fazla 30 gün). 300 saniye önbelleğe alınır."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "CLMM pozisyon geçmişini getir"
      description: "CLMM pool'ları için geçmiş fiyat ve likidite verilerini getirir. 30 saniye önbelleğe alınır."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "ID'ye göre farm bilgisi getir"
      description: "Farm ID'lerine göre farm pool ayrıntılarını getirir. 60 saniye önbelleğe alınır."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "LP mint'e göre farm'ları getir"
      description: "LP token stake adresine göre farm arar. Sayfalıdır. 60 saniye önbelleğe alınır."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Farm'ların zincir üstü anahtarlarını getir"
      description: "Farm'lar için zincir üstü hesap anahtarlarını getirir. 60 saniye önbelleğe alınır."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "IDO pool anahtarlarını getir"
      description: "IDO pool'ları için zincir üstü yapıyı getirir. 20 saniye önbelleğe alınır."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
