openapi: 3.0.3
info:
  title: "API V1 V2 (Eski)"
  description: |-
    Raydium'un havuz bilgileri, fiyatları, SDK verileri ve farm detaylarını sunan eski API.
    Princip olarak geriye uyumlu destek ve SDK istemcileri için kullanılır.

    **API v3'e geçiş yapın:** Buradaki çoğu endpoint'in [API v3](/en/api-reference/api-v3) içinde daha yeni eşdeğerleri vardır.
    Yeni entegrasyonlar için daha iyi performans ve kararlılık sunan v3 endpoint'lerini tercih edin.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Yalnızca Mainnet"
tags:
  - name: Ray Token
    description: "RAY token arzı endpoint'leri"
paths:
  /ray/totalcoins:
    get:
      summary: "RAY toplam arzını al"
      description: "RAY token'ının toplam coin arzını getir."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Toplam arz düz metin sayı olarak"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "RAY dolaşımdaki arzını al"
      description: "RAY token'ının dolaşımdaki arzını getir."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Dolaşımdaki arz düz metin sayı olarak"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "İstek Kimliği"
        success:
          type: boolean
          example: false
