openapi: 3.0.3
info:
  title: "Dinamik IPFS API'si"
  description: |
    CLMM pozisyonları için dinamik NFT meta verilerini ve görüntülerini yeniden oluşturur. dApp'ler tarafından gerçek zamanlı
    pozisyon görselleri ve değerleme verileri (havuz ayrıntıları, miktarlar, ücretler ve ödüller dahil) almak için kullanılır.

    Bu hizmet pozisyon meta verilerini IPFS'de önbelleğe alır ve pozisyon ID'sine göre hesaplanan pozisyon durumunu (USD değeri,
    TVL yüzdesi, talep edilmemiş ücretler) sunar. CLMM ve CPMM havuz türleri arasında hem kilitli olmayan hem de kilitli pozisyonları destekler.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Concentrated Liquidity Market Maker pozisyonları için dinamik meta veriyi al"
  - name: Locked Positions
    description: "Kilitli pozisyon verilerini al (CLMM ve CPMM)"
paths:
  /clmm/position:
    get:
      summary: "CLMM pozisyon meta verilerini al"
      description: |
        Havuz ayrıntıları, likidite miktarları, talep edilmemiş ücretler
        ve USD değerlemesi dahil olmak üzere tam pozisyon meta verilerini al. Pozisyon görselleri oluşturmaya uygun dinamik bir NFT arabirimi nesnesi döndürür.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Pozisyon hesabı genel anahtarı (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Geçersiz pozisyon ID'si"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Pozisyon bulunamadı"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Sunucu hatası"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Kilitli CLMM pozisyon meta verilerini al"
      description: |
        Kilitli bir CLMM pozisyonu için meta veri al. Kilitli süre,
        birikmiş ücretler ve güncel değerleme dahil pozisyon verilerini döndürür.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Kilitli pozisyon PDA genel anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Geçersiz pozisyon ID'si veya sahibi uyuşmazlığı"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Pozisyon bulunamadı"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Sunucu hatası"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Kilitli CPMM pozisyon meta verilerini al"
      description: |
        Kilitli bir Constant Product Market Maker pozisyonu için meta veri al. LP token miktarları,
        havuz pay yüzdesi ve kilitlemeden talep edilebilir ücretleri döndürür.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Kilitli CPMM pozisyon PDA genel anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "Geçersiz pozisyon ID'si veya sahibi uyuşmazlığı"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Pozisyon bulunamadı"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Sunucu hatası"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Havuz ayrıntıları ve değerleme ile tam CLMM pozisyonu"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Havuz ayrıntıları ve değerleme ile tam CPMM kilitli pozisyonu"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker havuz bilgileri"
      properties:
        id:
          type: string
          description: "Havuz ID'si"
        programId:
          type: string
          description: "Havuza sahip olan program ID'si"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "USD cinsinden toplam kilitli değer"
        rewardDefaultInfos:
          type: array
          description: "Bu havuz için ödül tokenları"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker havuz bilgileri"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "USD cinsinden LP token fiyatı"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Token mint adresi"
        decimals:
          type: integer
          description: "Token ondalık basamak sayısı"
        symbol:
          type: string
          description: "Token sembolü"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM pozisyon durumu"
      properties:
        tvlPercentage:
          type: number
          description: "Pozisyon TVL'si havuzun yüzdesi olarak (0-100)"
        usdValue:
          type: number
          description: "Pozisyon USD cinsinden değeri"
        amountA:
          type: number
          description: "Pozisyondaki Token A miktarı"
        amountB:
          type: number
          description: "Pozisyondaki Token B miktarı"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "CPMM kilitli pozisyon durumu"
      properties:
        tvlPercentage:
          type: number
          description: "Havuz payı yüzdesi (0-100)"
        usdValue:
          type: number
          description: "Kilitli LP değeri (USD)"
        amountA:
          type: number
          description: "Token A altta yatan miktar"
        amountB:
          type: number
          description: "Token B altta yatan miktar"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "CLMM pozisyonunda birikmiş ancak talep edilmemiş ücretler"
      properties:
        amountA:
          type: number
          description: "Talep edilmemiş Token A ücretleri"
        amountB:
          type: number
          description: "Talep edilmemiş Token B ücretleri"
        usdFeeValue:
          type: number
          description: "İşlem ücreti USD değeri"
        reward:
          type: array
          items:
            type: number
          description: "Reward token başına talep edilmemiş reward miktarları"
        usdRewardValue:
          type: number
          description: "Reward USD değeri"
        usdValue:
          type: number
          description: "Toplam talep edilmemiş değer (USD)"

    CPUnclaimedFeeInfo:
      type: object
      description: "Kilitli CPMM pozisyonundan talep edilebilir LP ve ücretler"
      properties:
        lp:
          type: number
          description: "Talep edilebilir LP miktarı"
        amountA:
          type: number
          description: "Talep edilebilir Token A"
        amountB:
          type: number
          description: "Talep edilebilir Token B"
        usdValue:
          type: number
          description: "Talep edilebilir değer (USD)"
