openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "LaunchLab ve Forum API'leri için cüzdan kimlik doğrulamasını yönetir. ed25519 cüzdan imzalarını doğruladıktan sonra JWT token'ları yayınlar. Forum API'de yorum göndermek ve içeriği yönetmek için token'lar gereklidir."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Kimlik doğrulama token'larını iste ve doğrula"
  - name: Utilities
    description: "Sistem durumu kontrol uç noktaları"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "İmza ile kimlik doğrulama token'ı iste"
      description: 'Bir iletiyi `{signText}{time}` formatında imzalar; signText "Sign in to raydium.io: " ve time güncel Unix zaman damgasıdır (saniye cinsinden). Cüzdan bu iletiyi imzalamalı ve JWT token''ı almak için imzayı göndermelidir.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "İletinin imzalandığı güncel Unix zaman damgası (saniye cinsinden)"
                  example: 1704067200
                signature:
                  type: string
                  description: "İletinin ed25519 imzası (base58 kodlaması)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Solana cüzdan genel anahtarı"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token başarıyla yayınlandı"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Geçersiz istek parametreleri"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Ledger işlemi kullanarak token iste"
      description: "Ledger tarafından imzalanan işlemler için alternatif token isteme. Bir işlem içinde `{signText}{time}` formatında bir iletiyi imzalar."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix zaman damgası (saniye cinsinden)"
                  example: 1704067200
                transaction:
                  type: string
                  description: "İmzalanmış iletiyi içeren Solana işlemi (base64 kodlaması)"
                wallet:
                  type: string
                  description: "Solana cüzdan genel anahtarı"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token başarıyla yayınlandı"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Kimlik doğrulama token'ını doğrula"
      description: "Token'ın hala geçerli olduğunu doğrula. Ayrıca sona ermek üzereyse token ömrünü uzatır."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token geçerli"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token geçersiz veya süresi dolmuş"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Kimlik doğrulama token'ını iptal et"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token iptal edildi"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
