openapi: 3.0.3
info:
  title: "Raydium Launch Mint API'si"
  description: "LaunchLab tokenları için mint oluşturma, liderlik tablosu, arama ve geçmiş verilere erişim sağlar. Ad, sembol, cüzdan yaratıcısı ve çeşitli filtreleme seçeneklerine göre aramayı destekler."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Mint'leri ara ve incele"
  - name: Details
    description: "Mint bilgilerini al"
  - name: User Activity
    description: "Kullanıcı oluşturma ve işlem istatistiklerini al"
  - name: Vesting
    description: "Vesting planlama verilerini sorgula"
  - name: Configuration
    description: "Platform yapılandırması ve meta veri"
  - name: Creation
    description: "Yeni mint'ler oluştur ve işlemleri gönder"
  - name: Utilities
    description: "Sağlık kontrolleri ve durum"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Mint'leri ara"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Arama sonuçları"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Öne çıkan en iyi mint'i al"
      tags:
        - Discovery
      responses:
        '200':
          description: "En iyi mint"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Öne çıkan son mint'leri al"
      tags:
        - Discovery
      responses:
        '200':
          description: "Son mint'ler"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Mint detaylarını al"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mint detayları"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Kullanıcı mint'lerini al"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Kullanıcı mint'leri"
  /get/list:
    get:
      operationId: getGetList
      summary: "Mint'leri sıralama ile listele"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Mint'ler listesi"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Bonk mint'lerini listele"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk mint'leri"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Kullanıcı işlem hacmi istatistiklerini al"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "İşlem hacmi istatistikleri"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Kullanıcı oluşturma istatistiklerini al"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Oluşturma istatistikleri"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Platform yapılandırmasını al"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Platform'ları al"
      deprecated: true
      description: "**Eski endpoint.** v1 platform listesini döndürür. `/campaign/platforms-v2` tarafından yerini almıştır; v2 endpoint'i ön uçun artık bağlı olduğu ek alanları içerir. Yeni entegrasyonlar v2 endpoint'ini çağırmalıdır."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Platform'ları v2 olarak al"
      tags:
        - Configuration
      responses:
        '200':
          description: "Platform'lar v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Mint oluşturmayı gönder"
      description: |
        Zincir üzeri create işlemi gönderilmeden önce yeni bir LaunchLab mint'i için off-chain meta verilerini kaydedin. Platform, sağlanan ad/sembol/uri/sosyal bağlantılar'ı mint tarafından indekslenir, böylece UI, bonding curve canlı olsa da bunları görüntüleyebilir.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Zincir üzerinde oluşturulan mint açık adresi (base58)."
                name:
                  type: string
                  description: "LaunchLab UI'de gösterilen görüntüleme adı."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Kodu sembolü."
                  example: MEME
                description:
                  type: string
                  description: "Uzun açıklamadır."
                imageUri:
                  type: string
                  description: "Token simgesi için HTTPS URL veya IPFS URI."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Bu başlatmayı barındıran platform açık adresi."
                wallet:
                  type: string
                  description: "Oluşturan cüzdan (base58) — zincir üzerindeki oluşturaanla eşleşmesi gerekir."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Rastgele mint al"
      description: |
        Çağıran için yeni, kullanılmamış bir mint keypair'i döndürür. İsteğe bağlı
        filtreler, platformun belirli bir önek/sonek içeren vanity
        adreslerini önceden oluşturmasına olanak tanır.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "İsteğe bağlı base58 öneki: döndürülen mint bu önek ile başlamalıdır."
                suffix:
                  type: string
                  description: "İsteğe bağlı base58 soneki: döndürülen mint bu sonek ile bitmelidir."
                wallet:
                  type: string
                  description: "İsteğe bağlı oluşturan cüzdan, hız sınırlaması için kullanılır."
      responses:
        '200':
          description: "Rastgele mint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58 mint adresi."
                  privateKey:
                    type: string
                    description: |
                      Mint için base58 gizli anahtarı. Oluştur işleminde bir kez imzalanması
                      gerekir, sonra silinmelidir.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "İşlemi gönder"
      description: |
        Çağıran adına tam olarak imzalanmış bir Solana işlemini (base64 kodlu)
        platformun RPC'si aracılığıyla ilet. UI tarafından oluştur / satın al /
        satış işlemlerini öncelik ücreti yükseltmesi ve yeniden deneme işleme
        için geçişlemek üzere kullanılır.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64 kodlu tam imzalanmış VersionedTransaction."
                wallet:
                  type: string
                  description: "Çağıran cüzdan (base58). İşlemin ücret ödeyen hesabı ile eşleşmesi gerekir."
                priorityFee:
                  type: integer
                  description: |
                    İsteğe bağlı mikro-lamportlar cinsinden öncelik ücreti değeri geçersiz kılması.
                    Açıklanmamışsa, platform varsayılan politikasını uygular.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58 işlem imzası."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Kimlik Le vesting al"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting takvimi"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Pool vesting al"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Pool vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Sahip vesting al"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Sahip vesting"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Referrer ödüllerini al"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Referrer bilgisi"
