openapi: 3.0.3
info:
  title: "Raydium Launch Forum API"
  description: "LaunchLab havuzları için Tartışma API'si. Mint tokenler hakkında yorumları yayınlayın ve alın. Yazma işlemleri için `ray-token` header'ı (Auth API'sinden JWT) gereklidir."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Havuz yorumlarını yayınlayın ve alın"
  - name: Utilities
    description: "Sağlık kontrolleri"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Havuzda yorum yayınlayın"
      tags:
        - Comments
      description: "Yeni bir yorum yayınlayın. ray-token header'ı gereklidir."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Auth API'sinden JWT token"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "Havuz/Mint Kimliği"
                wallet:
                  type: string
                  description: "Yorum yazarının cüzdanı"
                text:
                  type: string
                  description: "Yorum metni (maksimum 2000 karakter)"
                file:
                  type: string
                  format: binary
                  description: "İsteğe bağlı görüntü (maksimum 5MB)"
      responses:
        '200':
          description: "Yorum başarıyla yayınlandı"
        '400':
          description: "Geçersiz istek veya içerik ihlali"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Havuzun yorumlarını alın"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Havuz/Mint Kimliği"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Sayfalama token'ı"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "NSFW içeriğini dahil et"
      responses:
        '200':
          description: "Havuz yorumları"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Kimliğe göre belirli bir yorumu alın"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "Yorum Kimliği"
      responses:
        '200':
          description: "Yorum ayrıntıları"
        '500':
          description: "Yorum bulunamadı veya silindi"
