openapi: 3.0.3
info:
  title: "Raydium Launch History API"
  description: "LaunchLab havuzları için tarihsel işlem verilerini sağlar. 1 dakika, 5 dakika ve 15 dakika aralıklarında kline (mum) verileri ile bireysel işlem geçmişini içerir."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "OHLC mum verileri"
  - name: Trades
    description: "Bireysel işlem geçmişi"
  - name: Utilities
    description: "Sağlık kontrolleri"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Kline (mum) verileri al"
      tags:
        - Candle Data
      description: 'OHLC mum verilerini getir. Sınır aralığı: 1-500 (varsayılan 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Havuz kimliği (mint adresi)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Sayfalandırma belirteci"
      responses:
        '200':
          description: "Sayfalandırma ile kline verileri"
  /trade:
    get:
      operationId: getTrade
      summary: "İşlem geçmişini al"
      tags:
        - Trades
      description: 'Bireysel işlemleri getir. Sınır aralığı: 1-100 (varsayılan 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Trader cüzdan adresine göre filtrele"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Sayfalandırma ile işlem geçmişi"
