openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    Raydium likidite havuzları arasında cüzdan başına bakiye, pozisyon ve talep edilebilir ödülleri alın.
    Cüzdan ve portföy panoları için tek bir istekte sahibi kapsamında verileri getirmek üzere tasarlanmıştır.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Cüzdan başına pozisyon bakiyesi ve durumunu alın"
  - name: Pool Creation
    description: "Cüzdan tarafından oluşturulan havuzları alın"
  - name: IDO
    description: "IDO katılım verilerini alın"
  - name: Admin
    description: "İdari uç noktalar (dahili kullanım)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Cüzdan için stake pozisyonlarını alın"
      description: |
        Bu cüzdana ait tüm stake (standart AMM veya CPMM) pozisyonlarını alın.
        Tutarlar ve ödüller dahil olmak üzere önbelleğe alınmış pozisyon verilerini döndürür.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Cüzdan açık anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Pozisyon veri yapısı (OwnerAPI yanıtlarına bakın)"
        '404':
          description: "Cüzdanda stake pozisyonu yok"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Cüzdan için kilitli CLMM pozisyonlarını alın"
      description: |
        Bu cüzdana ait tüm kilitli Concentrated Liquidity Market Maker pozisyonlarını alın.
        Kilitli tutarlar, kilit bitiş saati ve talep edilebilir ücretler dahil olmak üzere pozisyon durumunu döndürür.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Cüzdan açık anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Kilitli pozisyon veri yapısı"
        '404':
          description: "Cüzdanda kilitli CLMM pozisyonu yok"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Cüzdan tarafından oluşturulan havuzları alın"
      description: |
        Bu cüzdan tarafından oluşturulan (başlatılan) tüm CPMM havuzlarını alın.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Cüzdan açık anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Oluşturulan havuzlar verisi"
        '404':
          description: "Cüzdan herhangi bir havuz oluşturmamış"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Cüzdan için IDO katılım bilgilerini alın"
      description: |
        Yatırılan tutarlar ve talep durumu dahil olmak üzere IDO katılım verilerini alın.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Cüzdan açık anahtarı (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO katılım verisi"
        '404':
          description: "Cüzdanda IDO katılımı yok"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Standart hata yanıtı"
      properties:
        id:
          type: string
          description: "İstek Kimliği (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
