openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Raydium Perpetual Futures için yapılandırma ve metadata hizmeti. Bu API, ön yüz yapılandırması, varlık kullanılabilirliği, bölgesel kısıtlamalar ve RPC uç noktaları sağlar. Emir yerleştirme, Orderly Network'ün API'sine devredilmiştir.

    Tüm uç noktalar standart bir zarfla yanıt verir:
    - **Başarılı**: `{ id: string, success: true, data: {...} }`
    - **Hata**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Temel hizmet bilgileri (sürüm, RPC'ler, istatistikler, bölge kontrolü)."
  - name: Pool
    description: "Perp pazar havuzu yapılandırması."
  - name: Campaign
    description: "Kampanya ve lider tablosu verileri."
  - name: Share
    description: "Pozisyon ve P&L paylaşım uç noktaları."

paths:
  /main/info:
    get:
      summary: "Perp pazar istatistiklerini al"
      description: "24s/7g/30g işlem hacmi ve açık pozisyonu (uzun/kısa/toplam) döndürür."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Pazar bilgisi alındı."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Varsayılan perp havuzu listesini al"
      description: "Varsayılan perpetual işlem havuzlarının listesini hacim ve istatistiklerle döndürür."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Havuz listesi alındı."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Mevcut kararlı UI sürümü."
              example: "1.2.0"
            least:
              type: string
              description: "Minimum gerekli UI sürümü."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Kullanılabilir RPC URL'leri listesi."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "24 saatlik işlem hacmi."
                "7d":
                  type: number
                  description: "7 günlük işlem hacmi."
                "30d":
                  type: number
                  description: "30 günlük işlem hacmi."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Toplam uzun açık pozisyonu."
                short:
                  type: number
                  description: "Toplam kısa açık pozisyonu."
                all:
                  type: number
                  description: "Birleşik açık pozisyonu."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Kullanıcı bölgesinde perp işlemine izin verilip verilmediği."
            country:
              type: string
              description: "Algılanan ülke kodu (cf-ipcountry başlığından)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "\"ed25519:<base58-encoded-key>\" biçiminde Ed25519 açık anahtarı."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Havuz sembolü (örn. BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "24 saatlik işlem hacmi."
              volume7d:
                type: string
                description: "7 günlük işlem hacmi."
              volume30d:
                type: string
                description: "30 günlük işlem hacmi."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Kurallar ve parametrelerle kampanya yapılandırma nesnesi."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Kullanıcının sıraması veya lider tablosu konumu."
                walletAddress:
                  type: string
                  description: "Maskelenmiş cüzdan adresi."
                volume:
                  type: number
                  description: "Toplam kampanya işlem hacmi."
                pnl:
                  type: number
                  description: "Gerçekleştirilmiş kâr/zarar."
                pnlW:
                  type: number
                  description: "Puanlama için ağırlıklı P&L."
                score:
                  type: number
                  description: "Kampanya puanı."
                rewards:
                  type: array
                  description: "Kazanılan ödüllerin listesi."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Lider tablosu son güncelleme zaman damgası (ms)."
            rows:
              type: array
              description: "Bu lider tablosu sayfasındaki en iyi kullanıcılar."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Mevcut pozisyon ekran görüntüsü oluşturma yükü."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Kapalı pozisyon ekran görüntüsü oluşturma yükü."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "Oluşturulan görüntü dosyası kimliği."
            msg:
              type: string
              description: "Durum mesajı."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Hata mesajı veya kodu."
