openapi: 3.0.3
info:
  title: "Raydium Transaction API (Route V2)"
  version: 1.0.0
  description: |
    Solana için sunucu taraflı swap işlem oluşturucu. Bu API, istemcilerin RPC bağlantısı veya tam Raydium SDK'sı çalıştırmasına gerek kalmadan serileştirilmiş swap işlemleri üretir.

    Yanıtlar standart bir zarf formatını izler:
    - **Başarılı**: `{ id: string, success: true, data: {...} }`
    - **Hatalı**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Swap fiyat teklifi hesaplamaya yönelik salt okunur uç noktalar (işlem oluşturma yapılmaz)."
  - name: Transaction
    description: "İmzalanıp yayınlanmaya hazır serileştirilmiş swap işlemleri oluşturur."

paths:
  /compute/swap-base-in:
    get:
      summary: "Swap teklifi hesapla (sabit giriş)"
      description: |
        Sabit bir giriş miktarı için beklenen çıkış miktarını hesaplar.
        İşlem oluşturmadan önce önizleme göstermek için kullanışlıdır.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Giriş token'ının mint adresi (base58 kodlu public key)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Çıkış token'ının mint adresi (base58 kodlu public key)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Lamport cinsinden giriş miktarı (SPL token'larının en küçük birimi). Negatif olmayan bir tamsayı string'i olmalıdır."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Baz puan cinsinden maksimum slippage toleransı (0–10000). 1 bps = %0,01."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "İsteğe bağlı yönlendirici ücreti, baz puan cinsinden (0–10000). Yalnızca bir yönlendirici yetkiliniz varsa kullanılır."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana işlem versiyonu. V0, adres arama tablolarını kullanır; LEGACY ise geleneksel formattır."
          example: V0
      responses:
        "200":
          description: "Swap teklifi başarıyla hesaplandı."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Geçersiz giriş parametreleri."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Swap teklifi hesapla (sabit çıkış)"
      description: |
        İstenen çıkış miktarına ulaşmak için gereken giriş miktarını hesaplar.
        Hedef çıkışı bilinen swap işlemleri için kullanışlıdır.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Giriş token'ının mint adresi."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Çıkış token'ının mint adresi."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "En küçük birim (lamport) cinsinden istenen çıkış miktarı."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Baz puan cinsinden maksimum slippage toleransı (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana işlem versiyonu."
          example: V0
      responses:
        "200":
          description: "Swap teklifi başarıyla hesaplandı."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Geçersiz giriş parametreleri."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Swap işlemi oluştur (sabit giriş)"
      description: |
        Sabit bir giriş miktarı için serileştirilmiş swap işlemi oluşturur.
        `/compute/swap-base-in` uç noktasından başarılı bir hesaplama yanıtı gerektirir.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Serileştirilmiş işlem başarıyla oluşturuldu."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Geçersiz istek gövdesi veya hesaplama durumu."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Swap işlemi oluştur (sabit çıkış)"
      description: |
        İstenen çıkış miktarı için serileştirilmiş swap işlemi oluşturur.
        `/compute/swap-base-out` uç noktasından başarılı bir hesaplama yanıtı gerektirir.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Serileştirilmiş işlem başarıyla oluşturuldu."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Geçersiz istek gövdesi veya hesaplama durumu."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Benzersiz istek tanımlayıcısı (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Hesaplamanın başarılı olup olmadığı."
          example: true
        version:
          type: string
          description: "API yanıt versiyonu."
          example: "V1"
        data:
          type: object
          description: "Swap hesaplama sonucu."
          properties:
            inputAmount:
              type: string
              description: "En küçük birim cinsinden giriş miktarı."
            outputAmount:
              type: string
              description: "Beklenen çıkış miktarı (slippage göz önünde bulundurularak)."
            priceImpact:
              type: string
              description: "Fiyat etkisi yüzdesi (örn. %0,5 için \"0.5\")."
            routes:
              type: array
              description: "Kullanılan swap rotaları ve pool'ların dizisi."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Benzersiz istek tanımlayıcısı."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "İşlem oluşturmanın başarılı olup olmadığı."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "İşlem verisi."
          properties:
            transaction:
              type: string
              description: "Base64 kodlanmış sürümlü işlem (imzalamaya hazır)."
            addressLookupTableAddresses:
              type: array
              description: "Adres arama tablosu adresleri (txVersion=V0 ise)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "İmzalayan cüzdan adresi (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "Hesaplama uç noktasından dönen tam yanıt nesnesi."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Solana işlem sürümü."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Mikro-lamport cinsinden hesaplama birimi fiyatı (öncelik ücretleri için)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Girdi yerel SOL ise SOL'ü sarmalayıp sarmalamayacağı."
          example: false
        unwrapSol:
          type: boolean
          description: "Çıktıda WSOL'ün SOL'e açılıp açılmayacağı."
          example: false
        inputAccount:
          type: string
          description: "Girdi için isteğe bağlı token hesabı adresi. SOL sarmalanmıyorsa zorunludur."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Çıktı için isteğe bağlı token hesabı adresi."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "MEV koruması için isteğe bağlı Jito bundle parametreleri."
          properties:
            address:
              type: string
              description: "Jito bundle gönderim adresi."
            amount:
              type: string
              description: "Lamport cinsinden bundle bahşiş miktarı."
        referrerWallet:
          type: string
          description: "Ücret tahsilatı için isteğe bağlı referans cüzdan adresi."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Benzersiz istek tanımlayıcısı."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Hata mesajı kodu (örn. REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
