openapi: 3.0.3
info:
  title: "Geçici API"
  description: |
    Raydium ana API'sinde kalıcı bir yeri bulunmayan, kısa ömürlü endpoint'ler için tutma alanı.
    Bu servisteki endpoint'ler önceden bildirilmeksizin değişebilir, kullanımdan kaldırılabilir veya taşınabilir.

    **Kararlılık uyarısı:** Bu servis, hızlı iterasyona ve minimum API kararlılık garantisine öncelik verir.
    Yalnızca kritik olmayan yollar, dahili araçlar veya aktif geliştirme aşamasındaki özellikler için kullanın.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Geçici endpoint'ler (kararsız)"
paths:
  /limit-order/order/list:
    get:
      summary: "Bir cüzdanın mevcut beklemedeki CLMM limit emirlerini listele"
      description: |
        Zincirde hâlâ aktif olan, `wallet`'a ait CLMM limit emirlerini döndürür — tamamen
        dolmamış ve kısmen dolmuş emirlerin tamamı tek bir yük içinde döndürülür. Her satır,
        zincir üstü `LimitOrderState`'in çözümlenmiş hali ile pool anahtarlarını ve indeksleyicinin
        en güncel tick durumundan hesapladığı `pendingSettle` miktarını içerir.

        Veriler indeksleyicinin Redis önbelleğinden sunulur ve zincirden birkaç saniyelik gecikme içerebilir.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Cüzdan genel anahtarı (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Mevcut olduğunda, yanıt ayrıca indeksleyiciden gelen yumuşak hata mesajlarını içeren bir `e` dizisi de döndürür
            (örn. bir satırın atlanmasına neden olan eksik pool veya tick-array önbellek girişi).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Geçersiz istek"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Sunucu hatası"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Bir cüzdanın geçmiş CLMM limit emirlerini listele"
      description: |
        `wallet`'a ait kapatılmış CLMM limit emirlerini döndürür. Her satır, emirin aktif kümeden
        ayrıldığı andaki özetini içerir. `nextPageId` aracılığıyla imleç tabanlı sayfalama uygulanır.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Cüzdan genel anahtarı (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            `true` olarak ayarlandığında, hiç dolmadan kapanan (yani iptal edilen) emirler hariç tutulur.
            Varsayılan `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Filtrelenecek isteğe bağlı CLMM pool'u. `mint1` / `mint2` ile birlikte kullanılamaz."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "İsteğe bağlı mint filtresi (token A veya B). `poolId` ile birlikte kullanılamaz."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "İsteğe bağlı ikinci mint filtresi. `poolId` ile birlikte kullanılamaz."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Önceki sayfa tarafından döndürülen opak sayfalama imleci (TTL ~1s)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Sayfa boyutu (1–100, varsayılan 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Geçersiz istek"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Sunucu hatası"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Bir veya daha fazla limit emir PDA'sının zincir üstü olay günlüğünü listele"
      description: |
        Bir veya daha fazla limit emir PDA'sına ait olay günlüğünü (`open`, `increase`, `decrease`, `settle`, `close`) döndürür.
        Emir başına zaman çizelgesi oluşturmak için kullanışlıdır. `nextPageId` aracılığıyla imleç tabanlı sayfalama uygulanır.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Virgülle ayrılmış bir veya daha fazla limit emir PDA genel anahtarı. Her biri geçerli
            bir base58 pubkey olmalıdır.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Önceki sayfa tarafından döndürülen opak sayfalama imleci (TTL ~1s)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Sayfa boyutu (1–100, varsayılan 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Geçersiz istek"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Sunucu hatası"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Bir cüzdan için birikmiş oluşturucu ücretlerini getir"
      description: |
        Bu cüzdanın oluşturucu olduğu tüm CPMM pool'larını ve her pool için birikmiş ancak talep edilmemiş
        oluşturucu ücretlerini döndürür. Cüzdanın önbellekte oluşturucu ücreti yoksa boş bir dizi döner.

        **Not:** Bu endpoint, kullanıcı verilerini periyodik olarak önbelleğe alır. Çok yakın zamandaki oluşturucu ücreti
        aktivitesi hemen görünmeyebilir.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Cüzdan genel anahtarı (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Geçersiz cüzdan adresi"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Sunucu hatası"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Birikmiş oluşturucu ücretlerine sahip pool'lardan oluşan dizi"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Birikmiş oluşturucu ücretleriyle birlikte tek bir CPMM pool'u"
      properties:
        poolInfo:
          type: object
          description: "Pool meta verisi (yapı değişkenlik gösterebilir; şema için pool'lar API'sine bakın)"
        poolKey:
          type: object
          description: "Pool yapılandırma anahtarı"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Ham token birimlerinde birikmiş ücret miktarları"
      properties:
        amountA:
          type: string
          description: "Token A için oluşturucu ücreti miktarı (en küçük birim cinsinden)"
        amountB:
          type: string
          description: "Token B için oluşturucu ücreti miktarı (en küçük birim cinsinden)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "`/limit-order/order/list` için yük."
      properties:
        id:
          type: string
          description: "İstek kimliği (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                İsteğe bağlı. Yalnızca `showErr` ile yapılan isteklerde bulunur. Her giriş,
                indeksleyiciden gelen bir yumuşak hata mesajıdır (örn. bir satırın atlanmasına
                neden olan eksik pool veya tick dizisi önbellek girişi).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Mevcut durumda bekleyen tek bir limit emir."
      properties:
        pda:
          type: string
          description: "LimitOrderState hesabının açık anahtarı"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Bu emrin beklediği quantize edilmiş tick."
        price:
          type: number
          description: "`tick` değerindeki, mint ondalıkları uygulanmış insan tarafından okunabilir fiyat."
        zeroForOne:
          type: boolean
          description: "true = token_0 sat, token_1 al; false = ters yön."
        orderPhase:
          type: string
          description: "u64 string olarak — bu emrin kendi tick'indeki FIFO kohort aşaması."
        totalAmount:
          type: string
          description: "u64 string olarak — emir tarafından taahhüt edilen toplam girdi miktarı."
        filledAmount:
          type: string
          description: "u64 string olarak — swap'lar tarafından şimdiye kadar tüketilen birikimli girdi."
        openTime:
          type: string
          description: "u64 string olarak — emrin açıldığı unix zaman damgası."
        pendingSettle:
          type: string
          description: "u64 string olarak — `SettleLimitOrder` bekleniyor olan, sahibine ödenmek üzere bekleyen çıktı miktarı."
        filledAmountUpdate:
          type: string
          description: "u64 string olarak — istemci kolaylığı için döndürülen `filledAmount` aynası."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "İnsan tarafından okunabilir güncel pool fiyatı (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "`/limit-order/history/order/list-by-user` için yük."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Sonraki sayfa için opak imleç; son sayfadaysa mevcut değildir."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Kapatılmış tek bir limit emir özeti."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Emrin açıldığı Unix zaman damgası."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Emrin kapanmadan önce ne kadarının gerçekleştiğini gösterir:
            `NONE` (sıfır dolumla iptal edildi), `PARTIAL` veya `FULL`.
        orderInputAmountUi:
          type: number
          description: "Orijinal girdi miktarı, insan birimi cinsinden (ondalıklar uygulanmış)."
        orderOutputAmountUi:
          type: number
          description: "Emrin kendi tick'inde ödeyeceği çıktı miktarı, insan birimi cinsinden."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "`/limit-order/history/event/list-by-pda` için yük."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Sonraki sayfa için opak imleç; son sayfadaysa mevcut değildir."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Bir limit emir PDA'sına karşı gözlemlenen tek bir zincir üstü değişiklik."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "`limit_order_admin` keeper tarafından gerçekleştirildiğinde true; sahibi tarafından imzalandığında false."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Emrin girdi bakiyesindeki net değişim, insan birimi cinsinden (işaretli)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Emrin birikimli çıktısındaki net değişim, insan birimi cinsinden (işaretli)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Hata mesajı"
      required:
        - success
        - msg
