openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3는 Solana 블록체인의 유동성 풀, 민트 정보, 팜 세부 정보, IDO 풀 및 체인 메타데이터를 조회하기 위한 REST 엔드포인트를 제공합니다. 지갑, 애그리게이터, 트레이더가 가격 피드, 풀 데이터 및 라우팅 정보를 가져오는 데 사용됩니다."

servers:
  - url: "https://api-v3.raydium.io"
    description: "프로덕션 (메인넷)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "개발 (데브넷)"

tags:
  - name: "Main"
    description: "체인 정보, TVL 및 설정을 위한 핵심 API 엔드포인트"
  - name: "Mint"
    description: "토큰 민트 정보 및 가격"
  - name: "Pools"
    description: "유동성 풀 정보, 키 및 히스토리 데이터"
  - name: "Farms"
    description: "팜 풀 정보 및 키"
  - name: "IDO"
    description: "IDO 풀 정보 및 키"

components:
  schemas:
    ApiResponse:
      type: object
      description: "공통 응답 래퍼입니다. `data` 필드는 각 엔드포인트의 응답 스키마가 `allOf`를 통해 제공하므로, 기본 래퍼에는 선언되어 있지 않습니다."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "요청 ID (UUID)"
        success:
          type: boolean
          description: "요청 성공 여부"
        msg:
          type: string
          description: "success가 false인 경우의 오류 메시지"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "주요 통계 조회"
      description: "모든 Raydium 풀의 TVL 및 24시간 거래량을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "체인 시간 오프셋 조회"
      description: "로컬 UTC 시간과 Solana 체인 시간 간의 오프셋을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "예상 트랜잭션 수수료 조회"
      description: "예상 온체인 비용(lamports)을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "RAY 스테이킹 풀 조회"
      description: "RAY 토큰 스테이킹 풀을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "CLMM 풀 설정 조회"
      description: "집중 유동성 풀에 허용된 설정을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "CPMM 풀 설정 조회"
      description: "상수 곱 풀에 허용된 설정을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "CLMM 동적 수수료 설정 조회"
      description: |
        `enableDynamicFee=true`를 `CreateCustomizablePool`에 전달할 때 새 CLMM 풀이 선택할 수 있는 조정된 `DynamicFeeConfig` 티어를 조회합니다. 각 항목은 변동성 추적 할증료를 결정하는 티어별 파라미터(필터 기간, 감쇠 기간, 감소 계수, 동적 수수료 제어, 최대 변동성 누산기)를 노출합니다.
        60초 캐시됩니다.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "DynamicFeeConfig PDA"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "초 단위; 이 기간이 지나면 변동성이 0으로 감쇠됩니다"
                            decayPeriod:
                              type: integer
                              description: "초 단위; 누산기 감쇠의 전체 반감기"
                            reductionFactor:
                              type: integer
                              description: "단계별 감쇠 분자 (분모 = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "동적 수수료 할증료 상한 (분모 = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "틱 거리 스케일링 분자 (분모 = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "CLMM 지정가 주문 설정 조회"
      description: |
        지정가 주문을 지원하는 풀에 대한 풀별 지정가 주문 설정(지정가 주문 활성화 여부, 최소 주문 크기, 키퍼 공개 키)을 조회합니다. `OpenLimitOrder` 호출 전 SDK 및 UI에서 사용됩니다. 60초 캐시됩니다.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 문자열 — 풀이 허용하는 최소 입력값"
                            limitOrderAdmin:
                              type: string
                              description: "소유자를 대신하여 주문을 정산/종료할 권한을 가진 오프체인 운영 키퍼"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "기본 민트 목록 조회"
      description: "메타데이터 및 로고가 포함된 UI 기본 민트 목록을 조회합니다. 60초 캐시됩니다."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "ID로 민트 정보 조회"
      description: "특정 민트 주소의 메타데이터를 조회합니다. 20초 캐시."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "쉼표로 구분된 민트 주소 목록"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "민트 가격 조회"
      description: "민트 토큰의 현재 USD 가격을 조회합니다. 5초 캐시."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "쉼표로 구분된 민트 주소 목록"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "ID로 풀 정보 조회"
      description: "풀 ID로 상세 풀 정보를 조회합니다. 60초 캐시."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "쉼표로 구분된 풀 ID 목록"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "LP 민트로 풀 조회"
      description: "LP 토큰 주소로 풀 정보를 조회합니다. 60초 캐시."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "쉼표로 구분된 LP 민트 주소 목록"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "페이지네이션으로 풀 목록 조회"
      deprecated: true
      description: "**레거시 엔드포인트.** 필터링 및 정렬이 지원되는 페이지네이션 풀 목록을 조회합니다. 60초 캐시. pageSize는 1000으로 제한됩니다. 기존 연동을 위해 유지되며, 신규 연동 시에는 다른 `/pools/info/*` 엔드포인트를 통해 ID, 민트 쌍 또는 LP 민트로 풀을 조회하거나, Transaction API의 인덱서 기반 라우팅 기능을 사용하세요."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "토큰 민트로 풀 조회"
      description: "하나 또는 두 개의 토큰 민트로 풀을 필터링합니다. 민트 순서는 내부적으로 정규화됩니다. 60초 캐시."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "고급 필터를 적용한 풀 목록 조회 (v2)"
      description: "커서 기반 페이지네이션을 사용한 고급 풀 목록 조회입니다. 60~90초 캐시."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "풀 온체인 키 조회"
      description: "풀의 온체인 계정 키를 조회합니다. 60초 캐시."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "풀 유동성 히스토리 조회"
      description: "풀의 과거 TVL 데이터를 조회합니다 (최대 30일). 300초 캐시."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "CLMM 포지션 히스토리 조회"
      description: "CLMM 풀의 과거 가격 및 유동성 데이터를 조회합니다. 30초 캐시."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "ID로 팜 정보 조회"
      description: "팜 ID로 팜 풀 상세 정보를 조회합니다. 60초 캐시."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "LP 민트로 팜 조회"
      description: "LP 토큰 스테이크 주소로 팜을 검색합니다. 페이지네이션 지원. 60초 캐시."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "팜 온체인 키 조회"
      description: "팜의 온체인 계정 키를 조회합니다. 60초 캐시."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "IDO 풀 키 조회"
      description: "IDO 풀의 온체인 구조를 조회합니다. 20초 캐시."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
