openapi: 3.0.3
info:
  title: "Dynamic IPFS API"
  description: |
    CLMM 포지션의 동적 NFT 메타데이터와 이미지를 재생성합니다. dApp이 실시간 포지션 비주얼 및 평가 데이터(풀 상세 정보, 수량, 수수료, 보상)를 조회할 때 사용됩니다.

    이 서비스는 포지션 메타데이터를 IPFS에 캐시하고, 포지션 ID별로 계산된 포지션 상태(USD 가치, TVL 백분율, 청구 대기 중인 수수료)를 제공합니다. CLMM 및 CPMM 풀 유형 모두에서 잠금 해제 및 잠금 포지션을 지원합니다.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Concentrated Liquidity Market Maker 포지션의 동적 메타데이터 조회"
  - name: Locked Positions
    description: "잠금 포지션 데이터 조회(CLMM 및 CPMM)"
paths:
  /clmm/position:
    get:
      summary: "CLMM 포지션 메타데이터 조회"
      description: |
        풀 상세 정보, 유동성 수량, 청구 대기 중인 수수료, USD 평가를 포함한 완전한 포지션 메타데이터를 조회합니다. 포지션 비주얼 렌더링에 적합한 동적 NFT 인터페이스 객체를 반환합니다.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "포지션 계정 공개 키(base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "유효하지 않은 포지션 ID"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "포지션을 찾을 수 없습니다"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "서버 오류"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "잠금 CLMM 포지션 메타데이터 조회"
      description: |
        잠금 CLMM 포지션의 메타데이터를 조회합니다. 잠금 기간, 누적 수수료, 현재 평가를 포함한 포지션 데이터를 반환합니다.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "잠금 포지션 PDA 공개 키(base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "유효하지 않은 포지션 ID 또는 소유자 불일치"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "포지션을 찾을 수 없습니다"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "서버 오류"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "잠금 CPMM 포지션 메타데이터 조회"
      description: |
        Constant Product Market Maker 잠금 포지션의 메타데이터를 조회합니다. LP 토큰 수량, 풀 점유 비율, 잠금으로 인한 청구 가능 수수료를 반환합니다.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "잠금 CPMM 포지션 PDA 공개 키(base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "유효하지 않은 포지션 ID 또는 소유자 불일치"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "포지션을 찾을 수 없습니다"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "서버 오류"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "풀 상세 정보 및 평가가 포함된 완전한 CLMM 포지션"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "풀 상세 정보 및 평가가 포함된 완전한 CPMM 잠금 포지션"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Concentrated Liquidity Market Maker 풀 정보"
      properties:
        id:
          type: string
          description: "풀 ID"
        programId:
          type: string
          description: "풀을 소유한 프로그램 ID"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "USD 기준 총 예치 가치"
        rewardDefaultInfos:
          type: array
          description: "이 풀의 보상 토큰"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Constant Product Market Maker 풀 정보"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "USD 기준 LP 토큰 가격"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "토큰 민트 주소"
        decimals:
          type: integer
          description: "토큰 소수 자릿수"
        symbol:
          type: string
          description: "토큰 심볼"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "CLMM 포지션 상태"
      properties:
        tvlPercentage:
          type: number
          description: "포지션 TVL의 풀 대비 백분율(0-100)"
        usdValue:
          type: number
          description: "USD 기준 포지션 가치"
        amountA:
          type: number
          description: "포지션의 토큰 A 수량"
        amountB:
          type: number
          description: "포지션의 토큰 B 수량"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "CPMM 잠금 포지션 상태"
      properties:
        tvlPercentage:
          type: number
          description: "풀 점유율 (0-100 백분율)"
        usdValue:
          type: number
          description: "락된 LP 가치 (USD)"
        amountA:
          type: number
          description: "토큰 A 기초 수량"
        amountB:
          type: number
          description: "토큰 B 기초 수량"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "CLMM 포지션에서 미청구 누적 수수료"
      properties:
        amountA:
          type: number
          description: "미청구 토큰 A 수수료"
        amountB:
          type: number
          description: "미청구 토큰 B 수수료"
        usdFeeValue:
          type: number
          description: "거래 수수료 USD 가치"
        reward:
          type: array
          items:
            type: number
          description: "리워드 토큰당 미청구 리워드 수량"
        usdRewardValue:
          type: number
          description: "리워드 USD 가치"
        usdValue:
          type: number
          description: "미청구 총 가치 (USD)"

    CPUnclaimedFeeInfo:
      type: object
      description: "락된 CPMM 포지션에서 청구 가능한 LP 및 수수료"
      properties:
        lp:
          type: number
          description: "청구 가능한 LP 수량"
        amountA:
          type: number
          description: "청구 가능한 토큰 A"
        amountB:
          type: number
          description: "청구 가능한 토큰 B"
        usdValue:
          type: number
          description: "청구 가능한 가치 (USD)"
