openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "LaunchLab 및 Forum API를 위한 지갑 인증을 관리합니다. ed25519 지갑 서명을 검증한 후 JWT 토큰을 발급합니다. Forum API에서 댓글을 작성하고 콘텐츠를 관리하려면 토큰이 필요합니다."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "인증 토큰 요청 및 검증"
  - name: Utilities
    description: "상태 확인 엔드포인트"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "서명으로 인증 토큰 요청"
      description: '`{signText}{time}` 형식으로 메시지에 서명합니다. 여기서 signText는 "Sign in to raydium.io: "이고 time은 현재 Unix 타임스탬프(초 단위)입니다. 지갑이 이 메시지에 서명하고 JWT 토큰을 받기 위해 서명을 제출해야 합니다.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "메시지에 서명한 시점의 Unix 타임스탐프(초 단위)"
                  example: 1704067200
                signature:
                  type: string
                  description: "메시지의 Ed25519 서명(base58 인코딩)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Solana 지갑 공개 키"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "토큰이 성공적으로 발급됨"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "잘못된 요청 파라미터"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Ledger 트랜잭션을 사용하여 토큰 요청"
      description: "Ledger 서명 트랜잭션을 위한 대체 토큰 요청입니다. 트랜잭션 내에서 `{signText}{time}` 형식으로 메시지에 서명합니다."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix 타임스탐프(초 단위)"
                  example: 1704067200
                transaction:
                  type: string
                  description: "서명된 메시지를 포함하는 Solana 트랜잭션(base64 인코딩)"
                wallet:
                  type: string
                  description: "Solana 지갑 공개 키"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "토큰이 성공적으로 발급됨"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "인증 토큰 검증"
      description: "토큰이 여전히 유효한지 확인합니다. 만료 시점이 임박한 경우 토큰 수명을 연장합니다."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "토큰이 유효함"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "토큰이 유효하지 않거나 만료됨"
  /del-token:
    get:
      operationId: getDelToken
      summary: "인증 토큰 폐기"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "토큰이 폐기됨"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
