openapi: 3.0.3
info:
  title: "Raydium Launch Mint API"
  description: "LaunchLab 토큰의 민트 생성, 리더보드, 검색 및 이력 데이터에 대한 접근을 제공합니다. 이름, 심볼, 지갑 생성자 및 다양한 필터링 옵션으로 검색을 지원합니다."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "민트 검색 및 탐색"
  - name: Details
    description: "민트 정보 조회"
  - name: User Activity
    description: "사용자 생성 및 거래 통계 조회"
  - name: Vesting
    description: "베스팅 일정 데이터 조회"
  - name: Configuration
    description: "플랫폼 설정 및 메타데이터"
  - name: Creation
    description: "새로운 민트 생성 및 트랜잭션 제출"
  - name: Utilities
    description: "상태 확인 및 헬스 체크"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "민트 검색"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "검색 결과"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "주요 민트 조회"
      tags:
        - Discovery
      responses:
        '200':
          description: "주요 민트"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "최근 주요 민트 조회"
      tags:
        - Discovery
      responses:
        '200':
          description: "최근 민트"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "민트 상세 정보 조회"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "민트 상세 정보"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "사용자 민트 조회"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "사용자 민트"
  /get/list:
    get:
      operationId: getGetList
      summary: "정렬을 포함한 민트 목록"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "민트 목록"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Bonk 민트 목록"
      tags:
        - Discovery
      responses:
        '200':
          description: "Bonk 민트"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "사용자 거래량 통계 조회"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "거래량 통계"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "사용자 생성 통계 조회"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "생성 통계"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "플랫폼 설정 조회"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "플랫폼 조회"
      deprecated: true
      description: "**레거시 엔드포인트입니다.** v1 플랫폼 목록을 반환합니다. 프론트엔드가 필요로 하는 추가 필드를 포함하는 `/campaign/platforms-v2`로 대체되었습니다. 새로운 통합은 v2 엔드포인트를 호출해야 합니다."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "플랫폼 v2 조회"
      tags:
        - Configuration
      responses:
        '200':
          description: "플랫폼 v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "민트 생성 제출"
      description: |-
        온체인 생성 트랜잭션이 전송되기 전에 새로운 LaunchLab 민트의 오프체인 메타데이터를 등록합니다. 플랫폼은 제공된 이름/심볼/uri/소셜 링크를 민트별로 저장하므로, UI에서 보딩 곡선이 활성화되어 있는 동안 이를 표시할 수 있습니다.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "온체인에서 생성된 민트 공개키(base58)입니다."
                name:
                  type: string
                  description: "LaunchLab UI에 표시되는 표시 이름입니다."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "티커 심볼입니다."
                  example: MEME
                description:
                  type: string
                  description: "긴 형식의 설명입니다."
                imageUri:
                  type: string
                  description: "토큰 아이콘의 HTTPS URL 또는 IPFS URI입니다."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "이 출시를 호스팅하는 플랫폼 공개키입니다."
                wallet:
                  type: string
                  description: "생성자 지갑(base58) — 온체인 생성자와 일치해야 합니다."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "무작위 민트 가져오기"
      description: |
        호출자를 위한 신규 미사용 민트 키페어를 반환합니다. 선택적 필터를
        사용하면 플랫폼이 특정 접두사/접미사가 있는 베니티 주소를
        미리 생성할 수 있습니다.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "반환된 민트가 시작해야 하는 선택적 base58 접두사입니다."
                suffix:
                  type: string
                  description: "반환된 민트가 끝나야 하는 선택적 base58 접미사입니다."
                wallet:
                  type: string
                  description: "속도 제한에 사용되는 선택적 생성자 지갑입니다."
      responses:
        '200':
          description: "무작위 민트"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Base58 민트 주소입니다."
                  privateKey:
                    type: string
                    description: |
                      민트용 base58 시크릿 키입니다. 생성 트랜잭션에 한 번 서명한 후
                      폐기해야 합니다.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "트랜잭션 제출"
      description: |
        호출자 대신 완전히 서명된 Solana 트랜잭션(base64 인코딩)을 전달합니다.
        UI에서 생성/구매/판매 트랜잭션을 플랫폼의 RPC를 통해 중계하여
        우선 수수료 인상과 재시도 처리를 위해 사용됩니다.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Base64 인코딩된 완전 서명된 VersionedTransaction입니다."
                wallet:
                  type: string
                  description: "호출자 지갑(base58)입니다. 트랜잭션의 수수료 납부자와 일치해야 합니다."
                priorityFee:
                  type: integer
                  description: |
                    선택적 우선 수수료 오버라이드(마이크로 램포트 단위)입니다.
                    생략하면 플랫폼이 기본 정책을 적용합니다.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Base58 트랜잭션 서명입니다."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "ID별 베스팅 가져오기"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "베스팅 스케줄"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "풀 베스팅 가져오기"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "풀 베스팅"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "소유자 베스팅 가져오기"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "소유자 베스팅"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "리퍼러 보상 가져오기"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "리퍼러 정보"
