openapi: 3.0.3
info:
  title: "Raydium Launch Forum API"
  description: "LaunchLab 풀에 대한 토론 API입니다. 민트 토큰에 대한 댓글을 작성하고 조회할 수 있습니다. 쓰기 작업에는 `ray-token` 헤더(Auth API의 JWT)가 필요합니다."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "풀 댓글 작성 및 조회"
  - name: Utilities
    description: "상태 확인"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "풀에 댓글 작성"
      tags:
        - Comments
      description: "새 댓글을 작성합니다. ray-token 헤더가 필요합니다."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Auth API의 JWT 토큰"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "풀/민트 ID"
                wallet:
                  type: string
                  description: "댓글 작성자 지갑"
                text:
                  type: string
                  description: "댓글 텍스트(최대 2000자)"
                file:
                  type: string
                  format: binary
                  description: "선택 이미지(최대 5MB)"
      responses:
        '200':
          description: "댓글이 성공적으로 작성됨"
        '400':
          description: "잘못된 요청 또는 콘텐츠 정책 위반"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "풀의 댓글 조회"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "풀/민트 ID"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "페이지네이션 토큰"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "NSFW 콘텐츠 포함"
      responses:
        '200':
          description: "풀 댓글"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "ID로 특정 댓글 조회"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "댓글 ID"
      responses:
        '200':
          description: "댓글 세부정보"
        '500':
          description: "댓글을 찾을 수 없거나 삭제됨"
