openapi: 3.0.3
info:
  title: "Raydium 런칭 히스토리 API"
  description: "LaunchLab 풀의 과거 거래 데이터를 제공합니다. 1분, 5분, 15분 단위의 kline(캔들) 데이터와 개별 거래 이력을 포함합니다."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "OHLC 캔들스틱 데이터"
  - name: Trades
    description: "개별 거래 이력"
  - name: Utilities
    description: "헬스 체크"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Kline(캔들스틱) 데이터 조회"
      tags:
        - Candle Data
      description: 'OHLC 캔들 데이터를 조회합니다. 범위 제한: 1-500 (기본값 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "풀 ID (민트 주소)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "페이지네이션 토큰"
      responses:
        '200':
          description: "페이지네이션이 포함된 Kline 데이터"
  /trade:
    get:
      operationId: getTrade
      summary: "거래 이력 조회"
      tags:
        - Trades
      description: '개별 거래를 조회합니다. 범위 제한: 1-100 (기본값 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "거래자 지갑으로 필터링"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "페이지네이션이 포함된 거래 이력"
