openapi: 3.0.3
info:
  title: "Owner API"
  description: |
    Raydium 유동성 풀에서 지갑별 잔액, 포지션, 청구 가능한 보상을 조회합니다.
    지갑 및 포트폴리오 대시보드가 소유자 범위의 데이터를 한 번의 요청으로 가져오도록 설계되었습니다.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "지갑별 포지션 잔액 및 상태 조회"
  - name: Pool Creation
    description: "지갑이 생성한 풀 조회"
  - name: IDO
    description: "IDO 참여 데이터 조회"
  - name: Admin
    description: "관리 엔드포인트 (내부용)"
paths:
  /position/stake/{owner}:
    get:
      summary: "지갑의 스테이크 포지션 조회"
      description: |
        이 지갑이 소유한 모든 스테이크 (표준 AMM 또는 CPMM) 포지션을 조회합니다.
        금액 및 보상을 포함한 캐시된 포지션 데이터를 반환합니다.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "포지션 데이터 구조 (OwnerAPI 응답 참조)"
        '404':
          description: "지갑에 스테이크 포지션이 없습니다"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "지갑의 잠금된 CLMM 포지션 조회"
      description: |
        이 지갑이 소유한 모든 잠금된 Concentrated Liquidity Market Maker 포지션을 조회합니다.
        잠금된 금액, 잠금 해제 시간, 청구 가능한 수수료를 포함한 포지션 상태를 반환합니다.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "잠금된 포지션 데이터 구조"
        '404':
          description: "지갑에 잠금된 CLMM 포지션이 없습니다"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "지갑이 생성한 풀 조회"
      description: |
        이 지갑이 생성 (론칭) 한 모든 CPMM 풀을 조회합니다.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "생성된 풀 데이터"
        '404':
          description: "지갑이 생성한 풀이 없습니다"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "지갑의 IDO 참여 정보 조회"
      description: |
        투자 금액 및 청구 상태를 포함한 IDO 참여 데이터를 조회합니다.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "IDO 참여 데이터"
        '404':
          description: "지갑에 IDO 참여 기록이 없습니다"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "표준 오류 응답"
      properties:
        id:
          type: string
          description: "요청 ID (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
