openapi: 3.0.3
info:
  title: "Raydium Perps API V1"
  version: 1.0.0
  description: |
    Raydium 무기한 선물 거래(Perpetual Futures)를 위한 설정 및 메타데이터 서비스입니다. 이 API는 프론트엔드 설정, 자산 가용성, 지역 제한, RPC 엔드포인트를 제공합니다. 주문 배치는 Orderly Network의 API에 위임됩니다.

    모든 엔드포인트는 표준 응답 형식을 반환합니다:
    - **성공**: `{ id: string, success: true, data: {...} }`
    - **오류**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "핵심 서비스 정보(버전, RPC, 통계, 지역 확인)."
  - name: Pool
    description: "무기한 선물 시장 풀 설정."
  - name: Campaign
    description: "캠페인 및 리더보드 데이터."
  - name: Share
    description: "포지션 및 수익/손실 공유 엔드포인트."

paths:
  /main/info:
    get:
      summary: "무기한 선물 시장 통계 조회"
      description: "24시간/7일/30일 거래량 및 미결제약정(롱/숏/총합)을 반환합니다."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "시장 정보 조회 완료."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "기본 무기한 선물 풀 목록 조회"
      description: "거래량 및 통계가 포함된 기본 무기한 선물 거래 풀 목록을 반환합니다."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "풀 목록 조회 완료."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "현재 안정적인 UI 버전."
              example: "1.2.0"
            least:
              type: string
              description: "필수 최소 UI 버전."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "사용 가능한 RPC URL 목록."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "24시간 거래량."
                "7d":
                  type: number
                  description: "7일 거래량."
                "30d":
                  type: number
                  description: "30일 거래량."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "총 롱 미결제약정."
                short:
                  type: number
                  description: "총 숏 미결제약정."
                all:
                  type: number
                  description: "합계 미결제약정."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "사용자 지역에서 무기한 선물 거래 허용 여부."
            country:
              type: string
              description: "감지된 국가 코드(cf-ipcountry 헤더에서)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "\"ed25519:<base58-encoded-key>\" 형식의 Ed25519 공개 키."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "풀 심볼(예: BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "24시간 거래량."
              volume7d:
                type: string
                description: "7일 거래량."
              volume30d:
                type: string
                description: "30일 거래량."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "규칙 및 매개변수가 포함된 캠페인 설정 객체."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "사용자의 순위 또는 리더보드 위치."
                walletAddress:
                  type: string
                  description: "마스킹된 지갑 주소."
                volume:
                  type: number
                  description: "총 캠페인 거래량."
                pnl:
                  type: number
                  description: "실현된 수익/손실."
                pnlW:
                  type: number
                  description: "점수 계산용 가중 P&L."
                score:
                  type: number
                  description: "캠페인 점수."
                rewards:
                  type: array
                  description: "획득한 보상 목록."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "리더보드 마지막 업데이트 타임스탬프(ms)."
            rows:
              type: array
              description: "이 리더보드 페이지의 상위 사용자."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "현재 포지션 스크린샷 생성을 위한 페이로드."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "마감된 포지션 스크린샷 생성을 위한 페이로드."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "생성된 이미지 파일 ID."
            msg:
              type: string
              description: "상태 메시지."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "오류 메시지 또는 코드."
