openapi: 3.0.3
info:
  title: "Raydium 트랜잭션 API (Route V2)"
  version: 1.0.0
  description: |
    Solana용 서버 사이드 스왑 트랜잭션 빌더입니다. 이 API는 클라이언트가 RPC 연결이나 전체 Raydium SDK를 실행할 필요 없이 직렬화된 스왑 트랜잭션을 생성합니다.

    응답은 표준 봉투 형식을 따릅니다:
    - **성공**: `{ id: string, success: true, data: {...} }`
    - **오류**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "스왑 시세 계산용 읽기 전용 엔드포인트입니다(트랜잭션 빌딩 없음)."
  - name: Transaction
    description: "서명 및 브로드캐스트할 준비가 완료된 직렬화 스왑 트랜잭션을 빌드합니다."

paths:
  /compute/swap-base-in:
    get:
      summary: "스왑 시세 계산(기본 입력)"
      description: |
        고정된 입력 금액으로 스왑할 때 예상 출력 금액을 계산합니다.
        트랜잭션 빌딩 전에 미리보기를 표시할 때 유용합니다.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "입력 토큰의 민트 주소입니다(base58 인코딩된 공개 키)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "출력 토큰의 민트 주소입니다(base58 인코딩된 공개 키)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "입력 금액(lamport, SPL 토큰의 최소 단위)입니다. 음이 아닌 정수 문자열이어야 합니다."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "최대 슬리피지 허용도(basis points, 0–10000)입니다. 1 bps = 0.01%입니다."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "선택 사항인 레퍼러 수수료(basis points, 0–10000)입니다. 레퍼러 권한이 있는 경우에만 사용됩니다."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 트랜잭션 버전입니다. V0은 주소 조회 테이블을 사용하고, LEGACY는 전통적인 형식입니다."
          example: V0
      responses:
        "200":
          description: "스왑 시세가 성공적으로 계산되었습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "입력 매개변수가 유효하지 않습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "스왑 시세 계산(기본 출력)"
      description: |
        원하는 출력 금액을 달성하기 위해 필요한 입력 금액을 계산합니다.
        목표 출력을 아는 스왑에 유용합니다.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "입력 토큰의 민트 주소입니다."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "출력 토큰의 민트 주소입니다."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "원하는 출력 금액(최소 단위, lamport)입니다."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "최대 슬리피지 허용도(basis points, 0–10000)입니다."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Solana 트랜잭션 버전입니다."
          example: V0
      responses:
        "200":
          description: "스왑 시세가 성공적으로 계산되었습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "입력 매개변수가 유효하지 않습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "스왑 트랜잭션 빌드(기본 입력)"
      description: |
        고정된 입력 금액으로 직렬화된 스왑 트랜잭션을 생성합니다.
        `/compute/swap-base-in`에서 성공한 compute 응답이 필요합니다.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "직렬화된 트랜잭션이 성공적으로 빌드되었습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "요청 본문 또는 계산 상태가 유효하지 않습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "스왑 트랜잭션 빌드(기본 출력)"
      description: |
        원하는 출력 금액으로 직렬화된 스왑 트랜잭션을 생성합니다.
        `/compute/swap-base-out`에서 성공한 compute 응답이 필요합니다.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "직렬화된 트랜잭션이 성공적으로 빌드되었습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "요청 본문 또는 계산 상태가 유효하지 않습니다."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "고유한 요청 식별자(UUID)입니다."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "compute의 성공 여부입니다."
          example: true
        version:
          type: string
          description: "API 응답 버전입니다."
          example: "V1"
        data:
          type: object
          description: "스왑 계산 결과입니다."
          properties:
            inputAmount:
              type: string
              description: "입력 금액(최소 단위)입니다."
            outputAmount:
              type: string
              description: "예상 출력 금액(슬리피지 고려)입니다."
            priceImpact:
              type: string
              description: "가격 영향 비율입니다(예: \"0.5\"는 0.5%)."
            routes:
              type: array
              description: "사용된 스왑 경로 및 풀 배열입니다."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "고유한 요청 식별자입니다."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "트랜잭션 생성 성공 여부입니다."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "트랜잭션 데이터입니다."
          properties:
            transaction:
              type: string
              description: "서명 준비가 완료된 Base64 인코딩된 버전화된 트랜잭션입니다."
            addressLookupTableAddresses:
              type: array
              description: "주소 조회 테이블 주소입니다 (txVersion=V0인 경우)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "서명자 지갑 주소입니다 (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "컴퓨팅 엔드포인트로부터의 완전한 응답 객체입니다."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Solana 트랜잭션 버전입니다."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "마이크로-램포트 단위의 컴퓨팅 유닛 가격입니다 (우선 수수료용)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "입력이 네이티브 SOL인 경우 SOL을 래핑할지 여부입니다."
          example: false
        unwrapSol:
          type: boolean
          description: "출력에서 WSOL을 SOL로 래핑 해제할지 여부입니다."
          example: false
        inputAccount:
          type: string
          description: "입력용 선택적 토큰 계정 주소입니다. SOL을 래핑하지 않는 경우 필수입니다."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "출력용 선택적 토큰 계정 주소입니다."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "MEV 보호를 위한 선택적 Jito 번들 파라미터입니다."
          properties:
            address:
              type: string
              description: "Jito 번들 제출 주소입니다."
            amount:
              type: string
              description: "램포트 단위의 번들 팁 금액입니다."
        referrerWallet:
          type: string
          description: "수수료 수집을 위한 선택적 리퍼러 지갑 주소입니다."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "고유한 요청 식별자입니다."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "오류 메시지 코드입니다 (예: REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
