openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    메인 Raydium API에 영구적인 위치가 없는 단기 엔드포인트를 위한 임시 공간입니다.
    이 서비스의 엔드포인트는 사전 고지 없이 변경되거나 지원이 중단되거나 이동될 수 있습니다.

    **안정성 경고:** 이 서비스는 빠른 반복 개발을 우선시하며 API 안정성을 최소한으로만 보장합니다.
    비중요 경로, 내부 도구, 또는 개발 중인 기능에만 사용하세요.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "임시 엔드포인트 (불안정)"
paths:
  /limit-order/order/list:
    get:
      summary: "지갑에 현재 등록된 CLMM 지정가 주문 목록 조회"
      description: |
        `wallet`이 소유한 온체인 CLMM 지정가 주문 — 완전 미체결 및 부분 체결 주문 모두 하나의 페이로드로 반환됩니다. 각 행은 디코딩된 온체인 `LimitOrderState`와 풀 키, 그리고 인덱서가 최신 틱 상태로부터 계산한 `pendingSettle` 금액을 포함합니다.

        데이터는 인덱서의 Redis 캐시에서 제공되며 체인보다 몇 초 지연될 수 있습니다.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            이 파라미터가 있으면 응답에 인덱서의 소프트 실패 메시지를 담은 `e` 배열도 포함됩니다 (예: 행 처리가 건너뛰어진 원인이 된 누락된 풀 또는 틱 배열 캐시 항목).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "잘못된 요청"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "서버 오류"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "지갑의 CLMM 지정가 주문 내역 조회"
      description: |
        `wallet`이 소유한 종료된 CLMM 지정가 주문을 반환합니다. 각 행은 주문이 활성 목록에서 제외된 시점의 요약 정보를 담고 있습니다. `nextPageId`를 통해 커서 페이지네이션을 지원합니다.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            `true`로 설정하면 한 번도 체결되지 않고 종료된 주문(즉, 취소된 주문)을 제외합니다. 기본값은 `false`입니다.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "특정 CLMM 풀로 필터링하는 옵션입니다. `mint1` / `mint2`와 함께 사용할 수 없습니다."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "민트 필터 옵션 (토큰 A 또는 B). `poolId`와 함께 사용할 수 없습니다."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "두 번째 민트 필터 옵션. `poolId`와 함께 사용할 수 없습니다."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "이전 페이지에서 반환된 불투명한 페이지네이션 커서 (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "페이지 크기 (1–100, 기본값 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "잘못된 요청"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "서버 오류"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "하나 이상의 지정가 주문 PDA에 대한 온체인 이벤트 로그 조회"
      description: |
        하나 이상의 지정가 주문 PDA에 대한 이벤트 로그(`open`, `increase`, `decrease`, `settle`, `close`)를 반환합니다. 주문별 타임라인 렌더링에 유용합니다. `nextPageId`를 통해 커서 페이지네이션을 지원합니다.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            쉼표로 구분된 하나 이상의 지정가 주문 PDA 공개 키. 각 항목은 유효한 base58 공개 키여야 합니다.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "이전 페이지에서 반환된 불투명한 페이지네이션 커서 (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "페이지 크기 (1–100, 기본값 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "잘못된 요청"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "서버 오류"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "지갑의 누적 크리에이터 수수료 조회"
      description: |
        이 지갑이 크리에이터인 모든 CPMM 풀과 풀별로 누적되었지만 아직 청구되지 않은 크리에이터 수수료를 반환합니다. 캐시된 크리에이터 수수료가 없으면 빈 배열을 반환합니다.

        **참고:** 이 엔드포인트는 사용자 데이터를 주기적으로 캐싱합니다. 아주 최근의 크리에이터 수수료 활동은 즉시 반영되지 않을 수 있습니다.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "지갑 공개 키 (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "유효하지 않은 지갑 주소"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "서버 오류"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "누적 크리에이터 수수료가 있는 풀 배열"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "누적 크리에이터 수수료가 있는 단일 CPMM 풀"
      properties:
        poolInfo:
          type: object
          description: "풀 메타데이터 (구조는 다양함; 스키마는 풀 API 참조)"
        poolKey:
          type: object
          description: "풀 설정 키"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "원시 토큰 단위의 누적 수수료 금액"
      properties:
        amountA:
          type: string
          description: "토큰 A의 크리에이터 수수료 금액 (최소 단위)"
        amountB:
          type: string
          description: "토큰 B의 크리에이터 수수료 금액 (최소 단위)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "`/limit-order/order/list`의 페이로드."
      properties:
        id:
          type: string
          description: "요청 ID (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                선택 사항. `showErr`와 함께 요청한 경우에만 표시됩니다. 각 항목은
                인덱서의 소프트 실패 메시지입니다 (예: 누락된 풀 또는 틱 배열
                캐시 항목으로 인해 해당 행이 건너뛰어진 경우).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "현재 대기 중인 단일 지정가 주문."
      properties:
        pda:
          type: string
          description: "LimitOrderState 계정 공개 키"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "이 주문이 위치한 양자화된 틱."
        price:
          type: number
          description: "`tick` 기준의 사람이 읽을 수 있는 가격 (mint 소수점 자릿수 적용)."
        zeroForOne:
          type: boolean
          description: "true = token_0 판매, token_1 구매; false = 반대 방향."
        orderPhase:
          type: string
          description: "u64 문자열 — 해당 틱에서 이 주문의 FIFO 코호트 단계."
        totalAmount:
          type: string
          description: "u64 문자열 — 주문에 투입된 총 입력 수량."
        filledAmount:
          type: string
          description: "u64 문자열 — 지금까지 스왑으로 소비된 누적 입력 수량."
        openTime:
          type: string
          description: "u64 문자열 — 주문이 생성된 Unix 타임스탬프."
        pendingSettle:
          type: string
          description: "u64 문자열 — `SettleLimitOrder` 대기 중인, 소유자에게 지급 예정인 현재 출력 수량."
        filledAmountUpdate:
          type: string
          description: "u64 문자열 — 클라이언트 편의를 위해 반환되는 `filledAmount`의 미러 값."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "사람이 읽을 수 있는 현재 풀 가격 (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "`/limit-order/history/order/list-by-user` 페이로드."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "다음 페이지를 위한 불투명 커서; 마지막 페이지인 경우 생략됩니다."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "종료된 단일 지정가 주문의 요약 정보."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "주문이 생성된 Unix 타임스탬프."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            주문이 종료되기 전까지 체결된 비율:
            `NONE` (체결 없이 취소됨), `PARTIAL`, 또는 `FULL`.
        orderInputAmountUi:
          type: number
          description: "원래 입력 수량 (소수점 자릿수 적용된 사람이 읽을 수 있는 단위)."
        orderOutputAmountUi:
          type: number
          description: "해당 틱 기준으로 주문이 지급했을 출력 수량 (사람이 읽을 수 있는 단위)."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "`/limit-order/history/event/list-by-pda` 페이로드."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "다음 페이지를 위한 불투명 커서; 마지막 페이지인 경우 생략됩니다."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "지정가 주문 PDA에 대해 관찰된 단일 온체인 변경 이벤트."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "이벤트가 `limit_order_admin` 키퍼에 의해 수행된 경우 true; 소유자가 서명한 경우 false."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "주문의 입력 잔액 순 변화량 (사람이 읽을 수 있는 단위, 부호 포함)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "주문의 누적 출력 순 변화량 (사람이 읽을 수 있는 단위, 부호 포함)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "오류 메시지"
      required:
        - success
        - msg
