openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3 menyediakan endpoint REST untuk mengambil data liquidity pool, informasi mint, detail farm, IDO pool, dan metadata chain Solana. Digunakan oleh wallet, agregator, dan trader untuk mendapatkan feed harga, data pool, dan informasi routing."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Produksi (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Pengembangan (Devnet)"

tags:
  - name: "Main"
    description: "Endpoint API inti untuk informasi chain, TVL, dan konfigurasi"
  - name: "Mint"
    description: "Informasi mint token dan harga"
  - name: "Pools"
    description: "Info liquidity pool, kunci, dan data historis"
  - name: "Farms"
    description: "Informasi farm pool dan kunci"
  - name: "IDO"
    description: "Informasi IDO pool dan kunci"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Amplop respons umum. Field `data` disediakan oleh skema respons masing-masing endpoint melalui `allOf` dan karena itu tidak dideklarasikan pada amplop dasar."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "ID permintaan (UUID)"
        success:
          type: boolean
          description: "Apakah permintaan berhasil"
        msg:
          type: string
          description: "Pesan kesalahan jika success bernilai false"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Dapatkan statistik utama"
      description: "Mengambil TVL dan volume 24 jam untuk semua pool Raydium. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Dapatkan offset waktu chain"
      description: "Mengambil selisih antara waktu UTC lokal dan waktu chain Solana. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Dapatkan estimasi biaya transaksi"
      description: "Mengambil estimasi biaya on-chain (lamports). Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Dapatkan RAY stake pool"
      description: "Mengambil pool staking token RAY. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Dapatkan konfigurasi CLMM pool"
      description: "Mengambil konfigurasi yang diizinkan untuk concentrated liquidity pool. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Dapatkan konfigurasi CPMM pool"
      description: "Mengambil konfigurasi yang diizinkan untuk constant-product pool. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Dapatkan konfigurasi dynamic fee CLMM"
      description: |
        Mengambil tier `DynamicFeeConfig` yang telah dikalibrasi dan dapat dipilih oleh CLMM pool baru ketika
        `enableDynamicFee=true` diteruskan ke `CreateCustomizablePool`. Setiap entri memperlihatkan
        parameter per-tier (filter period, decay period, reduction factor, dynamic-fee
        control, max volatility accumulator) yang mengatur surcharge pelacakan volatilitas.
        Disimpan dalam cache selama 60 detik.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA DynamicFeeConfig"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Detik; volatilitas meluruh menuju nol setelah jendela waktu ini"
                            decayPeriod:
                              type: integer
                              description: "Detik; half-life penuh dari peluruhan akumulator"
                            reductionFactor:
                              type: integer
                              description: "Numerator peluruhan per langkah (denominator = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Batas maksimum surcharge dynamic fee (denominator = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Numerator skala tick-distance (denominator = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Dapatkan konfigurasi limit order CLMM"
      description: |
        Mengambil konfigurasi limit order per-pool (apakah limit order diaktifkan,
        ukuran order minimum, dan public key keeper) untuk pool yang mendukung limit
        order. Digunakan oleh SDK dan UI sebelum memanggil `OpenLimitOrder`. Disimpan dalam cache selama 60 detik.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 dalam bentuk string — input minimum yang diterima pool"
                            limitOrderAdmin:
                              type: string
                              description: "Keeper operasional off-chain yang berwenang untuk menyelesaikan/menutup order atas nama pemilik"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Dapatkan daftar mint default"
      description: "Mengambil daftar mint default UI beserta metadata dan logo. Disimpan dalam cache selama 60 detik."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Dapatkan info mint berdasarkan ID"
      description: "Mengambil metadata untuk alamat mint tertentu. Cache 20 detik."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Alamat mint yang dipisahkan dengan koma"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Dapatkan harga mint"
      description: "Mengambil harga USD terkini untuk token mint. Cache 5 detik."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Alamat mint yang dipisahkan dengan koma"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Dapatkan info pool berdasarkan ID"
      description: "Mengambil informasi pool secara lengkap berdasarkan ID pool. Cache 60 detik."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "ID pool yang dipisahkan dengan koma"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Dapatkan pool berdasarkan LP mint"
      description: "Mengambil info pool berdasarkan alamat token LP. Cache 60 detik."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "Alamat LP mint yang dipisahkan dengan koma"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Daftar pool dengan paginasi"
      deprecated: true
      description: "**Endpoint lama.** Mengambil daftar pool dengan paginasi, filter, dan pengurutan. Cache 60 detik. pageSize dibatasi hingga 1000. Tetap aktif untuk integrasi yang sudah ada; integrasi baru sebaiknya mengambil pool berdasarkan ID, pasangan mint, atau LP mint melalui endpoint `/pools/info/*` lainnya, atau menggunakan permukaan routing berbasis indexer di Transaction API."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Dapatkan pool berdasarkan token mint"
      description: "Filter pool berdasarkan satu atau dua token mint. Urutan mint dinormalisasi secara internal. Cache 60 detik."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Daftar pool dengan filter lanjutan (v2)"
      description: "Daftar pool lanjutan dengan paginasi berbasis kursor. Cache 60–90 detik."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Dapatkan kunci on-chain pool"
      description: "Mengambil kunci akun on-chain untuk pool. Cache 60 detik."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Dapatkan riwayat likuiditas pool"
      description: "Mengambil data TVL historis untuk sebuah pool (hingga 30 hari). Cache 300 detik."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Dapatkan riwayat posisi CLMM"
      description: "Mengambil data harga dan likuiditas historis untuk pool CLMM. Cache 30 detik."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Dapatkan info farm berdasarkan ID"
      description: "Mengambil detail pool farm berdasarkan ID farm. Cache 60 detik."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Dapatkan farm berdasarkan LP mint"
      description: "Mencari farm berdasarkan alamat stake token LP. Dengan paginasi. Cache 60 detik."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Dapatkan kunci on-chain farm"
      description: "Mengambil kunci akun on-chain untuk farm. Cache 60 detik."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Dapatkan kunci pool IDO"
      description: "Mengambil struktur on-chain untuk pool IDO. Cache 20 detik."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
