openapi: 3.0.3
info:
  title: "API V1 V2 (Legacy)"
  description: |
    API Raydium yang sudah usang, menyediakan informasi pool, harga, data SDK, dan detail farm.
    Primer digunakan untuk kompatibilitas mundur dan klien SDK.

    **Migrasi ke API v3:** Sebagian besar endpoint di sini memiliki padanan yang lebih baru di [API v3](/en/api-reference/api-v3).
    Untuk integrasi baru, pilih endpoint v3 yang menawarkan performa dan stabilitas lebih baik.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Mainnet saja"
tags:
  - name: Ray Token
    description: "Endpoint supply token RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "Dapatkan total supply RAY"
      description: "Ambil total supply token RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Total supply sebagai teks angka biasa"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Dapatkan circulating supply RAY"
      description: "Ambil circulating supply token RAY."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Circulating supply sebagai teks angka biasa"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID Permintaan"
        success:
          type: boolean
          example: false
