openapi: 3.0.3
info:
  title: "API IPFS Dinamis"
  description: |-
    Membuat ulang metadata dan gambar NFT dinamis untuk posisi CLMM. Digunakan oleh dApp untuk mengambil visual posisi real-time dan data valuasi, termasuk detail pool, jumlah, biaya, dan reward.

    Layanan ini menyimpan metadata posisi di IPFS dan melayani state posisi yang dihitung (nilai USD, persentase TVL, biaya yang belum diklaim) berdasarkan ID posisi. Mendukung posisi terkunci dan tidak terkunci di seluruh tipe pool CLMM dan CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Ambil metadata dinamis untuk posisi Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Ambil data posisi terkunci (CLMM dan CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Dapatkan metadata posisi CLMM"
      description: |-
        Ambil metadata posisi lengkap termasuk detail pool, jumlah likuiditas, biaya yang belum diklaim, dan valuasi USD. Mengembalikan objek antarmuka NFT dinamis yang cocok untuk merender visual posisi.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Kunci publik akun posisi (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID posisi tidak valid"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Posisi tidak ditemukan"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Kesalahan server"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Dapatkan metadata posisi CLMM terkunci"
      description: |-
        Ambil metadata untuk posisi CLMM terkunci. Mengembalikan data posisi termasuk durasi kunci, biaya terkumpul, dan valuasi saat ini.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Kunci publik PDA posisi terkunci (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "ID posisi tidak valid atau ketidakcocokan pemilik"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posisi tidak ditemukan"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Kesalahan server"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Dapatkan metadata posisi CPMM terkunci"
      description: |-
        Ambil metadata untuk posisi Constant Product Market Maker yang terkunci. Mengembalikan jumlah token LP, persentase share pool, dan biaya yang dapat diklaim dari penguncian.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Kunci publik PDA posisi CPMM terkunci (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "ID posisi tidak valid atau ketidakcocokan pemilik"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Posisi tidak ditemukan"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Kesalahan server"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Posisi CLMM lengkap dengan detail pool dan valuasi"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Posisi CPMM terkunci lengkap dengan detail pool dan valuasi"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Informasi pool Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID pool"
        programId:
          type: string
          description: "ID program yang memiliki pool"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Total Value Locked dalam USD"
        rewardDefaultInfos:
          type: array
          description: "Token reward untuk pool ini"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Informasi pool Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Harga token LP dalam USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Alamat mint token"
        decimals:
          type: integer
          description: "Desimal token"
        symbol:
          type: string
          description: "Simbol token"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "State posisi CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL posisi sebagai persentase pool (0-100)"
        usdValue:
          type: number
          description: "Nilai posisi dalam USD"
        amountA:
          type: number
          description: "Jumlah Token A di posisi"
        amountB:
          type: number
          description: "Jumlah Token B di posisi"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "State posisi CPMM terkunci"
      properties:
        tvlPercentage:
          type: number
          description: "Bagian pool sebagai persentase (0-100)"
        usdValue:
          type: number
          description: "Nilai LP terkunci dalam USD"
        amountA:
          type: number
          description: "Jumlah Token A yang mendasar"
        amountB:
          type: number
          description: "Jumlah Token B yang mendasar"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Biaya yang terakumulasi namun belum diklaim dalam posisi CLMM"
      properties:
        amountA:
          type: number
          description: "Biaya Token A yang belum diklaim"
        amountB:
          type: number
          description: "Biaya Token B yang belum diklaim"
        usdFeeValue:
          type: number
          description: "Nilai biaya perdagangan dalam USD"
        reward:
          type: array
          items:
            type: number
          description: "Jumlah reward yang belum diklaim per token reward"
        usdRewardValue:
          type: number
          description: "Nilai reward dalam USD"
        usdValue:
          type: number
          description: "Total nilai yang belum diklaim dalam USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "LP dan biaya yang dapat diklaim dari posisi CPMM terkunci"
      properties:
        lp:
          type: number
          description: "Jumlah LP yang dapat diklaim"
        amountA:
          type: number
          description: "Token A yang dapat diklaim"
        amountB:
          type: number
          description: "Token B yang dapat diklaim"
        usdValue:
          type: number
          description: "Nilai yang dapat diklaim dalam USD"
