openapi: 3.0.3
info:
  title: "API Mint Peluncuran Raydium"
  description: "Menyediakan akses ke pembuatan mint, papan peringkat, pencarian, dan data historis untuk token LaunchLab. Mendukung pencarian berdasarkan nama, simbol, pembuat dompet, dan berbagai opsi penyaringan."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Cari dan telusuri mint"
  - name: Details
    description: "Ambil informasi mint"
  - name: User Activity
    description: "Dapatkan statistik pembuatan dan perdagangan pengguna"
  - name: Vesting
    description: "Kueri data jadwal vesting"
  - name: Configuration
    description: "Konfigurasi platform dan metadata"
  - name: Creation
    description: "Buat mint baru dan kirim transaksi"
  - name: Utilities
    description: "Pemeriksaan kesehatan dan status"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Cari mint"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Hasil pencarian"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Dapatkan mint unggulan teratas"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint teratas"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Dapatkan mint terbaru unggulan"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint terbaru"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Dapatkan detail mint"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Detail mint"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Dapatkan mint pengguna"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Mint pengguna"
  /get/list:
    get:
      operationId: getGetList
      summary: "Daftar mint dengan pengurutan"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Daftar mint"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Daftar mint Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Mint Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Dapatkan statistik volume pengguna"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Statistik volume"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Dapatkan statistik pembuatan pengguna"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Statistik pembuatan"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Dapatkan konfigurasi platform"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Dapatkan platform"
      deprecated: true
      description: "**Endpoint warisan.** Mengembalikan daftar platform v1. Digantikan oleh `/campaign/platforms-v2`, yang membawa field tambahan yang kini diandalkan front end. Integrasi baru harus memanggil endpoint v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Dapatkan platform v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Platform v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Kirim pembuatan mint"
      description: |
        Daftarkan metadata off-chain untuk mint LaunchLab baru sebelum transaksi pembuatan on-chain dikirimkan. Platform menyimpan nama/simbol/uri/tautan-sosial yang diberikan berdasarkan mint, sehingga UI dapat menampilkannya saat kurva ikatan sedang aktif.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Pubkey mint (base58) yang dibuat on-chain."
                name:
                  type: string
                  description: "Nama tampilan yang ditampilkan di UI LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Simbol ticker."
                  example: MEME
                description:
                  type: string
                  description: "Deskripsi bentuk panjang."
                imageUri:
                  type: string
                  description: "URL HTTPS atau URI IPFS untuk ikon token."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Pubkey platform yang menjadi tuan rumah peluncuran ini."
                wallet:
                  type: string
                  description: "Dompet pencipta (base58) — harus cocok dengan pencipta on-chain."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Dapatkan mint acak"
      description: |
        Mengembalikan keypair mint yang segar dan belum digunakan untuk pemanggil. Filter opsional
        memungkinkan platform untuk pra-generate alamat vanity dengan awalan/akhiran
        tertentu.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Awalan base58 opsional yang harus dimulai dari mint yang dikembalikan."
                suffix:
                  type: string
                  description: "Akhiran base58 opsional yang harus diakhiri dari mint yang dikembalikan."
                wallet:
                  type: string
                  description: "Dompet pencipta opsional, digunakan untuk rate-limiting."
      responses:
        '200':
          description: "Mint acak"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Alamat mint base58."
                  privateKey:
                    type: string
                    description: |
                      Kunci rahasia base58 untuk mint. Harus ditandatangani ke dalam
                      transaksi create sekali dan kemudian dibuang.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Kirim transaksi"
      description: |
        Teruskan transaksi Solana yang sudah ditandatangani sepenuhnya (dikodekan base64) atas nama
        pemanggil. Digunakan oleh UI untuk relay transaksi create / buy / sell
        melalui RPC platform untuk priority-fee uplift dan
        penanganan ulang percobaan.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "VersionedTransaction yang sudah ditandatangani sepenuhnya, dikodekan base64."
                wallet:
                  type: string
                  description: "Dompet pemanggil (base58). Harus cocok dengan fee payer transaksi."
                priorityFee:
                  type: integer
                  description: |
                    Override priority-fee opsional dalam micro-lamports. Jika
                    tidak disediakan, platform menerapkan kebijakan defaultnya.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Tanda tangan transaksi base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Dapatkan vesting berdasarkan ID"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Jadwal vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Dapatkan vesting pool"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Pool vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Dapatkan vesting pemilik"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Vesting pemilik"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Dapatkan imbalan referrer"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Info referrer"
