openapi: 3.0.3
info:
  title: "API Riwayat Peluncuran Raydium"
  description: "Menyediakan data perdagangan historis untuk pool LaunchLab. Mencakup data kline (candle) dengan interval 1 menit, 5 menit, dan 15 menit, plus riwayat perdagangan individual."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Data candlestick OHLC"
  - name: Trades
    description: "Riwayat perdagangan individual"
  - name: Utilities
    description: "Pemeriksaan kesehatan"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Dapatkan data kline (candlestick)"
      tags:
        - Candle Data
      description: 'Ambil data candle OHLC. Rentang batas: 1-500 (default 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool ID (alamat mint)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Token paginasi"
      responses:
        '200':
          description: "Data kline dengan paginasi"
  /trade:
    get:
      operationId: getTrade
      summary: "Dapatkan riwayat perdagangan"
      tags:
        - Trades
      description: 'Ambil perdagangan individual. Rentang batas: 1-100 (default 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Filter berdasarkan dompet trader"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "Riwayat perdagangan dengan paginasi"
