openapi: 3.0.3
info:
  title: "Raydium Launch Auth API"
  description: "Mengelola autentikasi dompet untuk LaunchLab dan Forum API. Mengeluarkan token JWT setelah memverifikasi tanda tangan dompet ed25519. Token diperlukan untuk memposting komentar dan mengelola konten di Forum API."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Meminta dan memvalidasi token autentikasi"
  - name: Utilities
    description: "Endpoint pemeriksaan kesehatan"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Meminta token autentikasi dengan tanda tangan"
      description: 'Menandatangani pesan dengan format `{signText}{time}` di mana signText adalah "Sign in to raydium.io: " dan time adalah Unix timestamp saat ini dalam hitungan detik. Dompet harus menandatangani pesan ini dan mengirimkan tanda tangan untuk menerima token JWT.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix timestamp saat ini dalam hitungan detik ketika pesan ditandatangani"
                  example: 1704067200
                signature:
                  type: string
                  description: "Tanda tangan ed25519 dari pesan (dienkode base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Kunci publik dompet Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token berhasil dikeluarkan"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Parameter permintaan tidak valid"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Meminta token menggunakan transaksi Ledger"
      description: "Alternatif permintaan token untuk transaksi yang ditandatangani Ledger. Menandatangani pesan dengan format `{signText}{time}` dalam transaksi."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix timestamp dalam hitungan detik"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Transaksi Solana yang berisi pesan yang ditandatangani (dienkode base64)"
                wallet:
                  type: string
                  description: "Kunci publik dompet Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Token berhasil dikeluarkan"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Memvalidasi token autentikasi"
      description: "Verifikasi bahwa token masih valid. Juga memperpanjang masa berlaku token jika mendekati kadaluarsa."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token valid"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Token tidak valid atau kadaluarsa"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Mencabut token autentikasi"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Token dicabut"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
