openapi: 3.0.3
info:
  title: "API Forum Peluncuran Raydium"
  description: "API Diskusi untuk pool LaunchLab. Posting dan ambil komentar pada token mint. Memerlukan header `ray-token` (JWT dari Auth API) untuk operasi tulis."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Posting dan ambil komentar pool"
  - name: Utilities
    description: "Pemeriksaan kesehatan"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Posting komentar pada pool"
      tags:
        - Comments
      description: "Posting komentar baru. Memerlukan header ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "Token JWT dari Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "ID Pool/Mint"
                wallet:
                  type: string
                  description: "Dompet komentator"
                text:
                  type: string
                  description: "Teks komentar (maks 2000 karakter)"
                file:
                  type: string
                  format: binary
                  description: "Gambar opsional (maks 5MB)"
      responses:
        '200':
          description: "Komentar berhasil diposting"
        '400':
          description: "Permintaan tidak valid atau pelanggaran konten"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Ambil komentar untuk pool"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID Pool/Mint"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Token paginasi"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Sertakan konten NSFW"
      responses:
        '200':
          description: "Komentar pool"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Ambil komentar tertentu berdasarkan ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "ID Komentar"
      responses:
        '200':
          description: "Detail komentar"
        '500':
          description: "Komentar tidak ditemukan atau telah dihapus"
