openapi: 3.0.3
info:
  title: "API Pemilik"
  description: |
    Ambil saldo per-wallet, posisi, dan reward yang dapat diklaim di seluruh liquidity pool Raydium.
    Dirancang untuk wallet dan dashboard portofolio guna mengambil data yang terbatas pada pemilik dalam satu permintaan.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Ambil saldo posisi dan status per wallet"
  - name: Pool Creation
    description: "Ambil pool yang dibuat oleh wallet"
  - name: IDO
    description: "Ambil data partisipasi IDO"
  - name: Admin
    description: "Endpoint administratif (penggunaan internal)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Ambil posisi stake untuk wallet"
      description: |
        Ambil semua posisi stake (AMM standar atau CPMM) yang dimiliki wallet ini.
        Mengembalikan data posisi yang di-cache termasuk jumlah dan reward.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Kunci publik wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Struktur data posisi (lihat respons OwnerAPI)"
        '404':
          description: "Wallet tidak memiliki posisi stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Ambil posisi CLMM terkunci untuk wallet"
      description: |
        Ambil semua posisi Concentrated Liquidity Market Maker terkunci yang dimiliki wallet ini.
        Mengembalikan status posisi termasuk jumlah terkunci, waktu akhir kunci, dan fee yang dapat diklaim.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Kunci publik wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Struktur data posisi terkunci"
        '404':
          description: "Wallet tidak memiliki posisi CLMM terkunci"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Ambil pool yang dibuat oleh wallet"
      description: |
        Ambil semua pool CPMM yang dibuat (diluncurkan) oleh wallet ini.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Kunci publik wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Data pool yang dibuat"
        '404':
          description: "Wallet tidak membuat pool apa pun"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Ambil info partisipasi IDO untuk wallet"
      description: |
        Ambil data partisipasi IDO, termasuk jumlah yang diinvestasikan dan status klaim.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Kunci publik wallet (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Data partisipasi IDO"
        '404':
          description: "Wallet tidak memiliki partisipasi IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Respons kesalahan standar"
      properties:
        id:
          type: string
          description: "ID Permintaan (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
