openapi: 3.0.3
info:
  title: "API Perp Raydium V1"
  version: 1.0.0
  description: |
    Layanan konfigurasi dan metadata untuk Raydium Perpetual Futures. API ini menyediakan konfigurasi frontend, ketersediaan aset, pembatasan regional, dan endpoint RPC. Penempatan order didelegasikan ke API Orderly Network.

    Semua endpoint mengembalikan amplop standar:
    - **Sukses**: `{ id: string, success: true, data: {...} }`
    - **Error**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Informasi layanan inti (versi, RPC, statistik, pemeriksaan region)."
  - name: Pool
    description: "Konfigurasi pool pasar perp."
  - name: Campaign
    description: "Data kampanye dan leaderboard."
  - name: Share
    description: "Endpoint berbagi posisi dan P&L."

paths:
  /main/info:
    get:
      summary: "Dapatkan statistik pasar perp"
      description: "Mengembalikan volume perdagangan dan open interest 24h/7d/30d (long/short/total)."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Informasi pasar diambil."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Dapatkan daftar pool perp default"
      description: "Mengembalikan daftar pool perdagangan perpetual default dengan volume dan statistik."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Daftar pool diambil."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Versi UI stabil saat ini."
              example: "1.2.0"
            least:
              type: string
              description: "Versi UI minimum yang diperlukan."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Daftar URL RPC yang tersedia."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "Volume perdagangan 24 jam."
                "7d":
                  type: number
                  description: "Volume perdagangan 7 hari."
                "30d":
                  type: number
                  description: "Volume perdagangan 30 hari."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Total open interest long."
                short:
                  type: number
                  description: "Total open interest short."
                all:
                  type: number
                  description: "Gabungan open interest."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Apakah perdagangan perp diizinkan di region pengguna."
            country:
              type: string
              description: "Kode negara terdeteksi (dari header cf-ipcountry)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Kunci publik Ed25519 dalam format \"ed25519:<base58-encoded-key>\"."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Simbol pool (misalnya, BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "Volume perdagangan 24 jam."
              volume7d:
                type: string
                description: "Volume perdagangan 7 hari."
              volume30d:
                type: string
                description: "Volume perdagangan 30 hari."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Objek konfigurasi kampanye dengan aturan dan parameter."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Peringkat atau posisi leaderboard pengguna."
                walletAddress:
                  type: string
                  description: "Alamat wallet yang disembunyikan."
                volume:
                  type: number
                  description: "Total volume perdagangan kampanye."
                pnl:
                  type: number
                  description: "Profit/loss yang direalisasikan."
                pnlW:
                  type: number
                  description: "P&L tertimbang untuk penilaian."
                score:
                  type: number
                  description: "Skor kampanye."
                rewards:
                  type: array
                  description: "Daftar reward yang diterima."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Stempel waktu pembaruan terakhir leaderboard (ms)."
            rows:
              type: array
              description: "Pengguna teratas di halaman leaderboard ini."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Payload untuk pembuatan screenshot posisi saat ini."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Payload untuk pembuatan screenshot posisi tertutup."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "ID file gambar yang dihasilkan."
            msg:
              type: string
              description: "Pesan status."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Pesan atau kode kesalahan."
