openapi: 3.0.3
info:
  title: "Raydium Transaction API (Route V2)"
  version: 1.0.0
  description: |
    Pembangun transaksi swap di sisi server untuk Solana. API ini menghasilkan transaksi swap terserialisasi tanpa memerlukan klien untuk menjalankan koneksi RPC atau SDK Raydium lengkap.

    Respons mengikuti format amplop standar:
    - **Berhasil**: `{ id: string, success: true, data: {...} }`
    - **Kesalahan**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Endpoint baca-saja untuk perhitungan quote swap (tanpa pembangunan transaksi)."
  - name: Transaction
    description: "Bangun transaksi swap terserialisasi siap untuk ditandatangani dan disiarkan."

paths:
  /compute/swap-base-in:
    get:
      summary: "Hitung swap quote (input dasar)"
      description: |
        Hitung jumlah output yang diharapkan saat menukar jumlah input tetap.
        Berguna untuk menampilkan pratinjau sebelum pembangunan transaksi.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Alamat mint token input (public key terkode base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Alamat mint token output (public key terkode base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Jumlah input dalam lamport (unit terkecil token SPL). Harus berupa string bilangan bulat non-negatif."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Toleransi slippage maksimal dalam basis poin (0–10000). 1 bps = 0,01%."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "Biaya referrer opsional dalam basis poin (0–10000). Hanya digunakan jika Anda memiliki otoritas referrer."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Versi transaksi Solana. V0 menggunakan tabel pencarian alamat; LEGACY adalah format tradisional."
          example: V0
      responses:
        "200":
          description: "Swap quote berhasil dihitung."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Parameter input tidak valid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Hitung swap quote (output dasar)"
      description: |
        Hitung jumlah input yang diperlukan untuk mencapai jumlah output yang diinginkan.
        Berguna untuk swap di mana Anda mengetahui target output.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Alamat mint token input."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Alamat mint token output."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Jumlah output yang diinginkan dalam unit terkecil (lamport)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Toleransi slippage maksimal dalam basis poin (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Versi transaksi Solana."
          example: V0
      responses:
        "200":
          description: "Swap quote berhasil dihitung."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Parameter input tidak valid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Bangun transaksi swap (input dasar)"
      description: |
        Hasilkan transaksi swap terserialisasi untuk jumlah input tetap.
        Memerlukan respons yang berhasil dari `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transaksi terserialisasi berhasil dibangun."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Badan permintaan tidak valid atau status perhitungan tidak valid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Bangun transaksi swap (output dasar)"
      description: |
        Hasilkan transaksi swap terserialisasi untuk jumlah output yang diinginkan.
        Memerlukan respons yang berhasil dari `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Transaksi terserialisasi berhasil dibangun."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Badan permintaan tidak valid atau status perhitungan tidak valid."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Pengenal permintaan unik (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Apakah perhitungan berhasil."
          example: true
        version:
          type: string
          description: "Versi respons API."
          example: "V1"
        data:
          type: object
          description: "Hasil perhitungan swap."
          properties:
            inputAmount:
              type: string
              description: "Jumlah input dalam unit terkecil."
            outputAmount:
              type: string
              description: "Jumlah output yang diharapkan (mempertimbangkan slippage)."
            priceImpact:
              type: string
              description: "Persentase dampak harga (mis., \"0,5\" untuk 0,5%)."
            routes:
              type: array
              description: "Larik rute swap dan pool yang digunakan."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Pengenal permintaan unik."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Apakah pembuatan transaksi berhasil."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "Data transaksi."
          properties:
            transaction:
              type: string
              description: "Transaksi terversikan yang dikodekan Base64 (siap untuk ditandatangani)."
            addressLookupTableAddresses:
              type: array
              description: "Alamat tabel pencarian alamat (jika txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "Alamat dompet penandatangan (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "Objek respons lengkap dari endpoint compute."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Versi transaksi Solana."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Harga compute unit dalam micro-lamports (untuk biaya prioritas)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Apakah akan membungkus SOL jika input adalah SOL native."
          example: false
        unwrapSol:
          type: boolean
          description: "Apakah akan membuka bungkus WSOL menjadi SOL dalam output."
          example: false
        inputAccount:
          type: string
          description: "Alamat akun token opsional untuk input. Diperlukan jika tidak membungkus SOL."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Alamat akun token opsional untuk output."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Parameter bundle Jito opsional untuk perlindungan MEV."
          properties:
            address:
              type: string
              description: "Alamat pengiriman bundle Jito."
            amount:
              type: string
              description: "Jumlah tip bundle dalam lamports."
        referrerWallet:
          type: string
          description: "Alamat dompet referrer opsional untuk pengumpulan biaya."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Pengidentifikasi permintaan unik."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Kode pesan kesalahan (misalnya, REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
