openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Tempat penampungan sementara untuk endpoint berumur pendek yang belum memiliki lokasi permanen di Raydium API utama.
    Endpoint dalam layanan ini dapat berubah, dihentikan, atau dipindahkan tanpa pemberitahuan.

    **Peringatan stabilitas:** Layanan ini mengutamakan iterasi cepat dengan jaminan stabilitas API yang minimal.
    Gunakan hanya untuk jalur non-kritis, alat internal, atau fitur yang sedang dalam pengembangan aktif.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Endpoint sementara (tidak stabil)"
paths:
  /limit-order/order/list:
    get:
      summary: "Tampilkan daftar limit order CLMM yang sedang aktif milik suatu wallet"
      description: |
        Mengembalikan limit order CLMM yang dimiliki oleh `wallet` dan masih ada di-chain — baik order yang belum terisi sama sekali maupun yang terisi sebagian dikembalikan dalam satu payload. Setiap baris merupakan `LimitOrderState` on-chain yang telah di-decode, ditambah pool keys dan jumlah `pendingSettle` yang dihitung oleh indexer dari state tick terbaru.

        Data disajikan dari cache Redis indexer dan mungkin tertinggal beberapa detik dari chain.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Public key wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            Jika disertakan, respons juga akan memuat array `e` berisi pesan soft-failure dari indexer (mis. pool yang tidak ditemukan atau entri cache tick-array yang hilang sehingga suatu baris dilewati).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Permintaan tidak valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Kesalahan server"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Tampilkan daftar limit order CLMM historis milik suatu wallet"
      description: |
        Mengembalikan limit order CLMM yang sudah ditutup dan dimiliki oleh `wallet`. Setiap baris merangkum kondisi order pada saat order tersebut keluar dari set aktif. Paginasi berbasis kursor melalui `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Public key wallet (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Jika diatur ke `true`, order yang ditutup tanpa pernah terisi (yaitu dibatalkan) akan dikecualikan. Default `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Filter CLMM pool opsional. Tidak dapat digunakan bersamaan dengan `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Filter mint opsional (token A atau B). Tidak dapat digunakan bersamaan dengan `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Filter mint kedua yang opsional. Tidak dapat digunakan bersamaan dengan `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Kursor paginasi buram yang dikembalikan oleh halaman sebelumnya (TTL ~1 jam)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Ukuran halaman (1–100, default 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Permintaan tidak valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Kesalahan server"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Tampilkan log event on-chain untuk satu atau beberapa PDA limit order"
      description: |
        Mengembalikan log event (`open`, `increase`, `decrease`, `settle`, `close`) untuk satu atau beberapa PDA limit order. Berguna untuk merender linimasa per order. Paginasi berbasis kursor melalui `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Satu atau beberapa public key PDA limit order, dipisahkan dengan koma. Masing-masing harus berupa pubkey base58 yang valid.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Kursor paginasi buram yang dikembalikan oleh halaman sebelumnya (TTL ~1 jam)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Ukuran halaman (1–100, default 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Permintaan tidak valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Kesalahan server"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Dapatkan akumulasi creator fee untuk suatu wallet"
      description: |
        Mengambil semua pool CPMM di mana wallet ini adalah kreator, beserta akumulasi creator fee yang belum diklaim per pool. Mengembalikan array kosong jika wallet tidak memiliki creator fee yang tersimpan dalam cache.

        **Catatan:** Endpoint ini melakukan cache data pengguna secara berkala. Aktivitas creator fee yang sangat baru mungkin tidak langsung muncul.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Public key wallet (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Alamat wallet tidak valid"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Kesalahan server"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Array pool beserta akumulasi creator fee-nya"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Satu pool CPMM dengan akumulasi creator fee"
      properties:
        poolInfo:
          type: object
          description: "Metadata pool (struktur bervariasi; lihat skema pada pools API)"
        poolKey:
          type: object
          description: "Kunci konfigurasi pool"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Jumlah fee yang terakumulasi dalam satuan token mentah"
      properties:
        amountA:
          type: string
          description: "Jumlah creator fee untuk token A (dalam satuan terkecil)"
        amountB:
          type: string
          description: "Jumlah creator fee untuk token B (dalam satuan terkecil)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload untuk `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "ID permintaan (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Opsional. Hanya ada jika permintaan dibuat dengan `showErr`. Setiap entri
                adalah pesan kegagalan ringan dari indekser (misalnya, pool atau entri cache tick-array
                yang hilang sehingga baris dilewati).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Satu limit order yang sedang aktif (parkir)."
      properties:
        pda:
          type: string
          description: "Kunci publik akun LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Tick terkuantisasi tempat order ini berada."
        price:
          type: number
          description: "Harga yang mudah dibaca pada `tick`, diskalakan berdasarkan desimal mint."
        zeroForOne:
          type: boolean
          description: "true = jual token_0, beli token_1; false = arah sebaliknya."
        orderPhase:
          type: string
          description: "u64 dalam bentuk string — fase kohort FIFO order ini pada tick-nya."
        totalAmount:
          type: string
          description: "u64 dalam bentuk string — total input yang dikomitkan oleh order."
        filledAmount:
          type: string
          description: "u64 dalam bentuk string — total input yang telah dikonsumsi oleh swap sejauh ini."
        openTime:
          type: string
          description: "u64 dalam bentuk string — unix timestamp saat order dibuka."
        pendingSettle:
          type: string
          description: "u64 dalam bentuk string — jumlah output yang saat ini terutang kepada pemilik dan menunggu `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 dalam bentuk string — cerminan dari `filledAmount`, dikembalikan untuk kemudahan sisi klien."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Harga pool saat ini yang mudah dibaca (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Payload untuk `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Kursor buram untuk halaman berikutnya; tidak ada jika ini adalah halaman terakhir."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Satu limit order yang telah ditutup, dalam bentuk ringkasan."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Unix timestamp saat order dibuka."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Seberapa besar order terisi sebelum ditutup:
            `NONE` (dibatalkan tanpa isian), `PARTIAL`, atau `FULL`.
        orderInputAmountUi:
          type: number
          description: "Jumlah input awal, dalam satuan yang mudah dibaca (desimal diterapkan)."
        orderOutputAmountUi:
          type: number
          description: "Jumlah output yang akan dibayarkan oleh order pada tick-nya, dalam satuan yang mudah dibaca."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Payload untuk `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Kursor buram untuk halaman berikutnya; tidak ada jika ini adalah halaman terakhir."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Satu mutasi on-chain yang terdeteksi pada PDA limit order."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True jika event dilakukan oleh keeper `limit_order_admin`; false jika ditandatangani oleh pemilik."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Perubahan bersih pada saldo input order, dalam satuan yang mudah dibaca (bertanda)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Perubahan bersih pada akumulasi output order, dalam satuan yang mudah dibaca (bertanda)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Pesan kesalahan"
      required:
        - success
        - msg
