openapi: 3.0.3
info:
  title: "Api V1 V2 (Legacy)"
  description: |
    Устаревший API Raydium, предоставляющий информацию о пулах, цены, данные SDK и детали фермирования.
    Преимущественно используется для обратной совместимости и клиентов SDK.

    **Перейти на API v3:** Большинство эндпоинтов здесь имеют более новые эквиваленты в [API v3](/en/api-reference/api-v3).
    Для новых интеграций предпочитайте эндпоинты v3, которые обеспечивают лучшую производительность и стабильность.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://api.raydium.io
    description: "Только Mainnet"
tags:
  - name: Ray Token
    description: "Эндпоинты предложения токена RAY"
paths:
  /ray/totalcoins:
    get:
      summary: "Получить общее предложение RAY"
      description: "Получить общее предложение токена RAY."
      operationId: getRayTotalCoins
      tags:
        - Ray Token
      responses:
        '200':
          description: "Общее предложение в виде простого текстового числа"
          content:
            text/plain:
              schema:
                type: string

  /ray/circulating:
    get:
      summary: "Получить циркулирующее предложение RAY"
      description: "Получить циркулирующее предложение токена RAY."
      operationId: getRayCirculating
      tags:
        - Ray Token
      responses:
        '200':
          description: "Циркулирующее предложение в виде простого текстового числа"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "ID запроса"
        success:
          type: boolean
          example: false
