openapi: 3.0.3
info:
  title: "Raydium API v3"
  version: "3.0.0"
  description: "Raydium API v3 предоставляет REST-эндпоинты для запроса пулов ликвидности, информации о mint-адресах, фармах, IDO-пулах и метаданных блокчейна Solana. Используется кошельками, агрегаторами и трейдерами для получения ценовых фидов, данных о пулах и маршрутизации."

servers:
  - url: "https://api-v3.raydium.io"
    description: "Продакшн (Mainnet)"
  - url: "https://api-v3-devnet.raydium.io"
    description: "Разработка (Devnet)"

tags:
  - name: "Main"
    description: "Основные API-эндпоинты: информация о сети, TVL и конфигурация"
  - name: "Mint"
    description: "Информация о mint-адресах токенов и цены"
  - name: "Pools"
    description: "Информация о пулах ликвидности, ключи и исторические данные"
  - name: "Farms"
    description: "Информация о farm-пулах и ключи"
  - name: "IDO"
    description: "Информация об IDO-пулах и ключи"

components:
  schemas:
    ApiResponse:
      type: object
      description: "Общая обёртка ответа. Поле `data` определяется схемой ответа каждого эндпоинта через `allOf` и поэтому не объявляется в базовой обёртке."
      required:
        - id
        - success
      properties:
        id:
          type: string
          description: "ID запроса (UUID)"
        success:
          type: boolean
          description: "Признак успешного выполнения запроса"
        msg:
          type: string
          description: "Сообщение об ошибке, если `success` равно `false`"

    ApiV3MintItem:
      type: object
      properties:
        chainId:
          type: number
        address:
          type: string
        programId:
          type: string
        logoURI:
          type: string
        symbol:
          type: string
        name:
          type: string
        decimals:
          type: number
        tags:
          type: array
          items:
            type: string
        extensions:
          type: object

    MintListResponse:
      type: object
      properties:
        blockList:
          type: array
          items:
            type: string
        mintList:
          type: array
          items:
            $ref: "#/components/schemas/ApiV3MintItem"

    PoolInfoItem:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        programId:
          type: string
        lpMint:
          type: string
        mint1:
          type: object
        mint2:
          type: object
        tvl:
          type: number
        lpPrice:
          type: number
        farmOngoingCount:
          type: number
        day:
          type: object
        week:
          type: object
        month:
          type: object

    PoolListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        hasNextPage:
          type: boolean

    PoolListV2Response:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PoolInfoItem"
        nextPageId:
          type: string
          nullable: true

    FarmInfoItem:
      type: object
      properties:
        id:
          type: string
        lpMint:
          type: string
        rewardMints:
          type: array
          items:
            type: string
        apr:
          type: number

    FarmListResponse:
      type: object
      properties:
        count:
          type: number
        data:
          type: array
          items:
            $ref: "#/components/schemas/FarmInfoItem"
        hasNextPage:
          type: boolean

    LiquidityLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

    PositionLineResponse:
      type: object
      properties:
        count:
          type: number
        line:
          type: array
          items:
            type: object

paths:
  /main/info:
    get:
      operationId: getMainInfo
      tags:
        - "Main"
      summary: "Получить основную статистику"
      description: "Возвращает TVL и объём торгов за 24 часа по всем пулам Raydium. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tvl:
                            type: number
                          volume24:
                            type: number

  /main/chain-time:
    get:
      operationId: getMainChainTime
      tags:
        - "Main"
      summary: "Получить смещение времени сети"
      description: "Возвращает смещение между локальным временем UTC и временем блокчейна Solana. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          offset:
                            type: integer

  /main/auto-fee:
    get:
      operationId: getMainAutoFee
      tags:
        - "Main"
      summary: "Получить оценку комиссий за транзакции"
      description: "Возвращает оценочную стоимость on-chain операций (в lamports). Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object

  /main/stake-pools:
    get:
      operationId: getMainStakePools
      tags:
        - "Main"
      summary: "Получить пулы стейкинга RAY"
      description: "Возвращает пулы стейкинга токена RAY. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse"

  /main/clmm-config:
    get:
      operationId: getMainClmmConfig
      tags:
        - "Main"
      summary: "Получить конфигурации CLMM-пулов"
      description: "Возвращает допустимые конфигурации для пулов с концентрированной ликвидностью. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/cpmm-config:
    get:
      operationId: getMainCpmmConfig
      tags:
        - "Main"
      summary: "Получить конфигурации CPMM-пулов"
      description: "Возвращает допустимые конфигурации для пулов с постоянным произведением. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /main/clmm-dynamic-config:
    get:
      operationId: getMainClmmDynamicConfig
      tags:
        - "Main"
      summary: "Получить конфигурации динамических комиссий CLMM"
      description: |
        Возвращает откалиброванные уровни `DynamicFeeConfig`, доступные новому CLMM-пулу при передаче
        `enableDynamicFee=true` в `CreateCustomizablePool`. Каждая запись содержит параметры уровня
        (период фильтрации, период затухания, коэффициент снижения, управление динамической комиссией,
        максимальный аккумулятор волатильности), определяющие надбавку за отслеживание волатильности.
        Кэшируется 60 секунд.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: "PDA `DynamicFeeConfig`"
                            index:
                              type: integer
                            filterPeriod:
                              type: integer
                              description: "Секунды; волатильность затухает до нуля по истечении этого окна"
                            decayPeriod:
                              type: integer
                              description: "Секунды; полный период полураспада аккумулятора затухания"
                            reductionFactor:
                              type: integer
                              description: "Числитель пошагового затухания (знаменатель = 10000)"
                            maxFeeRateNumerator:
                              type: integer
                              description: "Ограничение надбавки динамической комиссии (знаменатель = 1_000_000)"
                            dynamicFeeControl:
                              type: integer
                              description: "Числитель масштабирования по дистанции тиков (знаменатель = 100_000)"

  /main/clmm-limit-order-config:
    get:
      operationId: getMainClmmLimitOrderConfig
      tags:
        - "Main"
      summary: "Получить конфигурации лимитных ордеров CLMM"
      description: |
        Возвращает конфигурацию лимитных ордеров для каждого пула (признак поддержки лимитных ордеров,
        минимальный размер ордера и публичный ключ keeper) для пулов, поддерживающих лимитные ордера.
        Используется SDK и UI перед вызовом `OpenLimitOrder`. Кэшируется 60 секунд.
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            poolId:
                              type: string
                            enabled:
                              type: boolean
                            minOrderInputAmount:
                              type: string
                              description: "u64 в виде строки — минимальный входной объём, принимаемый пулом"
                            limitOrderAdmin:
                              type: string
                              description: "Внешний операционный keeper, авторизованный для расчёта и закрытия ордеров от имени владельцев"

  /mint/list:
    get:
      operationId: getMintList
      tags:
        - "Mint"
      summary: "Получить список mint-адресов по умолчанию"
      description: "Возвращает стандартный список mint-адресов UI с метаданными и логотипами. Кэшируется 60 секунд."
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/MintListResponse"

  /mint/ids:
    get:
      operationId: getMintIds
      tags:
        - "Mint"
      summary: "Получить информацию о mint-адресах по ID"
      description: "Получить метаданные для указанных mint-адресов. Кэш 20 секунд."
      parameters:
        - name: mints
          in: query
          required: true
          schema:
            type: string
          description: "Mint-адреса через запятую"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiV3MintItem"

  /mint/price:
    get:
      operationId: getMintPrice
      tags:
        - "Mint"
      summary: "Получить цены mint-токенов"
      description: "Получить текущие цены в USD для mint-токенов. Кэш 5 секунд."
      parameters:
        - name: mints
          in: query
          required: false
          schema:
            type: string
          description: "Mint-адреса через запятую"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties:
                          type: string

  /pools/info/ids:
    get:
      operationId: getPoolsInfoIds
      tags:
        - "Pools"
      summary: "Получить информацию о пулах по ID"
      description: "Получить подробную информацию о пулах по их ID. Кэш 60 секунд."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: "ID пулов через запятую"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/lps:
    get:
      operationId: getPoolsInfoLps
      tags:
        - "Pools"
      summary: "Получить пулы по LP mint"
      description: "Получить информацию о пулах по адресам LP-токенов. Кэш 60 секунд."
      parameters:
        - name: lps
          in: query
          required: true
          schema:
            type: string
          description: "LP mint-адреса через запятую"
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/PoolInfoItem"

  /pools/info/list:
    get:
      operationId: getPoolsInfoList
      tags:
        - "Pools"
      summary: "Список пулов с пагинацией"
      deprecated: true
      description: "**Устаревший эндпоинт.** Постраничный список пулов с фильтрацией и сортировкой. Кэш 60 секунд. Размер страницы ограничен 1000 записями. Оставлен для обратной совместимости; для новых интеграций рекомендуется запрашивать пулы по ID, паре mint-адресов или LP mint через другие эндпоинты `/pools/info/*`, либо использовать маршрутизацию на основе индексера в Transaction API."
      parameters:
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/mint:
    get:
      operationId: getPoolsInfoMint
      tags:
        - "Pools"
      summary: "Получить пулы по mint-токену"
      description: "Фильтрация пулов по одному или двум mint-токенам. Порядок mint-адресов нормализуется автоматически. Кэш 60 секунд."
      parameters:
        - name: mint1
          in: query
          required: true
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
        - name: poolType
          in: query
          required: true
          schema:
            type: string
            enum: [all, concentrated, standard, allFarm, concentratedFarm, standardFarm]
        - name: poolSortField
          in: query
          required: true
          schema:
            type: string
            enum: [default, liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: true
          schema:
            type: string
            enum: [desc, asc]
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListResponse"

  /pools/info/list-v2:
    get:
      operationId: getPoolsInfoListV2
      tags:
        - "Pools"
      summary: "Список пулов с расширенными фильтрами (v2)"
      description: "Расширенный листинг пулов с курсорной пагинацией. Кэш 60–90 секунд."
      parameters:
        - name: poolType
          in: query
          required: false
          schema:
            type: string
            enum: [Concentrated, Standard]
        - name: mintFilter
          in: query
          required: false
          schema:
            type: string
        - name: hasReward
          in: query
          required: false
          schema:
            type: boolean
        - name: sortField
          in: query
          required: false
          schema:
            type: string
            enum: [liquidity, volume24h, fee24h, apr24h, volume7d, fee7d, apr7d, volume30d, fee30d, apr30d]
        - name: sortType
          in: query
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - name: size
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 1000
        - name: nextPageId
          in: query
          required: false
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PoolListV2Response"

  /pools/key/ids:
    get:
      operationId: getPoolsKeyIds
      tags:
        - "Pools"
      summary: "Получить on-chain ключи пула"
      description: "Получить on-chain ключи аккаунтов для пулов. Кэш 60 секунд."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /pools/line/liquidity:
    get:
      operationId: getPoolsLineLiquidity
      tags:
        - "Pools"
      summary: "Получить историю ликвидности пула"
      description: "Получить исторические данные TVL для пула (до 30 дней). Кэш 300 секунд."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LiquidityLineResponse"

  /pools/line/position:
    get:
      operationId: getPoolsLinePosition
      tags:
        - "Pools"
      summary: "Получить историю позиций CLMM"
      description: "Получить исторические данные о цене и ликвидности для пулов CLMM. Кэш 30 секунд."
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/PositionLineResponse"

  /farms/info/ids:
    get:
      operationId: getFarmsInfoIds
      tags:
        - "Farms"
      summary: "Получить информацию о фермах по ID"
      description: "Получить сведения о фермах по их ID. Кэш 60 секунд."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/FarmInfoItem"

  /farms/info/lp:
    get:
      operationId: getFarmsInfoLp
      tags:
        - "Farms"
      summary: "Получить фермы по LP mint"
      description: "Поиск ферм по адресу стейкинга LP-токена. С пагинацией. Кэш 60 секунд."
      parameters:
        - name: lp
          in: query
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: page
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/FarmListResponse"

  /farms/key/ids:
    get:
      operationId: getFarmsKeyIds
      tags:
        - "Farms"
      summary: "Получить on-chain ключи ферм"
      description: "Получить on-chain ключи аккаунтов для ферм. Кэш 60 секунд."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /ido/key/ids:
    get:
      operationId: getIdoKeyIds
      tags:
        - "IDO"
      summary: "Получить ключи IDO-пула"
      description: "Получить on-chain структуру для IDO-пулов. Кэш 20 секунд."
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: "Success"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ApiResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
