openapi: 3.0.3
info:
  title: "Dynamic IPFS API"
  description: |
    Регенерирует динамические метаданные и изображения NFT для позиций CLMM. Используется dApps для получения позиций в реальном времени
    и данных оценки стоимости, включая детали пула, количества, комиссии и награды.

    Этот сервис кэширует метаданные позиций в IPFS и предоставляет вычисленное состояние позиции (стоимость в USD,
    процент TVL, невостребованные комиссии) по ID позиции. Поддерживает как разблокированные, так и заблокированные позиции
    в пулах CLMM и CPMM.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://dynamic-ipfs.raydium.io
    description: Mainnet
  - url: https://dynamic-ipfs-devnet.raydium.io
    description: Devnet
tags:
  - name: CLMM Position
    description: "Получить динамические метаданные для позиций Concentrated Liquidity Market Maker"
  - name: Locked Positions
    description: "Получить данные заблокированной позиции (CLMM и CPMM)"
paths:
  /clmm/position:
    get:
      summary: "Получить метаданные позиции CLMM"
      description: |
        Получить полные метаданные позиции, включая детали пула, количества ликвидности, невостребованные комиссии
        и оценку стоимости в USD. Возвращает объект динамического NFT-интерфейса, пригодный для визуализации позиции.
      operationId: getClmmPosition
      tags:
        - CLMM Position
      parameters:
        - name: id
          in: query
          required: true
          description: "Открытый ключ учетной записи позиции (base58)"
          schema:
            type: string
            example: 4Ygp92zRvl4kCr97V3Zs5xg4k3qX1tN6m8pR2vL9jA1
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Некорректный ID позиции"
          content:
            text/plain:
              schema:
                type: string
                example: "params error 10001"
        '404':
          description: "Позиция не найдена"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Ошибка сервера"
          content:
            text/plain:
              schema:
                type: string

  /lock/clmm/position:
    get:
      summary: "Получить метаданные заблокированной позиции CLMM"
      description: |
        Получить метаданные заблокированной позиции CLMM. Возвращает данные позиции, включая длительность блокировки,
        накопленные комиссии и текущую оценку стоимости.
      operationId: getLockedClmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Открытый ключ PDA заблокированной позиции (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CLNFTInterface'
        '400':
          description: "Некорректный ID позиции или несоответствие владельца"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Позиция не найдена"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Ошибка сервера"
          content:
            text/plain:
              schema:
                type: string

  /lock/cpmm/position:
    get:
      summary: "Получить метаданные заблокированной позиции CPMM"
      description: |
        Получить метаданные заблокированной позиции Constant Product Market Maker. Возвращает количества LP-токенов,
        процент доли в пуле и невостребованные комиссии от блокировки.
      operationId: getLockedCpmmPosition
      tags:
        - Locked Positions
      parameters:
        - name: id
          in: query
          required: true
          description: "Открытый ключ PDA заблокированной позиции CPMM (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPNFTInterface'
        '400':
          description: "Некорректный ID позиции или несоответствие владельца"
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: "Позиция не найдена"
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: "Ошибка сервера"
          content:
            text/plain:
              schema:
                type: string

components:
  schemas:
    CLNFTInterface:
      type: object
      description: "Полная позиция CLMM с детальной информацией пула и оценкой стоимости"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoConcentrated'
        positionInfo:
          $ref: '#/components/schemas/CLPositionInfo'
      required:
        - poolInfo
        - positionInfo

    CPNFTInterface:
      type: object
      description: "Полная заблокированная позиция CPMM с детальной информацией пула и оценкой стоимости"
      properties:
        poolInfo:
          $ref: '#/components/schemas/PoolInfoCPMM'
        positionInfo:
          $ref: '#/components/schemas/CPPositionInfo'
      required:
        - poolInfo
        - positionInfo

    PoolInfoConcentrated:
      type: object
      description: "Информация о пуле Concentrated Liquidity Market Maker"
      properties:
        id:
          type: string
          description: "ID пула"
        programId:
          type: string
          description: "ID программы, владеющей пулом"
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        tvl:
          type: number
          description: "Общая заблокированная стоимость в USD"
        rewardDefaultInfos:
          type: array
          description: "Токены вознаграждения для этого пула"
          items:
            $ref: '#/components/schemas/RewardInfo'

    PoolInfoCPMM:
      type: object
      description: "Информация о пуле Constant Product Market Maker"
      properties:
        id:
          type: string
        mintA:
          $ref: '#/components/schemas/MintInfo'
        mintB:
          $ref: '#/components/schemas/MintInfo'
        lpMint:
          $ref: '#/components/schemas/MintInfo'
        lpPrice:
          type: number
          description: "Цена LP-токена в USD"

    MintInfo:
      type: object
      properties:
        address:
          type: string
          description: "Адрес минта токена"
        decimals:
          type: integer
          description: "Количество десятичных знаков токена"
        symbol:
          type: string
          description: "Символ токена"

    RewardInfo:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/MintInfo'

    CLPositionInfo:
      type: object
      description: "Состояние позиции CLMM"
      properties:
        tvlPercentage:
          type: number
          description: "TVL позиции как процент от пула (0-100)"
        usdValue:
          type: number
          description: "Стоимость позиции в USD"
        amountA:
          type: number
          description: "Количество токена A в позиции"
        amountB:
          type: number
          description: "Количество токена B в позиции"
        unclaimedFee:
          $ref: '#/components/schemas/UnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    CPPositionInfo:
      type: object
      description: "Состояние заблокированной позиции CPMM"
      properties:
        tvlPercentage:
          type: number
          description: "Доля в пуле в процентах (0-100)"
        usdValue:
          type: number
          description: "Заблокированная стоимость LP в USD"
        amountA:
          type: number
          description: "Базовое количество Token A"
        amountB:
          type: number
          description: "Базовое количество Token B"
        unclaimedFee:
          $ref: '#/components/schemas/CPUnclaimedFeeInfo'
      required:
        - tvlPercentage
        - usdValue
        - amountA
        - amountB
        - unclaimedFee

    UnclaimedFeeInfo:
      type: object
      description: "Накопленные, но невостребованные комиссии в позиции CLMM"
      properties:
        amountA:
          type: number
          description: "Невостребованные комиссии Token A"
        amountB:
          type: number
          description: "Невостребованные комиссии Token B"
        usdFeeValue:
          type: number
          description: "Стоимость торговой комиссии в USD"
        reward:
          type: array
          items:
            type: number
          description: "Невостребованные награды по каждому токену вознаграждения"
        usdRewardValue:
          type: number
          description: "Стоимость вознаграждения в USD"
        usdValue:
          type: number
          description: "Общая невостребованная стоимость в USD"

    CPUnclaimedFeeInfo:
      type: object
      description: "Выводимые LP и комиссии из заблокированной позиции CPMM"
      properties:
        lp:
          type: number
          description: "Выводимое количество LP"
        amountA:
          type: number
          description: "Выводимое количество Token A"
        amountB:
          type: number
          description: "Выводимое количество Token B"
        usdValue:
          type: number
          description: "Выводимая стоимость в USD"
