openapi: 3.0.3
info:
  title: "API Forum Запуска Raydium"
  description: "API для обсуждения пулов LaunchLab. Публикуйте и получайте комментарии к токенам. Требует заголовок `ray-token` (JWT из Auth API) для операций записи."
  version: 1.0.0
servers:
  - url: https://launch-forum-v1.raydium.io
    description: Mainnet
  - url: https://launch-forum-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Comments
    description: "Публикация и получение комментариев пула"
  - name: Utilities
    description: "Проверки здоровья"
paths:
  /comment:
    post:
      operationId: postComment
      summary: "Опубликовать комментарий к пулу"
      tags:
        - Comments
      description: "Опубликовать новый комментарий. Требует заголовок ray-token."
      parameters:
        - name: ray-token
          in: header
          required: true
          schema:
            type: string
          description: "JWT токен из Auth API"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - poolId
                - text
                - wallet
              properties:
                poolId:
                  type: string
                  description: "ID пула/токена"
                wallet:
                  type: string
                  description: "Кошелек комментатора"
                text:
                  type: string
                  description: "Текст комментария (макс. 2000 символов)"
                file:
                  type: string
                  format: binary
                  description: "Дополнительное изображение (макс. 5 МБ)"
      responses:
        '200':
          description: "Комментарий успешно опубликован"
        '400':
          description: "Неверный запрос или нарушение содержания"
  /comment/pool:
    get:
      operationId: getCommentPool
      summary: "Получить комментарии пула"
      tags:
        - Comments
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "ID пула/токена"
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: lastId
          in: query
          schema:
            type: integer
          description: "Токен пагинации"
        - name: fetchType
          in: query
          schema:
            type: string
            enum:
              - old
              - new
            default: old
        - name: includeNsfw
          in: query
          schema:
            type: boolean
          description: "Включить NSFW-контент"
      responses:
        '200':
          description: "Комментарии пула"
  /comment/id:
    get:
      operationId: getCommentId
      summary: "Получить конкретный комментарий по ID"
      tags:
        - Comments
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: integer
          description: "ID комментария"
      responses:
        '200':
          description: "Сведения о комментарии"
        '500':
          description: "Комментарий не найден или удален"
