openapi: 3.0.3
info:
  title: "API запуска монет Raydium"
  description: "Предоставляет доступ к созданию монет, рейтингам, поиску и историческим данным токенов LaunchLab. Поддерживает поиск по названию, символу, кошельку создателя и различные варианты фильтрации."
  version: 1.0.0
servers:
  - url: https://launch-mint-v1.raydium.io
    description: Mainnet
  - url: https://launch-mint-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Discovery
    description: "Поиск и просмотр монет"
  - name: Details
    description: "Получить информацию о монете"
  - name: User Activity
    description: "Получить статистику создания и торговли пользователя"
  - name: Vesting
    description: "Запрос данных расписания вестинга"
  - name: Configuration
    description: "Конфигурация платформы и метаданные"
  - name: Creation
    description: "Создать новые монеты и отправить транзакции"
  - name: Utilities
    description: "Проверки здоровья и статус"
paths:
  /get/search:
    get:
      operationId: getGetSearch
      summary: "Поиск монет"
      tags:
        - Discovery
      parameters:
        - name: text
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Результаты поиска"
  /get/random/index-top-mint:
    get:
      operationId: getGetRandomIndexTopMint
      summary: "Получить избранную топ-монету"
      tags:
        - Discovery
      responses:
        '200':
          description: "Топ-монета"
  /get/random/index-left-mint:
    get:
      operationId: getGetRandomIndexLeftMint
      summary: "Получить избранные недавние монеты"
      tags:
        - Discovery
      responses:
        '200':
          description: "Недавние монеты"
  /get/by/mints:
    get:
      operationId: getGetByMints
      summary: "Получить детали монеты"
      tags:
        - Details
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Детали монеты"
  /get/by/user:
    get:
      operationId: getGetByUser
      summary: "Получить монеты пользователя"
      tags:
        - Details
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Монеты пользователя"
  /get/list:
    get:
      operationId: getGetList
      summary: "Список монет с сортировкой"
      tags:
        - Discovery
      parameters:
        - name: sort
          in: query
          required: true
          schema:
            type: string
            enum:
              - marketCap
              - new
              - lastTrade
              - hotToken
      responses:
        '200':
          description: "Список монет"
  /get/list-bonk-custom:
    get:
      operationId: getGetListBonkCustom
      summary: "Список монет Bonk"
      tags:
        - Discovery
      responses:
        '200':
          description: "Монеты Bonk"
  /get-by-user/stats/volume:
    get:
      operationId: getGetByUserStatsVolume
      summary: "Получить статистику объёма пользователя"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Статистика объёма"
  /get-by-user/stats/create:
    get:
      operationId: getGetByUserStatsCreate
      summary: "Получить статистику создания пользователя"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Статистика создания"
  /campaign/configs:
    get:
      operationId: getCampaignConfigs
      summary: "Получить конфигурацию платформы"
      tags:
        - Configuration
      responses:
        '200':
          description: Configs
  /campaign/platforms:
    get:
      operationId: getCampaignPlatforms
      summary: "Получить платформы"
      deprecated: true
      description: "**Устаревший endpoint.** Возвращает список платформ v1. Заменён на `/campaign/platforms-v2`, который включает дополнительные поля, необходимые фронтенду. Новые интеграции должны использовать endpoint v2."
      tags:
        - Configuration
      responses:
        '200':
          description: Platforms
  /campaign/platforms-v2:
    get:
      operationId: getCampaignPlatformsV2
      summary: "Получить платформы v2"
      tags:
        - Configuration
      responses:
        '200':
          description: "Платформы v2"
  /create/mint-info:
    post:
      operationId: postCreateMintInfo
      summary: "Отправить создание монеты"
      description: |
        Зарегистрируйте внецепевые метаданные для новой монеты LaunchLab перед отправкой её on-chain транзакции создания. Платформа хранит предоставленные name/symbol/uri/social-links, привязанные к монете, чтобы UI мог отображать их во время работы bonding curve.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - mint
                - name
                - symbol
                - wallet
              properties:
                mint:
                  type: string
                  description: "Pubkey монеты (base58), созданный на-цепи."
                name:
                  type: string
                  description: "Отображаемое имя, показываемое в UI LaunchLab."
                  example: My Memecoin
                symbol:
                  type: string
                  description: "Символ тикера."
                  example: MEME
                description:
                  type: string
                  description: "Подробное описание."
                imageUri:
                  type: string
                  description: "URL HTTPS или IPFS URI для значка токена."
                website:
                  type: string
                twitter:
                  type: string
                telegram:
                  type: string
                platformId:
                  type: string
                  description: "Pubkey платформы, которая размещает этот запуск."
                wallet:
                  type: string
                  description: "Кошелек создателя (base58) — должен совпадать с создателем в цепи."
      responses:
        '200':
          description: Accepted
  /create/get-random-mint:
    post:
      operationId: postCreateGetRandomMint
      summary: "Получить случайный mint"
      description: |
        Вернуть свежую, неиспользованную keypair для mint. Опциональные фильтры
        позволяют платформе предварительно генерировать адреса с определенным
        префиксом/суффиксом.
      tags:
        - Creation
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prefix:
                  type: string
                  description: "Опциональный префикс base58, с которого должен начинаться возвращаемый mint."
                suffix:
                  type: string
                  description: "Опциональный суффикс base58, на который должен заканчиваться возвращаемый mint."
                wallet:
                  type: string
                  description: "Опциональный кошелек создателя, используется для rate-limiting."
      responses:
        '200':
          description: "Случайный mint"
          content:
            application/json:
              schema:
                type: object
                properties:
                  mint:
                    type: string
                    description: "Адрес mint в формате base58."
                  privateKey:
                    type: string
                    description: |
                      Secret key для mint в формате base58. Должен быть подписан в
                      транзакции создания один раз, а затем удален.
  /create/sendTransaction:
    post:
      operationId: postCreateSendTransaction
      summary: "Отправить транзакцию"
      description: |
        Передать полностью подписанную транзакцию Solana (закодированную в base64) от имени
        вызывающего. Используется интерфейсом для маршрутизации транзакций создания / покупки / продажи
        через RPC платформы для повышения приоритета комиссии и
        обработки повторных попыток.
      tags:
        - Creation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transaction
                - wallet
              properties:
                transaction:
                  type: string
                  description: "Полностью подписанная VersionedTransaction в кодировке base64."
                wallet:
                  type: string
                  description: "Кошелек вызывающего (base58). Должен совпадать с плательщиком комиссии в транзакции."
                priorityFee:
                  type: integer
                  description: |
                    Опциональное переопределение приоритетной комиссии в микро-лампортах. Если
                    опущено, платформа применяет свою политику по умолчанию.
      responses:
        '200':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: "Подпись транзакции в формате base58."
  /vesting/by/ids:
    get:
      operationId: getVestingByIds
      summary: "Получить vesting по ID"
      tags:
        - Vesting
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Расписания vesting"
  /vesting/by/pool:
    get:
      operationId: getVestingByPool
      summary: "Получить pool vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Pool vesting"
  /vesting/by/owner:
    get:
      operationId: getVestingByOwner
      summary: "Получить owner vesting"
      tags:
        - Vesting
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Owner vesting"
  /campaign/referrer:
    get:
      operationId: getCampaignReferrer
      summary: "Получить награды referrer"
      tags:
        - User Activity
      parameters:
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Информация referrer"
