openapi: 3.0.3
info:
  title: "API аутентификации Raydium Launch"
  description: "Управляет аутентификацией кошелька для LaunchLab и Forum API. Выдает JWT-токены после проверки подписей кошелька ed25519. Токены требуются для публикации комментариев и управления контентом через Forum API."
  version: 1.0.0
servers:
  - url: https://launch-auth-v1.raydium.io
    description: Mainnet
  - url: https://launch-auth-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Token Management
    description: "Запросить и проверить токены аутентификации"
  - name: Utilities
    description: "Endpoints проверки доступности"
paths:
  /request-token:
    post:
      operationId: postRequestToken
      summary: "Запросить токен аутентификации с подписью"
      description: 'Подписывает сообщение в формате `{signText}{time}`, где signText — "Sign in to raydium.io: ", а time — текущий Unix timestamp в секундах. Кошелек должен подписать это сообщение и отправить подпись для получения JWT-токена.'
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - signature
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix timestamp в секундах, когда было подписано сообщение"
                  example: 1704067200
                signature:
                  type: string
                  description: "Ed25519 подпись сообщения (кодировка base58)"
                  example: 3veiKZ6IHo7jrz9XdwLd8KvvP2pinCtjJXWe6MGNDUjT...
                wallet:
                  type: string
                  description: "Публичный ключ кошелька Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Токен успешно выдан"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
        '400':
          description: "Неверные параметры запроса"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      msg:
                        type: string
                        example: Invalid signature
  /request-token-ledger:
    post:
      operationId: postRequestTokenLedger
      summary: "Запросить токен с использованием транзакции Ledger"
      description: "Альтернативный способ запроса токена для транзакций, подписанных Ledger. Подписывает сообщение в формате `{signText}{time}` внутри транзакции."
      tags:
        - Token Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - time
                - transaction
                - wallet
              properties:
                time:
                  type: integer
                  description: "Unix timestamp в секундах"
                  example: 1704067200
                transaction:
                  type: string
                  description: "Транзакция Solana с подписанным сообщением (кодировка base64)"
                wallet:
                  type: string
                  description: "Публичный ключ кошелька Solana"
                  example: 4k3Dyjzvzp8eMZWUXbBCjEvwSvsrFjJqkDsyU5F5oV4
      responses:
        '200':
          description: "Токен успешно выдан"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
  /check-token:
    get:
      operationId: getCheckToken
      summary: "Проверить токен аутентификации"
      description: "Убедиться, что токен еще действителен. Также продлевает время жизни токена при приближении к истечению."
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Токен действителен"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
        '400':
          description: "Токен недействителен или истек"
  /del-token:
    get:
      operationId: getDelToken
      summary: "Отозвать токен аутентификации"
      tags:
        - Token Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
        - name: wallet
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Токен отозван"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: OK
