openapi: 3.0.3
info:
  title: "API истории LaunchLab Raydium"
  description: "Предоставляет исторические данные торговли для пулов LaunchLab. Включает данные kline (свечи) с интервалами 1 минута, 5 минут и 15 минут, а также историю отдельных сделок."
  version: 1.0.0
servers:
  - url: https://launch-history-v1.raydium.io
    description: Mainnet
  - url: https://launch-history-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Candle Data
    description: "Данные OHLC свечей"
  - name: Trades
    description: "История отдельных сделок"
  - name: Utilities
    description: "Проверки статуса"
paths:
  /kline:
    get:
      operationId: getKline
      summary: "Получить данные kline (свечей)"
      tags:
        - Candle Data
      description: 'Получите данные OHLC свечей. Диапазон лимита: 1–500 (по умолчанию 300).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
          description: "Pool ID (адрес монеты)"
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum:
              - 1m
              - 5m
              - 15m
        - name: limit
          in: query
          schema:
            type: integer
            default: 300
            minimum: 1
            maximum: 500
        - name: nextPageKey
          in: query
          schema:
            type: string
          description: "Токен пагинации"
      responses:
        '200':
          description: "Данные kline с пагинацией"
  /trade:
    get:
      operationId: getTrade
      summary: "Получить историю сделок"
      tags:
        - Trades
      description: 'Получите отдельные сделки. Диапазон лимита: 1–100 (по умолчанию 50).'
      parameters:
        - name: poolId
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 100
        - name: nextPageKey
          in: query
          schema:
            type: string
        - name: owner
          in: query
          schema:
            type: string
          description: "Фильтр по кошельку трейдера"
        - name: minAmount
          in: query
          schema:
            type: number
        - name: maxAmount
          in: query
          schema:
            type: number
      responses:
        '200':
          description: "История сделок с пагинацией"
