openapi: 3.0.3
info:
  title: "API владельца"
  description: |
    Получите остатки на кошельке, позиции и награды, подлежащие выплате, во всех пулах ликвидности Raydium.
    Разработано для кошельков и панелей портфелей, позволяет получить данные, ограниченные кошельком, в одном запросе.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://owner-v1.raydium.io
    description: Mainnet
  - url: https://owner-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Position
    description: "Получить остатки позиций и состояние для кошелька"
  - name: Pool Creation
    description: "Получить пулы, созданные кошельком"
  - name: IDO
    description: "Получить данные участия в IDO"
  - name: Admin
    description: "Административные endpoints (внутреннее использование)"
paths:
  /position/stake/{owner}:
    get:
      summary: "Получить позиции stake для кошелька"
      description: |
        Получите все позиции stake (стандартный AMM или CPMM), принадлежащие этому кошельку.
        Возвращает кэшированные данные позиции, включая суммы и награды.
      operationId: getOwnerStakePositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Открытый ключ кошелька (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Структура данных позиции (см. ответы OwnerAPI)"
        '404':
          description: "Кошелек не имеет позиций stake"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /position/clmm-lock/{owner}:
    get:
      summary: "Получить заблокированные позиции CLMM для кошелька"
      description: |
        Получите все заблокированные позиции Concentrated Liquidity Market Maker, принадлежащие этому кошельку.
        Возвращает состояние позиции, включая заблокированные суммы, время окончания блокировки и подлежащие выплате комиссии.
      operationId: getOwnerClmmLockPositions
      tags:
        - Position
      parameters:
        - name: owner
          in: path
          required: true
          description: "Открытый ключ кошелька (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Структура данных заблокированной позиции"
        '404':
          description: "Кошелек не имеет заблокированных позиций CLMM"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /create-pool/{owner}:
    get:
      summary: "Получить пулы, созданные кошельком"
      description: |
        Получите все пулы CPMM, созданные (запущенные) этим кошельком.
      operationId: getOwnerCreatedPools
      tags:
        - Pool Creation
      parameters:
        - name: owner
          in: path
          required: true
          description: "Открытый ключ кошелька (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Данные созданных пулов"
        '404':
          description: "Кошелек не создал ни одного пула"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /main/ido/{owner}:
    get:
      summary: "Получить информацию об участии в IDO для кошелька"
      description: |
        Получите данные об участии в IDO, включая инвестированные суммы и статус claim.
      operationId: getOwnerIdoInfo
      tags:
        - IDO
      parameters:
        - name: owner
          in: path
          required: true
          description: "Открытый ключ кошелька (base58)"
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "Данные участия в IDO"
        '404':
          description: "Кошелек не имеет участия в IDO"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ErrorResponse:
      type: object
      description: "Стандартный ответ об ошибке"
      properties:
        id:
          type: string
          description: "ID запроса (UUID)"
        success:
          type: boolean
          example: false
      required:
        - id
        - success
