openapi: 3.0.3
info:
  title: "API Raydium Perps V1"
  version: 1.0.0
  description: |
    Сервис конфигурации и метаданных для Raydium Perpetual Futures. Этот API предоставляет конфигурацию фронтенда, доступность активов, региональные ограничения и RPC эндпоинты. Размещение заказов делегировано API сети Orderly.

    Все эндпоинты возвращают стандартный конверт:
    - **Успех**: `{ id: string, success: true, data: {...} }`
    - **Ошибка**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://api-perps-v1.raydium.io
    description: Production

tags:
  - name: Main
    description: "Основная информация о сервисе (версия, RPC, статистика, проверка региона)."
  - name: Pool
    description: "Конфигурация пула перп-маркета."
  - name: Campaign
    description: "Данные кампаний и таблицы лидеров."
  - name: Share
    description: "Эндпоинты для обмена позициями и прибыльностью."

paths:
  /main/info:
    get:
      summary: "Получить статистику перп-маркета"
      description: "Возвращает объем торговли и открытый интерес за 24ч/7д/30д (long/short/total)."
      operationId: getMarketInfo
      tags:
        - Main
      responses:
        "200":
          description: "Информация о маркете получена."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MarketInfoResponse"

  /pool/default-list:
    get:
      summary: "Получить список стандартных перп-пулов"
      description: "Возвращает список стандартных пулов для торговли с фьючерсами с объемом и статистикой."
      operationId: getPoolList
      tags:
        - Pool
      responses:
        "200":
          description: "Список пулов получен."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolListResponse"

components:
  schemas:
    VersionResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            latest:
              type: string
              description: "Текущая стабильная версия UI."
              example: "1.2.0"
            least:
              type: string
              description: "Минимально требуемая версия UI."
              example: "1.0.0"

    RpcListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            rpcs:
              type: array
              description: "Список доступных RPC URL."
              items:
                type: string

    MarketInfoResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            volume:
              type: object
              properties:
                "24h":
                  type: number
                  description: "Объем торговли за 24 часа."
                "7d":
                  type: number
                  description: "Объем торговли за 7 дней."
                "30d":
                  type: number
                  description: "Объем торговли за 30 дней."
            openInterest:
              type: object
              properties:
                long:
                  type: number
                  description: "Общий открытый интерес по длинным позициям."
                short:
                  type: number
                  description: "Общий открытый интерес по коротким позициям."
                all:
                  type: number
                  description: "Суммарный открытый интерес."

    AvailabilityResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            available:
              type: boolean
              description: "Разрешена ли торговля перпами в регионе пользователя."
            country:
              type: string
              description: "Обнаруженный код страны (из заголовка cf-ipcountry)."

    TempKeyResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            key:
              type: string
              description: "Публичный ключ Ed25519 в формате \"ed25519:<base58-encoded-key>\"."
              example: "ed25519:AAAA..."

    PoolListResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              symbol:
                type: string
                description: "Символ пула (например, BTC/USDC)."
                example: "BTC/USDC"
              volume24h:
                type: string
                description: "Объем торговли за 24 часа."
              volume7d:
                type: string
                description: "Объем торговли за 7 дней."
              volume30d:
                type: string
                description: "Объем торговли за 30 дней."

    CampaignConfigResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          description: "Объект конфигурации кампании с правилами и параметрами."

    UserCampaignResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            userInfo:
              type: object
              properties:
                index:
                  type: string
                  description: "Ранг пользователя или позиция в таблице лидеров."
                walletAddress:
                  type: string
                  description: "Замаскированный адрес кошелька."
                volume:
                  type: number
                  description: "Общий объем торговли в кампании."
                pnl:
                  type: number
                  description: "Реализованная прибыль/убыток."
                pnlW:
                  type: number
                  description: "Взвешенная прибыльность для подсчета баллов."
                score:
                  type: number
                  description: "Баллы кампании."
                rewards:
                  type: array
                  description: "Список полученных вознаграждений."
                  items:
                    type: object

    LeaderboardResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            updateTime:
              type: integer
              description: "Последняя временная метка обновления таблицы лидеров (мс)."
            rows:
              type: array
              description: "Лучшие пользователи на этой странице таблицы лидеров."
              items:
                type: object
                properties:
                  rank:
                    type: integer
                  wallet:
                    type: string
                  volume:
                    type: number
                  pnl:
                    type: number
                  score:
                    type: number

    SharePositionRequest:
      type: object
      description: "Полезная нагрузка для создания снимка текущей позиции."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        markPrice:
          type: string
        pnl:
          type: string
        leverage:
          type: string

    ShareHistoryPositionRequest:
      type: object
      description: "Полезная нагрузка для создания снимка закрытой позиции."
      properties:
        symbol:
          type: string
          example: "BTC/USDC"
        side:
          type: string
          enum: [long, short]
        size:
          type: string
        entryPrice:
          type: string
        exitPrice:
          type: string
        realizedPnl:
          type: string

    ShareResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
        data:
          type: object
          properties:
            imgFileName:
              type: string
              description: "ID сгенерированного файла изображения."
            msg:
              type: string
              description: "Сообщение о статусе."

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Сообщение об ошибке или код ошибки."
