openapi: 3.0.3
info:
  title: "API для трансакций Raydium (маршрут V2)"
  version: 1.0.0
  description: |
    Генератор swap-трансакций на стороне сервера для Solana. Этот API создаёт сериализованные swap-трансакции без необходимости запускать RPC-соединение или полный Raydium SDK.

    Ответы следуют стандартному формату:
    - **Успех**: `{ id: string, success: true, data: {...} }`
    - **Ошибка**: `{ id: string, success: false, msg: string }`
  contact:
    name: Raydium
    url: https://raydium.io

servers:
  - url: https://transaction-v1.raydium.io
    description: Mainnet
  - url: https://transaction-v1-devnet.raydium.io
    description: Devnet

tags:
  - name: Compute
    description: "Эндпоинты только для чтения с расчётом котировок swap (без создания трансакций)."
  - name: Transaction
    description: "Создание сериализованных swap-трансакций, готовых к подписанию и отправке."

paths:
  /compute/swap-base-in:
    get:
      summary: "Расчёт котировки swap (фиксированный вход)"
      description: |
        Рассчитайте ожидаемый объём выхода при обмене фиксированного количества входных токенов.
        Полезно для отображения предпросмотра перед созданием трансакции.
      operationId: computeSwapBaseIn
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Адрес минта входного токена (открытый ключ в кодировке base58)."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Адрес минта выходного токена (открытый ключ в кодировке base58)."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Входное количество в ламортах (наименьшая единица SPL-токенов). Должно быть неотрицательной целой строкой."
          example: "1000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Максимальная допустимая проскальзывание в basis points (0–10000). 1 bps = 0,01%."
          example: "50"
        - name: referrerBps
          in: query
          required: false
          schema:
            type: string
          description: "Опциональная комиссия реферала в basis points (0–10000). Используется только если у вас есть авторитет реферала."
          example: "100"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Версия трансакции Solana. V0 использует таблицы поиска адресов; LEGACY — традиционный формат."
          example: V0
      responses:
        "200":
          description: "Котировка swap рассчитана успешно."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Неверные входные параметры."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /compute/swap-base-out:
    get:
      summary: "Расчёт котировки swap (фиксированный выход)"
      description: |
        Рассчитайте требуемое входное количество для достижения желаемого выходного количества.
        Полезно для обменов, где вы знаете целевой выход.
      operationId: computeSwapBaseOut
      tags:
        - Compute
      parameters:
        - name: inputMint
          in: query
          required: true
          schema:
            type: string
          description: "Адрес минта входного токена."
          example: EPjFWdd5Au5WrWSNY8jk5oHE3TkM3TvhEhBNj9xtJzwQ
        - name: outputMint
          in: query
          required: true
          schema:
            type: string
          description: "Адрес минта выходного токена."
          example: So11111111111111111111111111111111111111112
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: "Желаемое выходное количество в наименьшей единице (ламортах)."
          example: "5000000"
        - name: slippageBps
          in: query
          required: true
          schema:
            type: string
          description: "Максимальная допустимая проскальзывание в basis points (0–10000)."
          example: "50"
        - name: txVersion
          in: query
          required: true
          schema:
            type: string
            enum: [V0, LEGACY]
          description: "Версия трансакции Solana."
          example: V0
      responses:
        "200":
          description: "Котировка swap рассчитана успешно."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeSwapResponse"
        "400":
          description: "Неверные входные параметры."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-in:
    post:
      summary: "Создание swap-трансакции (фиксированный вход)"
      description: |
        Создайте сериализованную swap-трансакцию для фиксированного входного количества.
        Требует успешный ответ от `/compute/swap-base-in`.
      operationId: buildSwapTransactionBaseIn
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Сериализованная трансакция создана успешно."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Неверное тело запроса или состояние вычисления."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /transaction/swap-base-out:
    post:
      summary: "Создание swap-трансакции (фиксированный выход)"
      description: |
        Создайте сериализованную swap-трансакцию для желаемого выходного количества.
        Требует успешный ответ от `/compute/swap-base-out`.
      operationId: buildSwapTransactionBaseOut
      tags:
        - Transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTransactionRequest"
      responses:
        "200":
          description: "Сериализованная трансакция создана успешно."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        "400":
          description: "Неверное тело запроса или состояние вычисления."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    ComputeSwapResponse:
      type: object
      properties:
        id:
          type: string
          description: "Уникальный идентификатор запроса (UUID)."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Успешен ли расчёт."
          example: true
        version:
          type: string
          description: "Версия API ответа."
          example: "V1"
        data:
          type: object
          description: "Результат расчёта swap."
          properties:
            inputAmount:
              type: string
              description: "Входное количество в наименьшей единице."
            outputAmount:
              type: string
              description: "Ожидаемое выходное количество (с учётом проскальзывания)."
            priceImpact:
              type: string
              description: "Процент ценового влияния (напр., «0.5» для 0,5%)."
            routes:
              type: array
              description: "Массив маршрутов swap и использованных пулов."
              items:
                type: object

    TransactionResponse:
      type: object
      properties:
        id:
          type: string
          description: "Уникальный идентификатор запроса."
          example: "550e8400-e29b-41d4-a716-446655440000"
        success:
          type: boolean
          description: "Успешно ли построена транзакция."
          example: true
        version:
          type: string
          example: "V1"
        data:
          type: object
          description: "Данные транзакции."
          properties:
            transaction:
              type: string
              description: "Версионированная транзакция в кодировке Base64 (готова к подписи)."
            addressLookupTableAddresses:
              type: array
              description: "Адреса таблиц поиска адресов (если txVersion=V0)."
              items:
                type: string

    BuildTransactionRequest:
      type: object
      required:
        - wallet
        - swapResponse
        - txVersion
        - computeUnitPriceMicroLamports
      properties:
        wallet:
          type: string
          description: "Адрес кошелька подписывающей стороны (base58)."
          example: "11111111111111111111111111111111"
        swapResponse:
          type: object
          description: "Полный объект ответа с endpoint вычисления."
          properties:
            id:
              type: string
            success:
              type: boolean
            version:
              type: string
            data:
              type: object
        txVersion:
          type: string
          enum: [V0, LEGACY]
          description: "Версия транзакции Solana."
          example: V0
        computeUnitPriceMicroLamports:
          type: string
          description: "Цена compute unit в микро-лампортах (для приоритетных комиссий)."
          example: "1000"
        wrapSol:
          type: boolean
          description: "Обёртывать ли SOL, если входные данные — нативный SOL."
          example: false
        unwrapSol:
          type: boolean
          description: "Разворачивать ли WSOL в SOL в результате."
          example: false
        inputAccount:
          type: string
          description: "Опциональный адрес токен-счёта для входных данных. Обязателен, если не обёртываете SOL."
          example: "TokenAccount1111111111111111111111111111111111"
        outputAccount:
          type: string
          description: "Опциональный адрес токен-счёта для выходных данных."
          example: "TokenAccount2222222222222222222222222222222222"
        jitoInfo:
          type: object
          description: "Опциональные параметры bundle Jito для защиты от MEV."
          properties:
            address:
              type: string
              description: "Адрес подачи bundle Jito."
            amount:
              type: string
              description: "Размер tip bundle в лампортах."
        referrerWallet:
          type: string
          description: "Опциональный адрес реферального кошелька для сбора комиссий."
          example: "ReferrerWallet1111111111111111111111111111111111"

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
          description: "Уникальный идентификатор запроса."
        success:
          type: boolean
          example: false
        version:
          type: string
          example: "V1"
        msg:
          type: string
          description: "Код сообщения об ошибке (например, REQ_SLIPPAGE_BPS_ERROR, REQ_WALLET_ERROR)."
