openapi: 3.0.3
info:
  title: "Temp API"
  description: |
    Временное хранилище для краткосрочных эндпоинтов, не имеющих постоянного места в основном API Raydium.
    Эндпоинты этого сервиса могут изменяться, устаревать или перемещаться без предупреждения.

    **Предупреждение об устойчивости:** Этот сервис ориентирован на быструю итерацию и не гарантирует стабильности API.
    Используйте только для некритичных путей, внутренних инструментов или функций в активной разработке.
  version: 1.0.0
  contact:
    name: Raydium
    url: https://raydium.io
servers:
  - url: https://temp-api-v1.raydium.io
    description: Mainnet
  - url: https://temp-api-v1-devnet.raydium.io
    description: Devnet
tags:
  - name: Temporary
    description: "Временные эндпоинты (нестабильные)"
paths:
  /limit-order/order/list:
    get:
      summary: "Получить активные лимитные ордера CLMM кошелька"
      description: |
        Возвращает лимитные ордера CLMM, принадлежащие `wallet`, которые ещё находятся в сети — как полностью неисполненные, так и частично исполненные ордера возвращаются в одном ответе. Каждая строка содержит декодированное on-chain состояние `LimitOrderState`, ключи пула и сумму `pendingSettle`, вычисленную индексером на основе последнего состояния тика.

        Данные берутся из Redis-кэша индексера и могут отставать от цепочки на несколько секунд.
      operationId: listLimitOrders
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Публичный ключ кошелька (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: showErr
          in: query
          required: false
          description: |
            При наличии этого параметра ответ также включает массив `e` с сообщениями о некритичных ошибках индексера (например, отсутствующий пул или запись кэша tick-array, из-за которой строка была пропущена).
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderListResponse'
        '400':
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/order/list-by-user:
    get:
      summary: "Получить историю лимитных ордеров CLMM кошелька"
      description: |
        Возвращает закрытые лимитные ордера CLMM, принадлежащие `wallet`. Каждая строка описывает состояние ордера на момент его выхода из активного набора. Пагинация по курсору через `nextPageId`.
      operationId: listLimitOrderHistoryByUser
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Публичный ключ кошелька (base58)"
          schema:
            type: string
            example: <your-wallet-pubkey>
        - name: hideCancel
          in: query
          required: false
          description: |
            Если задано значение `true`, из результатов исключаются ордера, закрытые без исполнения (т.е. отменённые). По умолчанию `false`.
          schema:
            type: string
        - name: poolId
          in: query
          required: false
          description: "Фильтр по пулу CLMM (необязательно). Взаимоисключающий с `mint1` / `mint2`."
          schema:
            type: string
        - name: mint1
          in: query
          required: false
          description: "Фильтр по mint (токен A или B) (необязательно). Взаимоисключающий с `poolId`."
          schema:
            type: string
        - name: mint2
          in: query
          required: false
          description: "Второй фильтр по mint (необязательно). Взаимоисключающий с `poolId`."
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Непрозрачный курсор пагинации, возвращённый предыдущей страницей (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Размер страницы (1–100, по умолчанию 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderHistoryByUserResponse'
        '400':
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /limit-order/history/event/list-by-pda:
    get:
      summary: "Получить журнал on-chain событий для одного или нескольких PDA лимитных ордеров"
      description: |
        Возвращает журнал событий (`open`, `increase`, `decrease`, `settle`, `close`) для одного или нескольких PDA лимитных ордеров. Удобно для отображения временной шкалы отдельного ордера. Пагинация по курсору через `nextPageId`.
      operationId: listLimitOrderEventsByPda
      tags:
        - Temporary
      parameters:
        - name: pda
          in: query
          required: true
          description: |
            Один или несколько публичных ключей PDA лимитных ордеров, разделённых запятой. Каждый должен быть корректным pubkey в формате base58.
          schema:
            type: string
        - name: nextPageId
          in: query
          required: false
          description: "Непрозрачный курсор пагинации, возвращённый предыдущей страницей (TTL ~1h)."
          schema:
            type: string
        - name: size
          in: query
          required: false
          description: "Размер страницы (1–100, по умолчанию 20)."
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitOrderEventByPdaResponse'
        '400':
          description: "Некорректный запрос"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cp-creator-fee:
    get:
      summary: "Получить накопленные комиссии создателя для кошелька"
      description: |
        Возвращает все пулы CPMM, где указанный кошелёк является создателем, вместе с накопленными, но не полученными комиссиями создателя по каждому пулу. Возвращает пустой массив, если для кошелька нет кэшированных комиссий создателя.

        **Примечание:** Данный эндпоинт периодически кэширует данные пользователя. Последние операции с комиссиями создателя могут отображаться с задержкой.
      operationId: getCpCreatorFee
      tags:
        - Temporary
      parameters:
        - name: wallet
          in: query
          required: true
          description: "Публичный ключ кошелька (base58)"
          schema:
            type: string
            example: ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnop
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatorFeeResponse'
        '400':
          description: "Некорректный адрес кошелька"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreatorFeeResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          description: "Массив пулов с накопленными комиссиями создателя"
          items:
            $ref: '#/components/schemas/CreatorFeeItem'
      required:
        - success
        - data

    CreatorFeeItem:
      type: object
      description: "Один пул CPMM с накопленными комиссиями создателя"
      properties:
        poolInfo:
          type: object
          description: "Метаданные пула (структура варьируется; см. схему в API пулов)"
        poolKey:
          type: object
          description: "Ключ конфигурации пула"
        fee:
          $ref: '#/components/schemas/FeeAmount'
      required:
        - poolInfo
        - poolKey
        - fee

    FeeAmount:
      type: object
      description: "Накопленные суммы комиссий в минимальных единицах токенов"
      properties:
        amountA:
          type: string
          description: "Комиссия создателя по токену A (в минимальных единицах)"
        amountB:
          type: string
          description: "Комиссия создателя по токену B (в минимальных единицах)"
      required:
        - amountA
        - amountB

    LimitOrderListResponse:
      type: object
      description: "Payload для `/limit-order/order/list`."
      properties:
        id:
          type: string
          description: "Идентификатор запроса (UUID)"
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderListItem'
            e:
              type: array
              description: |
                Необязательное поле. Присутствует только если запрос был сделан с `showErr`. Каждый элемент
                является сообщением об ошибке от индексера (например, отсутствующий pool или запись кэша tick-array,
                из-за которой строка была пропущена).
              items:
                type: string
          required:
            - rows
      required:
        - success
        - data

    LimitOrderListItem:
      type: object
      description: "Одна активная лимитная заявка (limit order)."
      properties:
        pda:
          type: string
          description: "Публичный ключ аккаунта LimitOrderState"
        poolId:
          type: string
        owner:
          type: string
        tick:
          type: integer
          description: "Квантованный tick, на котором размещена заявка."
        price:
          type: number
          description: "Цена в читаемом формате для `tick`, масштабированная с учётом decimals mint-а."
        zeroForOne:
          type: boolean
          description: "true — продажа token_0, покупка token_1; false — обратное направление."
        orderPhase:
          type: string
          description: "u64 в виде строки — фаза FIFO-когорты данной заявки на её tick."
        totalAmount:
          type: string
          description: "u64 в виде строки — общий объём входных средств, зафиксированных заявкой."
        filledAmount:
          type: string
          description: "u64 в виде строки — накопленный объём входных средств, израсходованных в ходе swap-ов."
        openTime:
          type: string
          description: "u64 в виде строки — unix-временная метка открытия заявки."
        pendingSettle:
          type: string
          description: "u64 в виде строки — выходная сумма, причитающаяся владельцу и ожидающая выполнения `SettleLimitOrder`."
        filledAmountUpdate:
          type: string
          description: "u64 в виде строки — дублирует `filledAmount`, возвращается для удобства клиента."
        mintA:
          type: string
        mintB:
          type: string
        mintDecimalsA:
          type: integer
        mintDecimalsB:
          type: integer
        poolCurrentPrice:
          type: number
          description: "Текущая цена pool в читаемом формате (token_1 / token_0)."
      required:
        - pda
        - poolId
        - owner
        - tick
        - price
        - zeroForOne
        - orderPhase
        - totalAmount
        - filledAmount
        - openTime
        - pendingSettle
        - filledAmountUpdate
        - mintA
        - mintB
        - mintDecimalsA
        - mintDecimalsB
        - poolCurrentPrice

    LimitOrderHistoryByUserResponse:
      type: object
      description: "Тело ответа для `/limit-order/history/order/list-by-user`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderHistoryItem'
            nextPageId:
              type: string
              nullable: true
              description: "Непрозрачный курсор для следующей страницы; отсутствует, если страница является последней."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderHistoryItem:
      type: object
      description: "Одна закрытая лимитная заявка, в сокращённом виде."
      properties:
        pda:
          type: string
        owner:
          type: string
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        openBlockTime:
          type: integer
          description: "Unix-временная метка открытия заявки."
        fillStatus:
          type: string
          enum: [NONE, PARTIAL, FULL]
          description: |
            Степень исполнения заявки к моменту закрытия:
            `NONE` (отменена без исполнения), `PARTIAL` или `FULL`.
        orderInputAmountUi:
          type: number
          description: "Исходный объём входных средств в пользовательских единицах (с учётом decimals)."
        orderOutputAmountUi:
          type: number
          description: "Выходная сумма, которую заявка выплатила бы по своему tick, в пользовательских единицах."
        filledInputAmountUi:
          type: number
        filledOutputAmountUi:
          type: number
      required:
        - pda
        - owner
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - openBlockTime
        - fillStatus
        - orderInputAmountUi
        - orderOutputAmountUi
        - filledInputAmountUi
        - filledOutputAmountUi

    LimitOrderEventByPdaResponse:
      type: object
      description: "Тело ответа для `/limit-order/history/event/list-by-pda`."
      properties:
        id:
          type: string
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/LimitOrderEventItem'
            nextPageId:
              type: string
              nullable: true
              description: "Непрозрачный курсор для следующей страницы; отсутствует, если страница является последней."
          required:
            - rows
      required:
        - success
        - data

    LimitOrderEventItem:
      type: object
      description: "Одна on-chain мутация, зафиксированная для PDA лимитной заявки."
      properties:
        pda:
          type: string
        txid:
          type: string
        slot:
          type: integer
        blockTime:
          type: integer
        poolId:
          type: string
        mintA:
          type: string
        mintB:
          type: string
        zeroForOne:
          type: boolean
        tick:
          type: integer
        price:
          type: number
        autoRunner:
          type: boolean
          description: "True — операция выполнена keeper-ом `limit_order_admin`; false — подписана владельцем."
        type:
          type: string
          enum: [open, increase, decrease, settle, close]
        inputAmountChangeUi:
          type: number
          description: "Изменение входящего баланса заявки в пользовательских единицах (со знаком)."
        inputAmountValuePreUi:
          type: number
        inputAmountValuePostUi:
          type: number
        outputAmountChangeUi:
          type: number
          description: "Изменение накопленного выходного значения заявки в пользовательских единицах (со знаком)."
        outputAmountValuePreUi:
          type: number
        outputAmountValuePostUi:
          type: number
      required:
        - pda
        - txid
        - slot
        - blockTime
        - poolId
        - mintA
        - mintB
        - zeroForOne
        - tick
        - price
        - autoRunner
        - type
        - inputAmountChangeUi
        - inputAmountValuePreUi
        - inputAmountValuePostUi
        - outputAmountChangeUi
        - outputAmountValuePreUi
        - outputAmountValuePostUi

    ErrorResponse:
      type: object
      properties:
        id:
          type: string
        success:
          type: boolean
          example: false
        msg:
          type: string
          description: "Сообщение об ошибке"
      required:
        - success
        - msg
